<!-- ++++++++++++++++ Alternating Toe Points ++++++++++++++++ -->
<button onclick="openAccordion('ATP')" class="w3-hover-opacity w3-hover-green w3-left-align w3-button w3-bar w3-xlarge w3-block w3-left-alight">
  Alternating Toe Points
</button>
<div id="ATP" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/xThtad9rqm1ztfbORG/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ATPMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/l4pSVj0OtqWmCHEn6/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ATPCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- TEXT DETAILS -->
  <div class="w3-row-padding">
    <!-- Left Half -->
    <div class="w3-container w3-half">
      <h5>LEARNING TIMES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <strong>BASIC:</strong> 20 iterations
        </li>
        <li>
          <strong>FAMILIAR:</strong> 100 iterations
        </li>
        <li>
          <strong>FLUENT:</strong> 300 iterations
        </li>
      </ul>
      <h5>CHAIN WITH</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Alt Toe Points, Jump</a>
        </li>
      </ul>
    </div>
    <!-- RIGHT HALF -->
    <div class="w3-container w3-half">
      <h5>TIPS & MISTAKES + FIXES</h5>
      <button onclick="openAccordion('ATPPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Inconsistent Heels</button>
      <div id="ATPPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Make sure you keep find the sweet spot for how far apart to move your heels/toes each beat. Move them too far apart each time and you'll be doing the splits - move them too little, THE MOVE looks flat and dead. Move them apart/together an equal amount each time.
        </p>
      </div>
      <button onclick="openAccordion('ATPPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">When to Reverse</button>
      <div id="ATPPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Anticipate how many more counts until you have to switch from moving heels *apart* to moving heels *together*. Going hand in hand with "inconsistent heels," picture the total distance traversed outward (from heels together to heels at the last count) divided into equal bits that you will move your heels each beat.
        </p>
      </div>
      <button onclick="openAccordion('ATPWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="ATPWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          Feet start together, both flat on ground. Leading with hips, twist in one direction, both toes point towards said direction. Inside foot toe is down, outside foot toe is up. Twist back in the opposite direction now, and move feet further (or closer) apart. Keep repeating until feet are at furthest apart or closest together, then reverse. Beats will always be feet flat, half beats will always be toes pointing out.
        </p>
      </div>
    </div>
  </div>
  <!-- <div class="w3-container w3-margin-top">
    <div class="w3-card">
      <header class="w3-container w3-center w3-green">
        <h5>WALKTHROUGH</h5>
      </header>
      <div class="w3-container">
        <p>
          Feet start together, both flat on ground. Leading with hips, twist in one direction, both toes point towards said direction. Inside foot toe is down, outside foot toe is up. Twist back in the opposite direction now, and move feet further (or closer) apart. Keep repeating until feet are at furthest apart or closest together, then reverse. Beats will always be feet flat, half beats will always be toes pointing out.
        </p>
      </div>
    </div>
  </div> -->
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/ATP/ATP1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATP1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ATP/ATP2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATP1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/ATP/ATP3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATP2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ATP/ATP4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATP2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/ATP/ATP5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATP3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ATP/ATP6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATP3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/ATP/ATP7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATP4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ATP/ATP8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATP4a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Alternating Toe Points, Jump ++++++++++++++++ -->
<button onclick="openAccordion('ATPJump')" class="w3-hover-opacity w3-hover-green w3-left-align w3-button w3-bar w3-xlarge w3-block w3-left-alight">
  Alternating Toe Points, Jump
</button>
<div id="ATPJump" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/xThtas1SeDXOOBk4ak/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ATPJumpMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/3o7WIzEeyrhfZZrmcE/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ATPJumpCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>LEARNING TIMES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <strong>BASIC:</strong> 20 iterations
        </li>
        <li>
          <strong>FAMILIAR:</strong> 100 iterations
        </li>
        <li>
          <strong>FLUENT:</strong> 300 iterations
        </li>
      </ul>
      <h5>PREREQUISITES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Alternating Toe Points</a>
        </li>
      </ul>
      <div class="w3-block w3-left-align w3-large">
        <span>CHAIN WITH</span>
      </div>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-amber w3-text-white" style="text-decoration: none;" href="#">Spin 360</a>
        </li>
        <li>
          <a class="w3-tag w3-red" style="text-decoration: none;" href="#">Spin 360 Toes</a>
        </li>
        <li>
          <a class="w3-tag w3-amber w3-text-white" style="text-decoration: none;" href="#">Criss Cross, Switcheroo</a>
        </li>
      </ul>
    </div>
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS & MISTAKES + FIXES</h5>
      <button onclick="openAccordion('ATPJumpPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Weak Points</button>
      <div id="ATPJumpPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Make sure you are clearly accentuating the toe / heel aspect - a weak toe point will look awkward, so make sure you emphasize it by pointing your toes out to the side at a 45 degree angle, heel firmly planted.
        </p>
      </div>
      <button onclick="openAccordion('ATPJumpPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Failure to Switch</button>
      <div id="ATPJumpPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Get into the groove of swapping between being on two flat feet and being on heel / toe. Practice just swapping between flat feet and turning right or turning left (i.e., do counts 1 &lt-&gt 1& or counts 2&lt-&gt2& back and forth).
        </p>
      </div>
      <button onclick="openAccordion('ATPJumpWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="ATPJumpWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          Feet start together, both flat on ground. Mildy twist hips / jump and land on the heel of one foot and the toe of the other. Toe should be pointing outwards at a 45 degree angle, other foot should be parallel to its plane. Jump feet back together and repeat in opposite direction.
        </p>
      </div>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/ATPJump/ATPJump1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATPJump1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ATPJump/ATPJump2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATPJump1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/ATPJump/ATPJump3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATPJump2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ATPJump/ATPJump4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATPJump2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/ATPJump/ATPJump5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATPJump3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ATPJump/ATPJump6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATPJump3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/ATPJump/ATPJump7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATPJump4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ATPJump/ATPJump8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATPJump4a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Alternating Toe Points, Check My Kicks ++++++++++++++++ -->
<button onclick="openAccordion('ATPCheckMyKicks')" class="w3-hover-opacity w3-hover-green w3-left-align w3-button w3-bar w3-xlarge w3-block w3-left-alight">
  Check Out My Kicks
</button>
<div id="ATPCheckMyKicks" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/l1KcRlowidVO479yo/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ATPCheckMyKicksMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/d3YH1kSnUXVMJHtm/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ATPCheckMyKicksCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>LEARNING TIMES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <strong>BASIC:</strong> 10 iterations
        </li>
        <li>
          <strong>FAMILIAR:</strong> 50 iterations
        </li>
        <li>
          <strong>FLUENT:</strong> 100 iterations
        </li>
      </ul>
      <div class="w3-block w3-left-align w3-large">
        <span>CHAIN WITH</span>
      </div>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Cuts</a>
        </li>
        <li>
          <a class="w3-tag w3-amber w3-text-white" style="text-decoration: none;" href="#">Criss Cross, Switcheroo</a>
        </li>
      </ul>
    </div>
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS & MISTAKES + FIXES</h5>
      <button onclick="openAccordion('ATPCheckMyKicksPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Stiff Hips</button>
      <div id="ATPCheckMyKicksPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Make sure you push your hips in a twisting motion to reallya accentuate each jutting out of your feet. Notice how my feet each rotate nearly 90 degrees, pivoting around my toe, leading with my heel.
        </p>
      </div>
      <button onclick="openAccordion('ATPCheckMyKicksWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="ATPCheckMyKicksWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          Feet start close together, leaning forward on balls of feet. Leading with one foot, rotate hips and pivot on toe of one foot, leading outwards with heel. After landing, immediately jump to the other foot, and mirror your stance you just had. Repeat.
        </p>
      </div>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/ATPCheckMyKicks/ATPCheckMyKicks1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATPCheckMyKicks1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ATPCheckMyKicks/ATPCheckMyKicks2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATPCheckMyKicks1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/ATPCheckMyKicks/ATPCheckMyKicks3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATPCheckMyKicks2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ATPCheckMyKicks/ATPCheckMyKicks4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATPCheckMyKicks2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/ATPCheckMyKicks/ATPCheckMyKicks5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATPCheckMyKicks3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ATPCheckMyKicks/ATPCheckMyKicks6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATPCheckMyKicks3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/ATPCheckMyKicks/ATPCheckMyKicks7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATPCheckMyKicks4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ATPCheckMyKicks/ATPCheckMyKicks8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATPCheckMyKicks4a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
