<!-- ++++++++++++++++ Jumping Toe Points ++++++++++++++++ -->
<button onclick="openAccordion('ATPJump')" class="w3-hover-opacity w3-hover-green w3-left-align w3-button w3-bar w3-xlarge w3-block w3-left-alight">
  Jumping Toe Points
</button>
<div id="ATPJump" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/xThtas1SeDXOOBk4ak/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ATPJumpMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/3o7WIzEeyrhfZZrmcE/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ATPJumpCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS</h5>
      <button onclick="openAccordion('ATPJumpPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Weak Points</button>
      <div id="ATPJumpPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Make sure you are clearly accentuating the toe / heel aspect - a weak toe point will look awkward, so make sure you emphasize it by pointing your toes out to the side at a 45 degree angle, heel firmly planted.
        </p>
      </div>
      <button onclick="openAccordion('ATPJumpPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Failure to Switch</button>
      <div id="ATPJumpPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Get into the groove of swapping between being on two flat feet and being on heel / toe. Practice just swapping between flat feet and turning right or turning left (i.e., do counts 1 &lt-&gt 1& or counts 2&lt-&gt2& back and forth).
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>PREREQUISITES</h5>
      <ul>
        <li>
          Alternating Toe Points
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/ATPJump/ATPJump1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATPJump1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ATPJump/ATPJump2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATPJump1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/ATPJump/ATPJump3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATPJump2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ATPJump/ATPJump4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATPJump2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/ATPJump/ATPJump5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATPJump3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ATPJump/ATPJump6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATPJump3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/ATPJump/ATPJump7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATPJump4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ATPJump/ATPJump8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATPJump4a').style.display='block'"/>
      </div>
    </div>
  </div>
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
    <header class="w3-container w3-center w3-green">
      <h5>WALKTHROUGH</h5>
    </header>
      <div>
        <ul class="w3-ul">
          <li>
            <span class="w3-tag w3-small w3-green">1</span> Feet start together, both flat on ground
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">2</span> Mildy twist hips / jump and land on the heel of one foot and the toe of the other
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">3</span> Toe should be pointing outwards at a 45 degree angle, other foot should be parallel to its plane
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">4</span> Jump feet back together and repeat in opposite direction
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Shimmy Toe Points ++++++++++++++++ -->
<button onclick="openAccordion('ATP')" class="w3-hover-opacity w3-hover-green w3-left-align w3-button w3-bar w3-xlarge w3-block w3-left-alight">
  Shimmy Toe Points
</button>
<div id="ATP" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/xThtad9rqm1ztfbORG/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ATPMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/l4pSVj0OtqWmCHEn6/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ATPCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- TEXT DETAILS -->
  <div class="w3-row">
    <!-- RIGHT HALF -->
    <div class="w3-container w3-half">
      <h5>TIPS</h5>
      <button onclick="openAccordion('ATPPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Inconsistent Heels</button>
      <div id="ATPPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Make sure you keep find the sweet spot for how far apart to move your heels/toes each beat. Move them too far apart each time and you'll be doing the splits - move them too little, the move looks flat and dead. Move them apart/together an equal amount each time.
        </p>
      </div>
      <button onclick="openAccordion('ATPPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">When to Reverse</button>
      <div id="ATPPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Anticipate how many more counts until you have to switch from moving heels *apart* to moving heels *together*. Going hand in hand with "inconsistent heels," picture the total distance traversed outward (from heels together at the start, to heels apart at the last count) divided into equal bits that you will move your heels each beat.
        </p>
      </div>
    </div>
    <!-- Left Half -->
    <div class="w3-container w3-half">
      <h5>PREREQUISITES</h5>
      <ul>
        <li>
          N/A
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/ATP/ATP1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATP1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ATP/ATP2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATP1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/ATP/ATP3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATP2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ATP/ATP4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATP2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/ATP/ATP5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATP3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ATP/ATP6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATP3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/ATP/ATP7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATP4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ATP/ATP8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATP4a').style.display='block'"/>
      </div>
    </div>

  </div>
  <!-- Walkthrough -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
    <header class="w3-container w3-center w3-green">
      <h5>WALKTHROUGH</h5>
    </header>
      <div>
        <ul class="w3-ul">
          <li>
            <span class="w3-tag w3-small w3-green">1</span> Feet start together, both flat on ground
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">2</span> Leading with hips, twist in one direction, both toes point towards said direction
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">3</span> Inside foot toe is down, outside foot toe is up
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">4</span> Twist back in the opposite direction now, and move feet further (or closer) apart
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">5</span> Keep repeating until feet are at furthest apart or closest together, then reverse
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">6</span> Beats will always be feet flat, half beats will always be toes pointing out
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Heel Outs ++++++++++++++++ -->
<button onclick="openAccordion('ATPCheckMyKicks')" class="w3-hover-opacity w3-hover-green w3-left-align w3-button w3-bar w3-xlarge w3-block w3-left-alight">
  Heel Outs
</button>
<div id="ATPCheckMyKicks" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/ki1F171Uw0IScw7H1q/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ATPCheckMyKicksMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/d3YH1kSnUXVMJHtm/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ATPCheckMyKicksCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS</h5>
      <button onclick="openAccordion('ATPCheckMyKicksPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Stiff Hips</button>
      <div id="ATPCheckMyKicksPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Make sure you push your hips in a twisting motion to reallya accentuate each jutting out of your feet. Notice how my feet each rotate nearly 90 degrees, pivoting around my toe, leading with my heel.
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>PREREQUISITES</h5>
      <ul>
        <li>
          N/A
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/ATPCheckMyKicks/ATPCheckMyKicks1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATPCheckMyKicks1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ATPCheckMyKicks/ATPCheckMyKicks2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATPCheckMyKicks1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/ATPCheckMyKicks/ATPCheckMyKicks3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATPCheckMyKicks2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ATPCheckMyKicks/ATPCheckMyKicks4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATPCheckMyKicks2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/ATPCheckMyKicks/ATPCheckMyKicks5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATPCheckMyKicks3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ATPCheckMyKicks/ATPCheckMyKicks6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATPCheckMyKicks3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/ATPCheckMyKicks/ATPCheckMyKicks7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATPCheckMyKicks4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ATPCheckMyKicks/ATPCheckMyKicks8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATPCheckMyKicks4a').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- Walkthrough -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
    <header class="w3-container w3-center w3-green">
      <h5>WALKTHROUGH</h5>
    </header>
      <div>
        <ul class="w3-ul">
          <li>
            <span class="w3-tag w3-small w3-green">1</span> Feet start close together, leaning forward on balls of feet
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">2</span> Leading with right foot, rotate hips clockwise and pivot onto right toe, leading outwards with heel
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">3</span> Bring right heel back in while bringing out left foot on toe, leading w heel as well
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">4</span> Repeat back and forth
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Toe Divots ++++++++++++++++ -->
<button onclick="openAccordion('ToeDivots')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Toe Divots
</button>
<div id="ToeDivots" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/dYGed9tzLzYvVkX20w/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ToeDivotsMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/2lZMtmiUKDD8fVINn6/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ToeDivotsCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS</h5>
      <button onclick="openAccordion('ToeDivotsPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Still Head, Still Hips</button>
      <div id="ToeDivotsPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          As you rapidly twist your foot, your whole body will want to jostle around - try your best to keep the rest of your body still as you do the divot - only having the heel move and the rest of your body still/stiff is what makes the move look interesting. Your head will want to flop left and right, and your hips will want to twist as well - fight those urges.
        </p>
      </div>
      <button onclick="openAccordion('ToeDivotsPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Floppy Arms</button>
      <div id="ToeDivotsPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Hand in hand will keeping your head and hips still, your arms will want to flop around as you do the motion. Try your best to keep your hands still, as otherwise they flop around and give the impression you're having a seizure (at least that's what I looked like). Try keeping them pinned to your side.
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>PREREQUISITES</h5>
      <ul>
        <li>
          Cuts
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/ToeDivots/ToeDivots1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ToeDivots1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ToeDivots/ToeDivots2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ToeDivots1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/ToeDivots/ToeDivots3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ToeDivots2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ToeDivots/ToeDivots4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ToeDivots2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/ToeDivots/ToeDivots5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ToeDivots3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ToeDivots/ToeDivots6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ToeDivots3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/ToeDivots/ToeDivots7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ToeDivots4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ToeDivots/ToeDivots8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ToeDivots4a').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- Walkthrough -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
    <header class="w3-container w3-center w3-green">
      <h5>WALKTHROUGH</h5>
    </header>
      <div>
        <ul class="w3-ul">
          <li>
            <span class="w3-tag w3-small w3-green">1</span> Start in toe-heel stance, left foot forward-right on heel and right foot back-left on toe
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">2</span> Bring your left foot to back-center of stance on toe, right foot on toe in front center of stance
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">3</span> With each half beat, twist your right foot 180 degrees so that the heel alternates from pointing right/outward and left (inward)
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">4</span> Left foot should very subtlely twist back and forth in tandem but opposite of right foot
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
