<!-- ++++++++++++++++ Cross Steps ++++++++++++++++ -->
<button onclick="openAccordion('CrossStep')" class="w3-hover-opacity w3-hover-green w3-left-align w3-button w3-bar w3-xlarge w3-block w3-left-alight">
  Cross Steps
</button>
<div id="CrossStep" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/xThtas1SeDXOOBk4ak/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CrossStepMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/3o7WIzEeyrhfZZrmcE/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CrossStepCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('CrossStepPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Weak Points</button>
      <div id="CrossStepPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Make sure you are clearly accentuating the toe / heel aspect - a weak toe point will look awkward, so make sure you emphasize it by pointing your toes out to the side at a 45 degree angle, heel firmly planted.
        </p>
      </div>
      <button onclick="openAccordion('CrossStepPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Failure to Switch</button>
      <div id="CrossStepPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Get into the groove of swapping between being on two flat feet and being on heel / toe. Practice just swapping between flat feet and turning right or turning left (i.e., do counts 1 &lt-&gt 1& or counts 2&lt-&gt2& back and forth).
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Shimmy Toe Points
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/CrossStep/CrossStep1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CrossStep1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CrossStep/CrossStep2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CrossStep1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/CrossStep/CrossStep3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CrossStep2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CrossStep/CrossStep4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CrossStep2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/CrossStep/CrossStep5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CrossStep3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CrossStep/CrossStep6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CrossStep3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/CrossStep/CrossStep7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CrossStep4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CrossStep/CrossStep8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CrossStep4a').style.display='block'"/>
      </div>
    </div>
  </div>
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
    <header class="w3-container w3-center w3-green">
      <h5>WALKTHROUGH</h5>
    </header>
      <div>
        <ul class="w3-ul">
          <li>
            <span class="w3-tag w3-small w3-green">1</span> Feet start together, both flat on ground
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">2</span> Mildy twist hips / jump and land on the heel of one foot and the toe of the other
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">3</span> Toe should be pointing outwards at a 45 degree angle, other foot should be parallel to its plane
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">4</span> Jump feet back together and repeat in opposite direction
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Swang ++++++++++++++++ -->
<button onclick="openAccordion('Swang')" class="w3-hover-opacity w3-hover-green w3-left-align w3-button w3-bar w3-xlarge w3-block w3-left-alight">
  Swang
</button>
<div id="Swang" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/xThtad9rqm1ztfbORG/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SwangMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/l4pSVj0OtqWmCHEn6/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SwangCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- TEXT DETAILS -->
  <div class="w3-row">
    <!-- RIGHT HALF -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('SwangPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Inconsistent Heels</button>
      <div id="SwangPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Make sure you keep find the sweet spot for how far apart to move your heels/toes each beat. Move them too far apart each time and you'll be doing the splits - move them too little, the move looks flat and dead. Move them apart/together an equal amount each time.
        </p>
      </div>
      <button onclick="openAccordion('SwangPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">When to Reverse</button>
      <div id="SwangPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Anticipate how many more counts until you have to switch from moving heels *apart* to moving heels *together*. Going hand in hand with "inconsistent heels," picture the total distance traversed outward (from heels together at the start, to heels apart at the last count) divided into equal bits that you will move your heels each beat.
        </p>
      </div>
    </div>
    <!-- Left Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          N/A
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/Swang/Swang1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Swang1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Swang/Swang2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Swang1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/Swang/Swang3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Swang2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Swang/Swang4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Swang2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/Swang/Swang5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Swang3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Swang/Swang6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Swang3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/Swang/Swang7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Swang4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Swang/Swang8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Swang4a').style.display='block'"/>
      </div>
    </div>

  </div>
  <!-- Walkthrough -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
    <header class="w3-container w3-center w3-green">
      <h5>WALKTHROUGH</h5>
    </header>
      <div>
        <ul class="w3-ul">
          <li>
            <span class="w3-tag w3-small w3-green">1</span> Feet start together, both flat on ground
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">2</span> Leading with hips, twist in one direction, both toes point towards said direction
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">3</span> Inside foot toe is down, outside foot toe is up
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">4</span> Twist back in the opposite direction now, and move feet further (or closer) apart
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">5</span> Keep repeating until feet are at furthest apart or closest together, then reverse
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">6</span> Beats will always be feet flat, half beats will always be toes pointing out
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ SuzyQ ++++++++++++++++ -->
<button onclick="openAccordion('SuzyQ')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Suzy Q
</button>
<div id="SuzyQ" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/X74UHjJf2HIbqYB81I/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SuzyQMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/WNmZgNuCt6SxrdXvHp/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SuzyQCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('SuzyQPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Lorem</button>
      <div id="SuzyQPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Lorem
        </p>
      </div>
      <button onclick="openAccordion('SuzyQPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Lorem</button>
      <div id="SuzyQPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Lorem
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Lorem
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/SuzyQ/SuzyQ1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SuzyQ1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/SuzyQ/SuzyQ2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SuzyQ1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/SuzyQ/SuzyQ3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SuzyQ2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/SuzyQ/SuzyQ4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SuzyQ2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/SuzyQ/SuzyQ5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SuzyQ3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/SuzyQ/SuzyQ6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SuzyQ3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/SuzyQ/SuzyQ7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SuzyQ4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/SuzyQ/SuzyQ8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SuzyQ4a').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- Walkthrough -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
    <header class="w3-container w3-center w3-green">
      <h5>WALKTHROUGH</h5>
    </header>
      <div>
        <ul class="w3-ul">
          <li>
            <span class="w3-tag w3-small w3-green">1</span>
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">2</span>
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">3</span>
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">4</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Twister ++++++++++++++++ -->
<button onclick="openAccordion('Twister')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Twister
</button>
<div id="Twister" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/bbSwRLYyG5UPxnzovu/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('TwisterMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/9SJaWSvHdrRBSyd8ih/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('TwisterCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('TwisterPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Lorem</button>
      <div id="TwisterPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Lorem
        </p>
      </div>
      <button onclick="openAccordion('TwisterPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Lorem</button>
      <div id="TwisterPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Lorem
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Lorem
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/Twister/Twister1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Twister1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Twister/Twister2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Twister1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/Twister/Twister3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Twister2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Twister/Twister4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Twister2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/Twister/Twister5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Twister3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Twister/Twister6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Twister3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/Twister/Twister7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Twister4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Twister/Twister8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Twister4a').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- Walkthrough -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
    <header class="w3-container w3-center w3-green">
      <h5>WALKTHROUGH</h5>
    </header>
      <div>
        <ul class="w3-ul">
          <li>
            <span class="w3-tag w3-small w3-green">1</span>
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">2</span>
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">3</span>
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">4</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Smooth Criminal ++++++++++++++++ -->
<button onclick="openAccordion('SmoothCriminal')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Smooth Criminal
</button>
<div id="SmoothCriminal" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/9r8JSkmYk74n3EUAxZ/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SmoothCriminalMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/pz8fNnOM2r1PUODH1I/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SmoothCriminalCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('SmoothCriminalPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Lorem</button>
      <div id="SmoothCriminalPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Lorem
        </p>
      </div>
      <button onclick="openAccordion('SmoothCriminalPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Lorem</button>
      <div id="SmoothCriminalPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Lorem
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Lorem
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/SmoothCriminal/SmoothCriminal1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SmoothCriminal1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/SmoothCriminal/SmoothCriminal2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SmoothCriminal1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/SmoothCriminal/SmoothCriminal3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SmoothCriminal2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/SmoothCriminal/SmoothCriminal4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SmoothCriminal2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/SmoothCriminal/SmoothCriminal5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SmoothCriminal3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/SmoothCriminal/SmoothCriminal6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SmoothCriminal3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/SmoothCriminal/SmoothCriminal7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SmoothCriminal4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/SmoothCriminal/SmoothCriminal6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SmoothCriminal4a').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- Walkthrough -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
    <header class="w3-container w3-center w3-green">
      <h5>WALKTHROUGH</h5>
    </header>
      <div>
        <ul class="w3-ul">
          <li>
            <span class="w3-tag w3-small w3-green">1</span>
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">2</span>
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">3</span>
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">4</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ SplashHouse ++++++++++++++++ -->
<button onclick="openAccordion('SplashHouse')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Splash House
</button>
<div id="SplashHouse" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/fQGu0X4QigeBCHd8j5/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SplashHouseMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/l4pTndQfeFty3gN8s/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SplashHouseCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('SplashHousePit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Practice With Support</button>
      <div id="SplashHousePit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Like learning to ride a bike with training wheels, you can practice heel out stomps while holding on to something for support - a doorway works very well. Practice getting down the motion of reverses in the doorway initially, and use less and less support as your muscle memory improves.
        </p>
      </div>
      <button onclick="openAccordion('SplashHousePit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Counter Motion Arms</button>
      <div id="SplashHousePit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Once the training wheels are off, a good way to keep balance is to motion your arm on the side opposite your leg. So if you are doing the move with your left leg, use your right arm to balance yourself (and vice versa). As your left leg crosses to the right side of your body, your right arm should be crossed over on the left side of your body. As your left leg juts out to the left, your right arm should be extended right to counterbalance
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Check Out My Kicks
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/HeelOutStomp/HeelOutStomp1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SplashHouse1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/HeelOutStomp/HeelOutStomp2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SplashHouse1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/HeelOutStomp/HeelOutStomp3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SplashHouse2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/HeelOutStomp/HeelOutStomp4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SplashHouse2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/HeelOutStomp/HeelOutStomp5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SplashHouse3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/HeelOutStomp/HeelOutStomp6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SplashHouse3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/HeelOutStomp/HeelOutStomp7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SplashHouse4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/HeelOutStomp/HeelOutStomp8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SplashHouse4a').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- Walkthrough -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
    <header class="w3-container w3-center w3-green">
      <h5>WALKTHROUGH</h5>
    </header>
      <div>
        <ul class="w3-ul">
          <li>
            <span class="w3-tag w3-small w3-green">1</span> Stand with feet slightly closer than shoudler width
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">2</span> Raise left foot up in a tip-toe position, toe hovering low off the ground
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">3</span> Snake left toe inward to right, then all the way back out to left
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">4</span> Rotate left foot and bring down flat to front-right of left foot
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">5</span> Foot should be perpendicular to ground until right before final stance
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Sweep ++++++++++++++++ -->
<button onclick="openAccordion('Sweep')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Sweep
</button>
<div id="Sweep" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/7FgZM5MxthZuxbpD0q/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SweepMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/4PWnLf1kqvtIy1Hjif/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SweepCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('SweepPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Lorem</button>
      <div id="SweepPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Lorem
        </p>
      </div>
      <button onclick="openAccordion('SweepPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Lorem</button>
      <div id="SweepPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Lorem
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Lorem
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/Sweep/Sweep1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Sweep1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Sweep/Sweep2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Sweep1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/Sweep/Sweep3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Sweep2').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- Walkthrough -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
    <header class="w3-container w3-center w3-green">
      <h5>WALKTHROUGH</h5>
    </header>
      <div>
        <ul class="w3-ul">
          <li>
            <span class="w3-tag w3-small w3-green">1</span>
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">2</span>
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">3</span>
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">4</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Weedwacker ++++++++++++++++ -->
<button onclick="openAccordion('Weedwacker')" class="w3-hover-opacity w3-hover-green w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Weedwacker
</button>
<div id="Weedwacker" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/1lCG3HPwJxGMlyeRgp/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('WeedwackerMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/1AHVMqWVUMgYtBE8hR/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('WeedwackerCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('WeedwackerPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Lorem Ipsum Dolor</button>
      <div id="WeedwackerPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Lorem ipsum dolor
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Lorem Ipsum Dolor
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/Weedwacker/Weedwacker1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Weedwacker1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Weedwacker/Weedwacker2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Weedwacker1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/Weedwacker/Weedwacker3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Weedwacker2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Weedwacker/Weedwacker4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Weedwacker2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/Weedwacker/Weedwacker5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Weedwacker3').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Shimmy Leg ++++++++++++++++ -->
<button onclick="openAccordion('ShimmyLeg')" class="w3-hover-opacity w3-hover-deep-purple w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Shimmy Leg
</button>
<div id="ShimmyLeg" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/3o7WIK3IQszqtNO1xu/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ShimmyLegMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/xUOwFYVog43m3gFbPy/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ShimmyLegCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('ShimmyLegPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Unintuitive Figure 8</button>
      <div id="ShimmyLegPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          What appears to be a frantic shimmying of the leg is actually a figure 8 you are making with your foot. Pay specially close attention to the path of the figure 8 your foot should be taking, and trace it very slowly while standing firmly on your plant foot. As the figure 8 becomes more second nature, speed up the tracing. Eventually the left right twist of your plant foot should come naturally as you make the figure 8 with more speed and force
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Cuts
        </li>
        <li>
          Toe Heel Stomp
        </li>
        <li>
          Roundabout Stomp
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/ShimmyLeg/ShimmyLeg1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ShimmyLeg1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ShimmyLeg/ShimmyLeg2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ShimmyLeg1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/ShimmyLeg/ShimmyLeg3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ShimmyLeg2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ShimmyLeg/ShimmyLeg4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ShimmyLeg2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/ShimmyLeg/ShimmyLeg5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ShimmyLeg3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ShimmyLeg/ShimmyLeg6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ShimmyLeg3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/ShimmyLeg/ShimmyLeg7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ShimmyLeg4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ShimmyLeg/ShimmyLeg8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ShimmyLeg4a').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- Walkthrough -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
    <header class="w3-container w3-center w3-green">
      <h5>WALKTHROUGH</h5>
    </header>
      <div>
        <ul class="w3-ul">
          <li>
            <span class="w3-tag w3-small w3-green">1</span> Stand with right foot to front-right on heel and left foot at back-left on toe
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">2</span> Bounce back flat onto right foot in center of stance, bringing left foot up and behind you
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">3</span> With left foot perpendicular to ground (toe pointing to ground), snake left foot from behind you to front right of stance
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">4</span> Snake left foot back to left side of body, then behind and right of body
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">5</span> Repeat the direction of the snake however many times
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">6</span> When finished with snakes, bring left foot from back-right rear of stance to down flat at front right
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
