<!-- ++++++++++++++++ Backwards Pointers ++++++++++++++++ -->
<button onclick="openAccordion('SpinBackwards180')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Backwards Pointers
</button>
<div id="SpinBackwards180" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/3MjFjOiq59XP5XATxJ/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SpinBackwards180MoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/80rHDaWpgGUDUk9jxt/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SpinBackwards180CountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('SpinBackwards180Pit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Head Turns</button>
      <div id="SpinBackwards180Pit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Turning your head with each point over your side not only helps with the aesthetic, but aids in your balance so that you don't trip over yourself or end up verring off course.
        </p>
      </div>
      <button onclick="openAccordion('SpinBackwards180Pit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Long Strides</button>
      <div id="SpinBackwards180Pit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          The longer your gait, the easier you will be able to balance. If your gait is too short, you may not be able to keep up with the backwards momentum and trip backwards (very embarassing).
        </p>
      </div>
      <button onclick="openAccordion('SpinBackwards180Walkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="SpinBackwards180Walkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          Enter from reverse cuts or reverse running man. Turn your body clockwise and step your right foot directly behind your body. Use your hands to reach over your right and essentially point straight behind you. You should be nearly sideways. Rotate counter-clockwise and step your left foot directly behind you in the motion, same hand gestures. Repeat.
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Cuts, Reverse
        </li>
        <li>
          Spin, Inside Foot
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/SpinBackwards180/SpinBackwards1801.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinBackwards1801').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/SpinBackwards180/SpinBackwards1802.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinBackwards1801a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/SpinBackwards180/SpinBackwards1803.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinBackwards1802').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/SpinBackwards180/SpinBackwards1804.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinBackwards1802a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/SpinBackwards180/SpinBackwards1805.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinBackwards1803').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Charleston Slide ++++++++++++++++ -->
<button onclick="openAccordion('CharlestonSlide')" class="w3-hover-opacity w3-hover-green w3-left-align w3-button w3-bar w3-xlarge w3-block w3-left-alight">
  Charleston Slide
</button>
<div id="CharlestonSlide" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/1bILyRxDviQuai5eMK/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CharlestonSlideMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-opacity w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/3o7WIQeXEyTxWr8Cis/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CharlestonSlideCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('CharlestonSlidePit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Weight Distribution</button>
      <div id="CharlestonSlidePit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Make your slides gracely - don't yank your feet back. That has to do with finding the right balance. Put enough weight on your planted foot so that your pivot foot is barely touching the ground. But don't put too much emphasis/weight on your plant foot or else your pivot foot will hover off the ground and the move won't look like a slide.
        </p>
      </div>
      <button onclick="openAccordion('CharlestonSlidePit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Stiff Hips</button>
      <div id="CharlestonSlidePit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Make sure you twist your hips sufficiently so that at each beat, you are practically standing sideways.
        </p>
      </div>
      <button onclick="openAccordion('CharlestonSlideWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="CharlestonSlideWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          Feet start one in front of the other leaning forward on balls of feet. Majority of weight is on the rear foot ("plant foot"). As if to draw a semi circle around your body, slide the forward foot's toe ("pivot foot") around until it is directly behind the other foot. Repeat.
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Charleston
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/CharlestonSlide/CharlestonSlide1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CharlestonSlide1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CharlestonSlide/CharlestonSlide2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CharlestonSlide1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/CharlestonSlide/CharlestonSlide3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CharlestonSlide2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CharlestonSlide/CharlestonSlide4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CharlestonSlide2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/CharlestonSlide/CharlestonSlide5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CharlestonSlide3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CharlestonSlide/CharlestonSlide6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CharlestonSlide3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/CharlestonSlide/CharlestonSlide7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CharlestonSlide4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CharlestonSlide/CharlestonSlide8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CharlestonSlide4a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Shoulder Peeks ++++++++++++++++ -->
<button onclick="openAccordion('ShoulderPeeks')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Shoulder Peeks
</button>
<div id="ShoulderPeeks" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/uVGbjfte2Zhkwu8380/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ShoulderPeeksMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/wZsQCq2aPcBZaHCUQK/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ShoulderPeeksCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('ShoulderPeeksPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Twist Your Hips</button>
      <div id="ShoulderPeeksPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          With each step backwards, twist your hips as you step behind you to get the full rotation of the 180 motion. This helps you maintain balance and look fluid. With each twist, your body should practically be completely perpendicular to the axis you are moving along.
        </p>
      </div>
      <button onclick="openAccordion('ShoulderPeeksPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Head Turns</button>
      <div id="ShoulderPeeksPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Per the name of the move, with each hip twist, turn your head over your shoulder (to the side of the foot going back). This will help you maintain balance.
        </p>
      </div>
      <button onclick="openAccordion('ShoulderPeeksWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="ShoulderPeeksWalkthrough" class="w3-hide">
        <ul class="w3-ul">
          <li>
            <span class="w3-tag w3-green">1</span> Enter from reverse cuts. From mid beat stance (left foot planted, right foot next to shin), step backwards with your right foot, directly behind the left.
          </li>
          <li>
            <span class="w3-tag w3-green">2</span> You should now be in an exaggerated toe heel stance. Drag your right foot forward ever so slightly forward while bringing your left foot up and next to your shin.
          </li>
          <li>
            <span class="w3-tag w3-green">3</span> Step backwards in the same motion as the first step. Keep repeating this motion.
          </li>
        </ul>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Cuts, Reverse
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/ShoulderPeeks/ShoulderPeeks1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ShoulderPeeks1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ShoulderPeeks/ShoulderPeeks2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ShoulderPeeks1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/ShoulderPeeks/ShoulderPeeks3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ShoulderPeeks2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ShoulderPeeks/ShoulderPeeks4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ShoulderPeeks2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/ShoulderPeeks/ShoulderPeeks5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ShoulderPeeks3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ShoulderPeeks/ShoulderPeeks6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ShoulderPeeks3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/ShoulderPeeks/ShoulderPeeks7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ShoulderPeeks4').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
