<!-- Collage -->
<div class="w3-display-container w3-margin-top">
  <!-- LARGE LARGE LARGE -->
  <div class="w3-row-padding">
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/xThtad9rqm1ztfbORG/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ATPMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/xThtas1SeDXOOBk4ak/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ATPJumpMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/26oulzrKYIagOsaZRV/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CCMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/l4pTsbSe3lZ6wwR0I/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CCToePunchOutMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/3ohs4gAdLVZNHc6xY4/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CCSwitcherooMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-hide-small w3-hide-medium w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/3ohs4mI9STBZtHMvC0/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CCToeSliceMoveModal').style.display='block'"/>
    </div>

    <!-- ROW 2 ROW 2 ROW 2 -->
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/3XH14fFJA6sosJjlUz/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CutsMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/l4pT4a6mVBWX90TwQ/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CutsReverseMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/3ohs4ssTjK2PMbCNB6/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CutsToeHeelBounceMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/d2RLSc9GG1AKk5pehZ/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CutsRearKickMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/4QFBnHU316gxIBGtgM/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CutsRearStutterMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/3httMR9QRMZs7LiwZh/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CutsSideToeTapsMoveModal').style.display='block'"/>
    </div>

    <!-- ROW 3 ROW 3 ROW 3 -->
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/456Y9cqdPytihb5djb/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CutOutsMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/3o7WIxiWBfMt3jXfr2/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('DDMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/xThtap9IUoGwgXzQre/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('DDToeStandsMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/3o7WIs2nJg47wKDDVK/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('DDKickStandsMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/23hPVLp6HZlzHXZSiN/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('DDCorkscrewMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/fQGu0X4QigeBCHd8j5/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('HeelOutStompsMoveModal').style.display='block'"/>
    </div>

    <!-- ROW 4 ROW 4 ROW 4 -->
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/dYGed9tzLzYvVkX20w/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ToeDivotsMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2  w3-hide-small w3-hide-medium w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/ki1F171Uw0IScw7H1q/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ATPCheckMyKicksMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/1lCGJ1CmOESdPDurhv/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ShakeOutsMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/26DN2JSBAp2NrfGtW/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('RoundaboutStompsMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/3o7WIK3IQszqtNO1xu/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CutsShimmyLegMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/w82VydlsvVBUEK1lhK/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('HHMillyRockMoveModal').style.display='block'"/>
    </div>

    <!-- ROW 5 ROW 5 ROW 5 -->
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/3ICbbeOdlbP0yqLfdk/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('HHSchmoneyMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/3eQc2cxOydDo0AD1LM/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('HHHitThemFolksMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/Ffb4ti40JpQRUGD524/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('HHBackPackKidMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/kKLpBfLfuF3j6fiCHD/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('HHShootMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/WS11TOhaAkdGCjDcZv/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('HHSayWhatMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/MTuqwfjH52pL6kwmqZ/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('HHBrushEmOffMoveModal').style.display='block'"/>
    </div>

    <!-- ROW 6 ROW 6 ROW 6 -->
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/67uB13Mp6kSLYhBjIz/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('HHSwerveMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/xThtaoLNc308XAtwmQ/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('LeanerMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/xThtaa4lughIHnqXq8/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('LeanerHalfMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/9zXABXgodEuq5bAnSo/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('LeanerFrontsMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/1wmxDMeCPilm4ApDNg/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('FatJoeKickMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/pVR9W7XvlxgLYzqM3p/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('KaraokeMoveModal').style.display='block'"/>
    </div>

    <!-- ROW 7 ROW 7 ROW 7 -->
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/xUOwG3LVKgJtdmcu5O/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('MoonshuffleMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/3o7WIswEtmybCl7ln2/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('MoonwalkMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/26DNjVld8nk85sonu/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('MoonspinMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/26DNjSyRvJqY11hxS/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('RMMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/xUOwGbnlguFxzmRkLS/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('RMReverseMoveModal').style.display='block'"/>
    </div>
    <%# <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/xUOwG5DtjrKdQg5GYU/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('RMHeelsMoveModal').style.display='block'"/>
    </div> %>

    <!-- ROW 8 ROW 8 ROW 8 -->
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/TG8dKSsJ7jQ65WwIXD/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('RMReversePopForwards').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/w9xF5fUrUUfvCpjgCB/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('RMSidewaysGlideMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/3o7WIoJXsQAjT3JbBS/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('StutterRearMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/3ohs4yA0zAwL6SdAyY/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('StutterFrontMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/xUOwGaHBi1hLzmlPHO/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('StutterRearLoopDeLoopMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/3o7WIxWVObjOktqmty/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('StutterFrontMoveModal').style.display='block'"/>
    </div>

    <!-- ROW 9 ROW 9 ROW 9 -->
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/3o7WIsDjgoSqsFBiCs/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('StutterKickAboutFaceMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/l0NgQURu0xckmxeqA/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ShimmyMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/5n7v9VBWz1aznlhRsT/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ShimmyWalkMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/3ohs4bx9j7OeEZXdug/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ShimmyToePogoMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/1zJDYIv0rbNx2nfOWy/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ShimmyOneWayMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/1dMKKFOazyIzShe6LB/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CharlestonMoveModal').style.display='block'"/>
    </div>

    <!-- ROW 10 ROW 10 ROW 10 -->
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/xUOwFS6heBIMFNwX8Q/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SlideOutsideFootMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/3ohs4uRmAXomXjs0aA/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SlideInsideFootMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/l4pTnAHu5Td9hLwu4/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('Spin360MoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/3ohs4u879sZAn5QpOM/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('Spin360ToesMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/9rjZBad30zBPd3SWqM/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SpinInsideFootMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/KY2ObV0tZz6IaTl5Fg/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SpinOutsideFootMoveModal').style.display='block'"/>
    </div>

    <!-- ROW 11 ROW 11 ROW 11 -->
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/fMzwFAPPoWgAd58Tnv/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SpinKickMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/xUOwGos6aH78RM6UuI/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SpinKickToesMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/LwHk50bVnNhxMFTjOz/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('Moving360ForwardsMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/1luXPVWQhta9UpodGS/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('Moving360BackwardsMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/uVGbjfte2Zhkwu8380/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ShoulderPeeksMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/3MjFjOiq59XP5XATxJ/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SpinBackwards180MoveModal').style.display='block'"/>
    </div>

    <!-- ROW 12 ROW 12 ROW 12 -->
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/1bILyRxDviQuai5eMK/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CharlestonSlideMoveModal').style.display='block'"/>
    </div>
  </div>
</div>
