<!-- Collage -->
<div class="w3-display-container w3-margin-top">
  <div class="w3-row-padding w3-hide-small">
    <div class="w3-hide-small w3-hide-medium w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-topbar w3-leftbar w3-rightbar w3-border-green" src="https://media.giphy.com/media/xThtad9rqm1ztfbORG/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ATPMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-topbar w3-leftbar w3-rightbar w3-border-green" src="https://media.giphy.com/media/xThtas1SeDXOOBk4ak/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ATPJumpMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-topbar w3-leftbar w3-rightbar w3-border-green" src="https://media.giphy.com/media/l4pTsbSe3lZ6wwR0I/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CCToePunchOutMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-topbar w3-leftbar w3-rightbar w3-border-green" src="https://media.giphy.com/media/l4pT4a6mVBWX90TwQ/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CutsReverseMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-topbar w3-leftbar w3-rightbar w3-border-green" src="https://media.giphy.com/media/3ohs4ssTjK2PMbCNB6/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CutsToeHeelBounceMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-topbar w3-leftbar w3-rightbar w3-border-green" src="https://media.giphy.com/media/3ohs4uSYqPwP0H9Bdu/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('DDCorkscrewMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-topbar w3-leftbar w3-rightbar w3-border-green" src="https://media.giphy.com/media/3o7WIxiWBfMt3jXfr2/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('DDMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-topbar w3-leftbar w3-rightbar w3-border-green" src="https://media.giphy.com/media/fQGu0X4QigeBCHd8j5/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('HeelOutStompsMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-topbar w3-leftbar w3-rightbar w3-border-green" src="https://media.giphy.com/media/3eQc2cxOydDo0AD1LM/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('HitThemFolksMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-topbar w3-leftbar w3-rightbar w3-border-green" src="https://media.giphy.com/media/xThtaoLNc308XAtwmQ/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('LeanerMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-topbar w3-leftbar w3-rightbar w3-border-green" src="https://media.giphy.com/media/9zXABXgodEuq5bAnSo/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('LeanerFrontsMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-topbar w3-leftbar w3-rightbar w3-border-green" src="https://media.giphy.com/media/xThtaa4lughIHnqXq8/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('LeanerHalfMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-topbar w3-leftbar w3-rightbar w3-border-green" src="https://media.giphy.com/media/w82VydlsvVBUEK1lhK/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('MillyRockMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-topbar w3-leftbar w3-rightbar w3-border-green" src="https://media.giphy.com/media/xUOwG3LVKgJtdmcu5O/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('MoonshuffleMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-topbar w3-leftbar w3-rightbar w3-border-green" src="https://media.giphy.com/media/3o7WIswEtmybCl7ln2/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('MoonwalkMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-topbar w3-leftbar w3-rightbar w3-border-green" src="https://media.giphy.com/media/26DN2JSBAp2NrfGtW/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('RoundaboutStompsMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-topbar w3-leftbar w3-rightbar w3-border-green" src="https://media.giphy.com/media/xUOwGbnlguFxzmRkLS/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('RMReverseMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-topbar w3-leftbar w3-rightbar w3-border-green" src="https://media.giphy.com/media/26DNjSyRvJqY11hxS/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('RMMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-topbar w3-leftbar w3-rightbar w3-border-green" src="https://media.giphy.com/media/xUOwFS6heBIMFNwX8Q/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SlideOutsideFootMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-topbar w3-leftbar w3-rightbar w3-border-green" src="https://media.giphy.com/media/3ohs4bx9j7OeEZXdug/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ShimmyToePogoMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-topbar w3-leftbar w3-rightbar w3-border-green" src="https://media.giphy.com/media/3ohs4u879sZAn5QpOM/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('Spin360ToesMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-topbar w3-leftbar w3-rightbar w3-border-green" src="https://media.giphy.com/media/xUOwGos6aH78RM6UuI/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SpinKickToesMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-topbar w3-leftbar w3-rightbar w3-border-green" src="https://media.giphy.com/media/fMzwFAPPoWgAd58Tnv/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SpinKickMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-topbar w3-leftbar w3-rightbar w3-border-green" src="https://media.giphy.com/media/3o7WIsDjgoSqsFBiCs/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('StutterKickAboutFaceMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-topbar w3-leftbar w3-rightbar w3-border-green" src="https://media.giphy.com/media/xUOwGaHBi1hLzmlPHO/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('StutterRearLoopDeLoopMoveModal').style.display='block'"/>
    </div>
    <div class="w3-hide-small w3-hide-medium w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-topbar w3-leftbar w3-rightbar w3-border-green" src="https://media.giphy.com/media/3o7WIoJXsQAjT3JbBS/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('StutterRearMoveModal').style.display='block'"/>
    </div>
    <div class="w3-hide-small w3-hide-medium w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-topbar w3-leftbar w3-rightbar w3-border-green" src="https://media.giphy.com/media/3MjFjOiq59XP5XATxJ/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SpinBackwards180MoveModal').style.display='block'"/>
    </div>
    <div class="w3-hide-small w3-hide-medium w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-topbar w3-leftbar w3-rightbar w3-border-green" src="https://media.giphy.com/media/3ohs4gAdLVZNHc6xY4/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CCSwitcherooMoveModal').style.display='block'"/>
    </div>
    <div class="w3-hide-small w3-hide-medium w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-topbar w3-leftbar w3-rightbar w3-border-green" src="https://media.giphy.com/media/3ohs4yA0zAwL6SdAyY/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('StutterFrontMoveModal').style.display='block'"/>
    </div>
    <div class="w3-hide-small w3-hide-medium w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-topbar w3-leftbar w3-rightbar w3-border-green" src="https://media.giphy.com/media/3o7WIK3IQszqtNO1xu/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CutsShimmyLegMoveModal').style.display='block'"/>
    </div>
  </div>
  <%# for small %>
  <div class="w3-row-padding w3-hide-large w3-hide-medium">
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/xThtas1SeDXOOBk4ak/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ATPJumpMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/l4pTsbSe3lZ6wwR0I/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CCToePunchOutMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/l4pT4a6mVBWX90TwQ/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CutsReverseMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/3ohs4ssTjK2PMbCNB6/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CutsToeHeelBounceMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/3ohs4uSYqPwP0H9Bdu/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('DDCorkscrewMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/3o7WIxiWBfMt3jXfr2/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('DDMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/fQGu0X4QigeBCHd8j5/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('HeelOutStompsMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/3eQc2cxOydDo0AD1LM/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('HitThemFolksMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/xThtaoLNc308XAtwmQ/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('LeanerMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/9zXABXgodEuq5bAnSo/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('LeanerFrontsMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/xThtaa4lughIHnqXq8/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('LeanerHalfMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/xUOwGhLsCw0KEnjMc0/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('MillyRockMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/xUOwG3LVKgJtdmcu5O/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('MoonshuffleMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/3o7WIswEtmybCl7ln2/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('MoonwalkMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/26DN2JSBAp2NrfGtW/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('RoundaboutStompsMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/xUOwGbnlguFxzmRkLS/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('RMReverseMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/26DNjSyRvJqY11hxS/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('RMMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/xUOwFS6heBIMFNwX8Q/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SlideOutsideFootMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/3ohs4bx9j7OeEZXdug/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ShimmyToePogoMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/3ohs4u879sZAn5QpOM/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('Spin360ToesMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/xUOwGos6aH78RM6UuI/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SpinKickToesMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/fMzwFAPPoWgAd58Tnv/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SpinKickMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/3o7WIsDjgoSqsFBiCs/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('StutterKickAboutFaceMoveModal').style.display='block'"/>
    </div>
    <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
      <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/xUOwGaHBi1hLzmlPHO/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('StutterRearLoopDeLoopMoveModal').style.display='block'"/>
    </div>
  </div>
</div>
<!-- <div class="w3-hide-small w3-hide-medium w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
  <img class="w3-bottombar w3-topbar w3-leftbar w3-rightbar w3-border-green" src="https://media.giphy.com/media/3o7WIxWVObjOktqmty/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('StutterFrontLoopDeLoopMoveModal').style.display='block'"/>
</div> -->
<!-- <div class="w3-hide-small w3-hide-medium w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
  <img class="w3-bottombar w3-topbar w3-leftbar w3-rightbar w3-border-green" src="https://media.giphy.com/media/l4pTnAHu5Td9hLwu4/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('Spin360MoveModal').style.display='block'"/>
</div> -->
<!-- <div class="w3-hide-small w3-hide-medium w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
  <img class="w3-bottombar w3-topbar w3-leftbar w3-rightbar w3-border-green" src="https://media.giphy.com/media/3o7WIzL8FimiddtisE/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ShimmyOneWayMoveModal').style.display='block'"/>
</div> -->
<!-- <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
  <img class="w3-bottombar w3-topbar w3-leftbar w3-rightbar w3-border-green" src="https://media.giphy.com/media/l0NgQURu0xckmxeqA/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ShimmyMoveModal').style.display='block'"/>
</div> -->
<!-- <div class="w3-hide-small w3-hide-medium w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
  <img class="w3-bottombar w3-topbar w3-leftbar w3-rightbar w3-border-green" src="https://media.giphy.com/media/26DNfbFyxrzpR4Fxe/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SchmoneyMoveModal').style.display='block'"/>
</div> -->
<!-- <div class="w3-hide-small w3-hide-medium w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
  <img class="w3-bottombar w3-topbar w3-leftbar w3-rightbar w3-border-green" src="https://media.giphy.com/media/xUOwG5DtjrKdQg5GYU/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('RMHeelsMoveModal').style.display='block'"/>
</div> -->
<!-- <div class="w3-hide-small w3-hide-medium w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
  <img class="w3-bottombar w3-topbar w3-leftbar w3-rightbar w3-border-green" src="https://media.giphy.com/media/3o7WIs2nJg47wKDDVK/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('DDKickStandsMoveModal').style.display='block'"/>
</div> -->
<!-- <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
  <img class="w3-bottombar w3-topbar w3-leftbar w3-rightbar w3-border-green" src="https://media.giphy.com/media/xThtap9IUoGwgXzQre/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('DDToeStandsMoveModal').style.display='block'"/>
</div> -->
<!-- <div class="w3-hide-small w3-hide-medium w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
  <img class="w3-bottombar w3-topbar w3-leftbar w3-rightbar w3-border-green" src="https://media.giphy.com/media/xUOwG83Op1zOYymbkc/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CutsMoveModal').style.display='block'"/>
</div> -->
<!-- <div class="w3-hide-small w3-hide-medium w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
  <img class="w3-bottombar w3-topbar w3-leftbar w3-rightbar w3-border-green" src="https://media.giphy.com/media/3ohs4mI9STBZtHMvC0/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CCToeSliceMoveModal').style.display='block'"/>
</div> -->
<!-- <div class="w3-hide-small w3-hide-medium w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
  <img class="w3-bottombar w3-topbar w3-leftbar w3-rightbar w3-border-green" src="https://media.giphy.com/media/3ohs4eVr3m577LYiGs/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CCMoveModal').style.display='block'"/>
</div> -->
<!-- <div class="w3-hide-small w3-hide-medium w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
  <img class="w3-bottombar w3-topbar w3-leftbar w3-rightbar w3-border-green" src="https://media.giphy.com/media/26DNjVld8nk85sonu/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('MoonspinMoveModal').style.display='block'"/>
</div> -->
