<!-- Alt Toe Points -->
<div id="ATPCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/l4pSVj0OtqWmCHEn6/giphy.gif" style="width:100%">
  </div>
</div>
<div id="ATPJumpCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/3o7WIzEeyrhfZZrmcE/giphy.gif" style="width:100%">
  </div>
</div>
<!-- Criss Cross -->
<div id="CCCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/3o7WIJ54wK1sWPziCI/giphy.gif" style="width:100%">
  </div>
</div>
<div id="CCToePunchOutCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/l4pT83cDv6WX72mpq/giphy.gif" style="width:100%">
  </div>
</div>
<div id="CCSwitcherooCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/26DNhQlGci7TbTprW/giphy.gif" style="width:100%">
  </div>
</div>
<div id="CCToeSliceCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/l4pTql0lo9lrsxZ3W/giphy.gif" style="width:100%">
  </div>
</div>
<!-- Cuts -->
<div id="CutsCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/xUOwG43FNzeiFKi74Y/giphy.gif" style="width:100%">
  </div>
</div>
<div id="CutsReverseCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/xUOwGpy5ce9Wed4AiA/giphy.gif" style="width:100%">
  </div>
</div>
<div id="CutsShimmyLegCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/xUOwFYVog43m3gFbPy/giphy.gif" style="width:100%">
  </div>
</div>
<div id="CutsToeHeelBounceCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/3ohs4cz57XF5xOxQ1W/giphy.gif" style="width:100%">
  </div>
</div>
<div id="CutsSideToeTapsCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/51W2M3Gf7nRRYJhAUF/giphy.gif" style="width:100%">
  </div>
</div>
<div id="CutsRearKickCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/1gS2d8hXNYKCZPyXo0/giphy.gif" style="width:100%">
  </div>
</div>
<div id="CutsRearStutterCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/9RXU5KwgyAIInrhj4L/giphy.gif" style="width:100%">
  </div>
</div>
<div id="CutOutsCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/4KENcsjzDacHu08MLh/giphy.gif" style="width:100%">
  </div>
</div>
<!-- Drop Downs -->
<div id="DDCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/3o7WIGnLHCtz2dbmG4/giphy.gif" style="width:100%">
  </div>
</div>
<div id="DDToeStandsCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/xThtacRLdg7QfsAXfO/giphy.gif" style="width:100%">
  </div>
</div>
<div id="DDKickStandsCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/xUOwFY24cvqnEW1wWs/giphy.gif" style="width:100%">
  </div>
</div>
<div id="DDCorkscrewCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/26DN3s3SMNx6YvAQg/giphy.gif" style="width:100%">
  </div>
</div>
<!-- Heel Pops -->
<div id="HeelOutStompsCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/l4pTndQfeFty3gN8s/giphy.gif" style="width:100%">
  </div>
</div>
<div id="RoundaboutStompsCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/l4pTcLHoh5PqBMekw/giphy.gif" style="width:100%">
  </div>
</div>
<div id="ATPCheckMyKicksCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/d3YH1kSnUXVMJHtm/giphy.gif" style="width:100%">
  </div>
</div>
<div id="ShakeOutsCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/XKj05esoPmP6pYjgCb/giphy.gif" style="width:100%">
  </div>
</div>
<div id="ToeDivotsCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/2lZMtmiUKDD8fVINn6/giphy.gif" style="width:100%">
  </div>
</div>
<!-- Hip Hop -->
<div id="MillyRockCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/TFy7HjEh6ynmduzq6k/giphy.gif" style="width:100%">
  </div>
</div>
<div id="SchmoneyCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/8ZbMBuaY1NsLPW0xrw/giphy.gif" style="width:100%">
  </div>
</div>
<div id="HitThemFolksCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/YUkSBscyDGjD6LpBmj/giphy.gif" style="width:100%">
  </div>
</div>
<div id="BrushEmOffCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/1r91mD3dsrkEQLNBxu/giphy.gif" style="width:100%">
  </div>
</div>
<div id="SayWhatCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/4HcO2NfMhOvTH3H3wt/giphy.gif" style="width:100%">
  </div>
</div>
<div id="ShootCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/3zglyb27UgGGr8lt6R/giphy.gif" style="width:100%">
  </div>
</div>
<div id="SwerveCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/12Q6lvCeOpkiKilfjR/giphy.gif" style="width:100%">
  </div>
</div>
<div id="BackpackKidCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="#" style="width:100%">
  </div>
</div>
<div id="StirFryCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="#" style="width:100%">
  </div>
</div>
<!-- Leaner -->
<div id="LeanerCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/xUOwGd3RRoqmXXwE6s/giphy.gif" style="width:100%">
  </div>
</div>
<div id="LeanerHalfCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/26DNhPNKMCVoU8LrW/giphy.gif" style="width:100%">
  </div>
</div>
<div id="LeanerFrontsCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/xUOwGoKDsIGIZ8lpe0/giphy.gif" style="width:100%">
  </div>
</div>
<div id="FatJoeKickCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/LUfiGpoxpmBbKvgevw/giphy.gif" style="width:100%">
  </div>
</div>
<div id="KaraokeCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/1Y6UhQLgIYZKlNXtbd/giphy.gif" style="width:100%">
  </div>
</div>
<!-- Moonwalk -->
<div id="MoonshuffleCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/xThtaqnIZiPMpfuihW/giphy.gif" style="width:100%">
  </div>
</div>
<div id="MoonwalkCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/xUOwGlYid2lRbBJFJK/giphy.gif" style="width:100%">
  </div>
</div>
<div id="MoonspinCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/3ohs4wmNHMYxgqqbEk/giphy.gif" style="width:100%">
  </div>
</div>
<!-- Running Man -->
<div id="RMCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/26DN5nqE4Uqz0VVAc/giphy.gif" style="width:100%">
  </div>
</div>
<div id="RMReverseCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/3o7WIyprmCM6x6INEI/giphy.gif" style="width:100%">
  </div>
</div>
<div id="RMHeelsCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/l0NgQ7KYZtUJAHHmU/giphy.gif" style="width:100%">
  </div>
</div>
<div id="StutterRearCountModal" class="w3-modal" onclick="this.style.display='none'">
  <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
  <div class="w3-modal-content w3-animate-zoom">
    <img src="https://media.giphy.com/media/l4pTalp9fvlsTXTOM/giphy.gif" style="width:100%">
  </div>
</div>
<div id="StutterFrontCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/l4pT6sOJo1kxcKQuY/giphy.gif" style="width:100%">
  </div>
</div>
<div id="StutterRearLoopDeLoopCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/xUOwG1L3uTMp07IfXG/giphy.gif" style="width:100%">
  </div>
</div>
<div id="StutterFrontLoopDeLoopCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/3o7WIvIVgstfmXtX7q/giphy.gif" style="width:100%">
  </div>
</div>
<div id="StutterKickAboutFaceCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/xUOwG34W0vCkdWdJYI/giphy.gif" style="width:100%">
  </div>
</div>
<div id="RMSidewaysGlideCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/xFnPtQMogHBGh4x6PB/giphy.gif" style="width:100%">
  </div>
</div>
<div id="RMReversePopForwardsCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/6u0q7JL1cjJb4Q3d6C/giphy.gif" style="width:100%">
  </div>
</div>
<!-- Shimmy -->
<div id="ShimmyCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/xThtaiulkOniVsOafC/giphy.gif" style="width:100%">
  </div>
</div>
<div id="ShimmyToePogoCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/26DNbJOrGRnxV39lK/giphy.gif" style="width:100%">
  </div>
</div>
<div id="ShimmyOneWayCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/3ohs4zN15PVb1AzYEo/giphy.gif" style="width:100%">
  </div>
</div>
<div id="CharlestonCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/26DN2nVl5TgBTl0dO/giphy.gif" style="width:100%">
  </div>
</div>
<!-- Slides -->
<div id="SlideOutsideFootCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/xThta2v4UFm9QtCXny/giphy.gif" style="width:100%">
  </div>
</div>
<div id="SlideInsideFootCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/26DN2dNjKVtNy7epO/giphy.gif" style="width:100%">
  </div>
</div>
<!-- Spins -->
<div id="Spin360CountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/xThtakPpqvdKhyJBII/giphy.gif" style="width:100%">
  </div>
</div>
<div id="Spin360ToesCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/xUOwG9FXq1bOzB0U4U/giphy.gif" style="width:100%">
  </div>
</div>
<div id="SpinInsideFootCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/3ohs4hwXwCE9CL9L4A/giphy.gif" style="width:100%">
  </div>
</div>
<div id="SpinOutsideFootCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/l4pToBlu1NHvXKcxO/giphy.gif" style="width:100%">
  </div>
</div>
<div id="SpinKickCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/26DNg7Tjuqh4djcMU/giphy.gif" style="width:100%">
  </div>
</div>
<div id="SpinKickToesCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/l1KcQL5VUx1hqmSre/giphy.gif" style="width:100%">
  </div>
</div>
<div id="Moving360BackwardsCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/1eEv7FT1cCYZAIseeM/giphy.gif" style="width:100%">
  </div>
</div>
<div id="Moving360ForwardsCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/4N03JSm816InwcTW2E/giphy.gif" style="width:100%">
  </div>
</div>
<!-- Backwards Spins -->
<div id="SpinBackwards180CountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/80rHDaWpgGUDUk9jxt/giphy.gif" style="width:100%">
  </div>
</div>
<div id="ShoulderPeeksCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/wZsQCq2aPcBZaHCUQK/giphy.gif" style="width:100%">
  </div>
</div>
<div id="CharlestonSlideCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/3o7WIQeXEyTxWr8Cis/giphy.gif" style="width:100%">
  </div>
</div>
