<!-- ++++++++++++++++ Criss Cross ++++++++++++++++ -->
<button onclick="openAccordion('CC')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block w3-left-alight">
  Criss Cross
</button>
<div id="CC" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/26oulzrKYIagOsaZRV/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CCMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-opacity w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/3o7WIJ54wK1sWPziCI/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CCCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('CCPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Gliding</button>
      <div id="CCPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          To the untrained (at least to mine originally), it may appear as if you should jump outward and inward each time you uncross and cross your feet. You shouldn't be jumping, because you can't swap quickly enough without looking unwieldy, however, you should instead "bounce" outward and inward. You should feel light and springy on your toes, and with each swap, you should spring ever so slightly upwards so that you can pull or push your legs apart without the leaving the ground. Practice springing up and down on your toes until you find the right amount of bounce in your step in order to glide your feet across the ground.
        </p>
      </div>
      <button onclick="openAccordion('CCPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Poor Twist</button>
      <div id="CCPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Make sure you accentuate the twist of your heels in and out to emphasize that your feet are crossing over each other. Lead with your heels with each reverse to push your legs apart or together.
        </p>
      </div>
      <button onclick="openAccordion('CCPit3')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Goofy Knees</button>
      <div id="CCPit3" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Try to keep your legs as straight as possible. The more bent your knees are, the more goofy the move will look. Of course, don’t locks your knees as that could cause injury - but definitely try to keep your legs as stiff as possible. If you are finding this particularly difficult, it may likely be because you are jumping.
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Charleston
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/CC/CC1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CC1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CC/CC2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CC1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/CC/CC3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CC2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CC/CC4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CC2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/CC/CC5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CC3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CC/CC6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CC3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/CC/CC7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CC4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CC/CC8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CC4a').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- Walkthrough -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
    <header class="w3-container w3-center w3-green">
      <h5>WALKTHROUGH</h5>
    </header>
      <div>
        <ul class="w3-ul">
          <li>
            <span class="w3-tag w3-small w3-green">1</span> Feet can start apart or together, leaning forward on balls of feet
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">2</span> Leading with heels, push legs apart until slightly more than shoulder length apart; toes are now pointing criss cross at 30 degree angle
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">3</span> Reverse, and pull legs together (leading with heels) until feet are crossed, toes points outward
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">4</span> Do not jump - instead, spring slightly upward with each motion (see "Gliding"). Repeat
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Charleston ++++++++++++++++ -->
<button onclick="openAccordion('Charleston')" class="w3-hover-opacity w3-hover-green w3-left-align w3-button w3-bar w3-xlarge w3-block w3-left-alight">
  Charleston
</button>
<div id="Charleston" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/1dMKKFOazyIzShe6LB/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CharlestonMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-opacity w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/26DN2nVl5TgBTl0dO/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CharlestonCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('CharlestonPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Just Walking</button>
      <div id="CharlestonPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          If you don't emphasize the heel twist with each count, the move will look more like walking than the charleston. Make sure to firmly twist your ankle inward with each beat and outward with each half beat.
        </p>
      </div>
      <button onclick="openAccordion('CharlestonPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Runaway Train</button>
      <div id="CharlestonPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Make sure you practice reversing the charleston - you should be able to change directions easily, else you'll be stuck only going forward or backwards which isn't very smoooth.
        </p>
      </div>
      <button onclick="openAccordion('CharlestonWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="CharlestonWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          Feet start together, as if you are about to begin walking forward normally. Pivoting on your toes, jut out your heels until they are each about a 30 degree angle pointing inward, at the highest your foot will be in the air (at the half beat). After your reach that point, begin pivoting in the opposite direction until your feet both land at the beat - your feet should now be pointing criss cross at a 30 degree angle. Repeat.
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          N/A
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/Charleston/Charleston1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Charleston1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Charleston/Charleston2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Charleston1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/Charleston/Charleston3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Charleston2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Charleston/Charleston4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Charleston2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/Charleston/Charleston5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Charleston3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Charleston/Charleston6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Charleston3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/Charleston/Charleston7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Charleston4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Charleston/Charleston8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Charleston4a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Switcheroo ++++++++++++++++ -->
<button onclick="openAccordion('CCSwitcheroo')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block w3-left-alight">
  Switcheroo
</button>
<div id="CCSwitcheroo" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/3ohs4gAdLVZNHc6xY4/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CCSwitcherooMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-opacity w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/26DNhQlGci7TbTprW/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CCSwitcherooCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('CCSwitcherooPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Missed Transition</button>
      <div id="CCSwitcherooPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Make sure you get down pat the transition between having your toes point outward (odd beats) and your toes point in the same direction (even beats). If you rush this move, you might find yourself skipping the half beats (aforementioned “transition”). It’s key to practice the repeat/reverse of a single beat and its following half beat (e.g., 2 &lt-&gt 2&, 1 &lt-&gt 1&).
        </p>
      </div>
      <button onclick="openAccordion('CCSwitcherooPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Goofy Knees</button>
      <div id="CCSwitcherooPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          try to keep your legs as straight as possible. The more bent your knees are, the more goofy the move will look. Of course, don’t locks your knees as that could cause injury - but definitely try to keep your legs as stiff as possible.
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Criss Cross
        </li>
        <li>
          Cuts
        </li>
        <li>
          Alt Toe Points, Jump
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/CCSwitcheroo/CCSwitcheroo1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CCSwitcheroo1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CCSwitcheroo/CCSwitcheroo2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CCSwitcheroo1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/CCSwitcheroo/CCSwitcheroo3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CCSwitcheroo2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CCSwitcheroo/CCSwitcheroo4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CCSwitcheroo2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/CCSwitcheroo/CCSwitcheroo5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CCSwitcheroo3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CCSwitcheroo/CCSwitcheroo6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CCSwitcheroo3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/CCSwitcheroo/CCSwitcheroo7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CCSwitcheroo4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CCSwitcheroo/CCSwitcheroo8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CCSwitcheroo4a').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- Walkthrough -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
    <header class="w3-container w3-center w3-green">
      <h5>WALKTHROUGH</h5>
    </header>
      <div>
        <ul class="w3-ul">
          <li>
            <span class="w3-tag w3-small w3-green">1</span> Feet start together pointing very slightly crossed, leaning forward on toes
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">2</span> Jump very very mildly outward, landing on heels with toes pointing outward
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">3</span> Jump back inward, feet now pointing diagonally to right, one foot in front in toe heel stance
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">4</span> Jump back inward with feet side by side
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">5</span> Jump outwards again
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">6</span> Jump inward again and cross feet, now pointing left
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Toe Punch ++++++++++++++++ -->
<button onclick="openAccordion('CCToePunchOut')" class="w3-hover-opacity w3-hover-deep-purple w3-left-align w3-button w3-bar w3-xlarge w3-block w3-left-alight">
  Toe Punch
</button>
<div id="CCToePunchOut" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-hover-grayscale w3-col w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/l4pTsbSe3lZ6wwR0I/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CCToePunchOutMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-hover-grayscale w3-col w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/l4pT83cDv6WX72mpq/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CCToePunchOutCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('CCToePunchOutPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Depth Problem</button>
      <div id="CCToePunchOutPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Doesn’t work quite like the normal criss cross, where you are pulling your feet together on practically the same plane intersecting your feet at the starting position. Instead, there is quite a deal of hip twist involved and putting the front foot further forward in front of the rear foot so that one foot is practically in front on the other and your hips are rotated nearly 90 degrees.
        </p>
      </div>
      <button onclick="openAccordion('CCToePunchOutPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Wrong Reverse</button>
      <div id="CCToePunchOutPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          There is no jumping, all sliding and slight bouncing involved in getting the mirage of your feet gliding in front of each other. Note how each foot follows a circuit of switching between low on its toes when in the rear, and high on its toes when in front. There is practically a reverse every single beat, each foot following its own reverse that is exactly out of phase (as in when one foot is a the crest of its route (e.g., highest on its toes) the other foot is at the nadir of its route (i.e., lowest on its toes). This dual reverse aspect is what makes this move unintuitive at first.
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Cuts
        </li>
        <li>
          Cuts Reverse
        </li>
        <li>
          Criss Cross
        </li>
        <li>
          Heel Out Stomps
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/CCToePunchOut/CCToePunchOut1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CCToePunchOut1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CCToePunchOut/CCToePunchOut2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CCToePunchOut1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/CCToePunchOut/CCToePunchOut3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CCToePunchOut2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CCToePunchOut/CCToePunchOut4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CCToePunchOut2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/CCToePunchOut/CCToePunchOut5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CCToePunchOut3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CCToePunchOut/CCToePunchOut6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CCToePunchOut3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/CCToePunchOut/CCToePunchOut7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CCToePunchOut4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CCToePunchOut/CCToePunchOut8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CCToePunchOut4a').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- Walkthrough -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
    <header class="w3-container w3-center w3-green">
      <h5>WALKTHROUGH</h5>
    </header>
      <div>
        <ul class="w3-ul">
          <li>
            <span class="w3-tag w3-small w3-green">1</span> Place right toe down (ankle bent as far as possible) to front left of left foot, left foot behind and slightly right
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">2</span> Bring right toe back and left toe forward both to middle of stance, right foot slightly more on toes than left foot is
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">3</span> Bring left foot forward and place on toes to right of your right foot, with right foot on toes behind and to left
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">4</span> Keep reversing
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Toe Slice ++++++++++++++++ -->
<button onclick="openAccordion('CCToeSlice')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block w3-left-alight">
  Toe Slice
</button>
<div id="CCToeSlice" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/3ohs4mI9STBZtHMvC0/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CCToeSliceMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/l4pTql0lo9lrsxZ3W/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CCToeSliceCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('CCToeSlicePit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Misleading Reverse</button>
      <div id="CCToeSlicePit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          This move doesn’t have the same reverse pattern as the other criss crosses. Take note of the path each foot takes (i.e., the slice), and then breaks from the path (i.e., the jump)
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Criss Cross
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/CCToeSlice/CCtoeSlice1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CCToeSlice1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CCToeSlice/CCtoeSlice2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CCToeSlice1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/CCToeSlice/CCtoeSlice3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CCToeSlice2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CCToeSlice/CCtoeSlice4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CCToeSlice2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/CCToeSlice/CCtoeSlice5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CCToeSlice3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CCToeSlice/CCtoeSlice6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CCToeSlice3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/CCToeSlice/CCtoeSlice7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CCToeSlice4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CCToeSlice/CCtoeSlice8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CCToeSlice4a').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- Walkthrough -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
    <header class="w3-container w3-center w3-green">
      <h5>WALKTHROUGH</h5>
    </header>
      <div>
        <ul class="w3-ul">
          <li>
            <span class="w3-tag w3-small w3-green">1</span> Feet start shoulder-width apart
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">2</span> Rotate hips clockwise and jump slightly forward, placing left toe to front right of stance and right toe to back left
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">3</span> Rotate hips counterclockwise, bringing right foot back and left foot forward (both on toes) to middle of stance
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">4</span> Do same now with right foot to front left, left foot to back right
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
