<%# TODO: Up and Down Toe Taps %>
<!-- ++++++++++++++++ Cuts ++++++++++++++++ -->
<button onclick="openAccordion('Cuts')" class="w3-hover-opacity w3-hover-green w3-left-align w3-button w3-bar w3-xlarge w3-block w3-left-alight">
  Cuts
</button>
<div id="Cuts" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/3ohs4jGpJECz8XWDMA/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CutsMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/xUOwG43FNzeiFKi74Y/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CutsCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>LEARNING TIMES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <strong>BASIC:</strong> 100 iterations
        </li>
        <li>
          <strong>FAMILIAR:</strong> 200 iterations
        </li>
        <li>
          <strong>FLUENT:</strong> 400 iterations
        </li>
      </ul>
      <h5>PREREQUISITES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Running Man</a>
        </li>
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Charleston</a>
        </li>
        <li>
          <a class="w3-tag w3-amber w3-text-white" style="text-decoration: none;" href="#">Rear Stutter</a>
        </li>
      </ul>
      <h5>CHAIN WITH</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-amber w3-text-white" style="text-decoration: none;" href="#">Cuts Reverse</a>
        </li>
        <li>
          <a class="w3-tag w3-amber w3-text-white" style="text-decoration: none;" href="#">Drop Downs</a>
        </li>
        <li>
          <a class="w3-tag w3-amber w3-text-white" style="text-decoration: none;" href="#">Spin, Outside Foot</a>
        </li>
      </ul>
    </div>
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS & MISTAKES + FIXES</h5>
      <button onclick="openAccordion('CutsPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Keep It Tight</button>
      <div id="CutsPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          You’re not bringing your feet around in a semi circle fashion in the same sense as with the criss-crosses and alt toe points - instead, you are putting one foot in front of the other in the same fashion as the running man. Keep the half counts tight in the sense of having your up foot pinned next to your down foot. Imagine a two perpendicular planes that each foot goes along back and forth but not off.
        </p>
      </div>
      <button onclick="openAccordion('CutsWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="CutsWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          Enter into cuts by jumping into toe heel stance, one foot in front of the other with rear foot on toe and front foot on heel. Bounce the front foot backward, landing flat - move the rear foot forward tucked next to the other leg, lifting it upwards to about midway between your ankle and your knee. Bring down the up foot and land on your heel, whilst forcing the down foot backwards and raising it slightly so you are on your toes (of the now rear foot). Repeat.
        </p>
      </div>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/Cuts/Cuts1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Cuts1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Cuts/Cuts2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Cuts1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/Cuts/Cuts3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Cuts2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Cuts/Cuts4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Cuts2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/Cuts/Cuts5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Cuts3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Cuts/Cuts6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Cuts3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/Cuts/Cuts7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Cuts4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Cuts/Cuts8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Cuts4a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Cuts, Reverse ++++++++++++++++ -->
<button onclick="openAccordion('CutsReverse')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block w3-left-alight">
  Cuts, Reverse
</button>
<div id="CutsReverse" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/l4pT4a6mVBWX90TwQ/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CutsReverseMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-opacity w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/xUOwGpy5ce9Wed4AiA/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CutsReverseCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>LEARNING TIMES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <strong>BASIC:</strong> 250 iterations
        </li>
        <li>
          <strong>FAMILIAR:</strong> 400 iterations
        </li>
        <li>
          <strong>FLUENT:</strong> 600 iterations
        </li>
      </ul>
      <h5>PREREQUISITES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Cuts</a>
        </li>
        <li>
          <a class="w3-tag w3-amber w3-text-white" style="text-decoration: none;" href="#">Reverse Running Man</a>
        </li>
      </ul>
      <h5>CHAIN WITH</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-red" style="text-decoration: none;" href="#">Spin, Backwards 180</a>
        </li>
        <li>
          <a class="w3-tag w3-red" style="text-decoration: none;" href="#">Spin, Inside Foot</a>
        </li>
      </ul>
    </div>
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS & MISTAKES + FIXES</h5>
      <button onclick="openAccordion('CutsReversePit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Floaty Feet</button>
      <div id="CutsReversePit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          this motion will feel unnatural in the same way the running man first felt unnatural to have both feet landing at each beat (and having your front foot hover slightly off the ground, kicking forward - terribly goofy looking stuff). To remediate the problem of Pitfall 2 here, accentuate the twist of your hips to more easily get down the flow of reversing cuts.
        </p>
      </div>
      <button onclick="openAccordion('CutsReverseWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="CutsReverseWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          Enter into cuts by jumping into toe heel stance, one foot in front of the other with rear foot on toe and front foot on heel. Bounce the rear foot forward, landing flat - move the front foot backward tucked next to the other leg, lifting it upwards to about midway between your ankle and your knee. Bring the up foot down backwards and land on your toe, whilst forcing the down foot forward and raising it slightly so you are on your heel (of the now rear foot). Repeat.
        </p>
      </div>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/CutsReverse/CutsReverse1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsReverse1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CutsReverse/CutsReverse2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsReverse1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/CutsReverse/CutsReverse3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsReverse2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CutsReverse/CutsReverse4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsReverse2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/CutsReverse/CutsReverse5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsReverse3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CutsReverse/CutsReverse6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsReverse3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/CutsReverse/CutsReverse7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsReverse4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CutsReverse/CutsReverse8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsReverse4a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Cuts -> Shimmy Leg ++++++++++++++++ -->
<button onclick="openAccordion('CutsShimmyLeg')" class="w3-hover-opacity w3-hover-deep-purple w3-left-align w3-button w3-bar w3-xlarge w3-block w3-left-alight">
  Cuts -&gt Shimmy Leg
</button>
<div id="CutsShimmyLeg" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/3o7WIK3IQszqtNO1xu/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CutsShimmyLegMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/xUOwFYVog43m3gFbPy/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CutsShimmyLegCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>LEARNING TIMES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <strong>BASIC:</strong> 350 iterations
        </li>
        <li>
          <strong>FAMILIAR:</strong> 650 iterations
        </li>
        <li>
          <strong>FLUENT:</strong> 1000 iterations
        </li>
      </ul>
      <h5>PREREQUISITES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Cuts</a>
        </li>
        <li>
          <a class="w3-tag w3-amber w3-text-white" style="text-decoration: none;" href="#">Toe Heel Stomp</a>
        </li>
        <li>
          <a class="w3-tag w3-amber w3-text-white" style="text-decoration: none;" href="#">Roundabout Stomp</a>
        </li>
      </ul>
      <h5>CHAIN WITH</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-amber w3-text-white" style="text-decoration: none;" href="#">Leaners</a>
        </li>
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Reverse Cuts</a>
        </li>
        <li>
          <a class="w3-tag w3-amber w3-text-white" style="text-decoration: none;" href="#">Spin, Outside Foot</a>
        </li>
      </ul>
    </div>
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS & MISTAKES + FIXES</h5>
      <button onclick="openAccordion('CutsShimmyLegPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Unintuitive Figure 8</button>
      <div id="CutsShimmyLegPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          What appears to be a frantic shimmying of the leg is actually a figure 8 you are making with your foot. Pay specially close attention to the path of the figure 8 your foot should be taking, and trace it very slowly while standing firmly on your plant foot. As the figure 8 becomes more second nature, speed up the tracing. Eventually the left right twist of your plant foot should come naturally as you make the figure 8 with more speed and force
        </p>
      </div>
      <button onclick="openAccordion('CutsShimmyLegPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Pitfall 1</button>
      <div id="CutsShimmyLegPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          lorem ipsum dolor
        </p>
      </div>
      <button onclick="openAccordion('CutsShimmyLegWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="CutsShimmyLegWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          Enter in shimmy leg from cuts. While transition from the mid-beat stance to the toe-heel stance, instead of landing on the heel of your up foot, dip it down then back up. Twist your foot left and right, with your toe always pointing towards your plant foot. As you twist your up foot, your plant/down foot should twist and point in a mirror image to the upfoot (outward when up foot points outward, inward when up foot points inward). Make a figure 8 motion as you do this twist, bringing your up foot to right-front, left-front, right-back, left-back positions sequentially (and repeat).
        </p>
      </div>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/CutsShimmyLeg/CutsShimmyLeg1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsShimmyLeg1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CutsShimmyLeg/CutsShimmyLeg2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsShimmyLeg1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/CutsShimmyLeg/CutsShimmyLeg3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsShimmyLeg2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CutsShimmyLeg/CutsShimmyLeg4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsShimmyLeg2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/CutsShimmyLeg/CutsShimmyLeg5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsShimmyLeg3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CutsShimmyLeg/CutsShimmyLeg6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsShimmyLeg3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/CutsShimmyLeg/CutsShimmyLeg7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsShimmyLeg4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CutsShimmyLeg/CutsShimmyLeg8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsShimmyLeg4a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Cuts -> Toe Heel Bounce ++++++++++++++++ -->
<button onclick="openAccordion('CutsToeHeelBounce')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block w3-left-alight">
  Cuts -&gt Toe Heel Bounce
</button>
<div id="CutsToeHeelBounce" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/3ohs4ssTjK2PMbCNB6/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CutsToeHeelBounceMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-opacity w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/3ohs4cz57XF5xOxQ1W/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CutsToeHeelBounceCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>LEARNING TIMES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <strong>BASIC:</strong> 200 iterations
        </li>
        <li>
          <strong>FAMILIAR:</strong> 450 iterations
        </li>
        <li>
          <strong>FLUENT:</strong> 600 iterations
        </li>
      </ul>
      <h5>PREREQUISITES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Cuts</a>
        </li>
      </ul>
      <h5>CHAIN WITH</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-red" style="text-decoration: none;" href="#">Spin, Inside Foot</a>
        </li>
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Leaners</a>
        </li>
      </ul>
    </div>
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS & MISTAKES + FIXES</h5>
      <button onclick="openAccordion('CutsToeHeelBouncePit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Floppy Form</button>
      <div id="CutsToeHeelBouncePit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Keep your entire body - neck, head, legs - as stiff and straight as possible during the bounce. Otherwise your body will flop around during the bounce, which looks sloppy.
        </p>
      </div>
      <button onclick="openAccordion('CutsToeHeelBounceWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="CutsToeHeelBounceWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          Entering from cuts at the toe-heel stance, spring upward ever so gently and pivot your body 30 degrees open (see count demonstrations); don’t alter or swap your feet though. Immediately after landing into the open stance, bounce right backwards into the closed/original stance and resume cuts.
        </p>
      </div>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/CutsToeHeelBounce/CutsToeHeelBounce1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsToeHeelBounce1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CutsToeHeelBounce/CutsToeHeelBounce2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsToeHeelBounce1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/CutsToeHeelBounce/CutsToeHeelBounce3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsToeHeelBounce2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CutsToeHeelBounce/CutsToeHeelBounce4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsToeHeelBounce2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/CutsToeHeelBounce/CutsToeHeelBounce5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsToeHeelBounce3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CutsToeHeelBounce/CutsToeHeelBounce6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsToeHeelBounce3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/CutsToeHeelBounce/CutsToeHeelBounce7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsToeHeelBounce4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CutsToeHeelBounce/CutsToeHeelBounce8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsToeHeelBounce4a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
