<button onclick="openAccordion('Cuts')" class="w3-hover-opacity w3-hover-green w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Cuts
</button>
<div id="Cuts" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/3XH14fFJA6sosJjlUz/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CutsMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/xUOwG43FNzeiFKi74Y/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CutsCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('CutsPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Keep It Tight</button>
      <div id="CutsPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          You’re not bringing your feet around in a semi circle fashion in the same sense as with the criss-crosses and alt toe points - instead, you are putting one foot in front of the other in the same fashion as the running man. Keep the half counts tight in the sense of having your up foot pinned next to your down foot. Imagine a two perpendicular planes that each foot goes along back and forth but not off.
        </p>
      </div>
      <button onclick="openAccordion('CutsWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="CutsWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          Enter into cuts by jumping into toe heel stance, one foot in front of the other with rear foot on toe and front foot on heel. Bounce the front foot backward, landing flat - move the rear foot forward tucked next to the other leg, lifting it upwards to about midway between your ankle and your knee. Bring down the up foot and land on your heel, whilst forcing the down foot backwards and raising it slightly so you are on your toes (of the now rear foot). Repeat.
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Running Man
        </li>
        <li>
          Charleston
        </li>
        <li>
          Rear Stutter
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/Cuts/Cuts1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Cuts1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Cuts/Cuts2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Cuts1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/Cuts/Cuts3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Cuts2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Cuts/Cuts4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Cuts2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/Cuts/Cuts5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Cuts3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Cuts/Cuts6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Cuts3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/Cuts/Cuts7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Cuts4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Cuts/Cuts8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Cuts4a').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- Walkthrough -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
    <header class="w3-container w3-center w3-green">
      <h5>WALKTHROUGH</h5>
    </header>
      <div>
        <ul class="w3-ul">
          <li>
            <span class="w3-tag w3-small w3-green">1</span> Jump into toe-heel stance, right foot on toe to back left and left foot on heel to front right
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">2</span> Bounce left foot backwards, landing flat at direct middle of stance (below you) while bringing right foot up/forwards tucked next to shin
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">3</span> Land right foot flat and to front left of stance while pushing back left foot to back right (on its toes)
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">4</span> Do the same now, but with feet reversed
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Cuts (Reverse) ++++++++++++++++ -->
<button onclick="openAccordion('CutsReverse')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Cuts (Reverse)
</button>
<div id="CutsReverse" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/l4pT4a6mVBWX90TwQ/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CutsReverseMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-opacity w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/xUOwGpy5ce9Wed4AiA/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CutsReverseCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('CutsReversePit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Floaty Feet</button>
      <div id="CutsReversePit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          this motion will feel unnatural in the same way the running man first felt unnatural to have both feet landing at each beat (and having your front foot hover slightly off the ground, kicking forward - terribly goofy looking stuff). To remediate the problem of Pitfall 2 here, accentuate the twist of your hips to more easily get down the flow of reversing cuts.
        </p>
      </div>
      <button onclick="openAccordion('CutsReverseWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="CutsReverseWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          Enter into cuts by jumping into toe heel stance, one foot in front of the other with rear foot on toe and front foot on heel. Bounce the rear foot forward, landing flat - move the front foot backward tucked next to the other leg, lifting it upwards to about midway between your ankle and your knee. Bring the up foot down backwards and land on your toe, whilst forcing the down foot forward and raising it slightly so you are on your heel (of the now rear foot). Repeat.
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Cuts
        </li>
        <li>
          Reverse Running Man
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/CutsReverse/CutsReverse1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsReverse1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CutsReverse/CutsReverse2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsReverse1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/CutsReverse/CutsReverse3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsReverse2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CutsReverse/CutsReverse4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsReverse2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/CutsReverse/CutsReverse5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsReverse3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CutsReverse/CutsReverse6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsReverse3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/CutsReverse/CutsReverse7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsReverse4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CutsReverse/CutsReverse8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsReverse4a').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- Walkthrough -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
    <header class="w3-container w3-center w3-green">
      <h5>WALKTHROUGH</h5>
    </header>
      <div>
        <ul class="w3-ul">
          <li>
            <span class="w3-tag w3-small w3-green">1</span> Jump into toe heel stance, left foot on heel to front right of stance, right foot on toe to back left
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">2</span> Bounce right foot forward, to flat in center of stance, bringing left foot upwards and in next to your shin
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">3</span> Bring down left foot flat to back right of stance while pushing right foot forward on heel to front left of stance
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">4</span> Repeat, but with left as right and vice versa
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Cut Outs ++++++++++++++++ -->
<button onclick="openAccordion('CutOuts')" class="w3-hover-opacity w3-hover-green w3-left-align w3-button w3-bar w3-xlarge w3-block w3-left-alight">
  Cut Outs
</button>
<div id="CutOuts" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/456Y9cqdPytihb5djb/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CutOutsMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-opacity w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/4KENcsjzDacHu08MLh/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CutOutsCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('CutOutsPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Weight Distribution</button>
      <div id="CutOutsPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Make your slides gracely - don't yank your feet back. That has to do with finding the right balance. Put enough weight on your planted foot so that your pivot foot is barely touching the ground. But don't put too much emphasis/weight on your plant foot or else your pivot foot will hover off the ground and the move won't look like a slide.
        </p>
      </div>
      <button onclick="openAccordion('CutOutsPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Stiff Hips</button>
      <div id="CutOutsPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Make sure you twist your hips sufficiently so that at each beat, you are practically standing sideways.
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Charleston
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/CutOuts/CutOuts1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutOuts1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CutOuts/CutOuts2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutOuts1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/CutOuts/CutOuts3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutOuts2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CutOuts/CutOuts4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutOuts2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/CutOuts/CutOuts5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutOuts3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CutOuts/CutOuts6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutOuts3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/CutOuts/CutOuts7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutOuts4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CutOuts/CutOuts8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutOuts4a').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- Walkthrough -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
    <header class="w3-container w3-center w3-green">
      <h5>WALKTHROUGH</h5>
    </header>
      <div>
        <ul class="w3-ul">
          <li>
            <span class="w3-tag w3-small w3-green">1</span> Start from toe-heel stance, left foot to front right on heel and right foot to back left on toe
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">2</span> Bring left foot up / to middle of stance, while right foot stays on toe and pivots to point straight forward
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">3</span> Bring left foot out / left, while right foot pivots back to right - feet now pointing outwards
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">4</span> Bring left foot back / up to center of stance, right foot pivots back to point straight forward
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">5</span> Land back in original toe-heel stance
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">6</span> Repeat
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Rear Stutter ++++++++++++++++ -->
<button onclick="openAccordion('CutsRearStutter')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Rear Stutter
</button>
<div id="CutsRearStutter" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/4QFBnHU316gxIBGtgM/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CutsRearStutterMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-opacity w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/9RXU5KwgyAIInrhj4L/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CutsRearStutterCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('CutsRearStutterPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Chickenfooted Rear Stutter</button>
      <div id="CutsRearStutterPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          You can master this move much more quickly if you know how to do a normal rear stutter and can alter it to fit within the form of a cut. Instead of stutter kicking straight backwards, you are kicking diagonally across your body. If you were doing a normal rear stutter, simply twist your hips to the side of your foot which you are kicking backwards (lets say you are kicking your right foot back) so that you kick your right foot across the back of your body to the left.
        </p>
      </div>
      <button onclick="openAccordion('CutsRearStutterPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Hands Low for Balance</button>
      <div id="CutsRearStutterPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          As if you were trying to balance on your toes standing still, keep your arms close at your sides but slightly out, moving them up and down for balance as feels intuitively right. The stutter will try to throw your balance off - your arms low at your sides will help you keep your balance.s
        </p>
      </div>
    </div>
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
        Cuts
        </li>
      </ul>
    </div>

  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/CutsRearStutter/CutsRearStutter1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsRearStutter1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CutsRearStutter/CutsRearStutter2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsRearStutter1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/CutsRearStutter/CutsRearStutter3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsRearStutter2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CutsRearStutter/CutsRearStutter4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsRearStutter2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/CutsRearStutter/CutsRearStutter5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsRearStutter3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CutsRearStutter/CutsRearStutter6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsRearStutter3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/CutsRearStutter/CutsRearStutter7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsRearStutter4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CutsRearStutter/CutsRearStutter8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsRearStutter4a').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- Walkthrough -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
    <header class="w3-container w3-center w3-green">
      <h5>WALKTHROUGH</h5>
    </header>
    <div>
      <ul class="w3-ul">
        <li>
          <span class="w3-tag w3-small w3-green">1</span> Start from toe-heel stance, left foot to front right on heel and right foot to back left on toe
        </li>
        <li>
          <span class="w3-tag w3-small w3-green">2</span> Bring left foot back and flat at center of stance, right foot up and tucked next to shin
        </li>
        <li>
          <span class="w3-tag w3-small w3-green">3</span> Push left foot back forward, on heel - lean backward and land flat on right foot (positioned to back right)
        </li>
        <li>
          <span class="w3-tag w3-small w3-green">4</span> Bring left foot back and flat at center of stance once again, right foot up
        </li>
        <li>
          <span class="w3-tag w3-small w3-green">5</span> Continue with normal cuts
        </li>
      </ul>
    </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Rear Kick ++++++++++++++++ -->
<button onclick="openAccordion('CutsRearKick')" class="w3-hover-opacity w3-hover-red w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Rear Kick
</button>
<div id="CutsRearKick" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/d2RLSc9GG1AKk5pehZ/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CutsRearKickMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/1gS2d8hXNYKCZPyXo0/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CutsRearKickCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('CutsRearKickPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Half Figure 8</button>
      <div id="CutsRearKickPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          If looking at your body directly from the rear, imagine the foot with which you are kicking back is a propellor - if it's your right foot, it'll spin clockwise, and vice versa with the left. As you kick backwards with your foot, it should spin in a circular motion like said propellor; first brushing the ground and then continuing around back up in a circular motion. Now, from a bird's eye view of your body, also picture your foot moving in a figure 8 motion from back to front. Your foot should make half the figure 8 (behind you) until it comes to a halt at the toe heel stance of cuts (thus not completing the second half of the figure 8).
        </p>
      </div>
      <button onclick="openAccordion('CutsRearKickPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Barely Brushing</button>
      <div id="CutsRearKickPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          As if you were just doing a cuts -&gt rear stutter, you'll be bringing your rear foot back backwards from the midstance of cuts. However, you won't be landing on it - instead, you kick/push right through what would have been you landing on your rear foot. Brush the ground ever so slightly to keep the motion smooth. There's no pausing as you kick bacwards. It's one single motion of kicking backwards and landing in the toe-heel stance of cuts.
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Cuts -&gt Rear Stutter
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/CutsRearKick/CutsRearKick1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsRearKick1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CutsRearKick/CutsRearKick2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsRearKick1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/CutsRearKick/CutsRearKick3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsRearKick2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CutsRearKick/CutsRearKick4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsRearKick2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/CutsRearKick/CutsRearKick5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsRearKick3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CutsRearKick/CutsRearKick6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsRearKick3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/CutsRearKick/CutsRearKick7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsRearKick4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CutsRearKick/CutsRearKick8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsRearKick4a').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- Walkthrough -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
    <header class="w3-container w3-center w3-green">
      <h5>WALKTHROUGH</h5>
    </header>
      <div>
        <ul class="w3-ul">
          <li>
            <span class="w3-tag w3-small w3-green">1</span> Start from toe-heel stance, left foot to front right on heel and right foot to back left on toe
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">2</span> Bring left foot back and flat at center of stance, right foot up and tucked next to shin
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">3</span> Push right foot backwards across to back left of stance, brushing ground with toe
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">4</span> Without pausing, continue brush of right foot upwards and then around to the right
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">5</span> As right foot comes to right, swing it down and around to front left of stance, landing on heel
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">6</span> As right foot is swinging around, left foot should be planted and pivoting on toe - end in toe-heel stance, left foot on toe
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Side Toe Taps ++++++++++++++++ -->
<button onclick="openAccordion('CutsSideToeTaps')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block w3-left-align">
  Side Toe Taps
</button>
<div id="CutsSideToeTaps" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/3httMR9QRMZs7LiwZh/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CutsSideToeTapsMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/51W2M3Gf7nRRYJhAUF/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CutsSideToeTapsCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('CutsSideToeTapsPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Flicka Da Toe</button>
      <div id="CutsSideToeTapsPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          As you alternate between heel down (on the far right and left stance) and toe down (center position) for your front foot, don't just bounce from toe to heel to toe to heel - as you bring your toe down (to the center position, from being on its heel), dip your toe inward). From your toe down, flick your toe upward and bring up your foot to the heel position. Picture drawing a figure 8 with your toe, and flick and dip accordingly.
        </p>
      </div>
      <button onclick="openAccordion('CutsSideToeTapsPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Stutter It</button>
      <div id="CutsSideToeTapsPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          This move is very easy to add a stutter to - just simply flick your toe outward to one side twice from the center position before resuming the normal progression of the move.
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Leaner Fronts
        </li>
        <li>
          Criss Cross
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/CutsSideToeTaps/CutsSideToeTaps1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsSideToeTaps1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CutsSideToeTaps/CutsSideToeTaps2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsSideToeTaps1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/CutsSideToeTaps/CutsSideToeTaps3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsSideToeTaps2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CutsSideToeTaps/CutsSideToeTaps4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsSideToeTaps2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/CutsSideToeTaps/CutsSideToeTaps5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsSideToeTaps3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CutsSideToeTaps/CutsSideToeTaps6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsSideToeTaps3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/CutsSideToeTaps/CutsSideToeTaps7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsSideToeTaps4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CutsSideToeTaps/CutsSideToeTaps8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsSideToeTaps4a').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- Walkthrough -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
    <header class="w3-container w3-center w3-green">
      <h5>WALKTHROUGH</h5>
    </header>
      <div>
        <ul class="w3-ul">
          <li>
            <span class="w3-tag w3-small w3-green">1</span> Start with left foot to front right of stance on heel, right foot on heel to back left of stance
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">2</span> Dip right toe downward and slightly left, left foot pivoting slightly on toe to left but not lifting - both feet should be pointing directly forward now
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">3</span>Dip right toe upward and to left, pivoting right foot on toe left - both feet now pointing left, right foot at back right and left foot at front left of stance
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">4</span> Reverse directions by dipping left foot back and pivoting right foot back to middle
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">5</span> Keep going right and left
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
