<!-- ++++++++++++++++ Cuts ++++++++++++++++ -->
<button onclick="openAccordion('Cuts')" class="w3-hover-opacity w3-hover-green w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Cuts
</button>
<div id="Cuts" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/fnmmm1PZSAdPJjCMdw/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CutsMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/xUOwG43FNzeiFKi74Y/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CutsCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('CutsPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Keep It Tight</button>
      <div id="CutsPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          You’re not bringing your feet around in a semi circle fashion in the same sense as with the criss-crosses and alt toe points - instead, you are putting one foot in front of the other in the same fashion as the running man. Keep the half counts tight in the sense of having your up foot pinned next to your down foot. Imagine a two perpendicular planes that each foot goes along back and forth but not off.
        </p>
      </div>
      <button onclick="openAccordion('CutsWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="CutsWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          Enter into cuts by jumping into toe heel stance, one foot in front of the other with rear foot on toe and front foot on heel. Bounce the front foot backward, landing flat - move the rear foot forward tucked next to the other leg, lifting it upwards to about midway between your ankle and your knee. Bring down the up foot and land on your heel, whilst forcing the down foot backwards and raising it slightly so you are on your toes (of the now rear foot). Repeat.
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Running Man
        </li>
        <li>
          Charleston
        </li>
        <li>
          Rear Stutter
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/Cuts/Cuts1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Cuts1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Cuts/Cuts2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Cuts1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/Cuts/Cuts3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Cuts2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Cuts/Cuts4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Cuts2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/Cuts/Cuts5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Cuts3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Cuts/Cuts6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Cuts3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/Cuts/Cuts7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Cuts4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Cuts/Cuts8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Cuts4a').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- Walkthrough -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
    <header class="w3-container w3-center w3-green">
      <h5>WALKTHROUGH</h5>
    </header>
      <div>
        <ul class="w3-ul">
          <li>
            <span class="w3-tag w3-small w3-green">1</span> Jump into toe-heel stance, right foot on toe to back left and left foot on heel to front right
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">2</span> Bounce left foot backwards, landing flat at direct middle of stance (below you) while bringing right foot up/forwards tucked next to shin
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">3</span> Land right foot flat and to front left of stance while pushing back left foot to back right (on its toes)
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">4</span> Do the same now, but with feet reversed
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Reverse Cuts ++++++++++++++++ -->
<button onclick="openAccordion('ReverseCuts')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Cuts (Reverse)
</button>
<div id="ReverseCuts" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/1ZjRh5i8hzyG8vHZq3/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ReverseCutsMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-opacity w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/xUOwGpy5ce9Wed4AiA/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ReverseCutsCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('ReverseCutsPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Floaty Feet</button>
      <div id="ReverseCutsPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          this motion will feel unnatural in the same way the running man first felt unnatural to have both feet landing at each beat (and having your front foot hover slightly off the ground, kicking forward - terribly goofy looking stuff). To remediate the problem of Pitfall 2 here, accentuate the twist of your hips to more easily get down the flow of reversing cuts.
        </p>
      </div>
      <button onclick="openAccordion('ReverseCutsWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="ReverseCutsWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          Enter into cuts by jumping into toe heel stance, one foot in front of the other with rear foot on toe and front foot on heel. Bounce the rear foot forward, landing flat - move the front foot backward tucked next to the other leg, lifting it upwards to about midway between your ankle and your knee. Bring the up foot down backwards and land on your toe, whilst forcing the down foot forward and raising it slightly so you are on your heel (of the now rear foot). Repeat.
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Cuts
        </li>
        <li>
          Reverse Running Man
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/ReverseCuts/ReverseCuts1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ReverseCuts1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ReverseCuts/ReverseCuts2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ReverseCuts1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/ReverseCuts/ReverseCuts3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ReverseCuts2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ReverseCuts/ReverseCuts4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ReverseCuts2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/ReverseCuts/ReverseCuts5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ReverseCuts3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ReverseCuts/ReverseCuts6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ReverseCuts3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/ReverseCuts/ReverseCuts7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ReverseCuts4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ReverseCuts/ReverseCuts8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ReverseCuts4a').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- Walkthrough -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
    <header class="w3-container w3-center w3-green">
      <h5>WALKTHROUGH</h5>
    </header>
      <div>
        <ul class="w3-ul">
          <li>
            <span class="w3-tag w3-small w3-green">1</span> Jump into toe heel stance, left foot on heel to front right of stance, right foot on toe to back left
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">2</span> Bounce right foot forward, to flat in center of stance, bringing left foot upwards and in next to your shin
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">3</span> Bring down left foot flat to back right of stance while pushing right foot forward on heel to front left of stance
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">4</span> Repeat, but with left as right and vice versa
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Front Stutter ++++++++++++++++ -->
<button onclick="openAccordion('CutsFrontStutter')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Front Stutter
</button>
<div id="CutsFrontStutter" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/EQ86L2PcYijKEHr6L6/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CutsFrontStutterMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/5T0qxXpLkARoYCSSmO/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CutsFrontStutterCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('CutsFrontStutterPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Lorem</button>
      <div id="CutsFrontStutterPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Lorem
        </p>
      </div>
      <button onclick="openAccordion('CutsFrontStutterPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Lorem</button>
      <div id="CutsFrontStutterPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Lorem
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Lorem
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/CutsFrontStutter/CutsFrontStutter1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsFrontStutter1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CutsFrontStutter/CutsFrontStutter2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsFrontStutter1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/CutsFrontStutter/CutsFrontStutter3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsFrontStutter2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CutsFrontStutter/CutsFrontStutter4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsFrontStutter2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/CutsFrontStutter/CutsFrontStutter5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsFrontStutter3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CutsFrontStutter/CutsFrontStutter6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsFrontStutter3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/CutsFrontStutter/CutsFrontStutter7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsFrontStutter4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CutsFrontStutter/CutsFrontStutter8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsFrontStutter4a').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- Walkthrough -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
    <header class="w3-container w3-center w3-green">
      <h5>WALKTHROUGH</h5>
    </header>
      <div>
        <ul class="w3-ul">
          <li>
            <span class="w3-tag w3-small w3-green">1</span>
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">2</span>
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">3</span>
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">4</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Rear Kick ++++++++++++++++ -->
<button onclick="openAccordion('CutsRearKick')" class="w3-hover-opacity w3-hover-red w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Rear Kick
</button>
<div id="CutsRearKick" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/1hAXxv2VaPDlrrGGgr/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CutsRearKickMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/1gS2d8hXNYKCZPyXo0/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CutsRearKickCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('CutsRearKickPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Half Figure 8</button>
      <div id="CutsRearKickPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          If looking at your body directly from the rear, imagine the foot with which you are kicking back is a propellor - if it's your right foot, it'll spin clockwise, and vice versa with the left. As you kick backwards with your foot, it should spin in a circular motion like said propellor; first brushing the ground and then continuing around back up in a circular motion. Now, from a bird's eye view of your body, also picture your foot moving in a figure 8 motion from back to front. Your foot should make half the figure 8 (behind you) until it comes to a halt at the toe heel stance of cuts (thus not completing the second half of the figure 8).
        </p>
      </div>
      <button onclick="openAccordion('CutsRearKickPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Barely Brushing</button>
      <div id="CutsRearKickPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          As if you were just doing a cuts -&gt rear stutter, you'll be bringing your rear foot back backwards from the midstance of cuts. However, you won't be landing on it - instead, you kick/push right through what would have been you landing on your rear foot. Brush the ground ever so slightly to keep the motion smooth. There's no pausing as you kick bacwards. It's one single motion of kicking backwards and landing in the toe-heel stance of cuts.
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Cuts -&gt Rear Stutter
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/CutsRearKick/CutsRearKick1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsRearKick1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CutsRearKick/CutsRearKick2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsRearKick1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/CutsRearKick/CutsRearKick3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsRearKick2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CutsRearKick/CutsRearKick4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsRearKick2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/CutsRearKick/CutsRearKick5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsRearKick3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CutsRearKick/CutsRearKick6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsRearKick3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/CutsRearKick/CutsRearKick7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsRearKick4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CutsRearKick/CutsRearKick8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsRearKick4a').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- Walkthrough -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
    <header class="w3-container w3-center w3-green">
      <h5>WALKTHROUGH</h5>
    </header>
      <div>
        <ul class="w3-ul">
          <li>
            <span class="w3-tag w3-small w3-green">1</span> Start from toe-heel stance, left foot to front right on heel and right foot to back left on toe
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">2</span> Bring left foot back and flat at center of stance, right foot up and tucked next to shin
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">3</span> Push right foot backwards across to back left of stance, brushing ground with toe
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">4</span> Without pausing, continue brush of right foot upwards and then around to the right
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">5</span> As right foot comes to right, swing it down and around to front left of stance, landing on heel
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">6</span> As right foot is swinging around, left foot should be planted and pivoting on toe - end in toe-heel stance, left foot on toe
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ VSteppin ++++++++++++++++ -->
<button onclick="openAccordion('VSteppin')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  V-Steppin
</button>
<div id="VSteppin" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/5wFkMmifLkK0DoSoRP/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('VSteppinMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/1X7mEQCbqIH3ap5veI/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('VSteppinCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('VSteppinPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Lorem</button>
      <div id="VSteppinPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Lorem
        </p>
      </div>
      <button onclick="openAccordion('VSteppinPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Lorem</button>
      <div id="VSteppinPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Lorem
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Lorem
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/VSteppin/VSteppin1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('VSteppin1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/VSteppin/VSteppin2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('VSteppin1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/VSteppin/VSteppin3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('VSteppin2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/VSteppin/VSteppin4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('VSteppin2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/VSteppin/VSteppin5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('VSteppin3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/VSteppin/VSteppin6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('VSteppin3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/VSteppin/VSteppin7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('VSteppin4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/VSteppin/VSteppin8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('VSteppin4a').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- Walkthrough -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
    <header class="w3-container w3-center w3-green">
      <h5>WALKTHROUGH</h5>
    </header>
      <div>
        <ul class="w3-ul">
          <li>
            <span class="w3-tag w3-small w3-green">1</span>
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">2</span>
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">3</span>
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">4</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Yanked ++++++++++++++++ -->
<button onclick="openAccordion('Yanked')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Yanked
</button>
<div id="Yanked" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/3gYTno3GMwtcaoHCsI/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('YankedMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/47K1MFl9EwvMl9CKGG/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('YankedCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('YankedPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Lorem</button>
      <div id="YankedPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Lorem
        </p>
      </div>
      <button onclick="openAccordion('YankedPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Lorem</button>
      <div id="YankedPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Lorem
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Lorem
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/Yanked/Yanked1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Yanked1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Yanked/Yanked2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Yanked1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/Yanked/Yanked3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Yanked2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Yanked/Yanked4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Yanked2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/Yanked/Yanked5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Yanked3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Yanked/Yanked6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Yanked3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/Yanked/Yanked7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Yanked4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Yanked/Yanked8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Yanked4a').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- Walkthrough -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
    <header class="w3-container w3-center w3-green">
      <h5>WALKTHROUGH</h5>
    </header>
      <div>
        <ul class="w3-ul">
          <li>
            <span class="w3-tag w3-small w3-green">1</span>
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">2</span>
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">3</span>
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">4</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
