<!-- ++++++++++++++++ Drop Downs ++++++++++++++++ -->
<button onclick="openAccordion('DD')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block w3-left-alight">
  Drop Downs
</button>
<div id="DD" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/3o7WIxiWBfMt3jXfr2/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('DDMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/3o7WIGnLHCtz2dbmG4/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('DDCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>LEARNING TIMES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <strong>BASIC:</strong> 150 iterations
        </li>
        <li>
          <strong>FAMILIAR:</strong> 300 iterations
        </li>
        <li>
          <strong>FLUENT:</strong> 500 iterations
        </li>
      </ul>
      <h5>PREREQUISITES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Cuts</a>
        </li>
      </ul>
      <h5>CHAIN WITH</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Shimmy</a>
        </li>
        <li>
          <a class="w3-tag w3-red" style="text-decoration: none;" href="#">Drop Downs, Toe Stand</a>
        </li>
      </ul>
    </div>
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS & MISTAKES + FIXES</h5>
      <button onclick="openAccordion('DDPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Care For Your Knees</button>
      <div id="DDPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Your knees are important - you only get one pair! Be careful not to fall too suddenly into a full squat from standing up. This move is dope, but don't overuse it because of it's potential to put strain on your body.
        </p>
      </div>
      <button onclick="openAccordion('DDPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Springy Drops</button>
      <div id="DDPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          When you drop down, let yourself free fall for a brief period between when you drop and right before you're about to fall into the squat. As you're free falling, you'll tense up your muscles to soften the drop, which'll give an appearance of your drop being "springy."
        </p>
      </div>
      <button onclick="openAccordion('DDWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="DDWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          From any stance, hop into the starting stance - feet flat together. Let yourself free fall, as if your knees were completely giving in. Before you fall completely into your squat, tense your knees up a little to break the fall. Once you hit a full squat, immediately spring upwards and bounce into a toe heel stance. Position your hands accordingly for balance.
        </p>
      </div>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/DD/DD1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('DD1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/DD/DD2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('DD1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/DD/DD3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('DD2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/DD/DD4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('DD2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/DD/DD5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('DD3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/DD/DD2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('DD3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/DD/DD3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('DD4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/DD/DD4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('DD4a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Drop Toe Stands ++++++++++++++++ -->
<button onclick="openAccordion('DDToeStands')" class="w3-hover-opacity w3-hover-red w3-left-align w3-button w3-bar w3-xlarge w3-block w3-left-alight">
  Drop Downs, Toe Stand
</button>
<div id="DDToeStands" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/xThtap9IUoGwgXzQre/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('DDToeStandsMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/xThtacRLdg7QfsAXfO/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('DDToeStandsCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>LEARNING TIMES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <strong>BASIC:</strong> 150 iterations
        </li>
        <li>
          <strong>FAMILIAR:</strong> 300 iterations
        </li>
        <li>
          <strong>FLUENT:</strong> 500 iterations
        </li>
      </ul>
      <h5>PREREQUISITES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Cuts</a>
        </li>
      </ul>
      <h5>CHAIN WITH</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Shimmy</a>
        </li>
        <li>
          <a class="w3-tag w3-red" style="text-decoration: none;" href="#">Drop Downs, Toe Stand</a>
        </li>
      </ul>
    </div>
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS & MISTAKES + FIXES</h5>
      <button onclick="openAccordion('DDToeStandsPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Care For Your Knees</button>
      <div id="DDToeStandsPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Your knees are important - you only get one pair! Be careful not to fall too suddenly into a full squat from standing up. This move is dope, but don't overuse it because of it's potential to put strain on your body.
        </p>
      </div>
      <button onclick="openAccordion('DDToeStandsPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Springy Drops</button>
      <div id="DDToeStandsPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          When you drop down, let yourself free fall for a brief period between when you drop and right before you're about to fall into the squat. As you're free falling, you'll tense up your muscles to soften the drop, which'll give an appearance of your drop being "springy."
        </p>
      </div>
      <button onclick="openAccordion('DDToeStandsPit3')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Perfecting Toe Stands</button>
      <div id="DDToeStandsPit3" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Toe stands are hard - don't try to build muscle memory for them by practicing drop downs. Instead, perfect your toe stands seperately, but trying to balance on your toes for extended periods of time, using a wall for balance if necessary. Over time, your toes/feet will get stronger and you'll be able to apply toe stands to any shuffling move you want.
        </p>
      </div>
      <button onclick="openAccordion('DDToeStandsWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="DDToeStandsWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          From any stance, hop into the starting stance - feet flat together. Let yourself free fall, as if your knees were completely giving in. Before you fall completely into your squat, tense your knees up a little to break the fall. Once you hit a full squat, immediately spring upwards and bounce into a toe stand, knees bent slightly. Drop back down and repeat.
        </p>
      </div>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/DDToeStand/DDToeStand1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('DDToeStands1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/DDToeStand/DDToeStand2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('DDToeStands1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/DDToeStand/DDToeStand3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('DDToeStands2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/DDToeStand/DDToeStand2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('DDToeStands2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/DDToeStand/DDToeStand3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('DDToeStands3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/DDToeStand/DDToeStand2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('DDToeStands3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/DDToeStand/DDToeStand3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('DDToeStands4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/DDToeStand/DDToeStand2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('DDToeStands4a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Drop Kick Stands ++++++++++++++++ -->
<button onclick="openAccordion('DDKickStands')" class="w3-hover-opacity w3-hover-red w3-left-align w3-button w3-bar w3-xlarge w3-block w3-left-alight">
  Drop Downs, Kick Stand
</button>
<div id="DDKickStands" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/3o7WIs2nJg47wKDDVK/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('DDKickStandsMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/xUOwFY24cvqnEW1wWs/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('DDKickStandsCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>LEARNING TIMES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <strong>BASIC:</strong> 200 iterations
        </li>
        <li>
          <strong>FAMILIAR:</strong> 400 iterations
        </li>
        <li>
          <strong>FLUENT:</strong> 600 iterations
        </li>
      </ul>
      <h5>PREREQUISITES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-deep-purple" style="text-decoration: none;" href="#">Drop Down, Corkscrew</a>
        </li>
        <li>
          <a class="w3-tag w3-amber w3-text-white" style="text-decoration: none;" href="#">Spin, 360</a>
        </li>
      </ul>
      <h5>CHAIN WITH</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-deep-purple" style="text-decoration: none;" href="#">Spin, Kick</a>
        </li>
        <li>
          <a class="w3-tag w3-red" style="text-decoration: none;" href="#">Spin, Inside Foot</a>
        </li>
      </ul>
    </div>
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS & MISTAKES + FIXES</h5>
      <button onclick="openAccordion('DDKickStandsPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Stretches</button>
      <div id="DDKickStandsPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          To be able to kick out straight from the low of a stance, you have to be flexible. This is one of those moves where you have to put in the exercises outside of practicing the actual count. Do the type of stretches that help you reach your toes.
        </p>
      </div>
      <button onclick="openAccordion('DDKickStandsPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Straight Kicks</button>
      <div id="DDKickStandsPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          When you kick outward, do your best to extend your leg as straight as possible. The striaghter the kick, the cleaner the move looks.
        </p>
      </div>
      <button onclick="openAccordion('DDKickStandsWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="DDKickStandsWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          From any stance, hop into the starting stance - feet flat together. Let yourself free fall, as if your knees were completely giving in. Before you fall completely into your squat, tense your knees up a little to break the fall, reach down to your side and lean into the kickstand stance. Kick out first with the foot corresponding to your plant hand, then kick out with the other foot. After kicking out with your second foot, bring said foot across, as if into a criss cross stance. Push off with your plant hand and opposite foot to spin yourself around. As you push off the ground, slowly come back up into a standing stance.
        </p>
      </div>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/DDKickstand/DDKickstand1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('DDKickStands1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/DDKickstand/DDKickstand2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('DDKickStands1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/DDKickstand/DDKickstand3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('DDKickStands2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/DDKickstand/DDKickstand4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('DDKickStands2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/DDKickstand/DDKickstand5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('DDKickStands3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/DDKickstand/DDKickstand6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('DDKickStands3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/DDKickstand/DDKickstand7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('DDKickStands4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/DDKickstand/DDKickstand8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('DDKickStands4a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Drop Corkscrew ++++++++++++++++ -->
<button onclick="openAccordion('DDCorkscrew')" class="w3-hover-opacity w3-hover-deep-purple w3-left-align w3-button w3-bar w3-xlarge w3-block w3-left-alight">
  Drop Downs, Corkscrew
</button>
<div id="DDCorkscrew" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/3ohs4uSYqPwP0H9Bdu/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('DDCorkscrewMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/26DN3s3SMNx6YvAQg/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('DDCorkscrewCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>LEARNING TIMES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <strong>BASIC:</strong> 300 iterations
        </li>
        <li>
          <strong>FAMILIAR:</strong> 600 iterations
        </li>
        <li>
          <strong>FLUENT:</strong> 800 iterations
        </li>
      </ul>
      <h5>PREREQUISITES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-amber w3-text-white" style="text-decoration: none;" href="#">Spin, 360</a>
        </li>
        <li>
          <a class="w3-tag w3-amber w3-text-white" style="text-decoration: none;" href="#">Drop Downs</a>
        </li>
      </ul>
      <h5>CHAIN WITH</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-red" style="text-decoration: none;" href="#">Spin, Inside Foot</a>
        </li>
        <li>
          <a class="w3-tag w3-red" style="text-decoration: none;" href="#">Spin, Backwards 180s</a>
        </li>
      </ul>
    </div>
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS & MISTAKES + FIXES</h5>
      <button onclick="openAccordion('DDCorkscrewPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Balance with Arms</button>
      <div id="DDCorkscrewPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Spread your arms outward as your spin to balance yourself out. Like one of those giant sticks a tight-rop walker holds to balance out, your arms serve as counter-balances to stabilize your body as it rotates. As you get better at spinning, your arms will just follow the motion of your body as your internal balance stregnthens.
        </p>
      </div>
      <button onclick="openAccordion('DDCorkscrewWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="DDCorkscrewWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          From any stance, hop into the starting stance - feet flat together. Let yourself free fall, as if your knees were completely giving in. Before you fall completely into your squat, tense your knees up a little to break the fall. As you fall, turn to your side about 90 degrees and fall into a toe-heel stance. Rotate your hips and push off with your outside foot. As you push off the ground, slowly come back up into a standing stance.
        </p>
      </div>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/DDCorkscrew/DDCorkscrew1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('DDCorkscrew1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/DDCorkscrew/DDCorkscrew2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('DDCorkscrew1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/DDCorkscrew/DDCorkscrew3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('DDCorkscrew2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/DDCorkscrew/DDCorkscrew4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('DDCorkscrew2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/DDCorkscrew/DDCorkscrew5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('DDCorkscrew3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/DDCorkscrew/DDCorkscrew6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('DDCorkscrew3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/DDCorkscrew/DDCorkscrew7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('DDCorkscrew4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/DDCorkscrew/DDCorkscrew8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('DDCorkscrew4a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
