<!-- ++++++++++++++++ Corkscrew ++++++++++++++++ -->
<button onclick="openAccordion('Corkscrew')" class="w3-hover-opacity w3-hover-deep-purple w3-left-align w3-button w3-bar w3-xlarge w3-block w3-left-alight">
  Corkscrew
</button>
<div id="Corkscrew" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/23hPVLp6HZlzHXZSiN/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CorkscrewMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/26DN3s3SMNx6YvAQg/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CorkscrewCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('CorkscrewPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Balance with Arms</button>
      <div id="CorkscrewPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Spread your arms outward as your spin to balance yourself out. Like one of those giant sticks a tight-rop walker holds to balance out, your arms serve as counter-balances to stabilize your body as it rotates. As you get better at spinning, your arms will just follow the motion of your body as your internal balance stregnthens.
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Spin, 360
        </li>
        <li>
          Drop Downs
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/Corkscrew/Corkscrew1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Corkscrew1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Corkscrew/Corkscrew2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Corkscrew1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/Corkscrew/Corkscrew3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Corkscrew2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Corkscrew/Corkscrew4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Corkscrew2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/Corkscrew/Corkscrew5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Corkscrew3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Corkscrew/Corkscrew6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Corkscrew3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/Corkscrew/Corkscrew7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Corkscrew4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Corkscrew/Corkscrew8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Corkscrew4a').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- Walkthrough -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
    <header class="w3-container w3-center w3-green">
      <h5>WALKTHROUGH</h5>
    </header>
      <div>
        <ul class="w3-ul">
          <li>
            <span class="w3-tag w3-small w3-green">1</span> From any stance, hop into the starting stance - feet flat together
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">2</span> Let yourself free fall, as if your knees were completely giving in
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">3</span> As you fall to the ground, place your left foot slightly right of right foot
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">4</span> Twist your hips and push off the ground, in a corkswcrew motion
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Drop Downs ++++++++++++++++ -->
<button onclick="openAccordion('DD')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block w3-left-alight">
  Drop Downs
</button>
<div id="DD" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/3o7WIxiWBfMt3jXfr2/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('DDMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/3o7WIGnLHCtz2dbmG4/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('DDCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('DDPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Care For Your Knees</button>
      <div id="DDPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Your knees are important - you only get one pair! Be careful not to fall too suddenly into a full squat from standing up. This move is dope, but don't overuse it because of it's potential to put strain on your body.
        </p>
      </div>
      <button onclick="openAccordion('DDPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Springy Drops</button>
      <div id="DDPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          When you drop down, let yourself free fall for a brief period between when you drop and right before you're about to fall into the squat. As you're free falling, you'll tense up your muscles to soften the drop, which'll give an appearance of your drop being "springy."
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Cuts
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/DD/DD1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('DD1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/DD/DD2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('DD1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/DD/DD3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('DD2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/DD/DD4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('DD2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/DD/DD5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('DD3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/DD/DD2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('DD3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/DD/DD3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('DD4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/DD/DD4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('DD4a').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- Walkthrough -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
    <header class="w3-container w3-center w3-green">
      <h5>WALKTHROUGH</h5>
    </header>
      <div>
        <ul class="w3-ul">
          <li>
            <span class="w3-tag w3-small w3-green">1</span> From any stance, hop into the starting stance - feet flat together
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">2</span> Let yourself free fall, as if your knees were completely giving in
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">3</span> Before you fall completely into your squat, tense your knees up a little to break the fall
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">4</span> Once you hit a full squat, immediately spring upwards and bounce into a toe heel stance
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">5</span> Position your hands accordingly for balance.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
