<!-- ++++++++++++++++ Fly Feet ++++++++++++++++ -->
<button onclick="openAccordion('Leaner')" class="w3-hover-opacity w3-hover-green w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Fly Feet
</button>
<div id="Leaner" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/3aXfINwcEbMfe9STbU/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('FlyFeetMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/xUOwGd3RRoqmXXwE6s/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('FlyFeetCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('FlyFeetPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Low Center of Gravity</button>
      <div id="FlyFeetPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Minimize the bounce in your step and the length of your gait to hug the ground as close as possible. The longer you are in the air, the slower your overall motion. Shortening your gait makes the move look snappy and crisp by minimizing the variation in each stride. The rotation of your move foot is especially key in achieving this.
        </p>
      </div>
      <button onclick="openAccordion('FlyFeetPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Straight Leg, Bent Leg</button>
      <div id="FlyFeetPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Do your best to keep your non-pivot foot straight as you go through the motions. Keep your plant leg should be straight as your non-pivot foot moves behind you, but should jut/bend away from the direction you are leaning as you get to the front of the stance.
        </p>
      </div>
      <button onclick="openAccordion('FlyFeetPit3')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Arms for Balance</button>
      <div id="FlyFeetPit3" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          As if to make the "C" gesture in the YMCA dance, extend your arms out (with your right arm higher if you were doing a left FlyFeet, and vice versa) and let them naturally adjust as you perform the move to balance your body.
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Cuts
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/FlyFeet/FlyFeet1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('FlyFeet1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/FlyFeet/FlyFeet2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('FlyFeet1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/FlyFeet/FlyFeet3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('FlyFeet2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/FlyFeet/FlyFeet4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('FlyFeet2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/FlyFeet/FlyFeet5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('FlyFeet3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/FlyFeet/FlyFeet6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('FlyFeet3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/FlyFeet/FlyFeet7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('FlyFeet4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/FlyFeet/FlyFeet8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('FlyFeet4a').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- Walkthrough -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
    <header class="w3-container w3-center w3-green">
      <h5>WALKTHROUGH</h5>
    </header>
      <div>
        <ul class="w3-ul">
          <li>
            <span class="w3-tag w3-small w3-green">1</span> Start in toe-heel stance, right foot at front-left on heel and left foot to back-right on toe, leaning slightly to right
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">2</span> Step forward with right foot to middle of stance, leaning slightly to right, feet side by side
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">3</span> Step with left foot flat to right-front of stance, leaning on foot so that right foot leaves ground
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">4</span> Fall backwards back onto right foot, while bringing left foot to left of stance - all while leaning slightly right
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">5</span> Lean back and land of left foot at far back of stance, right foot coming up in air slightly
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">6</span> Lean forward and fall on right foot again, left foot coming up and around to front of stance
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">7</span> Keep repeating
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Fly Feet (Reverse) ++++++++++++++++ -->
<button onclick="openAccordion('FlyFeetReverse')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Fly Feet (Reverse)
</button>
<div id="FlyFeetReverse" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/wKKmLbuhccHkFabm8T/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('FlyFeetReverseMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/k575vgDE6I88Fa4NfM/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('FlyFeetReverseCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('FlyFeetReversePit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Lorem</button>
      <div id="FlyFeetReversePit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Lorem
        </p>
      </div>
      <button onclick="openAccordion('FlyFeetReversePit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Lorem</button>
      <div id="FlyFeetReversePit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Lorem
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Lorem
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/FlyFeetReverse/FlyFeetReverse1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('FlyFeetReverse1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/FlyFeetReverse/FlyFeetReverse2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('FlyFeetReverse1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/FlyFeetReverse/FlyFeetReverse3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('FlyFeetReverse2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/FlyFeetReverse/FlyFeetReverse4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('FlyFeetReverse2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/FlyFeetReverse/FlyFeetReverse5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('FlyFeetReverse3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/FlyFeetReverse/FlyFeetReverse6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('FlyFeetReverse3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/FlyFeetReverse/FlyFeetReverse7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('FlyFeetReverse4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/FlyFeetReverse/FlyFeetReverse8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('FlyFeetReverse4a').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- Walkthrough -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
    <header class="w3-container w3-center w3-green">
      <h5>WALKTHROUGH</h5>
    </header>
      <div>
        <ul class="w3-ul">
          <li>
            <span class="w3-tag w3-small w3-green">1</span>
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">2</span>
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">3</span>
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">4</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Karaoke ++++++++++++++++ -->
<button onclick="openAccordion('Karaoke')" class="w3-hover-opacity w3-hover-green w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Karaoke
</button>
<div id="Karaoke" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/mMDBo5bcCpgQ1iYzj6/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('KaraokeMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/1ioiU1yxEp8LwaSpWO/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('KaraokeCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('KaraokePit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Lean Less</button>
      <div id="KaraokePit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Since you're switching so often, it'd be helpful to lean a little less aggressively with each side. You can sacrifice that aspect for the ability to switch off left and right. This move also serves good for walking forward in beat, without slowing down to the beat of the song.
        </p>
      </div>
      <button onclick="openAccordion('KaraokePit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align "></button>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Leaners
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/Karaoke/Karaoke1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Karaoke1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Karaoke/Karaoke2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Karaoke1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/Karaoke/Karaoke4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Karaoke2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/Karaoke/Karaoke5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Karaoke3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Karaoke/Karaoke6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Karaoke3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/Karaoke/Karaoke8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Karaoke4').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- Walkthrough -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
    <header class="w3-container w3-center w3-green">
      <h5>WALKTHROUGH</h5>
    </header>
      <div>
        <ul class="w3-ul">
          <li>
            <span class="w3-tag w3-green">1</span> Perform a normal leaner with your left leg as your plant leg. As your right leg lands in front of your left leg, step back into the stance, with your right leg up and next to your left shin.
          </li>
          <li>
            <span class="w3-tag w3-green">2</span> Now, instead of bringing your outside leg behind your pivot leg, step and land to your right. As your right leg lands, it is now your plant foot.
          </li>
          <li>
            <span class="w3-tag w3-green">3</span> Step your left leg over and behind your right leg, leaning your body over to your right.
          </li>
          <li>
            <span class="w3-tag w3-green">4</span> Bring your left foot forward and over your right leg in the appropriate execution of a leaner.
          </li>
          <li>
            <span class="w3-tag w3-green">5</span> Perform normal leaners and just switch off as detailed in step one.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Whacky ++++++++++++++++ -->
<button onclick="openAccordion('Whacky')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Whacky
</button>
<div id="Whacky" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/8mBRcYSKZ5LwNNMYyK/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('WhackyMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/26DNhPNKMCVoU8LrW/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('WhackyCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('WhackyPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Low Center of Gravity</button>
      <div id="WhackyPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Minimize the bounce in your step and the length of your gait to hug the ground as close as possible. The longer you are in the air, the slower your overall motion. Shortening your gait makes the move look snappy and crisp by minimizing the variation in each stride. The rotation of your move foot is especially key in achieving this. The more your legs travel each move (especially as you bring your front leg across your body, hovering), the more effort you will have to put into keeping balance, which slows down your motion and introduces variation in how each iteration of the move looks (a bad thing, you want uniformity).
        </p>
      </div>
      <button onclick="openAccordion('WhackyPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Straight Leg, Bent Leg</button>
      <div id="WhackyPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Do your best to keep your non-pivot foot straight as you go through the motions. Keep your plant leg should be straight as your non-pivot foot moves behind you.
        </p>
      </div>
      <button onclick="openAccordion('WhackyWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="WhackyWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          Practically same motion as normal leaners, but as outside leg traverses your body and comes across the front, it makes a fake out motion instead of landing flat on the ground. Then it goes back to behind you and you repeat the motion.
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Leaners
        </li>
        <li>
          Cuts
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/Whacky/Whacky1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Whacky1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Whacky/Whacky2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Whacky1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/Whacky/Whacky3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Whacky2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Whacky/Whacky4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Whacky2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/Whacky/Whacky5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Whacky3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Whacky/Whacky6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Whacky3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/Whacky/Whacky7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Whacky4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Whacky/Whacky8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Whacky4a').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- Walkthrough -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
    <header class="w3-container w3-center w3-green">
      <h5>WALKTHROUGH</h5>
    </header>
      <div>
        <ul class="w3-ul">
          <li>
            <span class="w3-tag w3-small w3-green">1</span> Start in toe-heel stance, right foot at front-left on heel and left foot to back-right on toe, leaning slightly to right
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">2</span> Step forward with right foot to middle of stance, leaning slightly to right, feet side by side
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">3</span> Bring left foot to front right of stance but hovering off ground - balance on right leg by leaning slight back
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">4</span> Bring left foot back to middle-left of stance
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">5</span> Bring left foot to far back of stance and land flat, bringing right foot up off ground as you land
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">5</span> Repeat
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
