<!-- ++++++++++++++++ Shake Outs ++++++++++++++++ -->
<button onclick="openAccordion('ShakeOuts')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Shake Outs
</button>
<div id="ShakeOuts" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/1lCGJ1CmOESdPDurhv/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ShakeOutsMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/XKj05esoPmP6pYjgCb/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ShakeOutsCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('ShakeOutsPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Sloucher</button>
      <div id="ShakeOutsPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Try to keep your back as staight and up as possible. The twisting motion of your hips might make you slouch and flop your arms around, and this looks goofy. Try to keep your body erect and your arms steady, close to your sides, bringing them up just a little for balance when needed.
        </p>
      </div>
      <button onclick="openAccordion('ShakeOutsPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Jerk</button>
      <div id="ShakeOutsPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          With each kick out, relax your muscles and let your leg jerk outward. This snappiness accentuates the move, as your leg snaps out with each hit of the beat (in whatever song you're dancing to).
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Toe Divots
        </li>
        <li>
          RM -&gt Rear LoopDeLoop
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/ShakeOuts/ShakeOuts1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ShakeOuts1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ShakeOuts/ShakeOuts2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ShakeOuts1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/ShakeOuts/ShakeOuts3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ShakeOuts2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ShakeOuts/ShakeOuts4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ShakeOuts2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/ShakeOuts/ShakeOuts5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ShakeOuts3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ShakeOuts/ShakeOuts6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ShakeOuts3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/ShakeOuts/ShakeOuts7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ShakeOuts4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ShakeOuts/ShakeOuts8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ShakeOuts4a').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- Walkthrough -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
    <header class="w3-container w3-center w3-green">
      <h5>WALKTHROUGH</h5>
    </header>
      <div>
        <ul class="w3-ul">
          <li>
            <span class="w3-tag w3-green">1</span> From the toe divot stance (right leg back and slightly on ball of foot, left foot forward and on toe, both toes pointing right), bring your left foot very slightly to your right.
          </li>
          <li>
            <span class="w3-tag w3-green">2</span> Without your left leg going further than a foot away from the center of your stance, bring your left foot back towards the left, leading with your toe (imagine an eel slithering thru the water, turning left - your toe is it's head).
          </li>
          <li>
            <span class="w3-tag w3-green">3</span> Bring your foot all the way to the farthest left of your stance you can, in one snappy kicking motion.
          </li>
          <li>
            <span class="w3-tag w3-green">4</span> Without stopping, continue out of the snap and bring your foot back in towards your stance and across to your right.
          </li>
          <li>
            <span class="w3-tag w3-green">5</span> Now, kicking out to the farthest right of your stance you can, repeat the kicking motion.
          </li>
          <li>
            <span class="w3-tag w3-green">6</span> Repeat kicks however many times you want, snapping each time as your foot reaches the furthest out it can go to your sides.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
  <img class="w3-bottombar w3-border-amber" src="https://media.giphy.com/media/1lCGJ1CmOESdPDurhv/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ShakeOutsMoveModal').style.display='block'"/>
</div>
<div id="ShakeOutsMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/1lCGJ1CmOESdPDurhv/giphy.gif" style="width:100%">
  </div>
</div>
<div id="ShakeOutsCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/XKj05esoPmP6pYjgCb/giphy.gif" style="width:100%">
  </div>
</div>

<!-- ++++++++++++++++ Toe Divots ++++++++++++++++ -->
<button onclick="openAccordion('ToeDivots')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Toe Divots
</button>
<div id="ToeDivots" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/dYGed9tzLzYvVkX20w/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ToeDivotsMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/2lZMtmiUKDD8fVINn6/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ToeDivotsCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('ToeDivotsPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Still Head, Still Hips</button>
      <div id="ToeDivotsPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          As you rapidly twist your foot, your whole body will want to jostle around - try your best to keep the rest of your body still as you do the divot - only having the heel move and the rest of your body still/stiff is what makes the move look interesting. Your head will want to flop left and right, and your hips will want to twist as well - fight those urges.
        </p>
      </div>
      <button onclick="openAccordion('ToeDivotsPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Floppy Arms</button>
      <div id="ToeDivotsPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Hand in hand will keeping your head and hips still, your arms will want to flop around as you do the motion. Try your best to keep your hands still, as otherwise they flop around and give the impression you're having a seizure (at least that's what I looked like). Try keeping them pinned to your side.
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Cuts
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/ToeDivots/ToeDivots1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ToeDivots1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ToeDivots/ToeDivots2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ToeDivots1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/ToeDivots/ToeDivots3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ToeDivots2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ToeDivots/ToeDivots4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ToeDivots2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/ToeDivots/ToeDivots5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ToeDivots3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ToeDivots/ToeDivots6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ToeDivots3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/ToeDivots/ToeDivots7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ToeDivots4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ToeDivots/ToeDivots8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ToeDivots4a').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- Walkthrough -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
    <header class="w3-container w3-center w3-green">
      <h5>WALKTHROUGH</h5>
    </header>
      <div>
        <ul class="w3-ul">
          <li>
            <span class="w3-tag w3-small w3-green">1</span> Start in toe-heel stance, left foot forward-right on heel and right foot back-left on toe
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">2</span> Bring your left foot to back-center of stance on toe, right foot on toe in front center of stance
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">3</span> With each half beat, twist your right foot 180 degrees so that the heel alternates from pointing right/outward and left (inward)
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">4</span> Left foot should very subtlely twist back and forth in tandem but opposite of right foot
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
  <img class="w3-bottombar w3-border-amber" src="https://media.giphy.com/media/dYGed9tzLzYvVkX20w/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ToeDivotsMoveModal').style.display='block'"/>
</div>
<div id="ToeDivotsMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/dYGed9tzLzYvVkX20w/giphy.gif" style="width:100%">
  </div>
</div>
<div id="ToeDivotsCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/2lZMtmiUKDD8fVINn6/giphy.gif" style="width:100%">
  </div>
</div>

<!-- ++++++++++++++++ Toe Heel Bounce ++++++++++++++++ -->
<button onclick="openAccordion('CutsToeHeelBounce')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Toe Heel Bounce
</button>
<div id="CutsToeHeelBounce" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/3ohs4ssTjK2PMbCNB6/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CutsToeHeelBounceMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-opacity w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/3ohs4cz57XF5xOxQ1W/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CutsToeHeelBounceCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('CutsToeHeelBouncePit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Floppy Form</button>
      <div id="CutsToeHeelBouncePit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Keep your entire body - neck, head, legs - as stiff and straight as possible during the bounce. Otherwise your body will flop around during the bounce, which looks sloppy.
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Cuts
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/CutsToeHeelBounce/CutsToeHeelBounce1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsToeHeelBounce1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CutsToeHeelBounce/CutsToeHeelBounce2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsToeHeelBounce1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/CutsToeHeelBounce/CutsToeHeelBounce3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsToeHeelBounce2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CutsToeHeelBounce/CutsToeHeelBounce4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsToeHeelBounce2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/CutsToeHeelBounce/CutsToeHeelBounce5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsToeHeelBounce3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CutsToeHeelBounce/CutsToeHeelBounce6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsToeHeelBounce3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/CutsToeHeelBounce/CutsToeHeelBounce7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsToeHeelBounce4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CutsToeHeelBounce/CutsToeHeelBounce8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsToeHeelBounce4a').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- Walkthrough -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
    <header class="w3-container w3-center w3-green">
      <h5>WALKTHROUGH</h5>
    </header>
      <div>
        <ul class="w3-ul">
          <li>
            <span class="w3-tag w3-small w3-green">1</span> Land in toe-heel stance of cuts (left foot forward right, right foot at back left)
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">2</span> Without toe or heel leaving ground, pivot 45 degrees counterclockwise
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">3</span> Without pausing, reverse the pivot back to original toe-heel stance
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">4</span> Get creative by repeating the pivot before going back into normal cuts
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
  <img class="w3-bottombar w3-border-amber" src="https://media.giphy.com/media/3ohs4ssTjK2PMbCNB6/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CutsToeHeelBounceMoveModal').style.display='block'"/>
</div>
<div id="CutsToeHeelBounceMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/3ohs4ssTjK2PMbCNB6/giphy.gif" style="width:100%">
  </div>
</div>
<div id="CutsToeHeelBounceCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/3ohs4cz57XF5xOxQ1W/giphy.gif" style="width:100%">
  </div>
</div>

<!-- ++++++++++++++++ Heel Outs ++++++++++++++++ -->
<button onclick="openAccordion('ATPCheckMyKicks')" class="w3-hover-opacity w3-hover-green w3-left-align w3-button w3-bar w3-xlarge w3-block w3-left-alight">
  Heel Outs
</button>
<div id="ATPCheckMyKicks" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/ki1F171Uw0IScw7H1q/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ATPCheckMyKicksMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/d3YH1kSnUXVMJHtm/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ATPCheckMyKicksCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('ATPCheckMyKicksPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Stiff Hips</button>
      <div id="ATPCheckMyKicksPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Make sure you push your hips in a twisting motion to reallya accentuate each jutting out of your feet. Notice how my feet each rotate nearly 90 degrees, pivoting around my toe, leading with my heel.
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          N/A
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/ATPCheckMyKicks/ATPCheckMyKicks1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATPCheckMyKicks1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ATPCheckMyKicks/ATPCheckMyKicks2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATPCheckMyKicks1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/ATPCheckMyKicks/ATPCheckMyKicks3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATPCheckMyKicks2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ATPCheckMyKicks/ATPCheckMyKicks4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATPCheckMyKicks2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/ATPCheckMyKicks/ATPCheckMyKicks5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATPCheckMyKicks3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ATPCheckMyKicks/ATPCheckMyKicks6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATPCheckMyKicks3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/ATPCheckMyKicks/ATPCheckMyKicks7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATPCheckMyKicks4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ATPCheckMyKicks/ATPCheckMyKicks8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATPCheckMyKicks4a').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- Walkthrough -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
    <header class="w3-container w3-center w3-green">
      <h5>WALKTHROUGH</h5>
    </header>
      <div>
        <ul class="w3-ul">
          <li>
            <span class="w3-tag w3-small w3-green">1</span> Feet start close together, leaning forward on balls of feet
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">2</span> Leading with right foot, rotate hips clockwise and pivot onto right toe, leading outwards with heel
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">3</span> Bring right heel back in while bringing out left foot on toe, leading w heel as well
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">4</span> Repeat back and forth
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="w3-col s3 l2  w3-hide-small w3-hide-medium w3-margin-bottom w3-hover-opacity">
  <img class="w3-bottombar w3-border-amber" src="https://media.giphy.com/media/ki1F171Uw0IScw7H1q/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ATPCheckMyKicksMoveModal').style.display='block'"/>
</div>
<div id="ATPCheckMyKicksMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/ki1F171Uw0IScw7H1q/giphy.gif" style="width:100%">
  </div>
</div>
<div id="ATPCheckMyKicksCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/d3YH1kSnUXVMJHtm/giphy.gif" style="width:100%">
  </div>
</div>



<!-- ++++++++++++++++ Genericcc ++++++++++++++++ -->
<button onclick="openAccordion('Genericcc')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Genericcc
</button>
<div id="Genericcc" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="#" style="width: 100%; cursor:pointer" onclick="document.getElementById('GenericccMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="#" style="width: 100%; cursor:pointer" onclick="document.getElementById('GenericccCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('GenericccPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Lorem</button>
      <div id="GenericccPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Lorem
        </p>
      </div>
      <button onclick="openAccordion('GenericccPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Lorem</button>
      <div id="GenericccPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Lorem
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Lorem
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/Genericcc/Genericcc1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Genericcc1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Genericcc/Genericcc2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Genericcc1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/Genericcc/Genericcc3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Genericcc2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Genericcc/Genericcc4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Genericcc2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/Genericcc/Genericcc5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Genericcc3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Genericcc/Genericcc6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Genericcc3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/Genericcc/Genericcc7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Genericcc4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Genericcc/Genericcc8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Genericcc4a').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- Walkthrough -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
    <header class="w3-container w3-center w3-green">
      <h5>WALKTHROUGH</h5>
    </header>
      <div>
        <ul class="w3-ul">
          <li>
            <span class="w3-tag w3-small w3-green">1</span>
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">2</span>
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">3</span>
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">4</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
