<div class="w3-center w3-container w3-hide-small w3-padding-large">
  <span class="w3-tag w3-xxlarge w3-card-2 w3-amber w3-text-white">G</span>
  <span class="w3-tag w3-xxlarge w3-card-2 w3-amber w3-text-white">U</span>
  <span class="w3-tag w3-xxlarge w3-card-2 w3-amber w3-text-white">H</span>
  <span class="w3-tag w3-xxlarge w3-card-2 w3-amber w3-text-white">L</span>
  <span class="w3-tag w3-xxlarge w3-card-2">L</span>
  <span class="w3-tag w3-xxlarge w3-card-2">I</span>
  <span class="w3-tag w3-xxlarge w3-card-2">A</span>
  <span class="w3-tag w3-xxlarge w3-card-2">R</span>
  <span class="w3-tag w3-xxlarge w3-card-2">D</span>
</div>
<div class="w3-center w3-container w3-hide-large w3-hide-medium w3-padding-large">
  <span class="w3-tag w3-large w3-card-2 w3-amber w3-text-white">G</span>
  <span class="w3-tag w3-large w3-card-2 w3-amber w3-text-white">U</span>
  <span class="w3-tag w3-large w3-card-2 w3-amber w3-text-white">H</span>
  <span class="w3-tag w3-large w3-card-2 w3-amber w3-text-white">L</span>
  <span class="w3-tag w3-large w3-card-2">L</span>
  <span class="w3-tag w3-large w3-card-2">I</span>
  <span class="w3-tag w3-large w3-card-2">A</span>
  <span class="w3-tag w3-large w3-card-2">R</span>
  <span class="w3-tag w3-large w3-card-2">D</span>
</div>

<nav id="navbar">
  <div id="navbarLarge" class="w3-bar w3-card w3-amber w3-text-white w3-large" style="overflow: hidden">
    <a class="w3-bar-item w3-button w3-hide-large w3-hover-black w3-right" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/" class="w3-bar-item w3-button w3-hover-black"><i class="fa fa-home"></i> HOME</a>
    <a href="/tips" class="w3-bar-item w3-button w3-hide-medium w3-hide-small w3-hover-black"><i class="fa fa-key"></i> TIPS</a>
    <a href="/collage" class="w3-bar-item w3-button w3-hide-medium w3-hide-small w3-hover-black"><i class="fa fa-cubes"></i> COLLAGE</a>
    <div class="w3-dropdown-hover">
      <button class="w3-button w3-hide-medium w3-hide-small w3-hover-black"><i class="fa fa-cube"></i> ALMANACS</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="/shufflealmanac" class="w3-black w3-hover-red w3-bar-item w3-button w3-hide-medium w3-hide-small"><i class="fa fa-heartbeat"></i> SHUFFLE</a>
        <a href="/shapesalmanac" class="w3-black w3-hover-amber w3-hover-text-white w3-bar-item w3-button w3-hide-medium w3-hide-small"><i class="fa fa-cut"></i> SHAPES</a>
        <a href="/hiphopalmanac" class="w3-black w3-hover-green w3-bar-item w3-button w3-hide-medium w3-hide-small"><i class="fa fa-bomb"></i> HIPHOP</a>
        <a href="/glovingalmanac" class="w3-black w3-hover-blue w3-bar-item w3-button w3-hide-medium w3-hide-small"><i class="fa fa-american-sign-language-interpreting"></i> GLOVING</a>
      </div>
    </div>
    <%# <a href="/advanced" class="w3-bar-item w3-button w3-hide-medium w3-hide-small w3-hover-black"><i class="fa fa-graduation-cap"></i> ADVANCED</a> %>
    <a href="/about" class="w3-bar-item w3-button w3-hide-medium w3-hide-small w3-hover-black w3-right"><i class="fa fa-smile-o"></i> ABOUT</a>
    <%# <a href="/rewind" class="w3-bar-item w3-button w3-hide-medium w3-hide-small w3-hover-black w3-right"><i class="fa fa-backward"></i> REWIND</a> %>
    <a href="/exposition" class="w3-bar-item w3-button w3-hide-medium w3-hide-small w3-hover-black w3-right"><i class="fa fa-camera-retro"></i> EXPOSITION</a>
  </div>
  <div id="navbarSmall" class="w3-bar-block w3-card w3-amber w3-text-white w3-hide w3-hide-large w3-large" style="overflow: hidden">
    <a href="/tips" class="w3-bar-item w3-button w3-hide-medium w3-hide-small w3-hover-black"><i class="fa fa-key"></i> TIPS</a>
    <a href="/collage" class="w3-bar-item w3-hover-black w3-button"><i class="fa fa-cubes"></i> COLLAGE</a>
    <a href="/shufflealmanac" class="w3-bar-item w3-hover-red w3-button"><i class="fa fa-heartbeat"></i> SHUFFLE</a>
    <a href="/shapesalmanac" class="w3-bar-item w3-hover-black w3-button"><i class="fa fa-cut"></i> SHAPES</a>
    <a href="/hiphopalmanac" class="w3-bar-item w3-hover-green w3-button"><i class="fa fa-bomb"></i> HIP HOP</a>
    <a href="/glovingalmanac" class="w3-bar-item w3-hover-blue w3-button"><i class="fa fa-american-sign-language-interpreting"></i> GLOVING</a>
    <%# <a href="/advanced" class="w3-bar-item w3-hover-black w3-button"><i class="fa fa-graduation-cap"></i> ADVANCED</a> %>
    <a href="/exposition" class="w3-bar-item w3-hover-black w3-button"><i class="fa fa-camera-retro"></i> EXPOSITION</a>
    <%# <a href="/rewind" class="w3-bar-item w3-hover-black w3-button"><i class="fa fa-backward"></i> REWIND</a> %>
    <a href="/about" class="w3-bar-item w3-hover-black w3-button"><i class="fa fa-smile-o"></i> ABOUT</a>
  </div>
</nav>
