<!-- ++++++++++++++++ Toe Divots ++++++++++++++++ -->
<button onclick="openAccordion('ToeDivots')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Toe Divots
</button>
<div id="ToeDivots" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-panel w3-yellow w3-display-container">
    <span onclick="this.parentElement.style.display='none'" class="w3-button w3-small w3-yellow w3-large w3-display-topright">&times;</span>
    <p>Count Media coming March 16th!</p>
  </div>
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/dYGed9tzLzYvVkX20w/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ToeDivotsMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/2lZMtmiUKDD8fVINn6/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ToeDivotsCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS</h5>
      <button onclick="openAccordion('ToeDivotsPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Still Head, Still Hips</button>
      <div id="ToeDivotsPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          As you rapidly twist your foot, your whole body will want to jostle around - try your best to keep the rest of your body still as you do the divot - only having the heel move and the rest of your body still/stiff is what makes the move look interesting. Your head will want to flop left and right, and your hips will want to twist as well - fight those urges.
        </p>
      </div>
      <button onclick="openAccordion('ToeDivotsPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Floppy Arms</button>
      <div id="ToeDivotsPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Hand in hand will keeping your head and hips still, your arms will want to flop around as you do the motion. Try your best to keep your hands still, as otherwise they flop around and give the impression you're having a seizure (at least that's what I looked like). Try keeping them pinned to your side.
        </p>
      </div>
      <button onclick="openAccordion('ToeDivotsWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="ToeDivotsWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          From the toe heel stance of cuts (with toes pointing to either your right or left), change your front foot from being on its heel to standing on its toe. Both toes should be pointing in the same direction still. Now, with each half beat, alternate the front foot between its heel pointing to the left and to the right. The toe should stay put in the same place, planted in the ground. Think as if you are putting out a cigarette on the ground.
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>PREREQUISITES</h5>
      <ul>
        <li>
          Cuts
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/ToeDivots/ToeDivots1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ToeDivots1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ToeDivots/ToeDivots2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ToeDivots1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/ToeDivots/ToeDivots3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ToeDivots2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ToeDivots/ToeDivots4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ToeDivots2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/ToeDivots/ToeDivots5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ToeDivots3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ToeDivots/ToeDivots6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ToeDivots3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/ToeDivots/ToeDivots7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ToeDivots4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ToeDivots/ToeDivots8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ToeDivots4a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Shake Outs ++++++++++++++++ -->
<button onclick="openAccordion('ShakeOuts')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Shake Outs
</button>
<div id="ShakeOuts" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-panel w3-yellow w3-display-container">
    <span onclick="this.parentElement.style.display='none'" class="w3-button w3-small w3-yellow w3-large w3-display-topright">&times;</span>
    <p>Count Media coming March 16th!</p>
  </div>
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/1lCGJ1CmOESdPDurhv/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ShakeOutsMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/XKj05esoPmP6pYjgCb/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ShakeOutsCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS</h5>
      <button onclick="openAccordion('ShakeOutsPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Sloucher</button>
      <div id="ShakeOutsPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Try to keep your back as staight and up as possible. The twisting motion of your hips might make you slouch and flop your arms around, and this looks goofy. Try to keep your body erect and your arms steady, close to your sides, bringing them up just a little for balance when needed.
        </p>
      </div>
      <button onclick="openAccordion('ShakeOutsPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Jerk</button>
      <div id="ShakeOutsPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          With each kick out, relax your muscles and let your leg jerk outward. This snappiness accentuates the move, as your leg snaps out with each hit of the beat (in whatever song you're dancing to).
        </p>
      </div>
      <button onclick="openAccordion('ShakeOutsWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="ShakeOutsWalkthrough" class="w3-hide">
        <ul class="w3-ul">
          <li>
            <span class="w3-tag w3-green">1</span> From the toe divot stance (right leg back and slightly on ball of foot, left foot forward and on toe, both toes pointing right), bring your left foot very slightly to your right.
          </li>
          <li>
            <span class="w3-tag w3-green">2</span> Without your left leg going further than a foot away from the center of your stance, bring your left foot back towards the left, leading with your toe (imagine an eel slithering thru the water, turning left - your toe is it's head).
          </li>
          <li>
            <span class="w3-tag w3-green">3</span> Bring your foot all the way to the farthest left of your stance you can, in one snappy kicking motion.
          </li>
          <li>
            <span class="w3-tag w3-green">4</span> Without stopping, continue out of the snap and bring your foot back in towards your stance and across to your right.
          </li>
          <li>
            <span class="w3-tag w3-green">5</span> Now, kicking out to the farthest right of your stance you can, repeat the kicking motion.
          </li>
          <li>
            <span class="w3-tag w3-green">6</span> Repeat kicks however many times you want, snapping each time as your foot reaches the furthest out it can go to your sides.
          </li>
        </ul>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>PREREQUISITES</h5>
      <ul>
        <li>
          Toe Divots
        </li>
        <li>
          RM -&gt Rear LoopDeLoop
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/ShakeOuts/ShakeOuts1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ShakeOuts1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ShakeOuts/ShakeOuts2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ShakeOuts1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/ShakeOuts/ShakeOuts3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ShakeOuts2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ShakeOuts/ShakeOuts4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ShakeOuts2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/ShakeOuts/ShakeOuts5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ShakeOuts3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ShakeOuts/ShakeOuts6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ShakeOuts3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/ShakeOuts/ShakeOuts7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ShakeOuts4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ShakeOuts/ShakeOuts8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ShakeOuts4a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Heel Outs ++++++++++++++++ -->
<button onclick="openAccordion('ATPCheckMyKicks')" class="w3-hover-opacity w3-hover-green w3-left-align w3-button w3-bar w3-xlarge w3-block w3-left-alight">
  Heel Outs
</button>
<div id="ATPCheckMyKicks" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/ki1F171Uw0IScw7H1q/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ATPCheckMyKicksMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/d3YH1kSnUXVMJHtm/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ATPCheckMyKicksCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS</h5>
      <button onclick="openAccordion('ATPCheckMyKicksPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Stiff Hips</button>
      <div id="ATPCheckMyKicksPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Make sure you push your hips in a twisting motion to reallya accentuate each jutting out of your feet. Notice how my feet each rotate nearly 90 degrees, pivoting around my toe, leading with my heel.
        </p>
      </div>
      <button onclick="openAccordion('ATPCheckMyKicksWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="ATPCheckMyKicksWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          Feet start close together, leaning forward on balls of feet. Leading with one foot, rotate hips and pivot on toe of one foot, leading outwards with heel. After landing, immediately jump to the other foot, and mirror your stance you just had. Repeat.
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>PREREQUISITES</h5>
      <ul>
        <li>
          N/A
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/ATPCheckMyKicks/ATPCheckMyKicks1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATPCheckMyKicks1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ATPCheckMyKicks/ATPCheckMyKicks2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATPCheckMyKicks1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/ATPCheckMyKicks/ATPCheckMyKicks3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATPCheckMyKicks2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ATPCheckMyKicks/ATPCheckMyKicks4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATPCheckMyKicks2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/ATPCheckMyKicks/ATPCheckMyKicks5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATPCheckMyKicks3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ATPCheckMyKicks/ATPCheckMyKicks6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATPCheckMyKicks3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/ATPCheckMyKicks/ATPCheckMyKicks7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATPCheckMyKicks4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ATPCheckMyKicks/ATPCheckMyKicks8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ATPCheckMyKicks4a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Toe Reverses ++++++++++++++++ -->
<button onclick="openAccordion('HeelOutStomps')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Toe Reverses
</button>
<div id="HeelOutStomps" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/fQGu0X4QigeBCHd8j5/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('HeelOutStompsMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/l4pTndQfeFty3gN8s/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('HeelOutStompsCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS</h5>
      <button onclick="openAccordion('HeelOutStompsPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Practice With Support</button>
      <div id="HeelOutStompsPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Like learning to ride a bike with training wheels, you can practice heel out stomps while holding on to something for support - a doorway works very well. Practice getting down the motion of reverses in the doorway initially, and use less and less support as your muscle memory improves.
        </p>
      </div>
      <button onclick="openAccordion('HeelOutStompsPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Counter Motion Arms</button>
      <div id="HeelOutStompsPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Once the training wheels are off, a good way to keep balance is to motion your arm on the side opposite your leg. So if you are doing the move with your left leg, use your right arm to balance yourself (and vice versa). As your left leg crosses to the right side of your body, your right arm should be crossed over on the left side of your body. As your left leg juts out to the left, your right arm should be extended right to counterbalance
        </p>
      </div>
      <button onclick="openAccordion('HeelOutStompWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="HeelOutStompWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          Stand with feet slightly closer than shoudler width. Raise your left (or right) foot up in a tip-toe position, with your toe hovering very low off the ground. Pivot your heel outward and your toe inward, then as if to kick across your body at a complete 90 degree angle, bring your leg all the way to the otherside of your body. As your leg moves further across your body, rotate your heel outward in the opposite direction and keep your toe pointing towards the center of where you're facing. Repeat until you are ready to finish the move. As you bring your foot inwards towards your body one last time, stop it shy of crossing your body and land flat on your foot. As you land on your rotating foot, raise up your planted foot to its toes.
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>PREREQUISITES</h5>
      <ul>
        <li>
          Check Out My Kicks
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/HeelOutStomp/HeelOutStomp1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('HeelOutStomps1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/HeelOutStomp/HeelOutStomp2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('HeelOutStomps1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/HeelOutStomp/HeelOutStomp3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('HeelOutStomps2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/HeelOutStomp/HeelOutStomp4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('HeelOutStomps2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/HeelOutStomp/HeelOutStomp5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('HeelOutStomps3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/HeelOutStomp/HeelOutStomp6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('HeelOutStomps3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/HeelOutStomp/HeelOutStomp7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('HeelOutStomps4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/HeelOutStomp/HeelOutStomp8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('HeelOutStomps4a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Roundabout Stomps ++++++++++++++++ -->
<button onclick="openAccordion('RoundaboutStomps')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Roundabout Stomps
</button>
<div id="RoundaboutStomps" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/26DN2JSBAp2NrfGtW/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('RoundaboutStompsMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/l4pTcLHoh5PqBMekw/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('RoundaboutStompsCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS</h5>
      <button onclick="openAccordion('RoundaboutStompsPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Pitfall 2</button>
      <div id="RoundaboutStompsPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          lorem ipsum dolor
        </p>
      </div>
      <button onclick="openAccordion('RoundaboutStompsPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Pitfall 1</button>
      <div id="RoundaboutStompsPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          lorem ipsum dolor
        </p>
      </div>
      <button onclick="openAccordion('RoundaboutStompWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="RoundaboutStompWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          lorem ipsum dolor
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>PREREQUISITES</h5>
      <ul>
        <li>
          Check Out My Kicks
        </li>
        <li>
          Cuts
        </li>
        <li>
          Shimmy, One Way
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/RoundaboutStomp/RoundaboutStomp1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RoundaboutStomps1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/RoundaboutStomp/RoundaboutStomp2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RoundaboutStomps1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/RoundaboutStomp/RoundaboutStomp3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RoundaboutStomps2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/RoundaboutStomp/RoundaboutStomp4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RoundaboutStomps2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/RoundaboutStomp/RoundaboutStomp5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RoundaboutStomps3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/RoundaboutStomp/RoundaboutStomp6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RoundaboutStomps3a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Shimmy Leg ++++++++++++++++ -->
<button onclick="openAccordion('CutsShimmyLeg')" class="w3-hover-opacity w3-hover-deep-purple w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Shimmy Leg
</button>
<div id="CutsShimmyLeg" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/3o7WIK3IQszqtNO1xu/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CutsShimmyLegMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/xUOwFYVog43m3gFbPy/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CutsShimmyLegCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS</h5>
      <button onclick="openAccordion('CutsShimmyLegPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Unintuitive Figure 8</button>
      <div id="CutsShimmyLegPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          What appears to be a frantic shimmying of the leg is actually a figure 8 you are making with your foot. Pay specially close attention to the path of the figure 8 your foot should be taking, and trace it very slowly while standing firmly on your plant foot. As the figure 8 becomes more second nature, speed up the tracing. Eventually the left right twist of your plant foot should come naturally as you make the figure 8 with more speed and force
        </p>
      </div>
      <button onclick="openAccordion('CutsShimmyLegPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Pitfall 1</button>
      <div id="CutsShimmyLegPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          lorem ipsum dolor
        </p>
      </div>
      <button onclick="openAccordion('CutsShimmyLegWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="CutsShimmyLegWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          Enter in shimmy leg from cuts. While transition from the mid-beat stance to the toe-heel stance, instead of landing on the heel of your up foot, dip it down then back up. Twist your foot left and right, with your toe always pointing towards your plant foot. As you twist your up foot, your plant/down foot should twist and point in a mirror image to the upfoot (outward when up foot points outward, inward when up foot points inward). Make a figure 8 motion as you do this twist, bringing your up foot to right-front, left-front, right-back, left-back positions sequentially (and repeat).
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>PREREQUISITES</h5>
      <ul>
        <li>
          Cuts
        </li>
        <li>
          Toe Heel Stomp
        </li>
        <li>
          Roundabout Stomp
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/CutsShimmyLeg/CutsShimmyLeg1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsShimmyLeg1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CutsShimmyLeg/CutsShimmyLeg2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsShimmyLeg1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/CutsShimmyLeg/CutsShimmyLeg3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsShimmyLeg2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CutsShimmyLeg/CutsShimmyLeg4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsShimmyLeg2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/CutsShimmyLeg/CutsShimmyLeg5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsShimmyLeg3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CutsShimmyLeg/CutsShimmyLeg6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsShimmyLeg3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/CutsShimmyLeg/CutsShimmyLeg7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsShimmyLeg4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/CutsShimmyLeg/CutsShimmyLeg8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('CutsShimmyLeg4a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
