<!-- ++++++++++++++++ Heel Out Stomps ++++++++++++++++ -->
<button onclick="openAccordion('HeelOutStomps')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block w3-left-alight">
  Heel Out Stomps
</button>
<div id="HeelOutStomps" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/l4pT3xutHjVQDmUO4/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('HeelOutStompsMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/l4pTndQfeFty3gN8s/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('HeelOutStompsCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>LEARNING TIMES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <strong>BASIC:</strong> 80 iterations
        </li>
        <li>
          <strong>FAMILIAR:</strong> 150 iterations
        </li>
        <li>
          <strong>FLUENT:</strong> 400 iterations
        </li>
      </ul>
      <h5>PREREQUISITES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Check Out My Kicks</a>
        </li>
      </ul>
      <h5>CHAIN WITH</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-red" style="text-decoration: none;" href="#">Spin, Inside Foot</a>
        </li>
        <li>
          <a class="w3-tag w3-red" style="text-decoration: none;" href="#">Spin, Backwards 180s</a>
        </li>
        <li>
          <a class="w3-tag w3-red" style="text-decoration: none;" href="#">Cuts, Reverse</a>
        </li>
      </ul>
    </div>
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS & MISTAKES + FIXES</h5>
      <button onclick="openAccordion('HeelOutStompsPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Practice With Support</button>
      <div id="HeelOutStompsPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Like learning to ride a bike with training wheels, you can practice heel out stomps while holding on to something for support - a doorway works very well. Practice getting down the motion of reverses in the doorway initially, and use less and less support as your muscle memory improves.
        </p>
      </div>
      <button onclick="openAccordion('HeelOutStompsPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Counter Motion Arms</button>
      <div id="HeelOutStompsPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Once the training wheels are off, a good way to keep balance is to motion your arm on the side opposite your leg. So if you are doing the move with your left leg, use your right arm to balance yourself (and vice versa). As your left leg crosses to the right side of your body, your right arm should be crossed over on the left side of your body. As your left leg juts out to the left, your right arm should be extended right to counterbalance
        </p>
      </div>
      <button onclick="openAccordion('HeelOutStompWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="HeelOutStompWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          Stand with feet slightly closer than shoudler width. Raise your left (or right) foot up in a tip-toe position, with your toe hovering very low off the ground. Pivot your heel outward and your toe inward, then as if to kick across your body at a complete 90 degree angle, bring your leg all the way to the otherside of your body. As your leg moves further across your body, rotate your heel outward in the opposite direction and keep your toe pointing towards the center of where you're facing. Repeat until you are ready to finish the move. As you bring your foot inwards towards your body one last time, stop it shy of crossing your body and land flat on your foot. As you land on your rotating foot, raise up your planted foot to its toes.
        </p>
      </div>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/HeelOutStomp/HeelOutStomp1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('HeelOutStomps1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/HeelOutStomp/HeelOutStomp2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('HeelOutStomps1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/HeelOutStomp/HeelOutStomp3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('HeelOutStomps2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/HeelOutStomp/HeelOutStomp4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('HeelOutStomps2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/HeelOutStomp/HeelOutStomp5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('HeelOutStomps3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/HeelOutStomp/HeelOutStomp6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('HeelOutStomps3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/HeelOutStomp/HeelOutStomp7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('HeelOutStomps4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/HeelOutStomp/HeelOutStomp8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('HeelOutStomps4a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Roundabout Stomps ++++++++++++++++ -->
<button onclick="openAccordion('RoundaboutStomps')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block w3-left-alight">
  Roundabout Stomps
</button>
<div id="RoundaboutStomps" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/26DN2JSBAp2NrfGtW/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('RoundaboutStompsMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/l4pTcLHoh5PqBMekw/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('RoundaboutStompsCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>LEARNING TIMES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <strong>BASIC:</strong> 100 iterations
        </li>
        <li>
          <strong>FAMILIAR:</strong> 200 iterations
        </li>
        <li>
          <strong>FLUENT:</strong> 400 iterations
        </li>
      </ul>
      <h5>PREREQUISITES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Check Out My Kicks</a>
        </li>
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Cuts</a>
        </li>
        <li>
          <a class="w3-tag w3-red" style="text-decoration: none;" href="#">Shimmy, One Way</a>
        </li>
      </ul>
      <h5>CHAIN WITH</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-deep-purple" style="text-decoration: none;" href="#">Cuts, Shimmy Leg</a>
        </li>
        <li>
          <a class="w3-tag w3-amber w3-text-white" style="text-decoration: none;" href="#">Cuts, Reverse</a>
        </li>
      </ul>
    </div>
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS & MISTAKES + FIXES</h5>
      <button onclick="openAccordion('RoundaboutStompsPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Pitfall 2</button>
      <div id="RoundaboutStompsPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          lorem ipsum dolor
        </p>
      </div>
      <button onclick="openAccordion('RoundaboutStompsPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Pitfall 1</button>
      <div id="RoundaboutStompsPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          lorem ipsum dolor
        </p>
      </div>
      <button onclick="openAccordion('RoundaboutStompWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="RoundaboutStompWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          lorem ipsum dolor
        </p>
      </div>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/RoundaboutStomp/RoundaboutStomp1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RoundaboutStomps1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/RoundaboutStomp/RoundaboutStomp2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RoundaboutStomps1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/RoundaboutStomp/RoundaboutStomp3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RoundaboutStomps2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/RoundaboutStomp/RoundaboutStomp4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RoundaboutStomps2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/RoundaboutStomp/RoundaboutStomp5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RoundaboutStomps3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/RoundaboutStomp/RoundaboutStomp6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RoundaboutStomps3a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
