<!-- ++++++++++++++++ Schmoney ++++++++++++++++ -->
<button onclick="openAccordion('Schmoney')" class="w3-hover-opacity w3-hover-green w3-left-align w3-button w3-bar w3-xlarge w3-block w3-left-alight">
  Schmoney
</button>
<div id="Schmoney" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/26DNfbFyxrzpR4Fxe/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SchmoneyMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/3o7WICDvUMkWOkCW3e/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SchmoneyCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>LEARNING TIMES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <strong>BASIC:</strong> 20 iterations
        </li>
        <li>
          <strong>FAMILIAR:</strong> 50 iterations
        </li>
        <li>
          <strong>FLUENT:</strong> 100 iterations
        </li>
      </ul>
      <h5>CHAIN WITH</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Milly Rock</a>
        </li>
      </ul>
    </div>
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS & MISTAKES + FIXES</h5>
      <button onclick="openAccordion('SchmoneyPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Loosen Up</button>
      <div id="SchmoneyPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          The schmoney is one of those moves that actually benefits from you loosening up and kinda just letting your body flop. It accentuates the start and stop of the motion as you kinda just plop your body to a stop at each beat. You kinda just gotta let your head hang loose on your shoulders and let the music relax your soul as you schmoney.
        </p>
      </div>
      <button onclick="openAccordion('SchmoneyPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Flair</button>
      <div id="SchmoneyPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          The hand motions of the schmoney are very up to interpretation. Pretty much anything will make sense as long as it adheres to the start-stop of each beat. Experiment once you get the rocking motion down.
        </p>
      </div>
      <button onclick="openAccordion('SchmoneyPit3')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Double Time</button>
      <div id="SchmoneyPit3" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Since the schmoney moves at such a slow pace, it's very easy to double time (do twice as fast). Simply treat two counts as one to double the speed - as in do every move you would in "1 & 2 & 3 & 4 &" within a timeframe of "1 & 2 &".
        </p>
      </div>
      <button onclick="openAccordion('SchmoneyWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="SchmoneyWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          Feet should be stationary, shoulder-width apart. Start out by practicing the left / right rocking motion of the move. At each beat, you should be alternating between leaning left and leaning right. As you lean right, bend your left knee a little bit while extending straight your right knee as far is it will go (and vice verse for the left). With each beat, your hands should move in some sort of fashion towards / away / above / around your body, typically an equal distance traveled each beat.
        </p>
      </div>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Nigs.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Schmoney1').style.display='block'"/>
      </div>
    </div>
    <!-- Modal Count 1 -->
    <div id="Schmoney1" class="w3-modal" onclick="this.style.display='none'">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <div class="w3-modal-content w3-animate-zoom">
        <img src="../img/Nigs.png" style="width:100%">
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Nigs.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Schmoney1a').style.display='block'"/>
      </div>
    </div>
    <!-- Modal Count 1& -->
    <div id="Schmoney1a" class="w3-modal" onclick="this.style.display='none'">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <div class="w3-modal-content w3-animate-zoom">
        <img src="../img/Nigs.png" style="width:100%">
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Nigs.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Schmoney2').style.display='block'"/>
      </div>
    </div>
    <!-- Modal Count 2 -->
    <div id="Schmoney2" class="w3-modal" onclick="this.style.display='none'">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <div class="w3-modal-content w3-animate-zoom">
        <img src="../img/Nigs.png" style="width:100%">
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Nigs.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Schmoney2a').style.display='block'"/>
      </div>
    </div>
    <!-- Modal Count 2& -->
    <div id="Schmoney2a" class="w3-modal" onclick="this.style.display='none'">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <div class="w3-modal-content w3-animate-zoom">
        <img src="../img/Nigs.png" style="width:100%">
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Nigs.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Schmoney3').style.display='block'"/>
      </div>
    </div>
    <!-- Modal Count 3 -->
    <div id="Schmoney3" class="w3-modal" onclick="this.style.display='none'">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <div class="w3-modal-content w3-animate-zoom">
        <img src="../img/Nigs.png" style="width:100%">
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Nigs.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Schmoney3a').style.display='block'"/>
      </div>
    </div>
    <!-- Modal Count 3& -->
    <div id="Schmoney3a" class="w3-modal" onclick="this.style.display='none'">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <div class="w3-modal-content w3-animate-zoom">
        <img src="../img/Nigs.png" style="width:100%">
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Nigs.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Schmoney4').style.display='block'"/>
      </div>
    </div>
    <!-- Modal Count 4 -->
    <div id="Schmoney4" class="w3-modal" onclick="this.style.display='none'">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <div class="w3-modal-content w3-animate-zoom">
        <img src="../img/Nigs.png" style="width:100%">
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Nigs.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Schmoney4a').style.display='block'"/>
      </div>
    </div>
    <!-- Modal Count 4& -->
    <div id="Schmoney4a" class="w3-modal" onclick="this.style.display='none'">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <div class="w3-modal-content w3-animate-zoom">
        <img src="../img/Nigs.png" style="width:100%">
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Milly Rock ++++++++++++++++ -->
<button onclick="openAccordion('MillyRock')" class="w3-hover-opacity w3-hover-green w3-left-align w3-button w3-bar w3-xlarge w3-block w3-left-alight">
  Milly Rock
</button>
<div id="MillyRock" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/xUOwGhLsCw0KEnjMc0/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('MillyRockMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/26DN9O3DPJPT1TG6I/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('MillyRockCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>LEARNING TIMES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <strong>BASIC:</strong> 50 iterations
        </li>
        <li>
          <strong>FAMILIAR:</strong> 100 iterations
        </li>
        <li>
          <strong>FLUENT:</strong> 200 iterations
        </li>
      </ul>
      <h5>PREREQUISITES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Schmoney</a>
        </li>
      </ul>
    </div>
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS & MISTAKES + FIXES</h5>
      <button onclick="openAccordion('MillyRockPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Snappy Milly</button>
      <div id="MillyRockPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          A good hip rotation makes the milly rock look clean and complete. To accentuate the lean, as you lean right, twist your hips clockwise as far as you can without moving your feet (bending your left knee and extending straight your right knee) - and vice versa for the left.
        </p>
      </div>
      <button onclick="openAccordion('MillyRockPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Flair</button>
      <div id="MillyRockPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          The milly rock has a lot of potential for personal flair - doubles, stutters, shimmying while millying - experiment once you get the basic motion down.
        </p>
      </div>
      <button onclick="openAccordion('MillyRockWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="MillyRockWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          Feet should be stationary, shoulder-width apart. Start out by practicing the left / right rocking motion of the move (identifical to that of schmomey). At each beat, you should be alternating between leaning left and leaning right. As you lean right, bend your left knee a little bit while extending straight your right knee as far is it will go (and vice verse for the left). The hand motion of the milly rock corresponds 1:1 with the rocking. As you lean right, extend your right arm outward. As you switch to lean left, make a slapping/hooking motion with your arm across your body. As soon as the slap rotation is complete, bring your left arm up and do the same. Repeat as you please.
        </p>
      </div>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Nigs.png" style="width:100%; cursor:pointer" onclick="document.getElementById('MillyRock1').style.display='block'"/>
      </div>
    </div>
    <!-- Modal Count 1 -->
    <div id="MillyRock1" class="w3-modal" onclick="this.style.display='none'">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <div class="w3-modal-content w3-animate-zoom">
        <img src="../img/Nigs.png" style="width:100%">
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Nigs.png" style="width:100%; cursor:pointer" onclick="document.getElementById('MillyRock1a').style.display='block'"/>
      </div>
    </div>
    <!-- Modal Count 1& -->
    <div id="MillyRock1a" class="w3-modal" onclick="this.style.display='none'">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <div class="w3-modal-content w3-animate-zoom">
        <img src="../img/Nigs.png" style="width:100%">
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Nigs.png" style="width:100%; cursor:pointer" onclick="document.getElementById('MillyRock2').style.display='block'"/>
      </div>
    </div>
    <!-- Modal Count 2 -->
    <div id="MillyRock2" class="w3-modal" onclick="this.style.display='none'">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <div class="w3-modal-content w3-animate-zoom">
        <img src="../img/Nigs.png" style="width:100%">
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Nigs.png" style="width:100%; cursor:pointer" onclick="document.getElementById('MillyRock2a').style.display='block'"/>
      </div>
    </div>
    <!-- Modal Count 2& -->
    <div id="MillyRock2a" class="w3-modal" onclick="this.style.display='none'">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <div class="w3-modal-content w3-animate-zoom">
        <img src="../img/Nigs.png" style="width:100%">
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Nigs.png" style="width:100%; cursor:pointer" onclick="document.getElementById('MillyRock3').style.display='block'"/>
      </div>
    </div>
    <!-- Modal Count 3 -->
    <div id="MillyRock3" class="w3-modal" onclick="this.style.display='none'">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <div class="w3-modal-content w3-animate-zoom">
        <img src="../img/Nigs.png" style="width:100%">
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Nigs.png" style="width:100%; cursor:pointer" onclick="document.getElementById('MillyRock3a').style.display='block'"/>
      </div>
    </div>
    <!-- Modal Count 3& -->
    <div id="MillyRock3a" class="w3-modal" onclick="this.style.display='none'">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <div class="w3-modal-content w3-animate-zoom">
        <img src="../img/Nigs.png" style="width:100%">
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Nigs.png" style="width:100%; cursor:pointer" onclick="document.getElementById('MillyRock4').style.display='block'"/>
      </div>
    </div>
    <!-- Modal Count 4 -->
    <div id="MillyRock4" class="w3-modal" onclick="this.style.display='none'">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <div class="w3-modal-content w3-animate-zoom">
        <img src="../img/Nigs.png" style="width:100%">
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Nigs.png" style="width:100%; cursor:pointer" onclick="document.getElementById('MillyRock4a').style.display='block'"/>
      </div>
    </div>
    <!-- Modal Count 4& -->
    <div id="MillyRock4a" class="w3-modal" onclick="this.style.display='none'">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <div class="w3-modal-content w3-animate-zoom">
        <img src="../img/Nigs.png" style="width:100%">
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Hit Them Folks ++++++++++++++++ -->
<button onclick="openAccordion('HitThemFolks')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block w3-left-alight">
  Hit Them Folks
</button>
<div id="HitThemFolks" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/3o7WIx5esyDCv4aDyo/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('HitThemFolksMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/26DN9O3DPJPT1TG6I/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('HitThemFolksCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>LEARNING TIMES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <strong>BASIC:</strong> 150 iterations
        </li>
        <li>
          <strong>FAMILIAR:</strong> 300 iterations
        </li>
        <li>
          <strong>FLUENT:</strong> 450 iterations
        </li>
      </ul>
    </div>
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS & MISTAKES + FIXES</h5>
      <button onclick="openAccordion('HitThemFolksPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Hand Reverse Hack</button>
      <div id="HitThemFolksPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          To get donw the motion of the hand reverse/crossover, we can take page out of the stretches swimmers perform before a relay. Without moving your feet or torso, swing your arms as far back behind your body (as if to stretch your chest) then swing them in and across your body, one over the other. Then switch. Knowing that motion, you simply alter it to look like HTF by bringing the upper arm (which changes each time alternation) more downward and criss-cross over the lower arm.
        </p>
      </div>
      <button onclick="openAccordion('HitThemFolksPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Alternate Crossovers</button>
      <div id="HitThemFolksPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          The form of the crossover is very up to interpretation. Instead of bringing your arms fully across your body, you can also simply cross over your arms with them extended in front of you. Perfecting that motion is perhaps the easiest way to begin perfecting the cross-over, and you can slowly evolve it to more intricate forms.
        </p>
      </div>
      <button onclick="openAccordion('HitThemFolksWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="HitThemFolksWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          Stand with feet shoulder width apart. At each beat, you should step/stomp to the side of your body opposite to the side of the arm that is crossing over. Repeat this 3 times, one for the each of the first 3 beats of a bar). At the fourth beat, leave the cross over and make a flexing gesture. The gesture should be such that your flex comes in a little tighter before settling at its final position at the end of the beat. This creates the appearance that the flex is bringing your arms to a stiff halt, and it's taking a second for them to lock in place; imagine flicking a door stopper and it vibrating as it comes to a stop.
        </p>
      </div>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Nigs.png" style="width:100%; cursor:pointer" onclick="document.getElementById('HitThemFolks1').style.display='block'"/>
      </div>
    </div>
    <!-- Modal Count 1 -->
    <div id="HitThemFolks1" class="w3-modal" onclick="this.style.display='none'">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <div class="w3-modal-content w3-animate-zoom">
        <img src="../img/Nigs.png" style="width:100%">
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Nigs.png" style="width:100%; cursor:pointer" onclick="document.getElementById('HitThemFolks1a').style.display='block'"/>
      </div>
    </div>
    <!-- Modal Count 1& -->
    <div id="HitThemFolks1a" class="w3-modal" onclick="this.style.display='none'">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <div class="w3-modal-content w3-animate-zoom">
        <img src="../img/Nigs.png" style="width:100%">
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Nigs.png" style="width:100%; cursor:pointer" onclick="document.getElementById('HitThemFolks2').style.display='block'"/>
      </div>
    </div>
    <!-- Modal Count 2 -->
    <div id="HitThemFolks2" class="w3-modal" onclick="this.style.display='none'">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <div class="w3-modal-content w3-animate-zoom">
        <img src="../img/Nigs.png" style="width:100%">
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Nigs.png" style="width:100%; cursor:pointer" onclick="document.getElementById('HitThemFolks2a').style.display='block'"/>
      </div>
    </div>
    <!-- Modal Count 2& -->
    <div id="HitThemFolks2a" class="w3-modal" onclick="this.style.display='none'">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <div class="w3-modal-content w3-animate-zoom">
        <img src="../img/Nigs.png" style="width:100%">
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Nigs.png" style="width:100%; cursor:pointer" onclick="document.getElementById('HitThemFolks3').style.display='block'"/>
      </div>
    </div>
    <!-- Modal Count 3 -->
    <div id="HitThemFolks3" class="w3-modal" onclick="this.style.display='none'">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <div class="w3-modal-content w3-animate-zoom">
        <img src="../img/Nigs.png" style="width:100%">
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Nigs.png" style="width:100%; cursor:pointer" onclick="document.getElementById('HitThemFolks3a').style.display='block'"/>
      </div>
    </div>
    <!-- Modal Count 3& -->
    <div id="HitThemFolks3a" class="w3-modal" onclick="this.style.display='none'">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <div class="w3-modal-content w3-animate-zoom">
        <img src="../img/Nigs.png" style="width:100%">
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Nigs.png" style="width:100%; cursor:pointer" onclick="document.getElementById('HitThemFolks4').style.display='block'"/>
      </div>
    </div>
    <!-- Modal Count 4 -->
    <div id="HitThemFolks4" class="w3-modal" onclick="this.style.display='none'">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <div class="w3-modal-content w3-animate-zoom">
        <img src="../img/Nigs.png" style="width:100%">
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Nigs.png" style="width:100%; cursor:pointer" onclick="document.getElementById('HitThemFolks4a').style.display='block'"/>
      </div>
    </div>
    <!-- Modal Count 4& -->
    <div id="HitThemFolks4a" class="w3-modal" onclick="this.style.display='none'">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <div class="w3-modal-content w3-animate-zoom">
        <img src="../img/Nigs.png" style="width:100%">
      </div>
    </div>
  </div>
</div>
