<!-- ++++++++++++++++ Hit Them Folks - Flex ++++++++++++++++ -->
<button onclick="openAccordion('HHHitThemFolks')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  HTF Flex
</button>
<div id="HHHitThemFolks" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/aM1wRrvOETPmAACQ4C/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('HHHitThemFolksMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/YUkSBscyDGjD6LpBmj/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('HHHitThemFolksCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('HHHitThemFolksPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Hand Reverse Hack</button>
      <div id="HHHitThemFolksPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          To get down the motion of the hand reverse/crossover, we can take page out of the stretches swimmers perform before a relay. Without moving your feet or torso, swing your arms as far back behind your body (as if to stretch your chest) then swing them in and across your body, one over the other. Then switch. Knowing that motion, you simply alter it to look like HTF by bringing the upper arm (which changes each time alternation) more downward and criss-cross over the lower arm.
        </p>
      </div>
      <button onclick="openAccordion('HHHitThemFolksPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Alternate Crossovers</button>
      <div id="HHHitThemFolksPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          The form of the crossover is very up to interpretation. Instead of bringing your arms fully across your body, you can also simply cross over your arms with them extended in front of you. Perfecting that motion is perhaps the easiest way to begin perfecting the cross-over, and you can slowly evolve it to more intricate forms.
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/HHHitThemFolks/HHHitThemFolks1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('HHHitThemFolks1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/HHHitThemFolks/HHHitThemFolks2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('HHHitThemFolks1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/HHHitThemFolks/HHHitThemFolks3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('HHHitThemFolks2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/HHHitThemFolks/HHHitThemFolks4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('HHHitThemFolks2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/HHHitThemFolks/HHHitThemFolks5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('HHHitThemFolks3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/HHHitThemFolks/HHHitThemFolks6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('HHHitThemFolks3a').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- Walkthrough -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
    <header class="w3-container w3-center w3-green">
      <h5>WALKTHROUGH</h5>
    </header>
      <div>
        <ul class="w3-ul">
          <li>
            <span class="w3-tag w3-small w3-green">1</span> Stand with feet shoulder-width apart
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">2</span> Put both arms out in front of you in fists, and cross your left arm over your right arm
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">3</span> Reverse and cross your right arm over your left arm (imagine you are doing a reversed wolverine stance, as in palms facing down towards ground)
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">4</span> From the second cross, bring both arms out to their respective sides, while very slightly rotating shoulders counterclockwise and bringing left foot up off the ground
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">5</span> With arms out at your sides in a flexing stance (like rosie the riveter but with both arms), freeze in this flexing pose for a brief moment before leaving the stance
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Hit Them Folks - Reach ++++++++++++++++ -->
<button onclick="openAccordion('HHHTFReach')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  HTF Reach
</button>
<div id="HHHTFReach" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/3dbLQPqmtnnUmtsPkE/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('HHHTFReachMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="#" style="width: 100%; cursor:pointer" onclick="document.getElementById('HHHTFReachCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('HHHTFReachPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Lorem</button>
      <div id="HHHTFReachPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Lorem
        </p>
      </div>
      <button onclick="openAccordion('HHHTFReachPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Lorem</button>
      <div id="HHHTFReachPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Lorem
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Lorem
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/HHHTFReach/HHHTFReach1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('HHHTFReach1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/HHHTFReach/HHHTFReach2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('HHHTFReach1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/HHHTFReach/HHHTFReach3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('HHHTFReach2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/HHHTFReach/HHHTFReach4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('HHHTFReach2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/HHHTFReach/HHHTFReach5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('HHHTFReach3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/HHHTFReach/HHHTFReach6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('HHHTFReach3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/HHHTFReach/HHHTFReach7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('HHHTFReach4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/HHHTFReach/HHHTFReach8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('HHHTFReach4a').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- Walkthrough -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
    <header class="w3-container w3-center w3-green">
      <h5>WALKTHROUGH</h5>
    </header>
      <div>
        <ul class="w3-ul">
          <li>
            <span class="w3-tag w3-small w3-green">1</span>
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">2</span>
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">3</span>
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">4</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
