<%# TODO: Newtons Cradle %>
<!-- ++++++++++++++++ Leaner ++++++++++++++++ -->
<button onclick="openAccordion('Leaner')" class="w3-hover-opacity w3-hover-green w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Leaners
</button>
<div id="Leaner" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/xThtaoLNc308XAtwmQ/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('LeanerMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/xUOwGd3RRoqmXXwE6s/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('LeanerCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>LEARNING TIMES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <strong>BASIC:</strong> 100 iterations
        </li>
        <li>
          <strong>FAMILIAR:</strong> 200 iterations
        </li>
        <li>
          <strong>FLUENT:</strong> 400 iterations
        </li>
      </ul>
      <h5>PREREQUISITES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Cuts</a>
        </li>
      </ul>
      <h5>CHAIN WITH</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-red" style="text-decoration: none;" href="#">Spin, Inside Foot</a>
        </li>
        <li>
          <a class="w3-tag w3-amber w3-text-white" style="text-decoration: none;" href="#">Leaner, Fronts</a>
        </li>
      </ul>
    </div>
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS & MISTAKES + FIXES</h5>
      <button onclick="openAccordion('LeanerPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Low Center of Gravity</button>
      <div id="LeanerPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Minimize the bounce in your step and the length of your gait to hug the ground as close as possible. The longer you are in the air, the slower your overall motion. Shortening your gait makes the move look snappy and crisp by minimizing the variation in each stride. The rotation of your move foot is especially key in achieving this.
        </p>
      </div>
      <button onclick="openAccordion('LeanerPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Straight Leg, Bent Leg</button>
      <div id="LeanerPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Do your best to keep your non-pivot foot straight as you go through the motions. Keep your plant leg should be straight as your non-pivot foot moves behind you, but should jut/bend away from the direction you are leaning as you get to the front of the stance.
        </p>
      </div>
      <button onclick="openAccordion('LeanerPit3')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Arms for Balance</button>
      <div id="LeanerPit3" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          As if to make the "C" gesture in the YMCA dance, extend your arms out (with your right arm higher if you were doing a left leaner, and vice versa) and let them naturally adjust as you perform the move to balance your body.
        </p>
      </div>
      <button onclick="openAccordion('LeanerWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="LeanerWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          Starting position is a toe heel stance, body leaning over slightly to the side of your inside foot. Step your rear foot forward - as it comes across your plant foot, bring it inward across your plant foot, almost as if to turn 90 degrees to your side. After landing, reverse this process. Bring your front foot behind your plant foot, and again rotating it (this time in the opposite direction) so your toe is practically pointing towards your side. Repeat
        </p>
      </div>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/Leaner/Leaner1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Leaner1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Leaner/Leaner2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Leaner1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/Leaner/Leaner3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Leaner2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Leaner/Leaner4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Leaner2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/Leaner/Leaner5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Leaner3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Leaner/Leaner6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Leaner3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/Leaner/Leaner7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Leaner4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Leaner/Leaner8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Leaner4a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Leaner, Half ++++++++++++++++ -->
<button onclick="openAccordion('LeanerHalf')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Leaner, Half
</button>
<div id="LeanerHalf" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/xThtaa4lughIHnqXq8/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('LeanerHalfMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/26DNhPNKMCVoU8LrW/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('LeanerHalfCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>LEARNING TIMES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <strong>BASIC:</strong> 150 iterations
        </li>
        <li>
          <strong>FAMILIAR:</strong> 300 iterations
        </li>
        <li>
          <strong>FLUENT:</strong> 500 iterations
        </li>
      </ul>
      <h5>PREREQUISITES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Leaners</a>
        </li>
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Cuts</a>
        </li>
      </ul>
      <h5>CHAIN WITH</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-amber w3-text-white" style="text-decoration: none;" href="#">Cuts, Reverse</a>
        </li>
        <li>
          <a class="w3-tag w3-amber w3-text-white" style="text-decoration: none;" href="#">Running Man, Reverse</a>
        </li>
        <li>
          <a class="w3-tag w3-red" style="text-decoration: none;" href="#">Stutter, Reverse LoopDeLoop</a>
        </li>
      </ul>
    </div>
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS & MISTAKES + FIXES</h5>
      <button onclick="openAccordion('LeanerHalfPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Low Center of Gravity</button>
      <div id="LeanerHalfPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Minimize the bounce in your step and the length of your gait to hug the ground as close as possible. The longer you are in the air, the slower your overall motion. Shortening your gait makes the move look snappy and crisp by minimizing the variation in each stride. The rotation of your move foot is especially key in achieving this. The more your legs travel each move (especially as you bring your front leg across your body, hovering), the more effort you will have to put into keeping balance, which slows down your motion and introduces variation in how each iteration of the move looks (a bad thing, you want uniformity).
        </p>
      </div>
      <button onclick="openAccordion('LeanerHalfPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Straight Leg, Bent Leg</button>
      <div id="LeanerHalfPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Do your best to keep your non-pivot foot straight as you go through the motions. Keep your plant leg should be straight as your non-pivot foot moves behind you.
        </p>
      </div>
      <button onclick="openAccordion('LeanerHalfWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="LeanerHalfWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          Practically same motion as normal leaners, but as outside leg traverses your body and comes across the front, it makes a fake out motion instead of landing flat on the ground. Then it goes back to behind you and you repeat the motion.
        </p>
      </div>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/LeanerHalf/LeanerHalf1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LeanerHalf1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/LeanerHalf/LeanerHalf2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LeanerHalf1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/LeanerHalf/LeanerHalf3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LeanerHalf2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/LeanerHalf/LeanerHalf4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LeanerHalf2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/LeanerHalf/LeanerHalf5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LeanerHalf3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/LeanerHalf/LeanerHalf6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LeanerHalf3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/LeanerHalf/LeanerHalf7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LeanerHalf4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/LeanerHalf/LeanerHalf8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LeanerHalf4a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Leaner, Fronts ++++++++++++++++ -->
<button onclick="openAccordion('LeanerFronts')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Leaner, Fronts
</button>
<div id="LeanerFronts" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/9zXABXgodEuq5bAnSo/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('LeanerFrontsMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/xUOwGoKDsIGIZ8lpe0/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('LeanerFrontsCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>LEARNING TIMES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <strong>BASIC:</strong> 50 iterations
        </li>
        <li>
          <strong>FAMILIAR:</strong> 300 iterations
        </li>
        <li>
          <strong>FLUENT:</strong> 550 iterations
        </li>
      </ul>
      <h5>PREREQUISITES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Cuts</a>
        </li>
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Leaners</a>
        </li>
        <li>
          <a class="w3-tag w3-red" style="text-decoration: none;" href="#">Shimmy, One Way</a>
        </li>
      </ul>
      <h5>CHAIN WITH</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-red" style="text-decoration: none;" href="#">Spin, Outside Foot</a>
        </li>
        <li>
          <a class="w3-tag w3-amber w3-text-white" style="text-decoration: none;" href="#">Cuts, Reverse</a>
        </li>
      </ul>
    </div>
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS & MISTAKES + FIXES</h5>
      <button onclick="openAccordion('LeanerFrontsPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Hands Balance</button>
      <div id="LeanerFrontsPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Extend your arms outward and let them naturally act as stabilizers. As if you were balacing on a tightrope with your arms extended, as you perform the move your arms should adjust accordingly to keep you balance.
        </p>
      </div>
      <button onclick="openAccordion('LeanerFrontsPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Touches</button>
      <div id="LeanerFrontsPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          As an alternate variation of this move (and potentially an easier version), with each reverse of the direction of your toes you can tap the ground with your hover foot. This will help you get your balance back (by eliminating any sway in your stance from balancing on one foot).
        </p>
      </div>
      <button onclick="openAccordion('LeanerFrontsWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="LeanerFrontsWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          Enter this move from normal leaners or cuts. At each beat, your leg (leading with your toes) should be pointed either outward from each other or criss cross. At each half beat, your toes/legs should be both be pointing forward. During the motion, one leg stays stationary on the ground, the other stays slightly off the ground.
        </p>
      </div>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/LeanerFronts/LeanerFronts1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LeanerFronts1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/LeanerFronts/LeanerFronts2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LeanerFronts1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/LeanerFronts/LeanerFronts3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LeanerFronts2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/LeanerFronts/LeanerFronts4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LeanerFronts2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/LeanerFronts/LeanerFronts5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LeanerFronts3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/LeanerFronts/LeanerFronts6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LeanerFronts3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/LeanerFronts/LeanerFronts7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LeanerFronts4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/LeanerFronts/LeanerFronts8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LeanerFronts4a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Fat Joe Kick ++++++++++++++++ -->
<button onclick="openAccordion('FatJoeKick')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Fat Joe Kick
</button>
<div id="FatJoeKick" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/1wmxDMeCPilm4ApDNg/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('FatJoeKickMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="#" style="width: 100%; cursor:pointer" onclick="document.getElementById('FatJoeKickCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>LEARNING TIMES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <strong>BASIC:</strong> 250 iterations
        </li>
        <li>
          <strong>FAMILIAR:</strong> 350 iterations
        </li>
        <li>
          <strong>FLUENT:</strong> 650 iterations
        </li>
      </ul>
      <h5>PREREQUISITES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Cuts</a>
        </li>
        <li>
          <a class="w3-tag w3-red" style="text-decoration: none;" href="#">RM -&gt Rear LoopDeLoop</a>
        </li>
      </ul>
      <h5>CHAIN WITH</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Leaners</a>
        </li>
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">RM -&gt Rear Stutter</a>
        </li>
      </ul>
    </div>
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS & MISTAKES + FIXES</h5>
      <button onclick="openAccordion('FatJoeKickPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">One Foot For It All</button>
      <div id="FatJoeKickPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Naturally, you're body is going to switch legs when you hop forward, and especially when you hop backwards. The theme of the move is that you're propelling yourself forwards and backwards on one single foot. This is kind of like an altered hopscotch move - you're using one leg for all the hops.
        </p>
      </div>
      <button onclick="openAccordion('FatJoeKickPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Vague Grasp of Rear LoopDeLoop</button>
      <div id="FatJoeKickPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          You only need a vague grasp of the rear loopdeloop to start learning this move. It comes into play with the kick forward, after you hop forward. Once you become familiar with this move, the loopdeloops will become a lot easier to learn in fact.
        </p>
      </div>
      <button onclick="openAccordion('FatJoeKickWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="FatJoeKickWalkthrough" class="w3-hide">
        <ul class="w3-ul">
          <li>
            <span class="w3-tag w3-green">1</span> With your right foot somewhere in front of you and your left foot behind you, lean back and fall onto your right foot.
          </li>
          <li>
            <span class="w3-tag w3-green">2</span> As your right foot plants, immediately kick it back directly forward in front of you as you bring your left foot back and land on it.
          </li>
          <li>
            <span class="w3-tag w3-green">3</span> Repeat again and land on your right foot.
          </li>
          <li>
            <span class="w3-tag w3-green">4</span> As soon as you land on your right foot, take a generous hop forward on your right foot.
          </li>
          <li>
            <span class="w3-tag w3-green">5</span> As you land from your hop, kick your left foot backwards (in the air, not on the ground) to propel yourself a little bit more forward; as you kick, the momentum should push your right foot forward a little more into a little hop.
          </li>
          <li>
            <span class="w3-tag w3-green">6</span> Now, reverse the kicking motion of your left foot, which should also bring your right foot back a smidge (in another mini hop).
          </li>
          <li>
            <span class="w3-tag w3-green">7</span> Take a big hop backwards on your right foot and repeat - you are back again at step 1, of falling back into your right foot.
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/FatJoeKick/FatJoeKick1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('FatJoeKick1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/FatJoeKick/FatJoeKick2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('FatJoeKick1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/FatJoeKick/FatJoeKick3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('FatJoeKick2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/FatJoeKick/FatJoeKick4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('FatJoeKick2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/FatJoeKick/FatJoeKick5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('FatJoeKick3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/FatJoeKick/FatJoeKick6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('FatJoeKick3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/FatJoeKick/FatJoeKick7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('FatJoeKick4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/FatJoeKick/FatJoeKick8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('FatJoeKick4a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Karaoke ++++++++++++++++ -->
<button onclick="openAccordion('Karaoke')" class="w3-hover-opacity w3-hover-green w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Karaoke
</button>
<div id="Karaoke" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/pVR9W7XvlxgLYzqM3p/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('KaraokeMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="#" style="width: 100%; cursor:pointer" onclick="document.getElementById('KaraokeCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>LEARNING TIMES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <strong>BASIC:</strong> 100 iterations
        </li>
        <li>
          <strong>FAMILIAR:</strong> 200 iterations
        </li>
        <li>
          <strong>FLUENT:</strong> 400 iterations
        </li>
      </ul>
      <h5>PREREQUISITES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Leaners</a>
        </li>
      </ul>
      <h5>CHAIN WITH</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Slide, Outside Foot</a>
        </li>
      </ul>
    </div>
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS & MISTAKES + FIXES</h5>
      <button onclick="openAccordion('KaraokePit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Lean Less</button>
      <div id="KaraokePit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Since you're switching so often, it'd be helpful to lean a little less aggressively with each side. You can sacrifice that aspect for the ability to switch off left and right. This move also serves good for walking forward in beat, without slowing down to the beat of the song.
        </p>
      </div>
      <button onclick="openAccordion('KaraokePit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align "></button>
      <button onclick="openAccordion('KaraokeWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="KaraokeWalkthrough" class="w3-hide">
        <ul class="w3-ul">
          <li>
            <span class="w3-tag w3-green">1</span> Perform a normal leaner with your left leg as your plant leg. As your right leg lands in front of your left leg, step back into the stance, with your right leg up and next to your left shin.
          </li>
          <li>
            <span class="w3-tag w3-green">2</span> Now, instead of bringing your outside leg behind your pivot leg, step and land to your right. As your right leg lands, it is now your plant foot.
          </li>
          <li>
            <span class="w3-tag w3-green">3</span> Step your left leg over and behind your right leg, leaning your body over to your right.
          </li>
          <li>
            <span class="w3-tag w3-green">4</span> Bring your left foot forward and over your right leg in the appropriate execution of a leaner.
          </li>
          <li>
            <span class="w3-tag w3-green">5</span> Perform normal leaners and just switch off as detailed in step one.
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/Karaoke/Karaoke1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Karaoke1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Karaoke/Karaoke2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Karaoke1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/Karaoke/Karaoke3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Karaoke2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Karaoke/Karaoke4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Karaoke2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/Karaoke/Karaoke5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Karaoke3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Karaoke/Karaoke6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Karaoke3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/Karaoke/Karaoke7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Karaoke4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Karaoke/Karaoke8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Karaoke4a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
