<%# TODO: Newtons Cradle %>
<%# TODO: Fat Joe Pops %>
<!-- ++++++++++++++++ Leaner ++++++++++++++++ -->
<button onclick="openAccordion('Leaner')" class="w3-hover-opacity w3-hover-green w3-left-align w3-button w3-bar w3-xlarge w3-block w3-left-alight">
  Leaners
</button>
<div id="Leaner" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/xThtaoLNc308XAtwmQ/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('LeanerMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/xUOwGd3RRoqmXXwE6s/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('LeanerCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>LEARNING TIMES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <strong>BASIC:</strong> 100 iterations
        </li>
        <li>
          <strong>FAMILIAR:</strong> 200 iterations
        </li>
        <li>
          <strong>FLUENT:</strong> 400 iterations
        </li>
      </ul>
      <h5>PREREQUISITES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Cuts</a>
        </li>
      </ul>
      <h5>CHAIN WITH</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-red" style="text-decoration: none;" href="#">Spin, Inside Foot</a>
        </li>
        <li>
          <a class="w3-tag w3-amber w3-text-white" style="text-decoration: none;" href="#">Leaner, Fronts</a>
        </li>
      </ul>
    </div>
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS & MISTAKES + FIXES</h5>
      <button onclick="openAccordion('LeanerPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Low Center of Gravity</button>
      <div id="LeanerPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Minimize the bounce in your step and the length of your gait to hug the ground as close as possible. The longer you are in the air, the slower your overall motion. Shortening your gait makes the move look snappy and crisp by minimizing the variation in each stride. The rotation of your move foot is especially key in achieving this.
        </p>
      </div>
      <button onclick="openAccordion('LeanerPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Straight Leg, Bent Leg</button>
      <div id="LeanerPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Do your best to keep your non-pivot foot straight as you go through the motions. Keep your plant leg should be straight as your non-pivot foot moves behind you, but should jut/bend away from the direction you are leaning as you get to the front of the stance.
        </p>
      </div>
      <button onclick="openAccordion('LeanerPit3')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Arms for Balance</button>
      <div id="LeanerPit3" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          As if to make the "C" gesture in the YMCA dance, extend your arms out (with your right arm higher if you were doing a left leaner, and vice versa) and let them naturally adjust as you perform the move to balance your body.
        </p>
      </div>
      <button onclick="openAccordion('LeanerWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="LeanerWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          Starting position is a toe heel stance, body leaning over slightly to the side of your inside foot. Step your rear foot forward - as it comes across your plant foot, bring it inward across your plant foot, almost as if to turn 90 degrees to your side. After landing, reverse this process. Bring your front foot behind your plant foot, and again rotating it (this time in the opposite direction) so your toe is practically pointing towards your side. Repeat
        </p>
      </div>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/Leaner/Leaner1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Leaner1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Leaner/Leaner2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Leaner1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/Leaner/Leaner3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Leaner2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Leaner/Leaner4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Leaner2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/Leaner/Leaner5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Leaner3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Leaner/Leaner6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Leaner3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/Leaner/Leaner7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Leaner4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Leaner/Leaner8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Leaner4a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Leaner, Half ++++++++++++++++ -->
<button onclick="openAccordion('LeanerHalf')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block w3-left-alight">
  Leaner, Half
</button>
<div id="LeanerHalf" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/xThtaa4lughIHnqXq8/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('LeanerHalfMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/26DNhPNKMCVoU8LrW/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('LeanerHalfCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>LEARNING TIMES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <strong>BASIC:</strong> 150 iterations
        </li>
        <li>
          <strong>FAMILIAR:</strong> 300 iterations
        </li>
        <li>
          <strong>FLUENT:</strong> 500 iterations
        </li>
      </ul>
      <h5>PREREQUISITES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Leaners</a>
        </li>
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Cuts</a>
        </li>
      </ul>
      <h5>CHAIN WITH</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-amber w3-text-white" style="text-decoration: none;" href="#">Cuts, Reverse</a>
        </li>
        <li>
          <a class="w3-tag w3-amber w3-text-white" style="text-decoration: none;" href="#">Running Man, Reverse</a>
        </li>
        <li>
          <a class="w3-tag w3-red" style="text-decoration: none;" href="#">Stutter, Reverse LoopDeLoop</a>
        </li>
      </ul>
    </div>
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS & MISTAKES + FIXES</h5>
      <button onclick="openAccordion('LeanerHalfPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Low Center of Gravity</button>
      <div id="LeanerHalfPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Minimize the bounce in your step and the length of your gait to hug the ground as close as possible. The longer you are in the air, the slower your overall motion. Shortening your gait makes the move look snappy and crisp by minimizing the variation in each stride. The rotation of your move foot is especially key in achieving this. The more your legs travel each move (especially as you bring your front leg across your body, hovering), the more effort you will have to put into keeping balance, which slows down your motion and introduces variation in how each iteration of the move looks (a bad thing, you want uniformity).
        </p>
      </div>
      <button onclick="openAccordion('LeanerHalfPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Straight Leg, Bent Leg</button>
      <div id="LeanerHalfPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Do your best to keep your non-pivot foot straight as you go through the motions. Keep your plant leg should be straight as your non-pivot foot moves behind you.
        </p>
      </div>
      <button onclick="openAccordion('LeanerHalfWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="LeanerHalfWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          Practically same motion as normal leaners, but as outside leg traverses your body and comes across the front, it makes a fake out motion instead of landing flat on the ground. Then it goes back to behind you and you repeat the motion.
        </p>
      </div>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/LeanerHalf/LeanerHalf1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LeanerHalf1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/LeanerHalf/LeanerHalf2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LeanerHalf1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/LeanerHalf/LeanerHalf3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LeanerHalf2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/LeanerHalf/LeanerHalf4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LeanerHalf2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/LeanerHalf/LeanerHalf5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LeanerHalf3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/LeanerHalf/LeanerHalf6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LeanerHalf3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/LeanerHalf/LeanerHalf7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LeanerHalf4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/LeanerHalf/LeanerHalf8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LeanerHalf4a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Leaner, Fronts ++++++++++++++++ -->
<button onclick="openAccordion('LeanerFronts')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block w3-left-alight">
  Leaner, Fronts
</button>
<div id="LeanerFronts" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/3o7WIG9b2kO6BinaPS/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('LeanerFrontsMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/xUOwGoKDsIGIZ8lpe0/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('LeanerFrontsCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>LEARNING TIMES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <strong>BASIC:</strong> 50 iterations
        </li>
        <li>
          <strong>FAMILIAR:</strong> 300 iterations
        </li>
        <li>
          <strong>FLUENT:</strong> 550 iterations
        </li>
      </ul>
      <h5>PREREQUISITES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Cuts</a>
        </li>
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Leaners</a>
        </li>
        <li>
          <a class="w3-tag w3-red" style="text-decoration: none;" href="#">Shimmy, One Way</a>
        </li>
      </ul>
      <h5>CHAIN WITH</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-red" style="text-decoration: none;" href="#">Spin, Outside Foot</a>
        </li>
        <li>
          <a class="w3-tag w3-amber w3-text-white" style="text-decoration: none;" href="#">Cuts, Reverse</a>
        </li>
      </ul>
    </div>
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS & MISTAKES + FIXES</h5>
      <button onclick="openAccordion('LeanerFrontsPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Hands Balance</button>
      <div id="LeanerFrontsPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Extend your arms outward and let them naturally act as stabilizers. As if you were balacing on a tightrope with your arms extended, as you perform the move your arms should adjust accordingly to keep you balance.
        </p>
      </div>
      <button onclick="openAccordion('LeanerFrontsPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Touches</button>
      <div id="LeanerFrontsPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          As an alternate variation of this move (and potentially an easier version), with each reverse of the direction of your toes you can tap the ground with your hover foot. This will help you get your balance back (by eliminating any sway in your stance from balancing on one foot).
        </p>
      </div>
      <button onclick="openAccordion('LeanerFrontsWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="LeanerFrontsWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          Enter this move from normal leaners or cuts. At each beat, your leg (leading with your toes) should be pointed either outward from each other or criss cross. At each half beat, your toes/legs should be both be pointing forward. During the motion, one leg stays stationary on the ground, the other stays slightly off the ground.
        </p>
      </div>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/LeanerFronts/LeanerFronts1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LeanerFronts1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/LeanerFronts/LeanerFronts2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LeanerFronts1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/LeanerFronts/LeanerFronts3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LeanerFronts2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/LeanerFronts/LeanerFronts4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LeanerFronts2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/LeanerFronts/LeanerFronts5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LeanerFronts3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/LeanerFronts/LeanerFronts6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LeanerFronts3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/LeanerFronts/LeanerFronts7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LeanerFronts4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/LeanerFronts/LeanerFronts8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LeanerFronts4a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
