<!-- Backpedals -->
<div id="ShoulderPeeksMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/uVGbjfte2Zhkwu8380/giphy.gif" style="width:100%">
  </div>
</div>
<div id="SpinBackwards180MoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/3MjFjOiq59XP5XATxJ/giphy.gif" style="width:100%">
  </div>
</div>
<!-- Drop Downs -->
<div id="DDMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/3o7WIxiWBfMt3jXfr2/giphy.gif" style="width:100%">
  </div>
</div>
<div id="DDCorkscrewMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/23hPVLp6HZlzHXZSiN/giphy.gif" style="width:100%">
  </div>
</div>
<!-- Moonwalk -->
<div id="MoonshuffleMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/tJMOZXiPL9Yf3m3I8n/giphy.gif" style="width:100%">
  </div>
</div>
<div id="MoonwalkMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/3o7WIswEtmybCl7ln2/giphy.gif" style="width:100%">
  </div>
</div>
<!-- Running Man -->
<div id="RMMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/1dI01pPzF5ystuJCHl/giphy.gif" style="width:100%">
  </div>
</div>
<div id="RMReverseMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/xUOwGbnlguFxzmRkLS/giphy.gif" style="width:100%">
  </div>
</div>
<div id="RMHeelsMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/xUOwG5DtjrKdQg5GYU/giphy.gif" style="width:100%">
  </div>
</div>
<div id="RMReversePopForwards" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/TG8dKSsJ7jQ65WwIXD/giphy.gif" style="width:100%">
  </div>
</div>
<div id="RMSidewaysGlideMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/w9xF5fUrUUfvCpjgCB/giphy.gif" style="width:100%">
  </div>
</div>
<!-- Slides -->
<div id="SlideOutsideFootMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/xUOwFS6heBIMFNwX8Q/giphy.gif" style="width:100%">
  </div>
</div>
<div id="SlideInsideFootMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/3ohs4uRmAXomXjs0aA/giphy.gif" style="width:100%">
  </div>
</div>
<!-- Spins -->
<div id="SpinKickMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/fMzwFAPPoWgAd58Tnv/giphy.gif" style="width:100%">
  </div>
</div>
<div id="SpinKickToesMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/xUOwGos6aH78RM6UuI/giphy.gif" style="width:100%">
  </div>
</div>
<div id="Moving360ForwardsMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/LwHk50bVnNhxMFTjOz/giphy.gif" style="width:100%">
  </div>
</div>
<div id="Moving360BackwardsMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/1luXPVWQhta9UpodGS/giphy.gif" style="width:100%">
  </div>
</div>
<!-- Stutters -->
<div id="StutterRearMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
  <div class="w3-modal-content w3-animate-zoom">
    <img src="https://media.giphy.com/media/3o7WIoJXsQAjT3JbBS/giphy.gif" style="width:100%">
  </div>
</div>
<div id="StutterRearLoopDeLoopMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/xUOwGaHBi1hLzmlPHO/giphy.gif" style="width:100%">
  </div>
</div>
<div id="StutterKickAboutFaceMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/3o7WIsDjgoSqsFBiCs/giphy.gif" style="width:100%">
  </div>
</div>
