<!-- Backpedals -->
<div class="BackwardsPointers">
  <div id="SpinBackwards1801" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SpinBackwards180/SpinBackwards1801.png" style="width:100%">
    </div>
  </div>
  <div id="SpinBackwards1801a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SpinBackwards180/SpinBackwards1802.png" style="width:100%">
    </div>
  </div>
  <div id="SpinBackwards1802" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SpinBackwards180/SpinBackwards1803.png" style="width:100%">
    </div>
  </div>
  <div id="SpinBackwards1802a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SpinBackwards180/SpinBackwards1804.png" style="width:100%">
    </div>
  </div>
  <div id="SpinBackwards1803" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SpinBackwards180/SpinBackwards1805.png" style="width:100%">
    </div>
  </div>
  <div id="SpinBackwards1803a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SpinBackwards180/SpinBackwards1806.png" style="width:100%">
    </div>
  </div>
  <div id="SpinBackwards1804" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SpinBackwards180/SpinBackwards1807.png" style="width:100%">
    </div>
  </div>
  <div id="SpinBackwards1804a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SpinBackwards180/SpinBackwards1808.png" style="width:100%">
    </div>
  </div>
</div>
<div class="BackwardsPeeks">
  <div id="ShoulderPeeks1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ShoulderPeeks/ShoulderPeeks1.png" style="width:100%">
    </div>
  </div>
  <div id="ShoulderPeeks1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ShoulderPeeks/ShoulderPeeks2.png" style="width:100%">
    </div>
  </div>
  <div id="ShoulderPeeks2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ShoulderPeeks/ShoulderPeeks3.png" style="width:100%">
    </div>
  </div>
  <div id="ShoulderPeeks2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ShoulderPeeks/ShoulderPeeks4.png" style="width:100%">
    </div>
  </div>
  <div id="ShoulderPeeks3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ShoulderPeeks/ShoulderPeeks5.png" style="width:100%">
    </div>
  </div>
  <div id="ShoulderPeeks3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ShoulderPeeks/ShoulderPeeks6.png" style="width:100%">
    </div>
  </div>
  <div id="ShoulderPeeks4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ShoulderPeeks/ShoulderPeeks7.png" style="width:100%">
    </div>
  </div>
  <div id="ShoulderPeeks4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ShoulderPeeks/ShoulderPeeks8.png" style="width:100%">
    </div>
  </div>
</div>
<div class="CharlestonSlides">
  <div id="CharlestonSlide1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CharlestonSlide/CharlestonSlide1.png" style="width:100%">
    </div>
  </div>
  <div id="CharlestonSlide1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CharlestonSlide/CharlestonSlide2.png" style="width:100%">
    </div>
  </div>
  <div id="CharlestonSlide2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CharlestonSlide/CharlestonSlide3.png" style="width:100%">
    </div>
  </div>
  <div id="CharlestonSlide2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CharlestonSlide/CharlestonSlide4.png" style="width:100%">
    </div>
  </div>
  <div id="CharlestonSlide3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CharlestonSlide/CharlestonSlide5.png" style="width:100%">
    </div>
  </div>
  <div id="CharlestonSlide3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CharlestonSlide/CharlestonSlide6.png" style="width:100%">
    </div>
  </div>
  <div id="CharlestonSlide4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CharlestonSlide/CharlestonSlide7.png" style="width:100%">
    </div>
  </div>
  <div id="CharlestonSlide4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CharlestonSlide8.png" style="width:100%">
    </div>
  </div>
</div>
<!-- Drop Downs -->
<div class="DropDowns">
  <div id="DD1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/DD/DD1.png" style="width:100%">
    </div>
  </div>
  <div id="DD1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/DD/DD2.png" style="width:100%">
    </div>
  </div>
  <div id="DD2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/DD/DD3.png" style="width:100%">
    </div>
  </div>
  <div id="DD2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/DD/DD4.png" style="width:100%">
    </div>
  </div>
  <div id="DD3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/DD/DD5.png" style="width:100%">
    </div>
  </div>
  <div id="DD3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/DD/DD2.png" style="width:100%">
    </div>
  </div>
  <div id="DD4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/DD/DD3.png" style="width:100%">
    </div>
  </div>
  <div id="DD4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/DD/DD4.png" style="width:100%">
    </div>
  </div>
</div>
<div class="ToeDropDowns">
  <div id="DDToeStands1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/DDToeStand/DDToeStand1.png" style="width:100%">
    </div>
  </div>
  <div id="DDToeStands1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/DDToeStand/DDToeStand2.png" style="width:100%">
    </div>
  </div>
  <div id="DDToeStands2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/DDToeStand/DDToeStand3.png" style="width:100%">
    </div>
  </div>
  <div id="DDToeStands2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/DDToeStand/DDToeStand2.png" style="width:100%">
    </div>
  </div>
  <div id="DDToeStands3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/DDToeStand/DDToeStand3.png" style="width:100%">
    </div>
  </div>
  <div id="DDToeStands3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/DDToeStand/DDToeStand2.png" style="width:100%">
    </div>
  </div>
  <div id="DDToeStands4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/DDToeStand/DDToeStand3.png" style="width:100%">
    </div>
  </div>
  <div id="DDToeStands4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/DDToeStand/DDToeStand2.png" style="width:100%">
    </div>
  </div>
</div>
<div class="KickStands">
  <div id="DDKickStands1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/DDKickstand/DDKickstand1.png" style="width:100%">
    </div>
  </div>
  <div id="DDKickStands1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/DDKickstand/DDKickstand2.png" style="width:100%">
    </div>
  </div>
  <div id="DDKickStands2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/DDKickstand/DDKickstand3.png" style="width:100%">
    </div>
  </div>
  <div id="DDKickStands2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/DDKickstand/DDKickstand4.png" style="width:100%">
    </div>
  </div>
  <div id="DDKickStands3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/DDKickstand/DDKickstand5.png" style="width:100%">
    </div>
  </div>
  <div id="DDKickStands3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/DDKickstand/DDKickstand6.png" style="width:100%">
    </div>
  </div>
  <div id="DDKickStands4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/DDKickstand/DDKickstand7.png" style="width:100%">
    </div>
  </div>
  <div id="DDKickStands4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/DDKickstand/DDKickstand8.png" style="width:100%">
    </div>
  </div>
</div>
<div class="Corkscrews">
  <div id="DDCorkscrew1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/DDCorkscrew/DDCorkscrew1.png" style="width:100%">
    </div>
  </div>
  <div id="DDCorkscrew1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/DDCorkscrew/DDCorkscrew2.png" style="width:100%">
    </div>
  </div>
  <div id="DDCorkscrew2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/DDCorkscrew/DDCorkscrew3.png" style="width:100%">
    </div>
  </div>
  <div id="DDCorkscrew2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/DDCorkscrew/DDCorkscrew4.png" style="width:100%">
    </div>
  </div>
  <div id="DDCorkscrew3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/DDCorkscrew/DDCorkscrew5.png" style="width:100%">
    </div>
  </div>
  <div id="DDCorkscrew3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/DDCorkscrew/DDCorkscrew6.png" style="width:100%">
    </div>
  </div>
  <div id="DDCorkscrew4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/DDCorkscrew/DDCorkscrew7.png" style="width:100%">
    </div>
  </div>
  <div id="DDCorkscrew4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/DDCorkscrew/DDCorkscrew8.png" style="width:100%">
    </div>
  </div>
</div>
<!-- Moonwalk -->
<div class="Moonshuffle">
  <div id="Moonshuffle1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Moonshuffle/Moonshuffle1.png" style="width:100%">
    </div>
  </div>
  <div id="Moonshuffle1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Moonshuffle/Moonshuffle2.png" style="width:100%">
    </div>
  </div>
  <div id="Moonshuffle2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Moonshuffle/Moonshuffle3.png" style="width:100%">
    </div>
  </div>
  <div id="Moonshuffle2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Moonshuffle/Moonshuffle4.png" style="width:100%">
    </div>
  </div>
  <div id="Moonshuffle3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Moonshuffle/Moonshuffle5.png" style="width:100%">
    </div>
  </div>
  <div id="Moonshuffle3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Moonshuffle/Moonshuffle6.png" style="width:100%">
    </div>
  </div>
  <div id="Moonshuffle4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Moonshuffle/Moonshuffle7.png" style="width:100%">
    </div>
  </div>
  <div id="Moonshuffle4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Moonshuffle/Moonshuffle8.png" style="width:100%">
    </div>
  </div>
</div>
<div class="Moonwalk">
  <div id="Moonwalk1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Moonwalk/Moonwalk1.png" style="width:100%">
    </div>
  </div>
  <div id="Moonwalk1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Moonwalk/Moonwalk2.png" style="width:100%">
    </div>
  </div>
  <div id="Moonwalk2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Moonwalk/Moonwalk3.png" style="width:100%">
    </div>
  </div>
  <div id="Moonwalk2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Moonwalk/Moonwalk4.png" style="width:100%">
    </div>
  </div>
  <div id="Moonwalk3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Moonwalk/Moonwalk5.png" style="width:100%">
    </div>
  </div>
  <div id="Moonwalk3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Moonwalk/Moonwalk6.png" style="width:100%">
    </div>
  </div>
  <div id="Moonwalk4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Moonwalk/Moonwalk7.png" style="width:100%">
    </div>
  </div>
</div>
<div class="MoonSpin">
  <div id="Moonspin1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Moonspin/Moonspin1.png" style="width:100%">
    </div>
  </div>
  <div id="Moonspin1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Moonspin/Moonspin2.png" style="width:100%">
    </div>
  </div>
  <div id="Moonspin2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Moonspin/Moonspin3.png" style="width:100%">
    </div>
  </div>
  <div id="Moonspin2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Moonspin/Moonspin4.png" style="width:100%">
    </div>
  </div>
  <div id="Moonspin3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Moonspin/Moonspin5.png" style="width:100%">
    </div>
  </div>
  <div id="Moonspin3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Moonspin/Moonspin6.png" style="width:100%">
    </div>
  </div>
</div>
<!-- Running Man -->
<div class="RunningMans">
  <div id="RM1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RunningMan/RunningMan1.png" style="width:100%">
    </div>
  </div>
  <div id="RM1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RunningMan/RunningMan2.png" style="width:100%">
    </div>
  </div>
  <div id="RM2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RunningMan/RunningMan3.png" style="width:100%">
    </div>
  </div>
  <div id="RM2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RunningMan/RunningMan4.png" style="width:100%">
    </div>
  </div>
  <div id="RM3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RunningMan/RunningMan5.png" style="width:100%">
    </div>
  </div>
  <div id="RM3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RunningMan/RunningMan6.png" style="width:100%">
    </div>
  </div>
  <div id="RM4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RunningMan/RunningMan7.png" style="width:100%">
    </div>
  </div>
  <div id="RM4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RunningMan/RunningMan8.png" style="width:100%">
    </div>
  </div>
</div>
<div class="ReverseRunningMans">
  <div id="RMReverse1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RunningManReverse/RunningManReverse1.png" style="width:100%">
    </div>
  </div>
  <div id="RMReverse1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RunningManReverse/RunningManReverse2.png" style="width:100%">
    </div>
  </div>
  <div id="RMReverse2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RunningManReverse/RunningManReverse3.png" style="width:100%">
    </div>
  </div>
  <div id="RMReverse2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RunningManReverse/RunningManReverse4.png" style="width:100%">
    </div>
  </div>
  <div id="RMReverse3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RunningManReverse/RunningManReverse5.png" style="width:100%">
    </div>
  </div>
  <div id="RMReverse3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RunningManReverse/RunningManReverse6.png" style="width:100%">
    </div>
  </div>
  <div id="RMReverse4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RunningManReverse/RunningManReverse7.png" style="width:100%">
    </div>
  </div>
  <div id="RMReverse4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RunningManReverse/RunningManReverse8.png" style="width:100%">
    </div>
  </div>
</div>
<div class="RunningManHeels">
  <div id="RMHeels1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RunningManHeels/RunningManHeels1.png" style="width:100%">
    </div>
  </div>
  <div id="RMHeels1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RunningManHeels/RunningManHeels2.png" style="width:100%">
    </div>
  </div>
  <div id="RMHeels2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RunningManHeels/RunningManHeels3.png" style="width:100%">
    </div>
  </div>
  <div id="RMHeels2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RunningManHeels/RunningManHeels4.png" style="width:100%">
    </div>
  </div>
  <div id="RMHeels3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RunningManHeels/RunningManHeels5.png" style="width:100%">
    </div>
  </div>
  <div id="RMHeels3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RunningManHeels/RunningManHeels6.png" style="width:100%">
    </div>
  </div>
  <div id="RMHeels4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RunningManHeels/RunningManHeels7.png" style="width:100%">
    </div>
  </div>
  <div id="RMHeels4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RunningManHeels/RunningManHeels8.png" style="width:100%">
    </div>
  </div>
</div>
<div class="RMGlide">
  <div id="RMSidewaysGlide1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RMSidewaysGlide/RMSidewaysGlide1.png" style="width:100%">
    </div>
  </div>
  <div id="RMSidewaysGlide1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RMSidewaysGlide/RMSidewaysGlide2.png" style="width:100%">
    </div>
  </div>
  <div id="RMSidewaysGlide2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RMSidewaysGlide/RMSidewaysGlide3.png" style="width:100%">
    </div>
  </div>
  <div id="RMSidewaysGlide2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RMSidewaysGlide/RMSidewaysGlide4.png" style="width:100%">
    </div>
  </div>
  <div id="RMSidewaysGlide3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RMSidewaysGlide/RMSidewaysGlide5.png" style="width:100%">
    </div>
  </div>
  <div id="RMSidewaysGlide3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RMSidewaysGlide/RMSidewaysGlide6.png" style="width:100%">
    </div>
  </div>
  <div id="RMSidewaysGlide4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RMSidewaysGlide/RMSidewaysGlide7.png" style="width:100%">
    </div>
  </div>
  <div id="RMSidewaysGlide4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RMSidewaysGlide/RMSidewaysGlide8.png" style="width:100%">
    </div>
  </div>
</div>
<div class="RevPops">
  <div id="RMReversePopForwards1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RMReversePopForwards/RMReversePopForwards1.png" style="width:100%">
    </div>
  </div>
  <div id="RMReversePopForwards1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RMReversePopForwards/RMReversePopForwards2.png" style="width:100%">
    </div>
  </div>
  <div id="RMReversePopForwards2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RMReversePopForwards/RMReversePopForwards3.png" style="width:100%">
    </div>
  </div>
  <div id="RMReversePopForwards2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RMReversePopForwards/RMReversePopForwards4.png" style="width:100%">
    </div>
  </div>
  <div id="RMReversePopForwards3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RMReversePopForwards/RMReversePopForwards5.png" style="width:100%">
    </div>
  </div>
  <div id="RMReversePopForwards3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RMReversePopForwards/RMReversePopForwards6.png" style="width:100%">
    </div>
  </div>
  <div id="RMReversePopForwards4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RMReversePopForwards/RMReversePopForwards7.png" style="width:100%">
    </div>
  </div>
  <div id="RMReversePopForwards4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RMReversePopForwards/RMReversePopForwards8.png" style="width:100%">
    </div>
  </div>
</div>
<!-- Slides -->
<div class="OutsideFootSpin">
  <div id="SlideOutsideFoot1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SlideOutsideFoot/SlideOutsideFoot1.png" style="width:100%">
    </div>
  </div>
  <div id="SlideOutsideFoot1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SlideOutsideFoot/SlideOutsideFoot2.png" style="width:100%">
    </div>
  </div>
  <div id="SlideOutsideFoot2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SlideOutsideFoot/SlideOutsideFoot3.png" style="width:100%">
    </div>
  </div>
  <div id="SlideOutsideFoot2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SlideOutsideFoot/SlideOutsideFoot4.png" style="width:100%">
    </div>
  </div>
</div>
<div class="InsideFootSlide">
  <div id="SlideInsideFoot1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SlideInsideFoot/SlideInsideFoot1.png" style="width:100%">
    </div>
  </div>
  <div id="SlideInsideFoot1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SlideInsideFoot/SlideInsideFoot2.png" style="width:100%">
    </div>
  </div>
  <div id="SlideInsideFoot2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SlideInsideFoot/SlideInsideFoot3.png" style="width:100%">
    </div>
  </div>
  <div id="SlideInsideFoot2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SlideInsideFoot/SlideInsideFoot4.png" style="width:100%">
    </div>
  </div>
</div>
<!-- Spins -->
<div class="KickSpin">
  <div id="SpinKick1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SpinKick/SpinKick1.png" style="width:100%">
    </div>
  </div>
  <div id="SpinKick1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SpinKick/SpinKick2.png" style="width:100%">
    </div>
  </div>
  <div id="SpinKick2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SpinKick/SpinKick3.png" style="width:100%">
    </div>
  </div>
  <div id="SpinKick2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SpinKick/SpinKick4.png" style="width:100%">
    </div>
  </div>
  <div id="SpinKick3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SpinKick/SpinKick5.png" style="width:100%">
    </div>
  </div>
  <div id="SpinKick3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SpinKick/SpinKick6.png" style="width:100%">
    </div>
  </div>
  <div id="SpinKick4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SpinKick/SpinKick7.png" style="width:100%">
    </div>
  </div>
  <div id="SpinKick4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SpinKick/SpinKick8.png" style="width:100%">
    </div>
  </div>
  <div id="SpinKick9" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SpinKick/SpinKick9.png" style="width:100%">
    </div>
  </div>
  <div id="SpinKick9a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SpinKick/SpinKick10.png" style="width:100%">
    </div>
  </div>
  <div id="SpinKick10" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SpinKick/SpinKick11.png" style="width:100%">
    </div>
  </div>
  <div id="SpinKick10a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SpinKick/SpinKick12.png" style="width:100%">
    </div>
  </div>
</div>
<div class="KickSpinToes">
  <div id="SpinKickToes1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SpinKickToes/SpinKickToes1.png" style="width:100%">
    </div>
  </div>
  <div id="SpinKickToes1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SpinKickToes/SpinKickToes2.png" style="width:100%">
    </div>
  </div>
  <div id="SpinKickToes2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SpinKickToes/SpinKickToes3.png" style="width:100%">
    </div>
  </div>
  <div id="SpinKickToes2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SpinKickToes/SpinKickToes4.png" style="width:100%">
    </div>
  </div>
  <div id="SpinKickToes3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SpinKickToes/SpinKickToes5.png" style="width:100%">
    </div>
  </div>
  <div id="SpinKickToes3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SpinKickToes/SpinKickToes6.png" style="width:100%">
    </div>
  </div>
</div>
<div class="forwardsSpin">
  <div id="Moving360Forwards1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Moving360Forwards/Moving360Forwards1.png" style="width:100%">
    </div>
  </div>
  <div id="Moving360Forwards1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Moving360Forwards/Moving360Forwards2.png" style="width:100%">
    </div>
  </div>
  <div id="Moving360Forwards2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Moving360Forwards/Moving360Forwards3.png" style="width:100%">
    </div>
  </div>
  <div id="Moving360Forwards2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Moving360Forwards/Moving360Forwards4.png" style="width:100%">
    </div>
  </div>
  <div id="Moving360Forwards3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Moving360Forwards/Moving360Forwards5.png" style="width:100%">
    </div>
  </div>
  <div id="Moving360Forwards3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Moving360Forwards/Moving360Forwards6.png" style="width:100%">
    </div>
  </div>
  <div id="Moving360Forwards4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Moving360Forwards/Moving360Forwards7.png" style="width:100%">
    </div>
  </div>
  <div id="Moving360Forwards4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Moving360Forwards/Moving360Forwards8.png" style="width:100%">
    </div>
  </div>
</div>
<div class="backwardsSpin">
  <div id="Moving360Backwards1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Moving360Backwards/Moving360Backwards1.png" style="width:100%">
    </div>
  </div>
  <div id="Moving360Backwards1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Moving360Backwards/Moving360Backwards2.png" style="width:100%">
    </div>
  </div>
  <div id="Moving360Backwards2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Moving360Backwards/Moving360Backwards3.png" style="width:100%">
    </div>
  </div>
  <div id="Moving360Backwards2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Moving360Backwards/Moving360Backwards4.png" style="width:100%">
    </div>
  </div>
  <div id="Moving360Backwards3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Moving360Backwards/Moving360Backwards5.png" style="width:100%">
    </div>
  </div>
  <div id="Moving360Backwards3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Moving360Backwards/Moving360Backwards6.png" style="width:100%">
    </div>
  </div>
  <div id="Moving360Backwards4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Moving360Backwards/Moving360Backwards7.png" style="width:100%">
    </div>
  </div>
  <div id="Moving360Backwards4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Moving360Backwards/Moving360Backwards8.png" style="width:100%">
    </div>
  </div>
</div>
<!-- Stutters -->
<div class="RearStutter">
  <div id="StutterRear1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/StutterRear/StutterRear1.png" style="width:100%">
    </div>
  </div>
  <div id="StutterRear1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/StutterRear/StutterRear2.png" style="width:100%">
    </div>
  </div>
  <div id="StutterRear2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/StutterRear/StutterRear3.png" style="width:100%">
    </div>
  </div>
  <div id="StutterRear2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/StutterRear/StutterRear4.png" style="width:100%">
    </div>
  </div>
  <div id="StutterRear3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/StutterRear/StutterRear5.png" style="width:100%">
    </div>
  </div>
</div>
<div class="FrontStutter">
  <div id="StutterFront1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/StutterFront/StutterFront1.png" style="width:100%">
    </div>
  </div>
  <div id="StutterFront1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/StutterFront/StutterFront2.png" style="width:100%">
    </div>
  </div>
  <div id="StutterFront2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/StutterFront/StutterFront3.png" style="width:100%">
    </div>
  </div>
  <div id="StutterFront2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/StutterFront/StutterFront4.png" style="width:100%">
    </div>
  </div>
  <div id="StutterFront3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/StutterFront/StutterFront5.png" style="width:100%">
    </div>
  </div>
  <div id="StutterFront3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/StutterFront/StutterFront6.png" style="width:100%">
    </div>
  </div>
  <div id="StutterFront4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/StutterFront/StutterFront7.png" style="width:100%">
    </div>
  </div>
  <div id="StutterFront4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/StutterFront/StutterFront8.png" style="width:100%">
    </div>
  </div>
</div>
<div class="RearLoopDeLoop">
  <div id="StutterRearLoopDeLoop1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/StutterRearLoopDeLoop/StutterRearLoopDeLoop1.png" style="width:100%">
    </div>
  </div>
  <div id="StutterRearLoopDeLoop1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/StutterRearLoopDeLoop/StutterRearLoopDeLoop2.png" style="width:100%">
    </div>
  </div>
  <div id="StutterRearLoopDeLoop2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/StutterRearLoopDeLoop/StutterRearLoopDeLoop3.png" style="width:100%">
    </div>
  </div>
  <div id="StutterRearLoopDeLoop2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/StutterRearLoopDeLoop/StutterRearLoopDeLoop4.png" style="width:100%">
    </div>
  </div>
  <div id="StutterRearLoopDeLoop3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/StutterRearLoopDeLoop/StutterRearLoopDeLoop5.png" style="width:100%">
    </div>
  </div>
  <div id="StutterRearLoopDeLoop3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/StutterRearLoopDeLoop/StutterRearLoopDeLoop6.png" style="width:100%">
    </div>
  </div>
  <div id="StutterRearLoopDeLoop4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <img src="../img/Count/StutterRearLoopDeLoop/StutterRearLoopDeLoop7.png" style="width:100%">
    </div>
  </div>
  <div id="StutterRearLoopDeLoop4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/StutterRearLoopDeLoop/StutterRearLoopDeLoop8.png" style="width:100%">
    </div>
  </div>
</div>
<div class="FrontLoopDeLoop">
  <div id="StutterFrontLoopDeLoop1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/StutterFrontLoopDeLoop/StutterFrontLoopDeLoop1.png" style="width:100%">
    </div>
  </div>
  <div id="StutterFrontLoopDeLoop1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/StutterFrontLoopDeLoop/StutterFrontLoopDeLoop2.png" style="width:100%">
    </div>
  </div>
  <div id="StutterFrontLoopDeLoop2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/StutterFrontLoopDeLoop/StutterFrontLoopDeLoop3.png" style="width:100%">
    </div>
  </div>
  <div id="StutterFrontLoopDeLoop2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/StutterFrontLoopDeLoop/StutterFrontLoopDeLoop4.png" style="width:100%">
    </div>
  </div>
  <div id="StutterFrontLoopDeLoop3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/StutterFrontLoopDeLoop/StutterFrontLoopDeLoop5.png" style="width:100%">
    </div>
  </div>
  <div id="StutterFrontLoopDeLoop3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/StutterFrontLoopDeLoop/StutterFrontLoopDeLoop6.png" style="width:100%">
    </div>
  </div>
  <div id="StutterFrontLoopDeLoop4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/StutterFrontLoopDeLoop/StutterFrontLoopDeLoop7.png" style="width:100%">
    </div>
  </div>
  <div id="StutterFrontLoopDeLoop4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/StutterFrontLoopDeLoop/StutterFrontLoopDeLoop8.png" style="width:100%">
    </div>
  </div>
</div>
<div class="KickAboutFace">
  <div id="StutterKickAboutFace1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/StutterAboutFace/StutterAboutFace1.png" style="width:100%">
    </div>
  </div>
  <div id="StutterKickAboutFace1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/StutterAboutFace/StutterAboutFace2.png" style="width:100%">
    </div>
  </div>
  <div id="StutterKickAboutFace2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/StutterAboutFace/StutterAboutFace3.png" style="width:100%">
    </div>
  </div>
  <div id="StutterKickAboutFace2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/StutterAboutFace/StutterAboutFace4.png" style="width:100%">
    </div>
  </div>
  <div id="StutterKickAboutFace3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/StutterAboutFace/StutterAboutFace5.png" style="width:100%">
    </div>
  </div>
  <div id="StutterKickAboutFace3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/StutterAboutFace/StutterAboutFace6.png" style="width:100%">
    </div>
  </div>
  <div id="StutterKickAboutFace4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/StutterAboutFace/StutterAboutFace7.png" style="width:100%">
    </div>
  </div>
  <div id="StutterKickAboutFace4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/StutterAboutFace/StutterAboutFace8.png" style="width:100%">
    </div>
  </div>
</div>
