<!-- Hip Hop -->
<div id="HHMillyRockCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/TFy7HjEh6ynmduzq6k/giphy.gif" style="width:100%">
  </div>
</div>
<div id="HHSchmoneyCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/8ZbMBuaY1NsLPW0xrw/giphy.gif" style="width:100%">
  </div>
</div>
<div id="HitThemFolksCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/YUkSBscyDGjD6LpBmj/giphy.gif" style="width:100%">
  </div>
</div>
<div id="HHBrushEmOffCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/1r91mD3dsrkEQLNBxu/giphy.gif" style="width:100%">
  </div>
</div>
<div id="HHSayWhatCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/4HcO2NfMhOvTH3H3wt/giphy.gif" style="width:100%">
  </div>
</div>
<div id="HHShootCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/3zglyb27UgGGr8lt6R/giphy.gif" style="width:100%">
  </div>
</div>
<div id="HHSwerveCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/12Q6lvCeOpkiKilfjR/giphy.gif" style="width:100%">
  </div>
</div>
<div id="HHBackpackKidCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/1BGRXWleDuFZ1Y0adw/giphy.gif" style="width:100%">
  </div>
</div>
<div id="HHStirFryCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="#" style="width:100%">
  </div>
</div>
