<!-- Hip Hop -->
<div id="HHMillyRockMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/w82VydlsvVBUEK1lhK/giphy.gif" style="width:100%">
  </div>
</div>
<div id="HHSchmoneyMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/3ICbbeOdlbP0yqLfdk/giphy.gif" style="width:100%">
  </div>
</div>
<div id="HHHitThemFolksMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/c6Xuxh9waQcBHbUCrI/giphy.gif" style="width:100%">
  </div>
</div>
<div id="HHHTFReachMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/3dbLQPqmtnnUmtsPkE/giphy.gif" style="width:100%">
  </div>
</div>
<div id="HHBackpackKidMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/Ffb4ti40JpQRUGD524/giphy.gif" style="width:100%">
  </div>
</div>
<div id="HHShootMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/kKLpBfLfuF3j6fiCHD/giphy.gif" style="width:100%">
  </div>
</div>
<div id="HHSayWhatMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/WS11TOhaAkdGCjDcZv/giphy.gif" style="width:100%">
  </div>
</div>
<div id="HHBrushEmOffMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/MTuqwfjH52pL6kwmqZ/giphy.gif" style="width:100%">
  </div>
</div>
<div id="HHSwerveMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/67uB13Mp6kSLYhBjIz/giphy.gif" style="width:100%">
  </div>
</div>
