<!-- Backpedals -->
<div class="BackwardsPointers">
  <div id="HalfBackSpins1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/HalfBackSpins/HalfBackSpins1.png" style="width:100%">
    </div>
  </div>
  <div id="HalfBackSpins1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/HalfBackSpins/HalfBackSpins2.png" style="width:100%">
    </div>
  </div>
  <div id="HalfBackSpins2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/HalfBackSpins/HalfBackSpins3.png" style="width:100%">
    </div>
  </div>
  <div id="HalfBackSpins2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/HalfBackSpins/HalfBackSpins4.png" style="width:100%">
    </div>
  </div>
  <div id="HalfBackSpins3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/HalfBackSpins/HalfBackSpins5.png" style="width:100%">
    </div>
  </div>
  <div id="HalfBackSpins3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/HalfBackSpins/HalfBackSpins6.png" style="width:100%">
    </div>
  </div>
  <div id="HalfBackSpins4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/HalfBackSpins/HalfBackSpins7.png" style="width:100%">
    </div>
  </div>
  <div id="HalfBackSpins4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/HalfBackSpins/HalfBackSpins8.png" style="width:100%">
    </div>
  </div>
</div>
<div class="BackwardsPeeks">
  <div id="ShoulderPeeks1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ShoulderPeeks/ShoulderPeeks1.png" style="width:100%">
    </div>
  </div>
  <div id="ShoulderPeeks1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ShoulderPeeks/ShoulderPeeks2.png" style="width:100%">
    </div>
  </div>
  <div id="ShoulderPeeks2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ShoulderPeeks/ShoulderPeeks3.png" style="width:100%">
    </div>
  </div>
  <div id="ShoulderPeeks2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ShoulderPeeks/ShoulderPeeks4.png" style="width:100%">
    </div>
  </div>
  <div id="ShoulderPeeks3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ShoulderPeeks/ShoulderPeeks5.png" style="width:100%">
    </div>
  </div>
  <div id="ShoulderPeeks3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ShoulderPeeks/ShoulderPeeks6.png" style="width:100%">
    </div>
  </div>
  <div id="ShoulderPeeks4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ShoulderPeeks/ShoulderPeeks7.png" style="width:100%">
    </div>
  </div>
  <div id="ShoulderPeeks4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ShoulderPeeks/ShoulderPeeks8.png" style="width:100%">
    </div>
  </div>
</div>
<!-- Drop Downs -->
<div class="DropDowns">
  <div id="DD1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/DD/DD1.png" style="width:100%">
    </div>
  </div>
  <div id="DD1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/DD/DD2.png" style="width:100%">
    </div>
  </div>
  <div id="DD2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/DD/DD3.png" style="width:100%">
    </div>
  </div>
  <div id="DD2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/DD/DD4.png" style="width:100%">
    </div>
  </div>
  <div id="DD3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/DD/DD5.png" style="width:100%">
    </div>
  </div>
  <div id="DD3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/DD/DD2.png" style="width:100%">
    </div>
  </div>
  <div id="DD4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/DD/DD3.png" style="width:100%">
    </div>
  </div>
  <div id="DD4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/DD/DD4.png" style="width:100%">
    </div>
  </div>
</div>
<div class="Corkscrews">
  <div id="Corkscrew1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Corkscrew/Corkscrew1.png" style="width:100%">
    </div>
  </div>
  <div id="Corkscrew1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Corkscrew/Corkscrew2.png" style="width:100%">
    </div>
  </div>
  <div id="Corkscrew2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Corkscrew/Corkscrew3.png" style="width:100%">
    </div>
  </div>
  <div id="Corkscrew2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Corkscrew/Corkscrew4.png" style="width:100%">
    </div>
  </div>
  <div id="Corkscrew3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Corkscrew/Corkscrew5.png" style="width:100%">
    </div>
  </div>
  <div id="Corkscrew3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Corkscrew/Corkscrew6.png" style="width:100%">
    </div>
  </div>
  <div id="Corkscrew4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Corkscrew/Corkscrew7.png" style="width:100%">
    </div>
  </div>
  <div id="Corkscrew4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Corkscrew/Corkscrew8.png" style="width:100%">
    </div>
  </div>
</div>
<!-- Moonwalk -->
<div class="Moonshuffle">
  <div id="Moonshuffle1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Moonshuffle/Moonshuffle1.png" style="width:100%">
    </div>
  </div>
  <div id="Moonshuffle1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Moonshuffle/Moonshuffle2.png" style="width:100%">
    </div>
  </div>
  <div id="Moonshuffle2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Moonshuffle/Moonshuffle3.png" style="width:100%">
    </div>
  </div>
  <div id="Moonshuffle2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Moonshuffle/Moonshuffle4.png" style="width:100%">
    </div>
  </div>
  <div id="Moonshuffle3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Moonshuffle/Moonshuffle5.png" style="width:100%">
    </div>
  </div>
  <div id="Moonshuffle3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Moonshuffle/Moonshuffle6.png" style="width:100%">
    </div>
  </div>
  <div id="Moonshuffle4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Moonshuffle/Moonshuffle7.png" style="width:100%">
    </div>
  </div>
  <div id="Moonshuffle4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Moonshuffle/Moonshuffle8.png" style="width:100%">
    </div>
  </div>
</div>
<div class="Moonwalk">
  <div id="Moonwalk1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Moonwalk/Moonwalk1.png" style="width:100%">
    </div>
  </div>
  <div id="Moonwalk1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Moonwalk/Moonwalk2.png" style="width:100%">
    </div>
  </div>
  <div id="Moonwalk2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Moonwalk/Moonwalk3.png" style="width:100%">
    </div>
  </div>
  <div id="Moonwalk2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Moonwalk/Moonwalk4.png" style="width:100%">
    </div>
  </div>
  <div id="Moonwalk3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Moonwalk/Moonwalk5.png" style="width:100%">
    </div>
  </div>
  <div id="Moonwalk3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Moonwalk/Moonwalk6.png" style="width:100%">
    </div>
  </div>
  <div id="Moonwalk4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Moonwalk/Moonwalk7.png" style="width:100%">
    </div>
  </div>
</div>
<!-- Running Man -->
<div class="RunningMans">
  <div id="RM1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RunningMan/RunningMan1.png" style="width:100%">
    </div>
  </div>
  <div id="RM1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RunningMan/RunningMan2.png" style="width:100%">
    </div>
  </div>
  <div id="RM2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RunningMan/RunningMan3.png" style="width:100%">
    </div>
  </div>
  <div id="RM2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RunningMan/RunningMan4.png" style="width:100%">
    </div>
  </div>
  <div id="RM3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RunningMan/RunningMan5.png" style="width:100%">
    </div>
  </div>
  <div id="RM3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RunningMan/RunningMan6.png" style="width:100%">
    </div>
  </div>
  <div id="RM4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RunningMan/RunningMan7.png" style="width:100%">
    </div>
  </div>
  <div id="RM4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RunningMan/RunningMan8.png" style="width:100%">
    </div>
  </div>
</div>
<div class="ReverseRunningMans">
  <div id="RMReverse1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RunningManReverse/RunningManReverse1.png" style="width:100%">
    </div>
  </div>
  <div id="RMReverse1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RunningManReverse/RunningManReverse2.png" style="width:100%">
    </div>
  </div>
  <div id="RMReverse2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RunningManReverse/RunningManReverse3.png" style="width:100%">
    </div>
  </div>
  <div id="RMReverse2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RunningManReverse/RunningManReverse4.png" style="width:100%">
    </div>
  </div>
  <div id="RMReverse3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RunningManReverse/RunningManReverse5.png" style="width:100%">
    </div>
  </div>
  <div id="RMReverse3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RunningManReverse/RunningManReverse6.png" style="width:100%">
    </div>
  </div>
  <div id="RMReverse4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RunningManReverse/RunningManReverse7.png" style="width:100%">
    </div>
  </div>
  <div id="RMReverse4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RunningManReverse/RunningManReverse8.png" style="width:100%">
    </div>
  </div>
</div>
<div class="RMGlide">
  <div id="SidewaysGlide1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SidewaysGlide/SidewaysGlide1.png" style="width:100%">
    </div>
  </div>
  <div id="SidewaysGlide1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SidewaysGlide/SidewaysGlide2.png" style="width:100%">
    </div>
  </div>
  <div id="SidewaysGlide2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SidewaysGlide/SidewaysGlide3.png" style="width:100%">
    </div>
  </div>
  <div id="SidewaysGlide2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SidewaysGlide/SidewaysGlide4.png" style="width:100%">
    </div>
  </div>
  <div id="SidewaysGlide3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SidewaysGlide/SidewaysGlide5.png" style="width:100%">
    </div>
  </div>
  <div id="SidewaysGlide3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SidewaysGlide/SidewaysGlide6.png" style="width:100%">
    </div>
  </div>
  <div id="SidewaysGlide4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SidewaysGlide/SidewaysGlide7.png" style="width:100%">
    </div>
  </div>
  <div id="SidewaysGlide4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SidewaysGlide/SidewaysGlide8.png" style="width:100%">
    </div>
  </div>
</div>
<div class="RevPops">
  <div id="ReversePops1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ReversePops/ReversePops1.png" style="width:100%">
    </div>
  </div>
  <div id="ReversePops1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ReversePops/ReversePops2.png" style="width:100%">
    </div>
  </div>
  <div id="ReversePops2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ReversePops/ReversePops3.png" style="width:100%">
    </div>
  </div>
  <div id="ReversePops2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ReversePops/ReversePops4.png" style="width:100%">
    </div>
  </div>
  <div id="ReversePops3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ReversePops/ReversePops5.png" style="width:100%">
    </div>
  </div>
  <div id="ReversePops3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ReversePops/ReversePops6.png" style="width:100%">
    </div>
  </div>
  <div id="ReversePops4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ReversePops/ReversePops7.png" style="width:100%">
    </div>
  </div>
  <div id="ReversePops4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ReversePops/ReversePops8.png" style="width:100%">
    </div>
  </div>
</div>
<div class="Windswept">
  <!-- Modal Count 1 -->
  <div id="Windswept1" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
      <img src="../img/Count/Windswept/Windswept1.png" style="width:100%">
    </div>
  </div>
  <!-- Modal Count 1& -->
  <div id="Windswept1a" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
      <img src="../img/Count/Windswept/Windswept2.png" style="width:100%">
    </div>
  </div>
  <!-- Modal Count 2 -->
  <div id="Windswept2" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
      <img src="../img/Count/Windswept/Windswept3.png" style="width:100%">
    </div>
  </div>
  <!-- Modal Count 2& -->
  <div id="Windswept2a" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
      <img src="../img/Count/Windswept/Windswept4.png" style="width:100%">
    </div>
  </div>
  <!-- Modal Count 3 -->
  <div id="Windswept3" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
      <img src="../img/Count/Windswept/Windswept5.png" style="width:100%">
    </div>
  </div>
  <!-- Modal Count 3& -->
  <div id="Windswept3a" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
      <img src="../img/Count/Windswept/Windswept6.png" style="width:100%">
    </div>
  </div>
  <!-- Modal Count 4 -->
  <div id="Windswept4" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
      <img src="../img/Count/Windswept/Windswept7.png" style="width:100%">
    </div>
  </div>
  <!-- Modal Count 4& -->
  <div id="Windswept4a" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
      <img src="../img/Count/Windswept/Windswept8.png" style="width:100%">
    </div>
  </div>
</div>
<div class="Zombie">
  <!-- Modal Count 1 -->
  <div id="Zombie1" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
      <img src="../img/Count/Zombie/Zombie1.png" style="width:100%">
    </div>
  </div>
  <!-- Modal Count 1& -->
  <div id="Zombie1a" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
      <img src="../img/Count/Zombie/Zombie2.png" style="width:100%">
    </div>
  </div>
  <!-- Modal Count 2 -->
  <div id="Zombie2" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
      <img src="../img/Count/Zombie/Zombie3.png" style="width:100%">
    </div>
  </div>
  <!-- Modal Count 2& -->
  <div id="Zombie2a" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
      <img src="../img/Count/Zombie/Zombie4.png" style="width:100%">
    </div>
  </div>
  <!-- Modal Count 3 -->
  <div id="Zombie3" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
      <img src="../img/Count/Zombie/Zombie5.png" style="width:100%">
    </div>
  </div>
  <!-- Modal Count 3& -->
  <div id="Zombie3a" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
      <img src="../img/Count/Zombie/Zombie6.png" style="width:100%">
    </div>
  </div>
  <!-- Modal Count 4 -->
  <div id="Zombie4" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
      <img src="../img/Count/Zombie/Zombie7.png" style="width:100%">
    </div>
  </div>
  <!-- Modal Count 4& -->
  <div id="Zombie4a" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
      <img src="../img/Count/Zombie/Zombie8.png" style="width:100%">
    </div>
  </div>
</div>
<!-- Slides -->
<div class="SandLine">
  <div id="SandLine1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SandLine/SandLine1.png" style="width:100%">
    </div>
  </div>
  <div id="SandLine1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SandLine/SandLine2.png" style="width:100%">
    </div>
  </div>
  <div id="SandLine2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SandLine/SandLine3.png" style="width:100%">
    </div>
  </div>
  <div id="SandLine2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SandLine/SandLine4.png" style="width:100%">
    </div>
  </div>
</div>
<div class="Ganariccc">
  <!-- Modal Count 1 -->
  <div id="Ganariccc1" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
      <img src="../img/Count/Ganariccc/Ganariccc1.png" style="width:100%">
    </div>
  </div>
  <!-- Modal Count 1& -->
  <div id="Ganariccc1a" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
      <img src="../img/Count/Ganariccc/Ganariccc2.png" style="width:100%">
    </div>
  </div>
  <!-- Modal Count 2 -->
  <div id="Ganariccc2" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
      <img src="../img/Count/Ganariccc/Ganariccc3.png" style="width:100%">
    </div>
  </div>
  <!-- Modal Count 2& -->
  <div id="Ganariccc2a" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
      <img src="../img/Count/Ganariccc/Ganariccc4.png" style="width:100%">
    </div>
  </div>
  <!-- Modal Count 3 -->
  <div id="Ganariccc3" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
      <img src="../img/Count/Ganariccc/Ganariccc5.png" style="width:100%">
    </div>
  </div>
  <!-- Modal Count 3& -->
  <div id="Ganariccc3a" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
      <img src="../img/Count/Ganariccc/Ganariccc6.png" style="width:100%">
    </div>
  </div>
  <!-- Modal Count 4 -->
  <div id="Ganariccc4" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
      <img src="../img/Count/Ganariccc/Ganariccc7.png" style="width:100%">
    </div>
  </div>
  <!-- Modal Count 4& -->
  <div id="Ganariccc4a" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
      <img src="../img/Count/Ganariccc/Ganariccc8.png" style="width:100%">
    </div>
  </div>
</div>
<div class="ClothesPin">
  <div id="ClothesPin1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ClothesPin/ClothesPin1.png" style="width:100%">
    </div>
  </div>
  <div id="ClothesPin1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ClothesPin/ClothesPin2.png" style="width:100%">
    </div>
  </div>
  <div id="ClothesPin2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ClothesPin/ClothesPin3.png" style="width:100%">
    </div>
  </div>
  <div id="ClothesPin2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ClothesPin/ClothesPin4.png" style="width:100%">
    </div>
  </div>
</div>
<div class="SlideSwitches">
  <!-- Modal Count 1 -->
  <div id="SlideSwitches1" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
      <img src="../img/Count/SlideSwitches/SlideSwitches1.png" style="width:100%">
    </div>
  </div>
  <!-- Modal Count 1& -->
  <div id="SlideSwitches1a" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
      <img src="../img/Count/SlideSwitches/SlideSwitches2.png" style="width:100%">
    </div>
  </div>
  <!-- Modal Count 2 -->
  <div id="SlideSwitches2" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
      <img src="../img/Count/SlideSwitches/SlideSwitches3.png" style="width:100%">
    </div>
  </div>
  <!-- Modal Count 2& -->
  <div id="SlideSwitches2a" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
      <img src="../img/Count/SlideSwitches/SlideSwitches4.png" style="width:100%">
    </div>
  </div>
  <!-- Modal Count 3 -->
  <div id="SlideSwitches3" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
      <img src="../img/Count/SlideSwitches/SlideSwitches5.png" style="width:100%">
    </div>
  </div>
  <!-- Modal Count 3& -->
  <div id="SlideSwitches3a" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
      <img src="../img/Count/SlideSwitches/SlideSwitches6.png" style="width:100%">
    </div>
  </div>
  <!-- Modal Count 4 -->
  <div id="SlideSwitches4" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
      <img src="../img/Count/SlideSwitches/SlideSwitches7.png" style="width:100%">
    </div>
  </div>
  <!-- Modal Count 4& -->
  <div id="SlideSwitches4a" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
      <img src="../img/Count/SlideSwitches/SlideSwitches8.png" style="width:100%">
    </div>
  </div>
</div>
<!-- Spins -->
<div class="KickSpin">
  <div id="SpinKick1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SpinKick/SpinKick1.png" style="width:100%">
    </div>
  </div>
  <div id="SpinKick1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SpinKick/SpinKick2.png" style="width:100%">
    </div>
  </div>
  <div id="SpinKick2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SpinKick/SpinKick3.png" style="width:100%">
    </div>
  </div>
  <div id="SpinKick2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SpinKick/SpinKick4.png" style="width:100%">
    </div>
  </div>
  <div id="SpinKick3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SpinKick/SpinKick5.png" style="width:100%">
    </div>
  </div>
  <div id="SpinKick3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SpinKick/SpinKick6.png" style="width:100%">
    </div>
  </div>
  <div id="SpinKick4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SpinKick/SpinKick7.png" style="width:100%">
    </div>
  </div>
  <div id="SpinKick4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SpinKick/SpinKick8.png" style="width:100%">
    </div>
  </div>
  <div id="SpinKick9" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SpinKick/SpinKick9.png" style="width:100%">
    </div>
  </div>
  <div id="SpinKick9a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SpinKick/SpinKick10.png" style="width:100%">
    </div>
  </div>
  <div id="SpinKick10" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SpinKick/SpinKick11.png" style="width:100%">
    </div>
  </div>
  <div id="SpinKick10a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SpinKick/SpinKick12.png" style="width:100%">
    </div>
  </div>
</div>
<div class="KickSpinToes">
  <div id="SpinKickToes1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SpinKickToes/SpinKickToes1.png" style="width:100%">
    </div>
  </div>
  <div id="SpinKickToes1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SpinKickToes/SpinKickToes2.png" style="width:100%">
    </div>
  </div>
  <div id="SpinKickToes2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SpinKickToes/SpinKickToes3.png" style="width:100%">
    </div>
  </div>
  <div id="SpinKickToes2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SpinKickToes/SpinKickToes4.png" style="width:100%">
    </div>
  </div>
  <div id="SpinKickToes3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SpinKickToes/SpinKickToes5.png" style="width:100%">
    </div>
  </div>
  <div id="SpinKickToes3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SpinKickToes/SpinKickToes6.png" style="width:100%">
    </div>
  </div>
</div>
<div class="forwardsSpin">
  <div id="ForwardsSpin1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ForwardsSpin/ForwardsSpin1.png" style="width:100%">
    </div>
  </div>
  <div id="ForwardsSpin1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ForwardsSpin/ForwardsSpin2.png" style="width:100%">
    </div>
  </div>
  <div id="ForwardsSpin2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ForwardsSpin/ForwardsSpin3.png" style="width:100%">
    </div>
  </div>
  <div id="ForwardsSpin2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ForwardsSpin/ForwardsSpin4.png" style="width:100%">
    </div>
  </div>
  <div id="ForwardsSpin3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ForwardsSpin/ForwardsSpin5.png" style="width:100%">
    </div>
  </div>
  <div id="ForwardsSpin3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ForwardsSpin/ForwardsSpin6.png" style="width:100%">
    </div>
  </div>
  <div id="ForwardsSpin4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ForwardsSpin/ForwardsSpin7.png" style="width:100%">
    </div>
  </div>
  <div id="ForwardsSpin4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ForwardsSpin/ForwardsSpin8.png" style="width:100%">
    </div>
  </div>
</div>
<div class="backwardsSpin">
  <div id="BackwardsSpin1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/BackwardsSpin/BackwardsSpin1.png" style="width:100%">
    </div>
  </div>
  <div id="BackwardsSpin1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/BackwardsSpin/BackwardsSpin2.png" style="width:100%">
    </div>
  </div>
  <div id="BackwardsSpin2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/BackwardsSpin/BackwardsSpin3.png" style="width:100%">
    </div>
  </div>
  <div id="BackwardsSpin2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/BackwardsSpin/BackwardsSpin4.png" style="width:100%">
    </div>
  </div>
  <div id="BackwardsSpin3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/BackwardsSpin/BackwardsSpin5.png" style="width:100%">
    </div>
  </div>
  <div id="BackwardsSpin3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/BackwardsSpin/BackwardsSpin6.png" style="width:100%">
    </div>
  </div>
  <div id="BackwardsSpin4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/BackwardsSpin/BackwardsSpin7.png" style="width:100%">
    </div>
  </div>
  <div id="BackwardsSpin4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/BackwardsSpin/BackwardsSpin8.png" style="width:100%">
    </div>
  </div>
</div>
<div class="FlatFootSpin">
  <!-- Modal Count 1 -->
  <div id="FlatFootSpin1" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
      <img src="../img/Count/FlatFootSpin/FlatFootSpin1.png" style="width:100%">
    </div>
  </div>
  <!-- Modal Count 1& -->
  <div id="FlatFootSpin1a" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
      <img src="../img/Count/FlatFootSpin/FlatFootSpin2.png" style="width:100%">
    </div>
  </div>
  <!-- Modal Count 2 -->
  <div id="FlatFootSpin2" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
      <img src="../img/Count/FlatFootSpin/FlatFootSpin3.png" style="width:100%">
    </div>
  </div>
  <!-- Modal Count 2& -->
  <div id="FlatFootSpin2a" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
      <img src="../img/Count/FlatFootSpin/FlatFootSpin4.png" style="width:100%">
    </div>
  </div>
  <!-- Modal Count 3 -->
  <div id="FlatFootSpin3" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
      <img src="../img/Count/FlatFootSpin/FlatFootSpin5.png" style="width:100%">
    </div>
  </div>
  <!-- Modal Count 3& -->
  <div id="FlatFootSpin3a" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
      <img src="../img/Count/FlatFootSpin/FlatFootSpin6.png" style="width:100%">
    </div>
  </div>
  <!-- Modal Count 4 -->
  <div id="FlatFootSpin4" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
      <img src="../img/Count/FlatFootSpin/FlatFootSpin7.png" style="width:100%">
    </div>
  </div>
  <!-- Modal Count 4& -->
  <div id="FlatFootSpin4a" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
      <img src="../img/Count/FlatFootSpin/FlatFootSpin8.png" style="width:100%">
    </div>
  </div>
</div>
<!-- Stutters -->
<div class="RearStutter">
  <div id="StutterRear1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/StutterRear/StutterRear1.png" style="width:100%">
    </div>
  </div>
  <div id="StutterRear1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/StutterRear/StutterRear2.png" style="width:100%">
    </div>
  </div>
  <div id="StutterRear2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/StutterRear/StutterRear3.png" style="width:100%">
    </div>
  </div>
  <div id="StutterRear2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/StutterRear/StutterRear4.png" style="width:100%">
    </div>
  </div>
  <div id="StutterRear3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/StutterRear/StutterRear5.png" style="width:100%">
    </div>
  </div>
</div>
<div class="RearLoopDeLoop">
  <div id="LoopDeLoop1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/LoopDeLoop/LoopDeLoop1.png" style="width:100%">
    </div>
  </div>
  <div id="LoopDeLoop1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/LoopDeLoop/LoopDeLoop2.png" style="width:100%">
    </div>
  </div>
  <div id="LoopDeLoop2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/LoopDeLoop/LoopDeLoop3.png" style="width:100%">
    </div>
  </div>
  <div id="LoopDeLoop2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/LoopDeLoop/LoopDeLoop4.png" style="width:100%">
    </div>
  </div>
  <div id="LoopDeLoop3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/LoopDeLoop/LoopDeLoop5.png" style="width:100%">
    </div>
  </div>
  <div id="LoopDeLoop3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/LoopDeLoop/LoopDeLoop6.png" style="width:100%">
    </div>
  </div>
  <div id="LoopDeLoop4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <img src="../img/Count/LoopDeLoop/LoopDeLoop7.png" style="width:100%">
    </div>
  </div>
  <div id="LoopDeLoop4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/LoopDeLoop/LoopDeLoop8.png" style="width:100%">
    </div>
  </div>
</div>
<div class="KickAboutFace">
  <div id="AboutFace1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/StutterAboutFace/StutterAboutFace1.png" style="width:100%">
    </div>
  </div>
  <div id="AboutFace1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/StutterAboutFace/StutterAboutFace2.png" style="width:100%">
    </div>
  </div>
  <div id="AboutFace2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/StutterAboutFace/StutterAboutFace3.png" style="width:100%">
    </div>
  </div>
  <div id="AboutFace2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/StutterAboutFace/StutterAboutFace4.png" style="width:100%">
    </div>
  </div>
  <div id="AboutFace3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/StutterAboutFace/StutterAboutFace5.png" style="width:100%">
    </div>
  </div>
  <div id="AboutFace3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/StutterAboutFace/StutterAboutFace6.png" style="width:100%">
    </div>
  </div>
  <div id="AboutFace4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/StutterAboutFace/StutterAboutFace7.png" style="width:100%">
    </div>
  </div>
  <div id="AboutFace4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/StutterAboutFace/StutterAboutFace8.png" style="width:100%">
    </div>
  </div>
</div>
