<!-- Hip Hop -->
<div id="HHHitThemFolksMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/aM1wRrvOETPmAACQ4C/giphy.gif" style="width:100%">
  </div>
</div>
<div id="HHBackpackKidMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/Ffb4ti40JpQRUGD524/giphy.gif" style="width:100%">
  </div>
</div>
<div id="HHMillyRockMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/w82VydlsvVBUEK1lhK/giphy.gif" style="width:100%">
  </div>
</div>
<div id="HHSchmoneyMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/3ICbbeOdlbP0yqLfdk/giphy.gif" style="width:100%">
  </div>
</div>
<div id="HHShootMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/37QNggk9Ww5XnBXuM8/giphy.gif" style="width:100%">
  </div>
</div>
<div id="HHSwerveMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/67uB13Mp6kSLYhBjIz/giphy.gif" style="width:100%">
  </div>
</div>
