<!-- Ankle Breakers -->
<div id="SwangMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/xThtad9rqm1ztfbORG/giphy.gif" style="width:100%">
  </div>
</div>
<div id="CrossStepMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/xThtas1SeDXOOBk4ak/giphy.gif" style="width:100%">
  </div>
</div>
<div id="SuzyQMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/X74UHjJf2HIbqYB81I/giphy.gif" style="width:100%">
  </div>
</div>
<div id="TwisterMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/bbSwRLYyG5UPxnzovu/giphy.gif" style="width:100%">
  </div>
</div>
<div id="SmoothCriminalMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/9r8JSkmYk74n3EUAxZ/giphy.gif" style="width:100%">
  </div>
</div>
<div id="SplashHouseMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/fQGu0X4QigeBCHd8j5/giphy.gif" style="width:100%">
  </div>
</div>
<div id="SweepMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/7FgZM5MxthZuxbpD0q/giphy.gif" style="width:100%">
  </div>
</div>
<div id="WeedwackerMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/1lCG3HPwJxGMlyeRgp/giphy.gif" style="width:100%">
  </div>
</div>
<div id="ShimmyLegMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/3o7WIK3IQszqtNO1xu/giphy.gif" style="width:100%">
  </div>
</div>
<!-- Criss Cross -->
<div id="CCMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/300ZuyC7pAD6lvJYdj/giphy.gif" style="width:100%">
  </div>
</div>
<div id="ToePunchMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/l4pTsbSe3lZ6wwR0I/giphy.gif" style="width:100%">
  </div>
</div>

<!-- Cuts -->
<div id="CutsMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/fnmmm1PZSAdPJjCMdw/giphy.gif" style="width:100%">
  </div>
</div>
<div id="ReverseCutsMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/l4pT4a6mVBWX90TwQ/giphy.gif" style="width:100%">
  </div>
</div>
<div id="CutsRearKickMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/d2RLSc9GG1AKk5pehZ/giphy.gif" style="width:100%">
  </div>
</div>
<div id="CutsFrontStutterMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/EQ86L2PcYijKEHr6L6/giphy.gif" style="width:100%">
  </div>
</div>
<div id="CutsRearStutterMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/4QFBnHU316gxIBGtgM/giphy.gif" style="width:100%">
  </div>
</div>
<div id="SideToeTapsMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/3httMR9QRMZs7LiwZh/giphy.gif" style="width:100%">
  </div>
</div>
<!-- Leaner -->
<div id="LeanerMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/xThtaoLNc308XAtwmQ/giphy.gif" style="width:100%">
  </div>
</div>
<div id="ReverseLeanersMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/wKKmLbuhccHkFabm8T/giphy.gif" style="width:100%">
  </div>
</div>
<div id="CurbStompMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/xThtaa4lughIHnqXq8/giphy.gif" style="width:100%">
  </div>
</div>
<div id="InNOutMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/9zXABXgodEuq5bAnSo/giphy.gif" style="width:100%">
  </div>
</div>
<div id="ForwardLaunchMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/1wmxDMeCPilm4ApDNg/giphy.gif" style="width:100%">
  </div>
</div>
<div id="LaunchBackMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/MRXmySP4fEpSowInOy/giphy.gif" style="width:100%">
  </div>
</div>
<div id="KaraokeMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/pVR9W7XvlxgLYzqM3p/giphy.gif" style="width:100%">
  </div>
</div>
<!-- Shimmy -->
<div id="ShimmyMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/5tf23PyEFAzU43bftN/giphy.gif" style="width:100%">
  </div>
</div>
<div id="ToePogoMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/3ohs4bx9j7OeEZXdug/giphy.gif" style="width:100%">
  </div>
</div>
<div id="CharlestonMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/1dMKKFOazyIzShe6LB/giphy.gif" style="width:100%">
  </div>
</div>
<div id="RoundaboutsMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/26DN2JSBAp2NrfGtW/giphy.gif" style="width:100%">
  </div>
</div>
<!-- Spins -->
<div id="Spin360MoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/l4pTnAHu5Td9hLwu4/giphy.gif" style="width:100%">
  </div>
</div>
<div id="Spin360ToesMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/3ohs4u879sZAn5QpOM/giphy.gif" style="width:100%">
  </div>
</div>
<div id="SpinInsideFootMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/xUOwGb4UdInFx2O1MI/giphy.gif" style="width:100%">
  </div>
</div>
<div id="SpinOutsideFootMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/xTht9ZRH3jNOKyGCdO/giphy.gif" style="width:100%">
  </div>
</div>
