<!-- Ankle Breakers -->
<div class="ATP">
  <div id="ATP1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ATP/ATP1.png" style="width:100%">
    </div>
  </div>
  <div id="ATP1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ATP/ATP2.png" style="width:100%">
    </div>
  </div>
  <div id="ATP2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ATP/ATP3.png" style="width:100%">
    </div>
  </div>
  <div id="ATP2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ATP/ATP4.png" style="width:100%">
    </div>
  </div>
  <div id="ATP3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ATP/ATP5.png" style="width:100%">
    </div>
  </div>
  <div id="ATP3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ATP/ATP6.png" style="width:100%">
    </div>
  </div>
  <div id="ATP4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ATP/ATP7.png" style="width:100%">
    </div>
  </div>
  <div id="ATP4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ATP/ATP8.png" style="width:100%">
    </div>
  </div>
</div>
<div class="ATPJumps">
  <div id="ATPJump1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ATPJump/ATPJump1.png" style="width:100%">
    </div>
  </div>
  <div id="ATPJump1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ATPJump/ATPJump2.png" style="width:100%">
    </div>
  </div>
  <div id="ATPJump2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ATPJump/ATPJump3.png" style="width:100%">
    </div>
  </div>
  <div id="ATPJump2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ATPJump/ATPJump4.png" style="width:100%">
    </div>
  </div>
  <div id="ATPJump3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ATPJump/ATPJump5.png" style="width:100%">
    </div>
  </div>
  <div id="ATPJump3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ATPJump/ATPJump6.png" style="width:100%">
    </div>
  </div>
  <div id="ATPJump4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ATPJump/ATPJump7.png" style="width:100%">
    </div>
  </div>
  <div id="ATPJump4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ATPJump/ATPJump8.png" style="width:100%">
    </div>
  </div>
</div>
<div class="HeelOuts">
  <div id="ATPCheckMyKicks1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ATPCheckMyKicks/ATPCheckMyKicks1.png" style="width:100%">
    </div>
  </div>
  <div id="ATPCheckMyKicks1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ATPCheckMyKicks/ATPCheckMyKicks2.png" style="width:100%">
    </div>
  </div>
  <div id="ATPCheckMyKicks2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ATPCheckMyKicks/ATPCheckMyKicks3.png" style="width:100%">
    </div>
  </div>
  <div id="ATPCheckMyKicks2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ATPCheckMyKicks/ATPCheckMyKicks4.png" style="width:100%">
    </div>
  </div>
  <div id="ATPCheckMyKicks3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ATPCheckMyKicks/ATPCheckMyKicks5.png" style="width:100%">
    </div>
  </div>
  <div id="ATPCheckMyKicks3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ATPCheckMyKicks/ATPCheckMyKicks6.png" style="width:100%">
    </div>
  </div>
  <div id="ATPCheckMyKicks4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ATPCheckMyKicks/ATPCheckMyKicks7.png" style="width:100%">
    </div>
  </div>
  <div id="ATPCheckMyKicks4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ATPCheckMyKicks/ATPCheckMyKicks8.png" style="width:100%">
    </div>
  </div>
</div>
<div class="ToeDivots">
  <div id="ToeDivots1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ToeDivots/ToeDivots1.png" style="width:100%">
    </div>
  </div>
  <div id="ToeDivots1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ToeDivots/ToeDivots2.png" style="width:100%">
    </div>
  </div>
  <div id="ToeDivots2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ToeDivots/ToeDivots3.png" style="width:100%">
    </div>
  </div>
  <div id="ToeDivots2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ToeDivots/ToeDivots4.png" style="width:100%">
    </div>
  </div>
  <div id="ToeDivots3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ToeDivots/ToeDivots5.png" style="width:100%">
    </div>
  </div>
  <div id="ToeDivots3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ToeDivots/ToeDivots6.png" style="width:100%">
    </div>
  </div>
  <div id="ToeDivots4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ToeDivots/ToeDivots7.png" style="width:100%">
    </div>
  </div>
  <div id="ToeDivots4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ToeDivots/ToeDivots8.png" style="width:100%">
    </div>
  </div>
</div>
<!-- Criss Cross -->
<div class="CCs">
  <div id="CC1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CC/CC1.png" style="width:100%">
    </div>
  </div>
  <div id="CC1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CC/CC2.png" style="width:100%">
    </div>
  </div>
  <div id="CC2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CC/CC3.png" style="width:100%">
    </div>
  </div>
  <div id="CC2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CC/CC4.png" style="width:100%">
    </div>
  </div>
  <div id="CC3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CC/CC5.png" style="width:100%">
    </div>
  </div>
  <div id="CC3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CC/CC6.png" style="width:100%">
    </div>
  </div>
  <div id="CC4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CC/CC7.png" style="width:100%">
    </div>
  </div>
  <div id="CC4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CC/CC8.png" style="width:100%">
    </div>
  </div>
</div>
<div class="CCToePunchOuts">
  <div id="CCToePunchOut1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CCToePunchOut/CCToePunchOut1.png" style="width:100%">
    </div>
  </div>
  <div id="CCToePunchOut1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CCToePunchOut/CCToePunchOut2.png" style="width:100%">
    </div>
  </div>
  <div id="CCToePunchOut2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CCToePunchOut/CCToePunchOut3.png" style="width:100%">
    </div>
  </div>
  <div id="CCToePunchOut2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CCToePunchOut/CCToePunchOut4.png" style="width:100%">
    </div>
  </div>
  <div id="CCToePunchOut3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CCToePunchOut/CCToePunchOut5.png" style="width:100%">
    </div>
  </div>
  <div id="CCToePunchOut3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CCToePunchOut/CCToePunchOut6.png" style="width:100%">
    </div>
  </div>
  <div id="CCToePunchOut4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CCToePunchOut/CCToePunchOut7.png" style="width:100%">
    </div>
  </div>
  <div id="CCToePunchOut4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CCToePunchOut/CCToePunchOut8.png" style="width:100%">
    </div>
  </div>
</div>
<div class="CCSwitcheroos">
  <div id="CCSwitcheroo1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CCSwitcheroo/CCSwitcheroo1.png" style="width:100%">
    </div>
  </div>
  <div id="CCSwitcheroo1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CCSwitcheroo/CCSwitcheroo2.png" style="width:100%">
    </div>
  </div>
  <div id="CCSwitcheroo2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CCSwitcheroo/CCSwitcheroo3.png" style="width:100%">
    </div>
  </div>
  <div id="CCSwitcheroo2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CCSwitcheroo/CCSwitcheroo4.png" style="width:100%">
    </div>
  </div>
  <div id="CCSwitcheroo3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CCSwitcheroo/CCSwitcheroo5.png" style="width:100%">
    </div>
  </div>
  <div id="CCSwitcheroo3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CCSwitcheroo/CCSwitcheroo6.png" style="width:100%">
    </div>
  </div>
  <div id="CCSwitcheroo4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CCSwitcheroo/CCSwitcheroo7.png" style="width:100%">
    </div>
  </div>
  <div id="CCSwitcheroo4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CCSwitcheroo/CCSwitcheroo8.png" style="width:100%">
    </div>
  </div>
</div>
<div class="CCToeSlices">
  <div id="CCToeSlice1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CCToeSlice/CCtoeSlice1.png" style="width:100%">
    </div>
  </div>
  <div id="CCToeSlice1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CCToeSlice/CCtoeSlice2.png" style="width:100%">
    </div>
  </div>
  <div id="CCToeSlice2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CCToeSlice/CCtoeSlice3.png" style="width:100%">
    </div>
  </div>
  <div id="CCToeSlice2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CCToeSlice/CCtoeSlice4.png" style="width:100%">
    </div>
  </div>
  <div id="CCToeSlice3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CCToeSlice/CCtoeSlice5.png" style="width:100%">
    </div>
  </div>
  <div id="CCToeSlice3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CCToeSlice/CCtoeSlice6.png" style="width:100%">
    </div>
  </div>
  <div id="CCToeSlice4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CCToeSlice/CCtoeSlice7.png" style="width:100%">
    </div>
  </div>
  <div id="CCToeSlice4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CCToeSlice/CCtoeSlice8.png" style="width:100%">
    </div>
  </div>
</div>
<!-- Cuts -->
<div class="Cutscuts">
  <div id="Cuts1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Cuts/Cuts1.png" style="width:100%">
    </div>
  </div>
  <div id="Cuts1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Cuts/Cuts2.png" style="width:100%">
    </div>
  </div>
  <div id="Cuts2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Cuts/Cuts3.png" style="width:100%">
    </div>
  </div>
  <div id="Cuts2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Cuts/Cuts4.png" style="width:100%">
    </div>
  </div>
  <div id="Cuts3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Cuts/Cuts5.png" style="width:100%">
    </div>
  </div>
  <div id="Cuts3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Cuts/Cuts6.png" style="width:100%">
    </div>
  </div>
  <div id="Cuts4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Cuts/Cuts7.png" style="width:100%">
    </div>
  </div>
  <div id="Cuts4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Cuts/Cuts8.png" style="width:100%">
    </div>
  </div>
</div>
<div class="ReverseCuts">
  <div id="CutsReverse1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CutsReverse/CutsReverse1.png" style="width:100%">
    </div>
  </div>
  <div id="CutsReverse1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CutsReverse/CutsReverse2.png" style="width:100%">
    </div>
  </div>
  <div id="CutsReverse2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CutsReverse/CutsReverse3.png" style="width:100%">
    </div>
  </div>
  <div id="CutsReverse2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CutsReverse/CutsReverse4.png" style="width:100%">
    </div>
  </div>
  <div id="CutsReverse3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CutsReverse/CutsReverse5.png" style="width:100%">
    </div>
  </div>
  <div id="CutsReverse3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CutsReverse/CutsReverse6.png" style="width:100%">
    </div>
  </div>
  <div id="CutsReverse4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CutsReverse/CutsReverse7.png" style="width:100%">
    </div>
  </div>
  <div id="CutsReverse4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CutsReverse/CutsReverse8.png" style="width:100%">
    </div>
  </div>
</div>
<div class="ToeHeelBounceCuts">
  <div id="CutsToeHeelBounce1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CutsToeHeelBounce/CutsToeHeelBounce1.png" style="width:100%">
    </div>
  </div>
  <div id="CutsToeHeelBounce1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CutsToeHeelBounce/CutsToeHeelBounce2.png" style="width:100%">
    </div>
  </div>
  <div id="CutsToeHeelBounce2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CutsToeHeelBounce/CutsToeHeelBounce3.png" style="width:100%">
    </div>
  </div>
  <div id="CutsToeHeelBounce2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CutsToeHeelBounce/CutsToeHeelBounce4.png" style="width:100%">
    </div>
  </div>
  <div id="CutsToeHeelBounce3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CutsToeHeelBounce/CutsToeHeelBounce5.png" style="width:100%">
    </div>
  </div>
  <div id="CutsToeHeelBounce3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CutsToeHeelBounce/CutsToeHeelBounce6.png" style="width:100%">
    </div>
  </div>
  <div id="CutsToeHeelBounce4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CutsToeHeelBounce/CutsToeHeelBounce7.png" style="width:100%">
    </div>
  </div>
  <div id="CutsToeHeelBounce4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CutsToeHeelBounce/CutsToeHeelBounce8.png" style="width:100%">
    </div>
  </div>
</div>
<div class="ToeTaps">
  <div id="CutsSideToeTaps1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CutsSideToeTaps/CutsSideToeTaps1.png" style="width:100%">
    </div>
  </div>
  <div id="CutsSideToeTaps1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CutsSideToeTaps/CutsSideToeTaps2.png" style="width:100%">
    </div>
  </div>
  <div id="CutsSideToeTaps2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CutsSideToeTaps/CutsSideToeTaps3.png" style="width:100%">
    </div>
  </div>
  <div id="CutsSideToeTaps2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CutsSideToeTaps/CutsSideToeTaps4.png" style="width:100%">
    </div>
  </div>
  <div id="CutsSideToeTaps3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CutsSideToeTaps/CutsSideToeTaps5.png" style="width:100%">
    </div>
  </div>
  <div id="CutsSideToeTaps3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CutsSideToeTaps/CutsSideToeTaps6.png" style="width:100%">
    </div>
  </div>
  <div id="CutsSideToeTaps4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CutsSideToeTaps/CutsSideToeTaps7.png" style="width:100%">
    </div>
  </div>
  <div id="CutsSideToeTaps4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CutsSideToeTaps/CutsToeHeelBounce8.png" style="width:100%">
    </div>
  </div>
</div>
<div class="CutsRearKick">
  <div id="CutsRearKick1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CutsRearKick/CutsRearKick1.png" style="width:100%">
    </div>
  </div>
  <div id="CutsRearKick1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CutsRearKick/CutsRearKick2.png" style="width:100%">
    </div>
  </div>
  <div id="CutsRearKick2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CutsRearKick/CutsRearKick3.png" style="width:100%">
    </div>
  </div>
  <div id="CutsRearKick2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CutsRearKick/CutsRearKick4.png" style="width:100%">
    </div>
  </div>
  <div id="CutsRearKick3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CutsRearKick/CutsRearKick5.png" style="width:100%">
    </div>
  </div>
  <div id="CutsRearKick3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CutsRearKick/CutsRearKick6.png" style="width:100%">
    </div>
  </div>
  <div id="CutsRearKick4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CutsRearKick/CutsRearKick7.png" style="width:100%">
    </div>
  </div>
  <div id="CutsRearKick4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CutsRearKick/CutsRearKick8.png" style="width:100%">
    </div>
  </div>
</div>
<div class="CutsRearStutter">
  <div id="CutsRearStutter1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CutsRearStutter/CutsRearStutter1.png" style="width:100%">
    </div>
  </div>
  <div id="CutsRearStutter1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CutsRearStutter/CutsRearStutter2.png" style="width:100%">
    </div>
  </div>
  <div id="CutsRearStutter2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CutsRearStutter/CutsRearStutter3.png" style="width:100%">
    </div>
  </div>
  <div id="CutsRearStutter2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CutsRearStutter/CutsRearStutter4.png" style="width:100%">
    </div>
  </div>
  <div id="CutsRearStutter3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CutsRearStutter/CutsRearStutter5.png" style="width:100%">
    </div>
  </div>
  <div id="CutsRearStutter3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CutsRearStutter/CutsRearStutter6.png" style="width:100%">
    </div>
  </div>
  <div id="CutsRearStutter4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CutsRearStutter/CutsRearStutter7.png" style="width:100%">
    </div>
  </div>
  <div id="CutsRearStutter4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CutsRearStutter/CutsRearStutter8.png" style="width:100%">
    </div>
  </div>
</div>
<div class="CutOuts">
  <div id="CutOuts1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CutOuts/CutOuts1.png" style="width:100%">
    </div>
  </div>
  <div id="CutOuts1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CutOuts/CutOuts2.png" style="width:100%">
    </div>
  </div>
  <div id="CutOuts2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CutOuts/CutOuts3.png" style="width:100%">
    </div>
  </div>
  <div id="CutOuts2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CutOuts/CutOuts4.png" style="width:100%">
    </div>
  </div>
  <div id="CutOuts3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CutOuts/CutOuts5.png" style="width:100%">
    </div>
  </div>
  <div id="CutOuts3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CutOuts/CutOuts6.png" style="width:100%">
    </div>
  </div>
  <div id="CutOuts4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CutOuts/CutOuts7.png" style="width:100%">
    </div>
  </div>
  <div id="CutOuts4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CutOuts/CutOuts8.png" style="width:100%">
    </div>
  </div>
</div>
<!-- Leaner -->
<div class="LeanersLeaners">
  <div id="Leaner1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Leaner/Leaner1.png" style="width:100%">
    </div>
  </div>
  <div id="Leaner1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Leaner/Leaner2.png" style="width:100%">
    </div>
  </div>
  <div id="Leaner2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Leaner/Leaner3.png" style="width:100%">
    </div>
  </div>
  <div id="Leaner2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Leaner/Leaner4.png" style="width:100%">
    </div>
  </div>
  <div id="Leaner3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Leaner/Leaner5.png" style="width:100%">
    </div>
  </div>
  <div id="Leaner3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Leaner/Leaner6.png" style="width:100%">
    </div>
  </div>
  <div id="Leaner4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Leaner/Leaner7.png" style="width:100%">
    </div>
  </div>
  <div id="Leaner4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Leaner/Leaner8.png" style="width:100%">
    </div>
  </div>
</div>
<div class="HalfLeaners">
  <div id="LeanerHalf1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/LeanerHalf/LeanerHalf1.png" style="width:100%">
    </div>
  </div>
  <div id="LeanerHalf1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/LeanerHalf/LeanerHalf2.png" style="width:100%">
    </div>
  </div>
  <div id="LeanerHalf2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/LeanerHalf/LeanerHalf3.png" style="width:100%">
    </div>
  </div>
  <div id="LeanerHalf2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/LeanerHalf/LeanerHalf4.png" style="width:100%">
    </div>
  </div>
  <div id="LeanerHalf3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/LeanerHalf/LeanerHalf5.png" style="width:100%">
    </div>
  </div>
  <div id="LeanerHalf3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/LeanerHalf/LeanerHalf6.png" style="width:100%">
    </div>
  </div>
  <div id="LeanerHalf4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/LeanerHalf/LeanerHalf7.png" style="width:100%">
    </div>
  </div>
  <div id="LeanerHalf4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/LeanerHalf/LeanerHalf8.png" style="width:100%">
    </div>
  </div>
</div>
<div class="FrontLeaners">
  <div id="LeanerFronts1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/LeanerFronts/LeanerFronts1.png" style="width:100%">
    </div>
  </div>
  <div id="LeanerFronts1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/LeanerFronts/LeanerFronts2.png" style="width:100%">
    </div>
  </div>
  <div id="LeanerFronts2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/LeanerFronts/LeanerFronts3.png" style="width:100%">
    </div>
  </div>
  <div id="LeanerFronts2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/LeanerFronts/LeanerFronts4.png" style="width:100%">
    </div>
  </div>
  <div id="LeanerFronts3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/LeanerFronts/LeanerFronts5.png" style="width:100%">
    </div>
  </div>
  <div id="LeanerFronts3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/LeanerFronts/LeanerFronts6.png" style="width:100%">
    </div>
  </div>
  <div id="LeanerFronts4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/LeanerFronts/LeanerFronts7.png" style="width:100%">
    </div>
  </div>
  <div id="LeanerFronts4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/LeanerFronts/LeanerFronts8.png" style="width:100%">
    </div>
  </div>
</div>
<div class="FatJoe">
  <div id="FatJoeKick1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/FatJoeKick/FatJoeKick1.png" style="width:100%">
    </div>
  </div>
  <div id="FatJoeKick1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/FatJoeKick/FatJoeKick2.png" style="width:100%">
    </div>
  </div>
  <div id="FatJoeKick2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/FatJoeKick/FatJoeKick3.png" style="width:100%">
    </div>
  </div>
  <div id="FatJoeKick2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/FatJoeKick/FatJoeKick4.png" style="width:100%">
    </div>
  </div>
  <div id="FatJoeKick3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/FatJoeKick/FatJoeKick5.png" style="width:100%">
    </div>
  </div>
  <div id="FatJoeKick3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/FatJoeKick/FatJoeKick6.png" style="width:100%">
    </div>
  </div>
  <div id="FatJoeKick4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/FatJoeKick/FatJoeKick7.png" style="width:100%">
    </div>
  </div>
  <div id="FatJoeKick4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/FatJoeKick/FatJoeKick8.png" style="width:100%">
    </div>
  </div>
</div>
<div class="Karaoke">
  <div id="Karaoke1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Karaoke/Karaoke1.png" style="width:100%">
    </div>
  </div>
  <div id="Karaoke1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Karaoke/Karaoke2.png" style="width:100%">
    </div>
  </div>
  <div id="Karaoke2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Karaoke/Karaoke3.png" style="width:100%">
    </div>
  </div>
  <div id="Karaoke2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Karaoke/Karaoke4.png" style="width:100%">
    </div>
  </div>
  <div id="Karaoke3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Karaoke/Karaoke5.png" style="width:100%">
    </div>
  </div>
  <div id="Karaoke3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Karaoke/Karaoke6.png" style="width:100%">
    </div>
  </div>
  <div id="Karaoke4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Karaoke/Karaoke7.png" style="width:100%">
    </div>
  </div>
  <div id="Karaoke4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Karaoke/Karaoke8.png" style="width:100%">
    </div>
  </div>
</div>
<!-- Leg Twists -->
<div class="ToeReverses">
  <div id="HeelOutStomps1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/HeelOutStomp/HeelOutStomp1.png" style="width:100%">
    </div>
  </div>
  <div id="HeelOutStomps1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/HeelOutStomp/HeelOutStomp2.png" style="width:100%">
    </div>
  </div>
  <div id="HeelOutStomps2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/HeelOutStomp/HeelOutStomp3.png" style="width:100%">
    </div>
  </div>
  <div id="HeelOutStomps2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/HeelOutStomp/HeelOutStomp4.png" style="width:100%">
    </div>
  </div>
  <div id="HeelOutStomps3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/HeelOutStomp/HeelOutStomp5.png" style="width:100%">
    </div>
  </div>
  <div id="HeelOutStomps3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/HeelOutStomp/HeelOutStomp6.png" style="width:100%">
    </div>
  </div>
  <div id="HeelOutStomps4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/HeelOutStomp/HeelOutStomp7.png" style="width:100%">
    </div>
  </div>
  <div id="HeelOutStomps4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/HeelOutStomp/HeelOutStomp8.png" style="width:100%">
    </div>
  </div>
</div>
<div class="RoundaboutStomps">
  <div id="RoundaboutStomps1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RoundaboutStomp/RoundaboutStomp1.png" style="width:100%">
    </div>
  </div>
  <div id="RoundaboutStomps1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RoundaboutStomp/RoundaboutStomp2.png" style="width:100%">
    </div>
  </div>
  <div id="RoundaboutStomps2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RoundaboutStomp/RoundaboutStomp3.png" style="width:100%">
    </div>
  </div>
  <div id="RoundaboutStomps2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RoundaboutStomp/RoundaboutStomp4.png" style="width:100%">
    </div>
  </div>
  <div id="RoundaboutStomps3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RoundaboutStomp/RoundaboutStomp5.png" style="width:100%">
    </div>
  </div>
  <div id="RoundaboutStomps3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RoundaboutStomp/RoundaboutStomp6.png" style="width:100%">
    </div>
  </div>
</div>
<div class="ShimmyLegCuts">
  <div id="CutsShimmyLeg1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CutsShimmyLeg/CutsShimmyLeg1.png" style="width:100%">
    </div>
  </div>
  <div id="CutsShimmyLeg1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CutsShimmyLeg/CutsShimmyLeg2.png" style="width:100%">
    </div>
  </div>
  <div id="CutsShimmyLeg2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CutsShimmyLeg/CutsShimmyLeg3.png" style="width:100%">
    </div>
  </div>
  <div id="CutsShimmyLeg2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CutsShimmyLeg/CutsShimmyLeg4.png" style="width:100%">
    </div>
  </div>
  <div id="CutsShimmyLeg3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CutsShimmyLeg/CutsShimmyLeg5.png" style="width:100%">
    </div>
  </div>
  <div id="CutsShimmyLeg3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CutsShimmyLeg/CutsShimmyLeg6.png" style="width:100%">
    </div>
  </div>
  <div id="CutsShimmyLeg4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CutsShimmyLeg/CutsShimmyLeg7.png" style="width:100%">
    </div>
  </div>
  <div id="CutsShimmyLeg4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/CutsShimmyLeg/CutsShimmyLeg8.png" style="width:100%">
    </div>
  </div>
</div>
<div class="shakeOuts">
  <div id="ShakeOuts1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ShakeOuts/ShakeOuts1.png" style="width:100%">
    </div>
  </div>
  <div id="ShakeOuts1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ShakeOuts/ShakeOuts2.png" style="width:100%">
    </div>
  </div>
  <div id="ShakeOuts2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ShakeOuts/ShakeOuts3.png" style="width:100%">
    </div>
  </div>
  <div id="ShakeOuts2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ShakeOuts/ShakeOuts4.png" style="width:100%">
    </div>
  </div>
  <div id="ShakeOuts3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ShakeOuts/ShakeOuts5.png" style="width:100%">
    </div>
  </div>
  <div id="ShakeOuts3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ShakeOuts/ShakeOuts6.png" style="width:100%">
    </div>
  </div>
  <div id="ShakeOuts4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ShakeOuts/ShakeOuts7.png" style="width:100%">
    </div>
  </div>
  <div id="ShakeOuts4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ShakeOuts/ShakeOuts8.png" style="width:100%">
    </div>
  </div>
</div>
<!-- Shimmy -->
<div class="Shimmy">
  <div id="Shimmy1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Shimmy/Shimmy1.png" style="width:100%">
    </div>
  </div>
  <div id="Shimmy1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Shimmy/Shimmy2.png" style="width:100%">
    </div>
  </div>
  <div id="Shimmy2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Shimmy/Shimmy3.png" style="width:100%">
    </div>
  </div>
  <div id="Shimmy2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Shimmy/Shimmy4.png" style="width:100%">
    </div>
  </div>
  <div id="Shimmy3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Shimmy/Shimmy5.png" style="width:100%">
    </div>
  </div>
  <div id="Shimmy3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Shimmy/Shimmy6.png" style="width:100%">
    </div>
  </div>
  <div id="Shimmy4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Shimmy/Shimmy7.png" style="width:100%">
    </div>
  </div>
  <div id="Shimmy4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Shimmy/Shimmy8.png" style="width:100%">
    </div>
  </div>
</div>
<div class="ToePogoShimmy">
  <div id="ShimmyToePogo1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ShimmyToePogo/ShimmyToePogo1.png" style="width:100%">
    </div>
  </div>
  <div id="ShimmyToePogo1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ShimmyToePogo/ShimmyToePogo2.png" style="width:100%">
    </div>
  </div>
  <div id="ShimmyToePogo2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ShimmyToePogo/ShimmyToePogo3.png" style="width:100%">
    </div>
  </div>
  <div id="ShimmyToePogo2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ShimmyToePogo/ShimmyToePogo4.png" style="width:100%">
    </div>
  </div>
  <div id="ShimmyToePogo3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ShimmyToePogo/ShimmyToePogo5.png" style="width:100%">
    </div>
  </div>
  <div id="ShimmyToePogo3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ShimmyToePogo/ShimmyToePogo6.png" style="width:100%">
    </div>
  </div>
  <div id="ShimmyToePogo4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ShimmyToePogo/ShimmyToePogo7.png" style="width:100%">
    </div>
  </div>
  <div id="ShimmyToePogo4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ShimmyToePogo/ShimmyToePogo8.png" style="width:100%">
    </div>
  </div>

</div>
<div class="OneWayShimmy">
  <div id="ShimmyOneWay1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ShimmyOneWay/ShimmyOneWay1.png" style="width:100%">
    </div>
  </div>
  <div id="ShimmyOneWay1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ShimmyOneWay/ShimmyOneWay2.png" style="width:100%">
    </div>
  </div>
  <div id="ShimmyOneWay2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ShimmyOneWay/ShimmyOneWay3.png" style="width:100%">
    </div>
  </div>
  <div id="ShimmyOneWay2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ShimmyOneWay/ShimmyOneWay4.png" style="width:100%">
    </div>
  </div>
  <div id="ShimmyOneWay3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ShimmyOneWay/ShimmyOneWay5.png" style="width:100%">
    </div>
  </div>
  <div id="ShimmyOneWay3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ShimmyOneWay/ShimmyOneWay6.png" style="width:100%">
    </div>
  </div>
  <div id="ShimmyOneWay4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ShimmyOneWay/ShimmyOneWay7.png" style="width:100%">
    </div>
  </div>
  <div id="ShimmyOneWay4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ShimmyOneWay/ShimmyOneWay8.png" style="width:100%">
    </div>
  </div>
</div>
<div class="Charleston">
  <div id="Charleston1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Charleston/Charleston1.png" style="width:100%">
    </div>
  </div>
  <div id="Charleston1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Charleston/Charleston2.png" style="width:100%">
    </div>
  </div>
  <div id="Charleston2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Charleston/Charleston3.png" style="width:100%">
    </div>
  </div>
  <div id="Charleston2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Charleston/Charleston4.png" style="width:100%">
    </div>
  </div>
  <div id="Charleston3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Charleston/Charleston5.png" style="width:100%">
    </div>
  </div>
  <div id="Charleston3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Charleston/Charleston6.png" style="width:100%">
    </div>
  </div>
  <div id="Charleston4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Charleston/Charleston7.png" style="width:100%">
    </div>
  </div>
  <div id="Charleston4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Charleston/Charleston8.png" style="width:100%">
    </div>
  </div>
</div>
<div class="shimmyWalk">
  <div id="ShimmyWalk1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ShimmyWalk/ShimmyWalk1.png" style="width:100%">
    </div>
  </div>
  <div id="ShimmyWalk1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ShimmyWalk/ShimmyWalk2.png" style="width:100%">
    </div>
  </div>
  <div id="ShimmyWalk2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ShimmyWalk/ShimmyWalk3.png" style="width:100%">
    </div>
  </div>
  <div id="ShimmyWalk2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ShimmyWalk/ShimmyWalk4.png" style="width:100%">
    </div>
  </div>
  <div id="ShimmyWalk3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ShimmyWalk/ShimmyWalk5.png" style="width:100%">
    </div>
  </div>
  <div id="ShimmyWalk3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ShimmyWalk/ShimmyWalk6.png" style="width:100%">
    </div>
  </div>
  <div id="ShimmyWalk4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ShimmyWalk/ShimmyWalk7.png" style="width:100%">
    </div>
  </div>
  <div id="ShimmyWalk4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/ShimmyWalk/ShimmyWalk8.png" style="width:100%">
    </div>
  </div>
</div>
<!-- Spins -->
<div class="360Spin">
  <div id="Spin3601" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Spin360/Spin3601.png" style="width:100%">
    </div>
  </div>
  <div id="Spin3601a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Spin360/Spin3602.png" style="width:100%">
    </div>
  </div>
  <div id="Spin3602" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Spin360/Spin3603.png" style="width:100%">
    </div>
  </div>
  <div id="Spin3602a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Spin360/Spin3604.png" style="width:100%">
    </div>
  </div>
  <div id="Spin3603" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Spin360/Spin3605.png" style="width:100%">
    </div>
  </div>
</div>
<div class="360SpinToes">
  <div id="Spin360Toes1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Spin360Toes/Spin360Toes1.png" style="width:100%">
    </div>
  </div>
  <div id="Spin360Toes1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Spin360Toes/Spin360Toes2.png" style="width:100%">
    </div>
  </div>
  <div id="Spin360Toes2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Spin360Toes/Spin360Toes3.png" style="width:100%">
    </div>
  </div>
  <div id="Spin360Toes2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Spin360Toes/Spin360Toes4.png" style="width:100%">
    </div>
  </div>
  <div id="Spin360Toes3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Spin360Toes/Spin360Toes5.png" style="width:100%">
    </div>
  </div>
  <div id="Spin360Toes3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Spin360Toes/Spin360Toes6.png" style="width:100%">
    </div>
  </div>
</div>
<div class="InsideFootSpin">
  <div id="SpinInsideFoot1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SpinInsideFoot/SpinInsideFoot1.png" style="width:100%">
    </div>
  </div>
  <div id="SpinInsideFoot1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SpinInsideFoot/SpinInsideFoot2.png" style="width:100%">
    </div>
  </div>
  <div id="SpinInsideFoot2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SpinInsideFoot/SpinInsideFoot3.png" style="width:100%">
    </div>
  </div>
  <div id="SpinInsideFoot2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SpinInsideFoot/SpinInsideFoot4.png" style="width:100%">
    </div>
  </div>
</div>
<div class="OutsideFootSpin">
  <div id="SpinOutsideFoot1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SpinOutsideFoot/SpinOutsideFoot1.png" style="width:100%">
    </div>
  </div>
  <div id="SpinOutsideFoot1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SpinOutsideFoot/SpinOutsideFoot2.png" style="width:100%">
    </div>
  </div>
  <div id="SpinOutsideFoot2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SpinOutsideFoot/SpinOutsideFoot3.png" style="width:100%">
    </div>
  </div>
  <div id="SpinOutsideFoot2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/SpinOutsideFoot/SpinOutsideFoot4.png" style="width:100%">
    </div>
  </div>
</div>
