<!-- ++++++++++++++++ Moonshuffle ++++++++++++++++ -->
<button onclick="openAccordion('Moonshuffle')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Moonshuffle
</button>
<div id="Moonshuffle" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/tJMOZXiPL9Yf3m3I8n/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('MoonshuffleMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/xThtaqnIZiPMpfuihW/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('MoonshuffleCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('MoonshufflePit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Evolve from Running Man</button>
      <div id="MoonshufflePit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          You don't necessarily have to learn a completely new move here if you know the running man. Slowly transform your running man into the moonshuffle (according to the walkthrough) and you'll have the move down pat in literally no time. Start by slowly raising your rear foot lower and lower as it comes forward to the front of your stride. Eventually you should start dragging it on its toes to the front of the stance. Once you are at that point, put enough weight on your toe stand foot that when you try to drag it forward, you end up pulling your plant foot backwards instead. Voila!
        </p>
      </div>
      <button onclick="openAccordion('MoonshufflePit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Graceful Glides</button>
      <div id="MoonshufflePit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          As you slide back your flat foot, bring it back to the point where your plant (toe standing) foot would be intersecting halfway (see count pictures) each time. Slide too far back each time, and you may be having to exert too much bounce to move that far, and will likely have too much variation in the slides and your moonshuffle may look sloppy. Less is always more - you want to create the impression that you are gliding backwards.
        </p>
      </div>
      <button onclick="openAccordion('MoonshufflePit3')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Max Slide, Min Bounce</button>
      <div id="MoonshufflePit3" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          The key to looking clean is to keep your movements choppy, but not bouncy. You want to appear to be gliding backwards, not bouncing up and down.
        </p>
      </div>
      <button onclick="openAccordion('MoonshufflePit4')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Fluid vs. Rigid</button>
      <div id="MoonshufflePit4" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Find the right balance between being rigid in your movements and being fluid in your slides. Trying to slide back too far or jerking with each motion will make you appear floppy and sloppy. If you're too rigid though, it won't look like you're really doing the move unless you squint. Find the right balance, and find the right amount of distance you should traverse with each slide so that each slide back is the same distance and not variable.
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Running Man
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/Moonshuffle/Moonshuffle1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Moonshuffle1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Moonshuffle/Moonshuffle2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Moonshuffle1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/Moonshuffle/Moonshuffle3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Moonshuffle2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Moonshuffle/Moonshuffle4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Moonshuffle2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/Moonshuffle/Moonshuffle5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Moonshuffle3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Moonshuffle/Moonshuffle6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Moonshuffle3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/Moonshuffle/Moonshuffle7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Moonshuffle4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Moonshuffle/Moonshuffle8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Moonshuffle4a').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- Walkthrough -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
    <header class="w3-container w3-center w3-green">
      <h5>WALKTHROUGH</h5>
    </header>
      <div>
        <ul class="w3-ul">
          <li>
            <span class="w3-tag w3-small w3-green">1</span> Start with left foot flat, right foot on toes right at your left heel
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">2</span> Slide/jostle left foot backwards until left toes are past your right toes
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">3</span> Drop down right foot flat, while raising left foot up onto toes
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">4</span> Stance is now mirroed to starting position, keep repeating
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Moonwalk ++++++++++++++++ -->
<button onclick="openAccordion('Moonwalk')" class="w3-hover-opacity w3-hover-deep-purple w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Moonwalk
</button>
<div id="Moonwalk" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/3o7WIswEtmybCl7ln2/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('MoonwalkMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/xUOwGlYid2lRbBJFJK/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('MoonwalkCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('MoonwalkPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Strong Toes</button>
      <div id="MoonwalkPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Before you can do the moonwalk, you should be able to balance on your toes for a least a few seconds. Practice toe stands by balancing against a wall for 30 seconds (or however long you can hold) at a time. Only use the wall to push yourself back into balance - they serve as training wheels, and eventually you should take them off. Once you stregnthen the muscles in your toes, you'll be able to pull yourself backwards by the toes in the moonwalk.
        </p>
      </div>
      <button onclick="openAccordion('MoonwalkPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Snappy Swaps</button>
      <div id="MoonwalkPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Each time you swap feet, you should accentuate the swap by stomping with the up foot and jutting the down foot upward (bending your knees for exaggeration).
        </p>
      </div>
      <button onclick="openAccordion('MoonwalkPit3')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Goofy Moon</button>
      <div id="MoonwalkPit3" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          With each stride, your traveling foot (the one being pulled back) should come past your plant foot all the way past where the plant foot's heel will land. If your stride is too short, your moonwalk will look goofy, as if someone were doing it as a parody. If your stride is too long, you'll lose your balance more easily. Find the right stride length for you to stay in count, balanced, and snappy - but absolutely follow the toe-heel distance guideline.
        </p>
      </div>
      <button onclick="openAccordion('MoonwalkWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="MoonwalkWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          Essentially the moonshuffle, but with a far longer stride. One foot is being dragged back while the other is planted on its toe (swapping each beat). Bring the dragged foot past where the plant foot's heel will land when you swap. As you swap, the transition should be super snappy and you should practically stomp the ground will your plant foot coming down.
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Moonspin
        </li>
        <li>
          Running Man
        </li>
        <li>
          Moonshuffle
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/Moonwalk/Moonwalk1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Moonwalk1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Moonwalk/Moonwalk2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Moonwalk1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/Moonwalk/Moonwalk3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Moonwalk2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Moonwalk/Moonwalk4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Moonwalk2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/Moonwalk/Moonwalk5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Moonwalk3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Moonwalk/Moonwalk6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Moonwalk3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/Moonwalk/Moonwalk7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Moonwalk4').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Moonspin ++++++++++++++++ -->
<button onclick="openAccordion('Moonspin')" class="w3-hover-opacity w3-hover-green w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Moonspin
</button>
<div id="Moonspin" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/26DNjVld8nk85sonu/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('MoonspinMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-opacity w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/3ohs4wmNHMYxgqqbEk/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('MoonspinCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('MoonspinPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Snappy Head for Balance</button>
      <div id="MoonspinPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          As you rotate your head during the spin, do your best to keep it constrained to two fixed positions, and snap from one to the other. As in, as you spin counter clockwise, look to your left for as long as you can - then, when you've reached the maximal your neck will turn, snap your head around and keep your head affixed facing (what as originally your) right. This also looks more crisp then letting your head fly about.
        </p>
      </div>
      <button onclick="openAccordion('MoonspinPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Ease into Slide</button>
      <div id="MoonspinPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          The sliding motion is the most difficult part to implement in the moonspin. Start by just stepping instead of sliding where applicable, and slowly but surely introduce more and more slide until you are comfortable dragging your foot across your body.
        </p>
      </div>
      <button onclick="openAccordion('MoonspinWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="MoonspinWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          Stand with feet shoulder-width apart. Step your right foot over to the left of your left foot. As your right foot lands, begin to pivot both feet counter-clockwise. Once you are facing towards what was originally your right, (continue pivoting and)drag your left foot backward across the ground towards your right foot until your feet are shoulder width apart again and facing forward.
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Slide, Outside Foot
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/Moonspin/Moonspin1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Moonspin1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Moonspin/Moonspin2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Moonspin1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/Moonspin/Moonspin3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Moonspin2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Moonspin/Moonspin4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Moonspin2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/Moonspin/Moonspin5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Moonspin3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Moonspin/Moonspin6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Moonspin3a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
