<%# TODO: Running Man, Sideways Glide %>
<%# TODO: Running Man, Rev Hops %>
<!-- ++++++++++++++++ Running Man ++++++++++++++++ -->
<button onclick="openAccordion('RM')" class="w3-hover-opacity w3-hover-green w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Running Man
</button>
<div id="RM" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/26DNjSyRvJqY11hxS/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('RMMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/26DN5nqE4Uqz0VVAc/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('RMCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>LEARNING TIMES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <strong>BASIC:</strong> 50 iterations
        </li>
        <li>
          <strong>FAMILIAR:</strong> 150 iterations
        </li>
        <li>
          <strong>FLUENT:</strong> 350 iterations
        </li>
      </ul>
      <h5>CHAIN WITH</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Stutter, Rear</a>
        </li>
        <li>
          <a class="w3-tag w3-amber w3-text-white" style="text-decoration: none;" href="#">Cuts, Reverse</a>
        </li>
        <li>
          <a class="w3-tag w3-amber w3-text-white" style="text-decoration: none;" href="#">Running Man, Reverse</a>
        </li>
      </ul>
    </div>
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS & MISTAKES + FIXES</h5>
      <button onclick="openAccordion('Demo1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Floating Feet</button>
      <div id="Demo1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          If as you try to learn the move it seems as if your front foot doesn't land at the same time as your rear foot at the half beats, exaggerate the length of your gait (and gravity will pull down both of your feet so that you can start to build the proper muscle memory.
        </p>
      </div>
      <button onclick="openAccordion('Demo2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Stompy Feet / Bendy Knees</button>
      <div id="Demo2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          The key to a slick looking running man is to have minimal bend in your knees and length of your stride. A running man will look off if you raise your knees too high (as if you were trying to stomp the ground) or take extra long gaits. Modesty is key here as your create the very subtle mirage that you are running in place - in fact, it's more of a slide than a run (as the term "shuffling" suggests it might be). To minimize the stride, find the right bounce in your step so that your feet can travel the minimal distance to create the apparition of a running man with the least amount of airtime (off the ground). This will also stop you from lifting your legs too high and creating the stomping motion.
        </p>
      </div>
      <button onclick="openAccordion('Demo3')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Mirrored Stances</button>
      <div id="Demo3" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Your feet will alternate between four different distinct positions - consisting of two pairs of mirroring stances. In the first set of twin stances, your front foot is flat on the ground while your rear foot is on its toes. In the second set, the front foot that was flat is straight below your body while your rear foot is tucked next to the middle of your shin, off the ground.
        </p>
      </div>
      <button onclick="openAccordion('RMWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="RMWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
           Jump into position by putting your right foot flat on the ground slightly in front of you, and your left foot on its toes slightly behind you. Slide your right foot back directly underneath your body while bringing your left foot above and tucked in next to your shin. Step down with your left foot flat, slightly in front of you, and drag your right foot back bringing it up onto its toes. Repeat.
        </p>
      </div>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/RunningMan/RunningMan1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RM1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/RunningMan/RunningMan2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RM1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/RunningMan/RunningMan3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RM2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/RunningMan/RunningMan4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RM2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/RunningMan/RunningMan5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RM3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/RunningMan/RunningMan6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RM3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/RunningMan/RunningMan7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RM4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/RunningMan/RunningMan8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RM4a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Running Man, Reverse ++++++++++++++++ -->
<button onclick="openAccordion('RMReverse')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  RM, Reverse
</button>
<div id="RMReverse" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/xUOwGbnlguFxzmRkLS/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('RMReverseMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/3o7WIyprmCM6x6INEI/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('RMReverseCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>LEARNING TIMES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <strong>BASIC:</strong> 150 iterations
        </li>
        <li>
          <strong>FAMILIAR:</strong> 350 iterations
        </li>
        <li>
          <strong>FLUENT:</strong> 700 iterations
        </li>
      </ul>
      <h5>PREREQUISITES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Running Man</a>
        </li>
      </ul>
      <h5>CHAIN WITH</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-red" style="text-decoration: none;" href="#">Spin, Backwards 180</a>
        </li>
        <li>
          <a class="w3-tag w3-red" style="text-decoration: none;" href="#">Spin, Inside Foot</a>
        </li>
      </ul>
    </div>
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS & MISTAKES + FIXES</h5>
      <button onclick="openAccordion('RMRevPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Chunk It</button>
      <div id="RMRevPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          It'll pay dividends down the line to have practiced the count to this move in chunks. You'll find yourself wanting to switch between normal running man and reverse running man on the fly. Chunking it will make this move more intuitive at a much deeper level and much more quickly.
        </p>
      </div>
      <button onclick="openAccordion('RMRevPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Mirrored Twin Stances</button>
      <div id="RMRevPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Same concept of mirrored twin stances as the normal running man (see it's tips for more info).
        </p>
      </div>
      <button onclick="openAccordion('RMRevWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="RMRevWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          Hop into position with your right foot in front of your body on its heel and your left foot behind your body on its toes. Slide your left foot forward, landing flat at the middle of your strie, and bring your right foot back pinned next to your left shin. Then, land your right foot on its toes at the heel of your left foot as you slide your left foot forward as far as feels comfortable. Repeat
        </p>
      </div>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/RunningManReverse/RunningManReverse1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RMReverse1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/RunningManReverse/RunningManReverse2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RMReverse1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/RunningManReverse/RunningManReverse3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RMReverse2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/RunningManReverse/RunningManReverse4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RMReverse2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/RunningManReverse/RunningManReverse5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RMReverse3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/RunningManReverse/RunningManReverse6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RMReverse3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/RunningManReverse/RunningManReverse7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RMReverse4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/RunningManReverse/RunningManReverse8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RMReverse4a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Running Man, Reverse Pop Forwards ++++++++++++++++ -->
<button onclick="openAccordion('RMReversePopForwards')" class="w3-hover-opacity w3-hover-green w3-left-align w3-button w3-bar w3-xlarge w3-block">
  RM, Reverse Pop Forwards
</button>
<div id="RMReversePopForwards" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/TG8dKSsJ7jQ65WwIXD/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('RMReversePopForwardsMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="#" style="width: 100%; cursor:pointer" onclick="document.getElementById('RMReversePopForwardsCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>LEARNING TIMES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <strong>BASIC:</strong> 100 iterations
        </li>
        <li>
          <strong>FAMILIAR:</strong> 300 iterations
        </li>
        <li>
          <strong>FLUENT:</strong> 650 iterations
        </li>
      </ul>
      <h5>PREREQUISITES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">RM, Reverse</a>
        </li>
      </ul>
      <h5>CHAIN WITH</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Leaners</a>
        </li>
        <li>
          <a class="w3-tag w3-amber w3-text-white" style="text-decoration: none;" href="#">Criss Cross</a>
        </li>
      </ul>
    </div>
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS & MISTAKES + FIXES</h5>
      <button onclick="openAccordion('RMReversePopForwardsPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Sweet Spot Hops</button>
      <div id="RMReversePopForwardsPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Find the right amount of hop forward with each move - too much and it'll look funky, too little and you're practically just doing the reverse running man. Other than that this move is pretty simple and not too unintuitive.
        </p>
      </div>
      <button onclick="openAccordion('RMReversePopForwardsWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="RMReversePopForwardsWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          As if you were doing a normal reverse running man, each time to kick your rear foot forward, keep your front foot up and pinned next to your shin (instead of landing flat on it). And with each kick, use a little more force so that your whole body is forced forward so that when repeated, this move has you gradually gliding forward. After you've jutted forward, place your up foot down on its heel in the normal reverse running man position, and repeat.
        </p>
      </div>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/RMReversePopForwards/RMReversePopForwards1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RMReversePopForwards1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/RMReversePopForwards/RMReversePopForwards2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RMReversePopForwards1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/RMReversePopForwards/RMReversePopForwards3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RMReversePopForwards2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/RMReversePopForwards/RMReversePopForwards4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RMReversePopForwards2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/RMReversePopForwards/RMReversePopForwards5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RMReversePopForwards3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/RMReversePopForwards/RMReversePopForwards6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RMReversePopForwards3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/RMReversePopForwards/RMReversePopForwards7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RMReversePopForwards4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/RMReversePopForwards/RMReversePopForwards8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RMReversePopForwards4a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Running Man, Heels ++++++++++++++++ -->
<button onclick="openAccordion('RMHeels')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  RM, Heels
</button>
<div id="RMHeels" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/xUOwG5DtjrKdQg5GYU/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('RMHeelsMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/l0NgQ7KYZtUJAHHmU/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('RMHeelsCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>LEARNING TIMES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <strong>BASIC:</strong> 20 iterations
        </li>
        <li>
          <strong>FAMILIAR:</strong> 100 iterations
        </li>
        <li>
          <strong>FLUENT:</strong> 200 iterations
        </li>
      </ul>
      <h5>PREREQUISITES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Running Man</a>
        </li>
      </ul>
      <h5>CHAIN WITH</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Stutter, Rear</a>
        </li>
      </ul>
    </div>
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS & MISTAKES + FIXES</h5>
      <button onclick="openAccordion('RMHeelsWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="RMHeelsWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          Exactly the same as the running man, except now your front foot is on its heel instead of flat.
        </p>
      </div>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/RunningManHeels/RunningManHeels1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RMHeels1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/RunningManHeels/RunningManHeels2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RMHeels1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/RunningManHeels/RunningManHeels3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RMHeels2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/RunningManHeels/RunningManHeels4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RMHeels2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/RunningManHeels/RunningManHeels5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RMHeels3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/RunningManHeels/RunningManHeels6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RMHeels3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/RunningManHeels/RunningManHeels7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RMHeels4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/RunningManHeels/RunningManHeels8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RMHeels4a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Running Man, Sideways Glide ++++++++++++++++ -->
<button onclick="openAccordion('RMSidewaysGlide')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  RM, Sideways Glide
</button>
<div id="RMSidewaysGlide" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/w9xF5fUrUUfvCpjgCB/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('RMSidewaysGlideMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="#" style="width: 100%; cursor:pointer" onclick="document.getElementById('RMSidewaysGlideCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>LEARNING TIMES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <strong>BASIC:</strong> 100 iterations
        </li>
        <li>
          <strong>FAMILIAR:</strong> 300 iterations
        </li>
        <li>
          <strong>FLUENT:</strong> 650 iterations
        </li>
      </ul>
      <h5>PREREQUISITES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Running Man</a>
        </li>
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Cuts</a>
        </li>
      </ul>
      <h5>CHAIN WITH</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Leaners</a>
        </li>
        <li>
          <a class="w3-tag w3-red" style="text-decoration: none;" href="#">RM -&gt Rear Stutter</a>
        </li>
        <li>
          <a class="w3-tag w3-amber w3-text-white" style="text-decoration: none;" href="#">RM -&gt Front LoopDeLoop</a>
        </li>
      </ul>
    </div>
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS & MISTAKES + FIXES</h5>
      <button onclick="openAccordion('RMSidewaysGlidePit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align "></button>
      <div id="RMSidewaysGlidePit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Since you are moving sideways, where you land your foot is with each beat will influence how you glide. If you perfect the placement of your feet with each motion, you will maximize the amount of glide you get with each step and minimize how much you have to jut yourself sideways to get the sideways glide motion. This move is as if you were doing the normal running man, except starting it over very slightly to your left (or right) each motion. Every time you step slightly to your left to restart it, you will move over and give the impression you are gliding.
        </p>
      </div>
      <button onclick="openAccordion('RMSidewaysGlidePit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Running Man / Cut Hybrid</button>
      <div id="RMSidewaysGlidePit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Since you are essentially just restarting the running man over and over again each time slightly to your left (or right), the act of cross over your feet to get left (or right) is the same motion as the cut. However, you want to minimize how much the move looks like a cut - you are doing a cut for utiliarian purposes, not aestheic. Try to minimize how high your toe points off the ground (make it flat if you can manage) and how much your hips twist.
        </p>
      </div>
      <button onclick="openAccordion('RMSidewaysGlidePit4')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Look and Point</button>
      <div id="RMSidewaysGlidePit4" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          This move is a good for transitioning in between chains of ornate moves. As you glide left or right, look to the direction your moving and point at whoevers there, do whatever you want - make it cool. It's good for building up the tension for what you're about throw down next.
        </p>
      </div>
      <button onclick="openAccordion('RMSidewaysGlideWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="RMSidewaysGlideWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          This move is a cross between a running man and cuts. You're doing the running man motion when your feet aren't crossed, and a slightly modified cuts motion when they are. Enter this move from the running man; from the running man, turn slightly right so that your body is pointing about 30 degress right. Now, with your left leg forward and your right leg back, drag your left leg backwards, but slightly to the left so that you jut a bit leftwards. Now in the middle position, bring your right foot over your left foot and place it down on its heel, as flat as possible. Drag your right foot back, again slightly leftwards so that your whole body moves slightly left. Now you can bring your left foot up again and repeat the entire motion.
        </p>
      </div>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/RMSidewaysGlide/RMSidewaysGlide1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RMSidewaysGlide1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/RMSidewaysGlide/RMSidewaysGlide2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RMSidewaysGlide1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/RMSidewaysGlide/RMSidewaysGlide3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RMSidewaysGlide2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/RMSidewaysGlide/RMSidewaysGlide4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RMSidewaysGlide2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/RMSidewaysGlide/RMSidewaysGlide5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RMSidewaysGlide3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/RMSidewaysGlide/RMSidewaysGlide6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RMSidewaysGlide3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/RMSidewaysGlide/RMSidewaysGlide7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RMSidewaysGlide4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/RMSidewaysGlide/RMSidewaysGlide8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RMSidewaysGlide4a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Stutter, Rear ++++++++++++++++ -->
<button onclick="openAccordion('StutterRear')" class="w3-hover-opacity w3-hover-green w3-left-align w3-button w3-bar w3-xlarge w3-block">
  RM -&gt Stutter, Rear
</button>
<div id="StutterRear" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/3o7WIoJXsQAjT3JbBS/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('StutterRearMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/l4pTalp9fvlsTXTOM/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('StutterRearCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>LEARNING TIMES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <strong>BASIC:</strong> 50 iterations
        </li>
        <li>
          <strong>FAMILIAR:</strong> 150 iterations
        </li>
        <li>
          <strong>FLUENT:</strong> 300 iterations
        </li>
      </ul>
      <h5>PREREQUISITES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Running Man</a>
        </li>
      </ul>
      <h5>CHAIN WITH</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Running Man</a>
        </li>
        <li>
          <a class="w3-tag w3-deep-purple" style="text-decoration: none;" href="#">Stutter, Rear LoopDeLoop</a>
        </li>
        <li>
          <a class="w3-tag w3-amber w3-text-white" style="text-decoration: none;" href="#">Running Man, Reverse</a>
        </li>
      </ul>
    </div>
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS & MISTAKES + FIXES</h5>
      <button onclick="openAccordion('StutterRearPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Fat Joe Variation</button>
      <div id="StutterRearPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          In each stutter, lean back into your rear foot. Your rear foot should be flat and your forward foot should be on its heel.
        </p>
      </div>
      <button onclick="openAccordion('StutterRearWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="StutterRearWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          While doing a running man, simply stutter a count - i.e., go from count 1 -&gt 2 -&gt 1 -&gt 2... and then carry on
        </p>
      </div>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/StutterRear/StutterRear1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterRear1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/StutterRear/StutterRear2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterRear1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/StutterRear/StutterRear3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterRear2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/StutterRear/StutterRear4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterRear2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/StutterRear/StutterRear5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterRear3').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Stutter, Front ++++++++++++++++ -->
<button onclick="openAccordion('StutterFront')" class="w3-hover-opacity w3-hover-green w3-left-align w3-button w3-bar w3-xlarge w3-block">
  RM -&gt Stutter, El Toro
</button>
<div id="StutterFront" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/3ohs4yA0zAwL6SdAyY/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('StutterFrontMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/l4pT6sOJo1kxcKQuY/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('StutterFrontCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>LEARNING TIMES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <strong>BASIC:</strong> 150 iterations
        </li>
        <li>
          <strong>FAMILIAR:</strong> 300 iterations
        </li>
        <li>
          <strong>FLUENT:</strong> 500 iterations
        </li>
      </ul>
      <h5>PREREQUISITES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Running Man</a>
        </li>
      </ul>
      <h5>CHAIN WITH</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Running Man</a>
        </li>
        <li>
          <a class="w3-tag w3-deep-purple" style="text-decoration: none;" href="#">Stutter, Front LoopDeLoop</a>
        </li>
        <li>
          <a class="w3-tag w3-amber w3-text-white" style="text-decoration: none;" href="#">Running Man, Reverse</a>
        </li>
      </ul>
    </div>
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS & MISTAKES + FIXES</h5>
      <button onclick="openAccordion('StutterFrontWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="StutterFrontWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          From a running man, once your right foot is at its front most position, bounce up for a brief moment without altering the stance you are in. As you come down from the bounce, pump your right leg down and backwards in a circular motion (when viewed from the side), like a bull would do getting ready to charge a matador. As your right foot goes down and back, your left foot should move up forward one foot length, then back one foot length.
        </p>
      </div>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/StutterFront/StutterFront1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterFront1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/StutterFront/StutterFront2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterFront1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/StutterFront/StutterFront3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterFront2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/StutterFront/StutterFront4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterFront2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/StutterFront/StutterFront5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterFront3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/StutterFront/StutterFront6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterFront3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/StutterFront/StutterFront7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterFront4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/StutterFront/StutterFront8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterFront4a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Stutter, Rear -> LoopDeLoop ++++++++++++++++ -->
<button onclick="openAccordion('StutterRearLoopDeLoop')" class="w3-hover-opacity w3-hover-red w3-left-align w3-button w3-bar w3-xlarge w3-block">
  RM -&gt Rear LoopDeLoop
</button>
<div id="StutterRearLoopDeLoop" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/xUOwGaHBi1hLzmlPHO/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('StutterRearLoopDeLoopMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/xUOwG1L3uTMp07IfXG/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('StutterRearLoopDeLoopCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>LEARNING TIMES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <strong>BASIC:</strong> 250 iterations
        </li>
        <li>
          <strong>FAMILIAR:</strong> 500 iterations
        </li>
        <li>
          <strong>FLUENT:</strong> 750 iterations
        </li>
      </ul>
      <h5>PREREQUISITES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Stutter, Rear</a>
        </li>
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Stutter, Front</a>
        </li>
      </ul>
      <h5>CHAIN WITH</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Running Man</a>
        </li>
        <li>
          <a class="w3-tag w3-red" style="text-decoration: none;" href="#">Spin, Inside Foot</a>
        </li>
        <li>
          <a class="w3-tag w3-amber w3-text-white" style="text-decoration: none;" href="#">Running Man, Reverse</a>
        </li>
      </ul>
    </div>
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS & MISTAKES + FIXES</h5>
      <button onclick="openAccordion('StutterRearLoopDeLoopPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Figure 8</button>
      <div id="StutterRearLoopDeLoopPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Take note of how your kick leg is making a sideways figure 8 (when viewed from your side), with your plant foot intersecting the middle.
        </p>
      </div>
      <button onclick="openAccordion('StutterRearLoopDeLoopPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Center of Gravity</button>
      <div id="StutterRearLoopDeLoopPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          As your right leg kicks in a figure 8 motion, your left leg will want to slide back and forth to balance out your stance. Your legs will always be moving in the inverse direction of the other; i.e., as your right (kick) foot is moving outward in either direction, your left (plant) foot will move outwards in the opposite direction. As your kick leg moves inwards from either front or rear, your plant leg will slide inwards from the opposite. Getting these slides of your plant foot takes practice and lots of patience.
        </p>
      </div>
      <button onclick="openAccordion('StutterRearLoopDeLoopWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="StutterRearLoopDeLoopWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          From a running man, do a rear stutter (with your right foot). As you kick backwards out of the stutter, push/kick backwards with your right foot as far as you can, in a circular counter clockwise motion (when viewed from your left). The momentum from the push/kick should slide/push your left leg forwards. As your right leg comes to the top of its rotation (imagine 12 O'Clock), kick your right leg in a clockwise motion down and forwards. The momentum of the kick should first pull/slide your left leg backwards - then once your foot reaches 9 O'Clock (as far out in front from your body as it will get), as it comes back inward your left leg should slide back inwards. After entering the loopdeloop, you can continue the figure 8 kicking motion as many times as you want.
        </p>
      </div>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/StutterRearLoopDeLoop/StutterRearLoopDeLoop1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterRearLoopDeLoop1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/StutterRearLoopDeLoop/StutterRearLoopDeLoop2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterRearLoopDeLoop1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/StutterRearLoopDeLoop/StutterRearLoopDeLoop3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterRearLoopDeLoop2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/StutterRearLoopDeLoop/StutterRearLoopDeLoop4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterRearLoopDeLoop2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/StutterRearLoopDeLoop/StutterRearLoopDeLoop5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterRearLoopDeLoop3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/StutterRearLoopDeLoop/StutterRearLoopDeLoop6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterRearLoopDeLoop3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/StutterRearLoopDeLoop/StutterRearLoopDeLoop7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterRearLoopDeLoop4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/StutterRearLoopDeLoop/StutterRearLoopDeLoop8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterRearLoopDeLoop4a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Stutter, Front -> LoopDeLoop ++++++++++++++++ -->
<button onclick="openAccordion('StutterFrontLoopDeLoop')" class="w3-hover-opacity w3-hover-red w3-left-align w3-button w3-bar w3-xlarge w3-block">
  RM -&gt Front LoopDeLoop
</button>
<div id="StutterFrontLoopDeLoop" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/3o7WIxWVObjOktqmty/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('StutterFrontLoopDeLoopMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/3o7WIvIVgstfmXtX7q/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('StutterFrontLoopDeLoopCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>LEARNING TIMES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <strong>BASIC:</strong> 300 iterations
        </li>
        <li>
          <strong>FAMILIAR:</strong> 475 iterations
        </li>
        <li>
          <strong>FLUENT:</strong> 750 iterations
        </li>
      </ul>
      <h5>PREREQUISITES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Stutter, Front</a>
        </li>
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Stutter, Rear</a>
        </li>
        <li>
          <a class="w3-tag w3-red" style="text-decoration: none;" href="#">Stutter, Rear -&gt LoopDeLoop</a>
        </li>
      </ul>
      <h5>CHAIN WITH</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-deep-purple" style="text-decoration: none;" href="#">Cuts, Shimmy Leg</a>
        </li>
        <li>
          <a class="w3-tag w3-red" style="text-decoration: none;" href="#">Spin, Inside Foot</a>
        </li>
        <li>
          <a class="w3-tag w3-amber w3-text-white" style="text-decoration: none;" href="#">Spin, Outside Foot</a>
        </li>
        <li>
          <a class="w3-tag w3-amber w3-text-white" style="text-decoration: none;" href="#">Running Man, Reverse</a>
        </li>
      </ul>
    </div>
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS & MISTAKES + FIXES</h5>
      <button onclick="openAccordion('StutterFrontLoopDeLoopPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Figure 8</button>
      <div id="StutterFrontLoopDeLoopPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Take note of how your kick leg is making a sideways figure 8 (when viewed from your side), with your plant foot intersecting the middle.
        </p>
      </div>
      <button onclick="openAccordion('StutterFrontLoopDeLoopPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Center of Gravity</button>
      <div id="StutterFrontLoopDeLoopPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          As your right leg kicks in a figure 8 motion, your left leg will want to slide back and forth to balance out your stance. Your legs will always be moving in the inverse direction of the other; i.e., as your right (kick) foot is moving outward in either direction, your left (plant) foot will move outwards in the opposite direction. As your kick leg moves inwards from either front or rear, your plant leg will slide inwards from the opposite. Getting these slides of your plant foot takes practice and lots of patience.
        </p>
      </div>
      <button onclick="openAccordion('StutterFrontLoopDeLoopWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="StutterFrontLoopDeLoopWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          Nearly same as rear loopdeloop, but start figure-8 by kicking forward. Read walkthrough on rear loopdeloop to learn the figure 8 motion. After entering the loopdeloop, you can continue the figure 8 kicking motion as many times as you want.
        </p>
      </div>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/StutterFrontLoopDeLoop/StutterFrontLoopDeLoop1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterFrontLoopDeLoop1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/StutterFrontLoopDeLoop/StutterFrontLoopDeLoop2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterFrontLoopDeLoop1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/StutterFrontLoopDeLoop/StutterFrontLoopDeLoop3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterFrontLoopDeLoop2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/StutterFrontLoopDeLoop/StutterFrontLoopDeLoop4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterFrontLoopDeLoop2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/StutterFrontLoopDeLoop/StutterFrontLoopDeLoop5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterFrontLoopDeLoop3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/StutterFrontLoopDeLoop/StutterFrontLoopDeLoop6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterFrontLoopDeLoop3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/StutterFrontLoopDeLoop/StutterFrontLoopDeLoop7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterFrontLoopDeLoop4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/StutterFrontLoopDeLoop/StutterFrontLoopDeLoop8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterFrontLoopDeLoop4a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Stutter, About Face ++++++++++++++++ -->
<button onclick="openAccordion('StutterKickAboutFace')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  RM -&gt About Face
</button>
<div id="StutterKickAboutFace" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/3o7WIsDjgoSqsFBiCs/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('StutterKickAboutFaceMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/xUOwG34W0vCkdWdJYI/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('StutterKickAboutFaceCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>LEARNING TIMES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <strong>BASIC:</strong> 100 iterations
        </li>
        <li>
          <strong>FAMILIAR:</strong> 250 iterations
        </li>
        <li>
          <strong>FLUENT:</strong> 400 iterations
        </li>
      </ul>
      <h5>PREREQUISITES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Stutter, Rear</a>
        </li>
      </ul>
      <h5>CHAIN WITH</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Running Man</a>
        </li>
        <li>
          <a class="w3-tag w3-amber w3-text-white" style="text-decoration: none;" href="#">Spin, 360</a>
        </li>
      </ul>
    </div>
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS & MISTAKES + FIXES</h5>
      <button onclick="openAccordion('StutterKickAboutFaceWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="StutterKickAboutFaceWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          From the running man, perform a rear stutter. However, instead of stutter and returning to the original position from which you entered the stutter, kick back with enough force to pull you backwards. As you kick backwards (lets say, with your right foot), pivot on your toes clockwise 180 degrees so that you land in the original position, but facing the opposite direction.
        </p>
      </div>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/StutterAboutFace/StutterAboutFace1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterKickAboutFace1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/StutterAboutFace/StutterAboutFace2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterKickAboutFace1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/StutterAboutFace/StutterAboutFace3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterKickAboutFace2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/StutterAboutFace/StutterAboutFace4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterKickAboutFace2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/StutterAboutFace/StutterAboutFace5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterKickAboutFace3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/StutterAboutFace/StutterAboutFace6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterKickAboutFace3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/StutterAboutFace/StutterAboutFace7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterKickAboutFace4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/StutterAboutFace/StutterAboutFace8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterKickAboutFace4a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
