<%# TODO: Running Man, Sideways Glide %>
TODO: Running Man, Rev Hops
<!-- ++++++++++++++++ Running Man ++++++++++++++++ -->
<button onclick="openAccordion('RM')" class="w3-hover-opacity w3-hover-green w3-left-align w3-button w3-bar w3-xlarge w3-block w3-left-alight">
  Running Man
</button>
<div id="RM" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/26DNjSyRvJqY11hxS/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('RMMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/26DN5nqE4Uqz0VVAc/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('RMCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>LEARNING TIMES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <strong>BASIC:</strong> 50 iterations
        </li>
        <li>
          <strong>FAMILIAR:</strong> 150 iterations
        </li>
        <li>
          <strong>FLUENT:</strong> 350 iterations
        </li>
      </ul>
      <h5>CHAIN WITH</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Stutter, Rear</a>
        </li>
        <li>
          <a class="w3-tag w3-amber w3-text-white" style="text-decoration: none;" href="#">Cuts, Reverse</a>
        </li>
        <li>
          <a class="w3-tag w3-amber w3-text-white" style="text-decoration: none;" href="#">Running Man, Reverse</a>
        </li>
      </ul>
    </div>
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS & MISTAKES + FIXES</h5>
      <button onclick="openAccordion('Demo1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Floating Feet</button>
      <div id="Demo1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          If as you try to learn the move it seems as if your front foot doesn't land at the same time as your rear foot at the half beats, exaggerate the length of your gait (and gravity will pull down both of your feet so that you can start to build the proper muscle memory.
        </p>
      </div>
      <button onclick="openAccordion('Demo2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Stompy Feet / Bendy Knees</button>
      <div id="Demo2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          The key to a slick looking running man is to have minimal bend in your knees and length of your stride. A running man will look off if you raise your knees too high (as if you were trying to stomp the ground) or take extra long gaits. Modesty is key here as your create the very subtle mirage that you are running in place - in fact, it's more of a slide than a run (as the term "shuffling" suggests it might be). To minimize the stride, find the right bounce in your step so that your feet can travel the minimal distance to create the apparition of a running man with the least amount of airtime (off the ground). This will also stop you from lifting your legs too high and creating the stomping motion.
        </p>
      </div>
      <button onclick="openAccordion('Demo3')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Mirrored Stances</button>
      <div id="Demo3" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Your feet will alternate between four different distinct positions - consisting of two pairs of mirroring stances. In the first set of twin stances, your front foot is flat on the ground while your rear foot is on its toes. In the second set, the front foot that was flat is straight below your body while your rear foot is tucked next to the middle of your shin, off the ground.
        </p>
      </div>
      <button onclick="openAccordion('RMWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="RMWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
           Jump into position by putting your right foot flat on the ground slightly in front of you, and your left foot on its toes slightly behind you. Slide your right foot back directly underneath your body while bringing your left foot above and tucked in next to your shin. Step down with your left foot flat, slightly in front of you, and drag your right foot back bringing it up onto its toes. Repeat.
        </p>
      </div>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/RunningMan/RunningMan1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RM1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/RunningMan/RunningMan2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RM1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/RunningMan/RunningMan3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RM2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/RunningMan/RunningMan4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RM2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/RunningMan/RunningMan5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RM3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/RunningMan/RunningMan6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RM3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/RunningMan/RunningMan7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RM4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/RunningMan/RunningMan8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RM4a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Running Man, Reverse ++++++++++++++++ -->
<button onclick="openAccordion('RMReverse')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block w3-left-alight">
  Running Man, Reverse
</button>
<div id="RMReverse" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/xUOwGbnlguFxzmRkLS/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('RMReverseMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/3o7WIyprmCM6x6INEI/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('RMReverseCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>LEARNING TIMES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <strong>BASIC:</strong> 150 iterations
        </li>
        <li>
          <strong>FAMILIAR:</strong> 350 iterations
        </li>
        <li>
          <strong>FLUENT:</strong> 700 iterations
        </li>
      </ul>
      <h5>PREREQUISITES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Running Man</a>
        </li>
      </ul>
      <h5>CHAIN WITH</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-red" style="text-decoration: none;" href="#">Spin, Backwards 180</a>
        </li>
        <li>
          <a class="w3-tag w3-red" style="text-decoration: none;" href="#">Spin, Inside Foot</a>
        </li>
      </ul>
    </div>
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS & MISTAKES + FIXES</h5>
      <button onclick="openAccordion('RMRevPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Chunk It</button>
      <div id="RMRevPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          It'll pay dividends down the line to have practiced the count to this move in chunks. You'll find yourself wanting to switch between normal running man and reverse running man on the fly. Chunking it will make this move more intuitive at a much deeper level and much more quickly.
        </p>
      </div>
      <button onclick="openAccordion('RMRevPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Mirrored Twin Stances</button>
      <div id="RMRevPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Same concept of mirrored twin stances as the normal running man (see it's tips for more info).
        </p>
      </div>
      <button onclick="openAccordion('RMRevWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="RMRevWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          Hop into position with your right foot in front of your body on its heel and your left foot behind your body on its toes. Slide your left foot forward, landing flat at the middle of your strie, and bring your right foot back pinned next to your left shin. Then, land your right foot on its toes at the heel of your left foot as you slide your left foot forward as far as feels comfortable. Repeat
        </p>
      </div>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/RunningManReverse/RunningManReverse1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RMReverse1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/RunningManReverse/RunningManReverse2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RMReverse1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/RunningManReverse/RunningManReverse3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RMReverse2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/RunningManReverse/RunningManReverse4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RMReverse2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/RunningManReverse/RunningManReverse5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RMReverse3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/RunningManReverse/RunningManReverse6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RMReverse3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/RunningManReverse/RunningManReverse7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RMReverse4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/RunningManReverse/RunningManReverse8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RMReverse4a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Running Man, Heels ++++++++++++++++ -->
<button onclick="openAccordion('RMHeels')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block w3-left-alight">
  Running Man, Heels
</button>
<div id="RMHeels" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/xUOwG5DtjrKdQg5GYU/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('RMHeelsMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/l0NgQ7KYZtUJAHHmU/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('RMHeelsCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>LEARNING TIMES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <strong>BASIC:</strong> 20 iterations
        </li>
        <li>
          <strong>FAMILIAR:</strong> 100 iterations
        </li>
        <li>
          <strong>FLUENT:</strong> 200 iterations
        </li>
      </ul>
      <h5>PREREQUISITES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Running Man</a>
        </li>
      </ul>
      <h5>CHAIN WITH</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Stutter, Rear</a>
        </li>
      </ul>
    </div>
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS & MISTAKES + FIXES</h5>
      <button onclick="openAccordion('RMHeelsWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="RMHeelsWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          Exactly the same as the running man, except now your front foot is on its heel instead of flat.
        </p>
      </div>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/RunningManHeels/RunningManHeels1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RMHeels1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/RunningManHeels/RunningManHeels2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RMHeels1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/RunningManHeels/RunningManHeels3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RMHeels2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/RunningManHeels/RunningManHeels4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RMHeels2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/RunningManHeels/RunningManHeels5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RMHeels3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/RunningManHeels/RunningManHeels6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RMHeels3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/RunningManHeels/RunningManHeels7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RMHeels4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/RunningManHeels/RunningManHeels8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RMHeels4a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
