<!-- ++++++++++++++++ Running Man ++++++++++++++++ -->
<button onclick="openAccordion('RM')" class="w3-hover-opacity w3-hover-green w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Running Man
</button>
<div id="RM" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/1dI01pPzF5ystuJCHl/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('RMMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/LwFC5EI5aige9uT92T/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('RMCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('Demo1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Floating Feet</button>
      <div id="Demo1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          If as you try to learn the move it seems as if your front foot doesn't land at the same time as your rear foot at the half beats, exaggerate the length of your gait (and gravity will pull down both of your feet so that you can start to build the proper muscle memory.
        </p>
      </div>
      <button onclick="openAccordion('Demo2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Stompy Feet / Bendy Knees</button>
      <div id="Demo2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          The key to a slick looking running man is to have minimal bend in your knees and length of your stride. A running man will look off if you raise your knees too high (as if you were trying to stomp the ground) or take extra long gaits. Modesty is key here as your create the very subtle mirage that you are running in place - in fact, it's more of a slide than a run (as the term "shuffling" suggests it might be). To minimize the stride, find the right bounce in your step so that your feet can travel the minimal distance to create the apparition of a running man with the least amount of airtime (off the ground). This will also stop you from lifting your legs too high and creating the stomping motion.
        </p>
      </div>
      <button onclick="openAccordion('Demo3')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Mirrored Stances</button>
      <div id="Demo3" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Your feet will alternate between four different distinct positions - consisting of two pairs of mirroring stances. In the first set of twin stances, your front foot is flat on the ground while your rear foot is on its toes. In the second set, the front foot that was flat is straight below your body while your rear foot is tucked next to the middle of your shin, off the ground.
        </p>
      </div>
      <button onclick="openAccordion('RMWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="RMWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
           Jump into position by putting your right foot flat on the ground slightly in front of you, and your left foot on its toes slightly behind you. Slide your right foot back directly underneath your body while bringing your left foot above and tucked in next to your shin. Step down with your left foot flat, slightly in front of you, and drag your right foot back bringing it up onto its toes. Repeat.
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          N/A
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/RunningMan/RunningMan1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RM1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/RunningMan/RunningMan2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RM1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/RunningMan/RunningMan3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RM2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/RunningMan/RunningMan4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RM2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/RunningMan/RunningMan5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RM3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/RunningMan/RunningMan6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RM3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/RunningMan/RunningMan7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RM4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/RunningMan/RunningMan8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RM4a').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- Walkthrough -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
    <header class="w3-container w3-center w3-green">
      <h5>WALKTHROUGH</h5>
    </header>
      <div>
        <ul class="w3-ul">
          <li>
            <span class="w3-tag w3-small w3-green">1</span> Start with left foot forwards and flat, right foot behind you and on toes
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">2</span> Slide/jostle left foot backwards and flat to center of stance, while bringing right foot up tucked next to your shin
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">3</span> Land right foot flat in front of stance while pushing left foot backwards on toes at rear or stance
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">4</span> Repeat, but now bring up left foot and land right foot flat, and so on
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Reverse Running Man ++++++++++++++++ -->
<button onclick="openAccordion('RMReverse')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Reverse Running Man
</button>
<div id="RMReverse" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/xUOwGbnlguFxzmRkLS/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('RMReverseMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/3o7WIyprmCM6x6INEI/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('RMReverseCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('RMRevPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Chunk It</button>
      <div id="RMRevPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          It'll pay dividends down the line to have practiced the count to this move in chunks. You'll find yourself wanting to switch between normal running man and reverse running man on the fly. Chunking it will make this move more intuitive at a much deeper level and much more quickly.
        </p>
      </div>
      <button onclick="openAccordion('RMRevPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Mirrored Twin Stances</button>
      <div id="RMRevPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Same concept of mirrored twin stances as the normal running man (see it's <i class="fa fa-life-ring"></i> TIPS for more info).
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Running Man
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/RunningManReverse/RunningManReverse1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RMReverse1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/RunningManReverse/RunningManReverse2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RMReverse1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/RunningManReverse/RunningManReverse3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RMReverse2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/RunningManReverse/RunningManReverse4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RMReverse2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/RunningManReverse/RunningManReverse5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RMReverse3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/RunningManReverse/RunningManReverse6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RMReverse3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/RunningManReverse/RunningManReverse7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RMReverse4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/RunningManReverse/RunningManReverse8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RMReverse4a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Reverse Pops ++++++++++++++++ -->
<button onclick="openAccordion('ReversePops')" class="w3-hover-opacity w3-hover-green w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Reverse Pops
</button>
<div id="ReversePops" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/TG8dKSsJ7jQ65WwIXD/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ReversePopsMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/6u0q7JL1cjJb4Q3d6C/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ReversePopsCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('ReversePopsPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Sweet Spot Hops</button>
      <div id="ReversePopsPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Find the right amount of hop forward with each move - too much and it'll look funky, too little and you're practically just doing the reverse running man. Other than that this move is pretty simple and not too unintuitive.
        </p>
      </div>
      <button onclick="openAccordion('ReversePopsWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="ReversePopsWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          As if you were doing a normal reverse running man, each time to kick your rear foot forward, keep your front foot up and pinned next to your shin (instead of landing flat on it). And with each kick, use a little more force so that your whole body is forced forward so that when repeated, this move has you gradually gliding forward. After you've jutted forward, place your up foot down on its heel in the normal reverse running man position, and repeat.
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          RM, Reverse
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/ReversePops/ReversePops1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ReversePops1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ReversePops/ReversePops2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ReversePops1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/ReversePops/ReversePops3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ReversePops2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ReversePops/ReversePops4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ReversePops2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/ReversePops/ReversePops5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ReversePops3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ReversePops/ReversePops6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ReversePops3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/ReversePops/ReversePops7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ReversePops4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ReversePops/ReversePops8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ReversePops4a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Sideways Glide ++++++++++++++++ -->
<button onclick="openAccordion('SidewaysGlide')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Sideways Glide
</button>
<div id="SidewaysGlide" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/w9xF5fUrUUfvCpjgCB/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SidewaysGlideMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/xFnPtQMogHBGh4x6PB/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SidewaysGlideCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('SidewaysGlidePit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align "></button>
      <div id="SidewaysGlidePit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Since you are moving sideways, where you land your foot is with each beat will influence how you glide. If you perfect the placement of your feet with each motion, you will maximize the amount of glide you get with each step and minimize how much you have to jut yourself sideways to get the sideways glide motion. This move is as if you were doing the normal running man, except starting it over very slightly to your left (or right) each motion. Every time you step slightly to your left to restart it, you will move over and give the impression you are gliding.
        </p>
      </div>
      <button onclick="openAccordion('SidewaysGlidePit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Running Man / Cut Hybrid</button>
      <div id="SidewaysGlidePit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Since you are essentially just restarting the running man over and over again each time slightly to your left (or right), the act of cross over your feet to get left (or right) is the same motion as the cut. However, you want to minimize how much the move looks like a cut - you are doing a cut for utiliarian purposes, not aestheic. Try to minimize how high your toe points off the ground (make it flat if you can manage) and how much your hips twist.
        </p>
      </div>
      <button onclick="openAccordion('SidewaysGlidePit4')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Look and Point</button>
      <div id="SidewaysGlidePit4" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          This move is a good for transitioning in between chains of ornate moves. As you glide left or right, look to the direction your moving and point at whoevers there, do whatever you want - make it cool. It's good for building up the tension for what you're about throw down next.
        </p>
      </div>
      <button onclick="openAccordion('SidewaysGlideWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="SidewaysGlideWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          This move is a cross between a running man and cuts. You're doing the running man motion when your feet aren't crossed, and a slightly modified cuts motion when they are. Enter this move from the running man; from the running man, turn slightly right so that your body is pointing about 30 degress right. Now, with your left leg forward and your right leg back, drag your left leg backwards, but slightly to the left so that you jut a bit leftwards. Now in the middle position, bring your right foot over your left foot and place it down on its heel, as flat as possible. Drag your right foot back, again slightly leftwards so that your whole body moves slightly left. Now you can bring your left foot up again and repeat the entire motion.
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Running Man
        </li>
        <li>
          Cuts
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/SidewaysGlide/SidewaysGlide1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SidewaysGlide1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/SidewaysGlide/SidewaysGlide2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SidewaysGlide1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/SidewaysGlide/SidewaysGlide3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SidewaysGlide2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/SidewaysGlide/SidewaysGlide4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SidewaysGlide2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/SidewaysGlide/SidewaysGlide5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SidewaysGlide3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/SidewaysGlide/SidewaysGlide6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SidewaysGlide3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/SidewaysGlide/SidewaysGlide7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SidewaysGlide4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/SidewaysGlide/SidewaysGlide8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SidewaysGlide4a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Windswept ++++++++++++++++ -->
<button onclick="openAccordion('Windswept')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Windswept
</button>
<div id="Windswept" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="#" style="width: 100%; cursor:pointer" onclick="document.getElementById('WindsweptMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="#" style="width: 100%; cursor:pointer" onclick="document.getElementById('WindsweptCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('WindsweptPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Lorem</button>
      <div id="WindsweptPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Lorem
        </p>
      </div>
      <button onclick="openAccordion('WindsweptPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Lorem</button>
      <div id="WindsweptPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Lorem
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Lorem
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/Windswept/Windswept1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Windswept1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Windswept/Windswept2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Windswept1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/Windswept/Windswept3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Windswept2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Windswept/Windswept4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Windswept2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/Windswept/Windswept5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Windswept3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Windswept/Windswept6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Windswept3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/Windswept/Windswept7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Windswept4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Windswept/Windswept8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Windswept4a').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- Walkthrough -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
    <header class="w3-container w3-center w3-green">
      <h5>WALKTHROUGH</h5>
    </header>
      <div>
        <ul class="w3-ul">
          <li>
            <span class="w3-tag w3-small w3-green">1</span>
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">2</span>
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">3</span>
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">4</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Zombie ++++++++++++++++ -->
<button onclick="openAccordion('Zombie')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Zombie
</button>
<div id="Zombie" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="#" style="width: 100%; cursor:pointer" onclick="document.getElementById('ZombieMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="#" style="width: 100%; cursor:pointer" onclick="document.getElementById('ZombieCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('ZombiePit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Lorem</button>
      <div id="ZombiePit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Lorem
        </p>
      </div>
      <button onclick="openAccordion('ZombiePit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Lorem</button>
      <div id="ZombiePit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Lorem
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Lorem
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/Zombie/Zombie1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Zombie1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Zombie/Zombie2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Zombie1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/Zombie/Zombie3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Zombie2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Zombie/Zombie4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Zombie2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/Zombie/Zombie5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Zombie3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Zombie/Zombie6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Zombie3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/Zombie/Zombie7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Zombie4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Zombie/Zombie8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Zombie4a').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- Walkthrough -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
    <header class="w3-container w3-center w3-green">
      <h5>WALKTHROUGH</h5>
    </header>
      <div>
        <ul class="w3-ul">
          <li>
            <span class="w3-tag w3-small w3-green">1</span>
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">2</span>
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">3</span>
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">4</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
