<!-- ++++++++++++++++ In-N-Out ++++++++++++++++ -->
<button onclick="openAccordion('InNOut')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  In-N-Out
</button>
<div id="InNOut" class="w3-hide w3-container">
  <div class="w3-row-padding">
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/Zwudz4TosZRn6SLKGB/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('InNOutMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/Zyw1Qu7FipdVw7qS2S/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('InNOutCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS</h5>
      <button onclick="openAccordion('InNOutPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Hands Balance</button>
      <div id="InNOutPit1" class="w3-border w3-container w3-hide">
        <p>
          Extend your arms outward and let them naturally act as stabilizers. As if you were balacing on a tightrope with your arms extended, as you perform the move your arms should adjust accordingly to keep you balance.
        </p>
      </div>
      <button onclick="openAccordion('InNOutPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Touches</button>
      <div id="InNOutPit2" class="w3-border w3-container w3-hide">
        <p>
          As an alternate variation of this move (and potentially an easier version), with each reverse of the direction of your toes you can tap the ground with your hover foot. This will help you get your balance back (by eliminating any sway in your stance from balancing on one foot).
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>CHAIN WITH</h5>
      <a href="/collage" style="text-decoration: none"><button class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">Lorem</button></a>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/InNOut/InNOut1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('InNOut1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/InNOut/InNOut2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('InNOut1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/InNOut/InNOut3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('InNOut2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/InNOut/InNOut4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('InNOut2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/InNOut/InNOut5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('InNOut3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/InNOut/InNOut6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('InNOut3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/InNOut/InNOut7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('InNOut4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/InNOut/InNOut8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('InNOut4a').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- Walkthrough -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
    <header class="w3-container w3-center w3-green">
      <h5>WALKTHROUGH</h5>
    </header>
      <div>
        <ul class="w3-ul">
          <li>
            At each beat, your leg (leading with your toes) should be pointed either outward from each other or criss cross
          </li>
          <li>
            At each half beat, your toes/legs should be both be pointing forward
          </li>
          <li>
            During the motion, one leg stays stationary on the ground, the other stays slightly off the ground
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Roundabouts ++++++++++++++++ -->
<button onclick="openAccordion('Roundabouts')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Roundabouts
</button>
<div id="Roundabouts" class="w3-hide w3-container">
  <div class="w3-row-padding">
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/1xP5cIN9Ufn2drqDj5/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('RoundaboutsMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/Aij75Ws6vT1cKjfVI4/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('RoundaboutsCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS</h5>
      <button onclick="openAccordion('RoundaboutsPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Pitfall 2</button>
      <div id="RoundaboutsPit1" class="w3-border w3-container w3-hide">
        <p>
          lorem ipsum dolor
        </p>
      </div>
      <button onclick="openAccordion('RoundaboutsPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Pitfall 1</button>
      <div id="RoundaboutsPit2" class="w3-border w3-container w3-hide">
        <p>
          lorem ipsum dolor
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>CHAIN WITH</h5>
      <a href="/collage" style="text-decoration: none"><button class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">Lorem</button></a>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/RoundaboutStomp/RoundaboutStomp1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Roundabouts1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/RoundaboutStomp/RoundaboutStomp2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Roundabouts1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/RoundaboutStomp/RoundaboutStomp3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Roundabouts2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/RoundaboutStomp/RoundaboutStomp4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Roundabouts2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/RoundaboutStomp/RoundaboutStomp5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Roundabouts3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/RoundaboutStomp/RoundaboutStomp6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Roundabouts3a').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- Walkthrough -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
    <header class="w3-container w3-center w3-green">
      <h5>WALKTHROUGH</h5>
    </header>
      <div>
        <ul class="w3-ul">
          <li>
            Stand with feet slightly closer than shoudler width
          </li>
          <li>
            Raise left foot up in a tip-toe position, toe hovering low off the ground
          </li>
          <li>
            Snake left toe inward to right, then all the way back out to left
          </li>
          <li>
            Snake left toe back inward again and tap toe to slight center-right of stance
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Shimmy ++++++++++++++++ -->
<button onclick="openAccordion('Shimmy')" class="w3-hover-opacity w3-hover-green w3-left-align w3-button w3-bar w3-xlarge w3-block w3-left-alight">
  Shimmy
</button>
<div id="Shimmy" class="w3-hide w3-container">
  <div class="w3-row-padding">
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/5tf23PyEFAzU43bftN/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ShimmyMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/WNwMK3Y4byWFcqHr5g/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ShimmyCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS</h5>
      <button onclick="openAccordion('ShimmyPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Stutter</button>
      <div id="ShimmyPit1" class="w3-border w3-container w3-hide">
        <p>
          It's very easy (and common) to implement a stutter in this move, which essentially sees you do a double reverse (stay on the same toe/heel of each foot and go left and right twice).
        </p>
      </div>
      <button onclick="openAccordion('ShimmyPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Toe Heel Swap</button>
      <div id="ShimmyPit2" class="w3-border w3-container w3-hide">
        <p>
          The swap of the toe and heel of each swap can easily trip you up. Practice over and over again just the count of the swap to hammer in how your feet need to swap and maintain the wedge formation. Often times when swapping too quickly, you'll accidentally leave the wedge formation.
        </p>
      </div>
      <button onclick="openAccordion('ShimmyPit3')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Pep in Your Step</button>
      <div id="ShimmyPit3" class="w3-border w3-container w3-hide">
        <p>
          To amelerioate the difficulties in swapping, you can add a little bounce to the toe-heel swaps and perform an slight variation of the shimmy slide.
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>CHAIN WITH</h5>
      <a href="/collage" style="text-decoration: none"><button class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">Lorem</button></a>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/Shimmy/Shimmy1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Shimmy1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Shimmy/Shimmy2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Shimmy1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/Shimmy/Shimmy3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Shimmy2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Shimmy/Shimmy4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Shimmy2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/Shimmy/Shimmy5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Shimmy3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Shimmy/Shimmy6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Shimmy3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/Shimmy/Shimmy7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Shimmy4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Shimmy/Shimmy8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Shimmy4a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Side Rock ++++++++++++++++ -->
<button onclick="openAccordion('SideRock')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Side Rock
</button>
<div id="SideRock" class="w3-hide w3-container">
  <div class="w3-row-padding">
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/2wgYYHjboy0llvpP4X/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SideRockMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/5SBPsUoEONBzUdtLdB/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SideRockCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS</h5>
      <button onclick="openAccordion('SideRockPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Lorem</button>
      <div id="SideRockPit1" class="w3-border w3-container w3-hide">
        <p>
          Lorem
        </p>
      </div>
      <button onclick="openAccordion('SideRockPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Lorem</button>
      <div id="SideRockPit2" class="w3-border w3-container w3-hide">
        <p>
          Lorem
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>CHAIN WITH</h5>
      <a href="/collage" style="text-decoration: none"><button class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">Lorem</button></a>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/SideRock/SideRock1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SideRock1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/SideRock/SideRock2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SideRock1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/SideRock/SideRock3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SideRock2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/SideRock/SideRock4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SideRock2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/SideRock/SideRock5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SideRock3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/SideRock/SideRock6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SideRock3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/SideRock/SideRock7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SideRock4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/SideRock/SideRock8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SideRock4a').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- Walkthrough -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
    <header class="w3-container w3-center w3-green">
      <h5>WALKTHROUGH</h5>
    </header>
      <div>
        <ul class="w3-ul">
          <li>

          </li>
          <li>

          </li>
          <li>

          </li>
          <li>

          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Stomper ++++++++++++++++ -->
<button onclick="openAccordion('Stomper')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Stomper
</button>
<div id="Stomper" class="w3-hide w3-container">
  <div class="w3-row-padding">
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/35Ki1oQswXnddHUjT5/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('StomperMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/23k8ztdzC6cRyl6LeE/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('StomperCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS</h5>
      <button onclick="openAccordion('StomperPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Lorem</button>
      <div id="StomperPit1" class="w3-border w3-container w3-hide">
        <p>
          Lorem
        </p>
      </div>
      <button onclick="openAccordion('StomperPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Lorem</button>
      <div id="StomperPit2" class="w3-border w3-container w3-hide">
        <p>
          Lorem
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>CHAIN WITH</h5>
      <a href="/collage" style="text-decoration: none"><button class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">Lorem</button></a>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/Stomper/Stomper1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Stomper1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Stomper/Stomper2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Stomper1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/Stomper/Stomper3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Stomper2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Stomper/Stomper4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Stomper2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/Stomper/Stomper5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Stomper3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Stomper/Stomper6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Stomper3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/Stomper/Stomper7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Stomper4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Stomper/Stomper8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Stomper4a').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- Walkthrough -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
    <header class="w3-container w3-center w3-green">
      <h5>WALKTHROUGH</h5>
    </header>
      <div>
        <ul class="w3-ul">
          <li>

          </li>
          <li>

          </li>
          <li>

          </li>
          <li>

          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ T-Steppin ++++++++++++++++ -->
<button onclick="openAccordion('TSteppin')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  T-Steppin
</button>
<div id="TSteppin" class="w3-hide w3-container">
  <div class="w3-row-padding">
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/cYj5UJDLxhadeAByTL/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('TSteppinMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/OT5B004WoO27kE1c44/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('TSteppinCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS</h5>
      <button onclick="openAccordion('TSteppinPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Lorem</button>
      <div id="TSteppinPit1" class="w3-border w3-container w3-hide">
        <p>
          Lorem
        </p>
      </div>
      <button onclick="openAccordion('TSteppinPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Lorem</button>
      <div id="TSteppinPit2" class="w3-border w3-container w3-hide">
        <p>
          Lorem
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>CHAIN WITH</h5>
      <a href="/collage" style="text-decoration: none"><button class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">Lorem</button></a>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/TSteppin/TSteppin1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('TSteppin1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/TSteppin/TSteppin2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('TSteppin1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/TSteppin/TSteppin3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('TSteppin2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/TSteppin/TSteppin4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('TSteppin2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/TSteppin/TSteppin5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('TSteppin3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/TSteppin/TSteppin6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('TSteppin3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/TSteppin/TSteppin7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('TSteppin4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/TSteppin/TSteppin8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('TSteppin4a').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- Walkthrough -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
    <header class="w3-container w3-center w3-green">
      <h5>WALKTHROUGH</h5>
    </header>
      <div>
        <ul class="w3-ul">
          <li>

          </li>
          <li>

          </li>
          <li>

          </li>
          <li>

          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Toe Pogo ++++++++++++++++ -->
<button onclick="openAccordion('ToePogo')" class="w3-hover-opacity w3-hover-red w3-left-align w3-button w3-bar w3-xlarge w3-block w3-left-alight">
  Toe Pogo
</button>
<div id="ToePogo" class="w3-hide w3-container">
  <div class="w3-row-padding">
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/3FbJOOpyWYfUYkT9dh/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ToePogoMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/1fgI5iYS7eniSMgMv7/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ToePogoCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS</h5>
      <button onclick="openAccordion('ToePogoPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Strong Toes</button>
      <div id="ToePogoPit1" class="w3-border w3-container w3-hide">
        <p>
          In order to get this move right, you'll need to have strong toes. Practice toe stands (against a wall as training wheels if your toes aren't strong enough yet) for 30 seconds at a time until you can balance on your toes without any extra support. This is a hard prequisite for this move that cannot be passed over.
        </p>
      </div>
      <button onclick="openAccordion('ToePogoPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Toes Together</button>
      <div id="ToePogoPit2" class="w3-border w3-container w3-hide">
        <p>
          Keep your toes as close together as possible during the toe stand to make the move look more clean.
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>CHAIN WITH</h5>
      <a href="/collage" style="text-decoration: none"><button class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">Lorem</button></a>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/ToePogo/ToePogo1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ToePogo1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ToePogo/ToePogo2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ToePogo1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/ToePogo/ToePogo3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ToePogo2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ToePogo/ToePogo4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ToePogo2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/ToePogo/ToePogo5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ToePogo3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ToePogo/ToePogo6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ToePogo3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/ToePogo/ToePogo7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ToePogo4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ToePogo/ToePogo8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ToePogo4a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
