<!-- ++++++++++++++++ Shimmy ++++++++++++++++ -->
<button onclick="openAccordion('Shimmy')" class="w3-hover-opacity w3-hover-green w3-left-align w3-button w3-bar w3-xlarge w3-block w3-left-alight">
  Shimmy
</button>
<div id="Shimmy" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/5tf23PyEFAzU43bftN/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ShimmyMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/xThtaiulkOniVsOafC/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ShimmyCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('ShimmyPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Stutter</button>
      <div id="ShimmyPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          It's very easy (and common) to implement a stutter in this move, which essentially sees you do a double reverse (stay on the same toe/heel of each foot and go left and right twice).
        </p>
      </div>
      <button onclick="openAccordion('ShimmyPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Toe Heel Swap</button>
      <div id="ShimmyPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          The swap of the toe and heel of each swap can easily trip you up. Practice over and over again just the count of the swap to hammer in how your feet need to swap and maintain the wedge formation. Often times when swapping too quickly, you'll accidentally leave the wedge formation.
        </p>
      </div>
      <button onclick="openAccordion('ShimmyPit3')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Pep in Your Step</button>
      <div id="ShimmyPit3" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          To amelerioate the difficulties in swapping, you can add a little bounce to the toe-heel swaps and perform an slight variation of the shimmy slide.
        </p>
      </div>
      <button onclick="openAccordion('ShimmyWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="ShimmyWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          Start with your feet in a wedge formation, on the heel of your left foot and toe of your right foot. Pivot each foot on toe or heel towards the right. As you hit the end of the motion, immediately reverse the pivot back to the starting position. Now, swap your left foot to its toe and and your right foot its heel and repeat the previous motion to the left. Keep repeating and reversing.
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          N/A
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/Shimmy/Shimmy1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Shimmy1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Shimmy/Shimmy2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Shimmy1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/Shimmy/Shimmy3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Shimmy2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Shimmy/Shimmy4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Shimmy2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/Shimmy/Shimmy5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Shimmy3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Shimmy/Shimmy6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Shimmy3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/Shimmy/Shimmy7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Shimmy4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Shimmy/Shimmy8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Shimmy4a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ ShimmyWalk ++++++++++++++++ -->
<button onclick="openAccordion('ShimmyWalk')" class="w3-hover-opacity w3-hover-green w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Shimmy Walk
</button>
<div id="ShimmyWalk" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/5n7v9VBWz1aznlhRsT/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ShimmyWalkMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/dmZ99Gzq1ulOcgXDh5/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ShimmyWalkCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('ShimmyWalkPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Keep It Tight</button>
      <div id="ShimmyWalkPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          You’re not bringing your feet around in a semi circle fashion in the same sense as with the criss-crosses and alt toe points - instead, you are putting one foot in front of the other in the same fashion as the running man. Keep the half counts tight in the sense of having your up foot pinned next to your down foot. Imagine a two perpendicular planes that each foot goes along back and forth but not off.
        </p>
      </div>
      <button onclick="openAccordion('ShimmyWalkWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="ShimmyWalkWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          Enter into ShimmyWalk by jumping into toe heel stance, one foot in front of the other with rear foot on toe and front foot on heel. Bounce the front foot backward, landing flat - move the rear foot forward tucked next to the other leg, lifting it upwards to about midway between your ankle and your knee. Bring down the up foot and land on your heel, whilst forcing the down foot backwards and raising it slightly so you are on your toes (of the now rear foot). Repeat.
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Shimmy
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/ShimmyWalk/ShimmyWalk1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ShimmyWalk1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ShimmyWalk/ShimmyWalk2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ShimmyWalk1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/ShimmyWalk/ShimmyWalk3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ShimmyWalk2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ShimmyWalk/ShimmyWalk4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ShimmyWalk2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/ShimmyWalk/ShimmyWalk5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ShimmyWalk3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ShimmyWalk/ShimmyWalk6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ShimmyWalk3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/ShimmyWalk/ShimmyWalk7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ShimmyWalk4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ShimmyWalk/ShimmyWalk8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ShimmyWalk4a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Shimmy, Toe Pogo ++++++++++++++++ -->
<button onclick="openAccordion('ShimmyToePogo')" class="w3-hover-opacity w3-hover-red w3-left-align w3-button w3-bar w3-xlarge w3-block w3-left-alight">
  Shimmy, Toe Pogo
</button>
<div id="ShimmyToePogo" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/3ohs4bx9j7OeEZXdug/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ShimmyToePogoMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/26DNbJOrGRnxV39lK/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ShimmyToePogoCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('ShimmyToePogoPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Strong Toes</button>
      <div id="ShimmyToePogoPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          In order to get this move right, you'll need to have strong toes. Practice toe stands (against a wall as training wheels if your toes aren't strong enough yet) for 30 seconds at a time until you can balance on your toes without any extra support. This is a hard prequisite for this move that cannot be passed over.
        </p>
      </div>
      <button onclick="openAccordion('ShimmyToePogoPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Toes Together</button>
      <div id="ShimmyToePogoPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Keep your toes as close together as possible during the toe stand to make the move look more clean.
        </p>
      </div>
      <button onclick="openAccordion('ShimmyToePogoWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="ShimmyToePogoWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          Same exact motions as the shimmy, but when you come out of the reverse, instead of swapping toe-heel of each foot, jump to the side into a toe stand. Face your toes and knees at a slight 45 degree angle inward. Vary how long you hold the toe stand for different variations of the move.
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Shimmy
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/ShimmyToePogo/ShimmyToePogo1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ShimmyToePogo1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ShimmyToePogo/ShimmyToePogo2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ShimmyToePogo1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/ShimmyToePogo/ShimmyToePogo3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ShimmyToePogo2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ShimmyToePogo/ShimmyToePogo4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ShimmyToePogo2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/ShimmyToePogo/ShimmyToePogo5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ShimmyToePogo3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ShimmyToePogo/ShimmyToePogo6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ShimmyToePogo3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/ShimmyToePogo/ShimmyToePogo7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ShimmyToePogo4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ShimmyToePogo/ShimmyToePogo8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ShimmyToePogo4a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Shimmy Strut ++++++++++++++++ -->
<button onclick="openAccordion('ShimmyOneWay')" class="w3-hover-opacity w3-hover-red w3-left-align w3-button w3-bar w3-xlarge w3-block w3-left-alight">
  Shimmy Strut
</button>
<div id="ShimmyOneWay" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/1zJDYIv0rbNx2nfOWy/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ShimmyOneWayMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/3ohs4zN15PVb1AzYEo/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ShimmyOneWayCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('ShimmyOneWayPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">The Cross</button>
      <div id="ShimmyOneWayPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Exaggerate the criss crossing motion of your toes when practicing to hammer in that muscle memory, because when you perform the move more quickly, you may fail to cross your feet enough.
        </p>
      </div>
      <button onclick="openAccordion('ShimmyOneWayWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="ShimmyOneWayWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          Balance on your left foot, with your right foot barely touching the ground. You should be in a wedge formation, with your toes pointing outward. Pivot your left foot on its heel clockwise and touch the ground with the heel of your right foot - your toes should now be pointing crossed. pivot again on your left foot until you are back in the original stance, but one stride to your right. Keep repeating.
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Shimmy
        </li>
        <li>
          Alt Toe Points, Jump
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/ShimmyOneWay/ShimmyOneWay1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ShimmyOneWay1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ShimmyOneWay/ShimmyOneWay2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ShimmyOneWay1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/ShimmyOneWay/ShimmyOneWay3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ShimmyOneWay2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ShimmyOneWay/ShimmyOneWay4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ShimmyOneWay2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/ShimmyOneWay/ShimmyOneWay5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ShimmyOneWay3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ShimmyOneWay/ShimmyOneWay6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ShimmyOneWay3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/ShimmyOneWay/ShimmyOneWay7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ShimmyOneWay4').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Roundabouts ++++++++++++++++ -->
<button onclick="openAccordion('RoundaboutStomps')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Roundabouts
</button>
<div id="RoundaboutStomps" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/26DN2JSBAp2NrfGtW/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('RoundaboutStompsMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/l4pTcLHoh5PqBMekw/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('RoundaboutStompsCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('RoundaboutStompsPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Pitfall 2</button>
      <div id="RoundaboutStompsPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          lorem ipsum dolor
        </p>
      </div>
      <button onclick="openAccordion('RoundaboutStompsPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Pitfall 1</button>
      <div id="RoundaboutStompsPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          lorem ipsum dolor
        </p>
      </div>
      <button onclick="openAccordion('RoundaboutStompWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="RoundaboutStompWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          lorem ipsum dolor
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Check Out My Kicks
        </li>
        <li>
          Cuts
        </li>
        <li>
          Shimmy, One Way
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/RoundaboutStomp/RoundaboutStomp1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RoundaboutStomps1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/RoundaboutStomp/RoundaboutStomp2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RoundaboutStomps1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/RoundaboutStomp/RoundaboutStomp3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RoundaboutStomps2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/RoundaboutStomp/RoundaboutStomp4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RoundaboutStomps2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/RoundaboutStomp/RoundaboutStomp5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RoundaboutStomps3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/RoundaboutStomp/RoundaboutStomp6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RoundaboutStomps3a').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- Walkthrough -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
    <header class="w3-container w3-center w3-green">
      <h5>WALKTHROUGH</h5>
    </header>
      <div>
        <ul class="w3-ul">
          <li>
            <span class="w3-tag w3-small w3-green">1</span> Stand with feet slightly closer than shoudler width
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">2</span> Raise left foot up in a tip-toe position, toe hovering low off the ground
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">3</span> Snake left toe inward to right, then all the way back out to left
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">4</span> Snake left toe back inward again and tap toe to slight center-right of stance
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
