<!-- ++++++++++++++++ About Face ++++++++++++++++ -->
<button onclick="openAccordion('AboutFace')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  About Face
</button>
<div id="AboutFace" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/RkJKmdawLAEZO3IZlO/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('AboutFaceMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/xUOwG34W0vCkdWdJYI/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('AboutFaceCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS</h5>
      <button onclick="openAccordion('AboutFaceWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="AboutFaceWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          From the running man, perform a rear stutter. However, instead of stutter and returning to the original position from which you entered the stutter, kick back with enough force to pull you backwards. As you kick backwards (lets say, with your right foot), pivot on your toes clockwise 180 degrees so that you land in the original position, but facing the opposite direction.
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Stutter, Rear
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/StutterAboutFace/StutterAboutFace1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('AboutFace1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/StutterAboutFace/StutterAboutFace2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('AboutFace1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/StutterAboutFace/StutterAboutFace3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('AboutFace2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/StutterAboutFace/StutterAboutFace4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('AboutFace2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/StutterAboutFace/StutterAboutFace5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('AboutFace3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/StutterAboutFace/StutterAboutFace6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('AboutFace3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/StutterAboutFace/StutterAboutFace7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('AboutFace4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/StutterAboutFace/StutterAboutFace8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('AboutFace4a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Forwards Launch ++++++++++++++++ -->
<button onclick="openAccordion('ForwardLaunch')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Forward Launch
</button>
<div id="ForwardLaunch" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/1wmxDMeCPilm4ApDNg/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ForwardLaunchMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/LUfiGpoxpmBbKvgevw/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ForwardLaunchCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS</h5>
      <button onclick="openAccordion('ForwardLaunchPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">One Foot For It All</button>
      <div id="ForwardLaunchPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Naturally, you're body is going to switch legs when you hop forward, and especially when you hop backwards. The theme of the move is that you're propelling yourself forwards and backwards on one single foot. This is kind of like an altered hopscotch move - you're using one leg for all the hops.
        </p>
      </div>
      <button onclick="openAccordion('ForwardLaunchPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Vague Grasp of Rear LoopDeLoop</button>
      <div id="ForwardLaunchPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          You only need a vague grasp of the rear loopdeloop to start learning this move. It comes into play with the kick forward, after you hop forward. Once you become familiar with this move, the loopdeloops will become a lot easier to learn in fact.
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Cuts
        </li>
        <li>
          RM -&gt Rear LoopDeLoop
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/ForwardLaunch/ForwardLaunch1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ForwardLaunch1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ForwardLaunch/ForwardLaunch2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ForwardLaunch1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/ForwardLaunch/ForwardLaunch3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ForwardLaunch2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ForwardLaunch/ForwardLaunch4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ForwardLaunch2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/ForwardLaunch/ForwardLaunch5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ForwardLaunch3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ForwardLaunch/ForwardLaunch6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ForwardLaunch3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/ForwardLaunch/ForwardLaunch7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ForwardLaunch4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ForwardLaunch/ForwardLaunch8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ForwardLaunch4a').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- Walkthrough -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
    <header class="w3-container w3-center w3-green">
      <h5>WALKTHROUGH</h5>
    </header>
      <div>
        <ul class="w3-ul">
          <li>
            <span class="w3-tag w3-green">1</span> With your right foot somewhere in front of you and your left foot behind you, lean back and fall onto your right foot
          </li>
          <li>
            <span class="w3-tag w3-green">2</span> As right foot plants, immediately kick it back directly forward in front of you as you bring left foot back and land on it
          </li>
          <li>
            <span class="w3-tag w3-green">3</span> Repeat again and land on your right foot
          </li>
          <li>
            <span class="w3-tag w3-green">4</span> As soon as you land on your right foot, take a generous hop forward on your right foot
          </li>
          <li>
            <span class="w3-tag w3-green">5</span> As you land from your hop, kick your left foot backwards (in the air, not on the ground) to propel yourself a little bit more forward; as you kick, the momentum should push your right foot forward a little more into a little hop
          </li>
          <li>
            <span class="w3-tag w3-green">6</span> Now, reverse the kicking motion of your left foot, which should also bring your right foot back a smidge (in another mini hop)
          </li>
          <li>
            <span class="w3-tag w3-green">7</span> Take a big hop backwards on your right foot and repeat - you are back again at step 1, of falling back into your right foot
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Launch Back ++++++++++++++++ -->
<button onclick="openAccordion('LaunchBack')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Launch Back
</button>
<div id="LaunchBack" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/MRXmySP4fEpSowInOy/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('LaunchBackMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/jVFqgvGY4ENEyAfxEU/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('LaunchBackCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS</h5>
      <button onclick="openAccordion('LaunchBackPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Lorem</button>
      <div id="LaunchBackPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Lorem
        </p>
      </div>
      <button onclick="openAccordion('LaunchBackPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Lorem</button>
      <div id="LaunchBackPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Lorem
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Lorem
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/LaunchBack/LaunchBack1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LaunchBack1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/LaunchBack/LaunchBack2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LaunchBack1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/LaunchBack/LaunchBack3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LaunchBack2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/LaunchBack/LaunchBack4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LaunchBack2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/LaunchBack/LaunchBack5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LaunchBack3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/LaunchBack/LaunchBack6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LaunchBack3a').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- Walkthrough -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
    <header class="w3-container w3-center w3-green">
      <h5>WALKTHROUGH</h5>
    </header>
      <div>
        <ul class="w3-ul">
          <li>
            <span class="w3-tag w3-small w3-green">1</span>
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">2</span>
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">3</span>
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">4</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Loop De Loop ++++++++++++++++ -->
<button onclick="openAccordion('LoopDeLoop')" class="w3-hover-opacity w3-hover-red w3-left-align w3-button w3-bar w3-xlarge w3-block">
  LoopDeLoop
</button>
<div id="LoopDeLoop" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/Y08EqnDMA4k5WMRBnU/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('LoopDeLoopMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/xUOwG1L3uTMp07IfXG/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('LoopDeLoopCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS</h5>
      <button onclick="openAccordion('LoopDeLoopPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Figure 8</button>
      <div id="LoopDeLoopPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Take note of how your kick leg is making a sideways figure 8 (when viewed from your side), with your plant foot intersecting the middle.
        </p>
      </div>
      <button onclick="openAccordion('LoopDeLoopPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Center of Gravity</button>
      <div id="LoopDeLoopPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          As your right leg kicks in a figure 8 motion, your left leg will want to slide back and forth to balance out your stance. Your legs will always be moving in the inverse direction of the other; i.e., as your right (kick) foot is moving outward in either direction, your left (plant) foot will move outwards in the opposite direction. As your kick leg moves inwards from either front or rear, your plant leg will slide inwards from the opposite. Getting these slides of your plant foot takes practice and lots of patience.
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Stutter, Rear
        </li>
        <li>
          Stutter, Front
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/LoopDeLoop/LoopDeLoop1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LoopDeLoop1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/LoopDeLoop/LoopDeLoop2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LoopDeLoop1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/LoopDeLoop/LoopDeLoop3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LoopDeLoop2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/LoopDeLoop/LoopDeLoop4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LoopDeLoop2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/LoopDeLoop/LoopDeLoop5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LoopDeLoop3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/LoopDeLoop/LoopDeLoop6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LoopDeLoop3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/LoopDeLoop/LoopDeLoop7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LoopDeLoop4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/LoopDeLoop/LoopDeLoop8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LoopDeLoop4a').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- Walkthrough -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
    <header class="w3-container w3-center w3-green">
      <h5>WALKTHROUGH</h5>
    </header>
      <div>
        <ul class="w3-ul">
          <li>
            <span class="w3-tag w3-small w3-green">1</span> Start with left foot in front / flat of stance and right foot behind / on toes
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">2</span> Bring left foot back to middle of stance, flat, right foot up forward tucked next to shin
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">3</span> Push left foot forwards to front of stance, and fall backwards landing right foot flat at back
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">4</span> Bring left foot back again to middle of stance and right foot up next to shin
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">5</span> Kick right foot backwards, brushing the ground slightly and continuing up right foot in a upwards circular motion, while left foot moves forward slightly (opposite direction of kick)
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">6</span> As right foot comes up from brushing ground, bring to top center of stance, while left foot comes to center of stance as well
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">7</span> Kick right foot downward/forwards, brushing ground while left foot moves backwards slightly for balance
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">8</span> As right foot comes up from brush and back to center of stance in circular motion, left foot comes back to center of stance
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">8</span> Repeat kicks as you please
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
