<!-- ++++++++++++++++ Outside Foot Slide ++++++++++++++++ -->
<button onclick="openAccordion('SlideOutsideFoot')" class="w3-hover-opacity w3-hover-green w3-left-align w3-button w3-bar w3-xlarge w3-block w3-left-alight">
  Outside Slide
</button>
<div id="SlideOutsideFoot" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/xUOwFS6heBIMFNwX8Q/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SlideOutsideFootMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/xThta2v4UFm9QtCXny/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SlideOutsideFootCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS</h5>
      <button onclick="openAccordion('SlideOutsideWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="SlideOutsideWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          Step across your body with your right foot. As your right foot lands, slide it back across your body but along a perpindicular access to the direction you are facing - as if drawing a straight line in the sand with your feet. As you reach the end of the slide, swap over and repeat.
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>PREREQUISITES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          N/A
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/SlideOutsideFoot/SlideOutsideFoot1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SlideOutsideFoot1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/SlideOutsideFoot/SlideOutsideFoot2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SlideOutsideFoot1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/SlideOutsideFoot/SlideOutsideFoot3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SlideOutsideFoot2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/SlideOutsideFoot/SlideOutsideFoot4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SlideOutsideFoot2a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Inside Foot Slide ++++++++++++++++ -->
<button onclick="openAccordion('SlideInsideFoot')" class="w3-hover-opacity w3-hover-green w3-left-align w3-button w3-bar w3-xlarge w3-block w3-left-alight">
  Inside Slide
</button>
<div id="SlideInsideFoot" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/3ohs4uRmAXomXjs0aA/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SlideInsideFootMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/26DN2dNjKVtNy7epO/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SlideInsideFootCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS</h5>
      <button onclick="openAccordion('SlideInsideFootPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Variants</button>
      <div id="SlideInsideFootPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Vary between keeping your inside leg straight and having your inside leg bent at the knees for different looking inside slides.
        </p>
      </div>
      <button onclick="openAccordion('SlideInsideFootWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="SlideOutsideFootWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          Perform the same method for stepping across your body in the outside slide. Instead of sliding with your outside foot, slide your inside foot outward. Dead simple.
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>PREREQUISITES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          Slide, Outside Foot
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/SlideInsideFoot/SlideInsideFoot1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SlideInsideFoot1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/SlideInsideFoot/SlideInsideFoot2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SlideInsideFoot1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/SlideInsideFoot/SlideInsideFoot3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SlideInsideFoot2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/SlideInsideFoot/SlideInsideFoot4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SlideInsideFoot2a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
