<!-- ++++++++++++++++ Spin, 360 ++++++++++++++++ -->
<button onclick="openAccordion('Spin360')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  360
</button>
<div id="Spin360" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-hover-grayscale w3-col w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/l4pTnAHu5Td9hLwu4/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('Spin360MoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/xThtakPpqvdKhyJBII/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('Spin360CountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('Spin360Pit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Snappy
        Head</button>
      <div id="Spin360Pit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Try to keep your head facing forward for as long as possible before you spin it around. Look forward even as your body rotates, and swing it around as quickly as possible when you are forced to, in order to get it facing forward again as soon as possible. This snappy head motion looks clean and also helps you maintain your balance.
        </p>
      </div>
      <button onclick="openAccordion('Spin360Pit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Arm Balance</button>
      <div id="Spin360Pit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Let your arms naturally fly outward to help stabilize your spin, like the edges of a spinning top. As you build muscle memory and internal balance, you will use your arms less and less until they naturally follow the motion of your spin.
        </p>
      </div>
      <button onclick="openAccordion('Spin360Walkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="Spin360Walkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          Bounce gently into an altered toe heel stance, on your left heel and your right toe; your left heel should be slightly to the right of your right toe, making your legs cross. As if to straighten your legs, pivot clockwise and land flat on your feet, now facing 90 degrees to your right. Continue the pivot and launch yourself in a 360 motion by twisting your hips and using your arms to pull your momentum around - push off with your left foot for the main momentum. Swing around and land facing forward.
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Alt Toe Points, Jump
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/Spin360/Spin3601.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Spin3601').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Spin360/Spin3602.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Spin3601a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/Spin360/Spin3603.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Spin3602').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Spin360/Spin3604.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Spin3602a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/Spin360/Spin3605.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Spin3603').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Spin, 360 Toes ++++++++++++++++ -->
<button onclick="openAccordion('Spin360Toes')" class="w3-hover-opacity w3-hover-red w3-left-align w3-button w3-bar w3-xlarge w3-block">
  360 (Toes)
</button>
<div id="Spin360Toes" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-hover-grayscale w3-col w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/3ohs4u879sZAn5QpOM/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('Spin360ToesMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/xUOwG9FXq1bOzB0U4U/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('Spin360ToesCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('Spin360ToesPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Snappy Head</button>
      <div id="Spin360ToesPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Try to keep your head facing forward for as long as possible before you spin it around. Look forward even as your body rotates, and swing it around as quickly as possible when you are forced to, in order to get it facing forward again as soon as possible. This snappy head motion looks clean and also helps you maintain your balance.
        </p>
      </div>
      <button onclick="openAccordion('Spin360ToesPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Arm Balance</button>
      <div id="Spin360ToesPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Let your arms naturally fly outward to help stabilize your spin, like the edges of a spinning top. As you build muscle memory and internal balance, you will use your arms less and less until they naturally follow the motion of your spin.
        </p>
      </div>
      <button onclick="openAccordion('Spin360ToesPit3')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Toe Preperation</button>
      <div id="Spin360ToesPit3" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Like with all the other moves that involve your toes, you need to stregnthen your toes and balance before you can practice a move like this. Practice toes stands leaning against a wall for support if necessary, for 30 seconds at a time.
        </p>
      </div>
      <button onclick="openAccordion('Spin360ToesWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="Spin360ToesWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          Bounce gently into an altered toe heel stance, on your left heel and your right toe; your left heel should be slightly to the right of your right toe, making your legs cross. As if to straighten your legs, pivot clockwise and land flat on your feet, now facing 90 degrees to your right. Continue the pivot and launch yourself in a 360 motion by twisting your hips and using your arms to pull your momentum around - push off with your left foot for the main momentum. Swing around and land facing forward. As you push off the temporary flat footed stance, bounce upward until you are on your toes.
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Spin, 360
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/Spin360Toes/Spin360Toes2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Spin360Toes1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Spin360Toes/Spin360Toes3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Spin360Toes1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/Spin360Toes/Spin360Toes4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Spin360Toes2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Spin360Toes/Spin360Toes5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Spin360Toes2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/Spin360Toes/Spin360Toes6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Spin360Toes3').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Spin, Inside Foot ++++++++++++++++ -->
<button onclick="openAccordion('SpinInsideFoot')" class="w3-hover-opacity w3-hover-red w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Inside Spin
</button>
<div id="SpinInsideFoot" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/Xpth3VGJqaI2B7P02g/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SpinInsideFootMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/cXRf9mYfmUHjQjIB9E/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SpinInsideFootCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('SpinInsideFootPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Snappy Head</button>
      <div id="SpinInsideFootPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Try to keep your head facing forward for as long as possible before you spin it around. Look forward even as your body rotates, and swing it around as quickly as possible when you are forced to, in order to get it facing forward again as soon as possible. This snappy head motion looks clean and also helps you maintain your balance.
        </p>
      </div>
      <button onclick="openAccordion('SpinInsideFootPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Arm Balance</button>
      <div id="SpinInsideFootPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Let your arms naturally fly outward to help stabilize your spin, like the edges of a spinning top. As you build muscle memory and internal balance, you will use your arms less and less until they naturally follow the motion of your spin.
        </p>
      </div>
      <button onclick="openAccordion('SpinInsideFootPit4')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Variants</button>
      <div id="SpinInsideFootPit4" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          You can either spin in one smooth motion around your pivot foot, or you can do a sort of segmented spin where you bring your inside foot up next to your knee and bounce/pivot with your pivot foot in a 360 manner.
        </p>
      </div>
      <button onclick="openAccordion('SpinInsideFootPit3')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Walking Into It</button>
      <div id="SpinInsideFootPit3" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          To ease into learning the spin, you can practice this gentle variant. Walk forward - as you walk forward, as your right foot steps in front of you, pivot your hips and arms counter-clockwise, continuing the forward motion you had while walking.
        </p>
      </div>
      <button onclick="openAccordion('SpinInsideFootWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="SpinInsideFootWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          Put your left leg forward and straight center in front of your body. As if riding a snowboard, face your head straight ahead but your body sideways, your left hand out in front/below you and your right hand behind/above you. Kick off backwards with your left foot and rotate your hips counter-clockwise. Use your arms for balance, and spin until you are facing forward. There's not much to this move except loads of practice and forming the muscle memory.
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Spin, 360
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/SpinInsideFoot/SpinInsideFoot1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinInsideFoot1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/SpinInsideFoot/SpinInsideFoot2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinInsideFoot1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/SpinInsideFoot/SpinInsideFoot3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinInsideFoot2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/SpinInsideFoot/SpinInsideFoot4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinInsideFoot2a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Spin, Outside Foot ++++++++++++++++ -->
<button onclick="openAccordion('SpinOutsideFoot')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Outside Spin
</button>
<div id="SpinOutsideFoot" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/XIFmpNuPT2N9TfTzdM/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SpinOutsideFootMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/mWhZlKGxuiCQp1OMa3/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SpinOutsideFootCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('SpinOutsideFootPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Snappy Head</button>
      <div id="SpinOutsideFootPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Try to keep your head facing forward for as long as possible before you spin it around. Look forward even as your body rotates, and swing it around as quickly as possible when you are forced to, in order to get it facing forward again as soon as possible. This snappy head motion looks clean and also helps you maintain your balance.
        </p>
      </div>
      <button onclick="openAccordion('SpinOutsideFootPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Arm Balance</button>
      <div id="SpinOutsideFootPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Let your arms naturally fly outward to help stabilize your spin, like the edges of a spinning top. As you build muscle memory and internal balance, you will use your arms less and less until they naturally follow the motion of your spin.
        </p>
      </div>
      <button onclick="openAccordion('SpinOutsideFootWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="SpinOutsideFootWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          Step with your left foot across to the right front of you, or with your left foot out to your left side. As your foot comes down, you should be mostly turned 90 degrees sideways from how you were originally standing. Push off as soon as your foot lands and rotate your hips clockwise, pivoting around your right foot. Land with your feet slightly more than shoulder-width apart facing the same direction you were originally facing.
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Spin, 360
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/SpinOutsideFoot/SpinOutsideFoot1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinOutsideFoot1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/SpinOutsideFoot/SpinOutsideFoot2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinOutsideFoot1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/SpinOutsideFoot/SpinOutsideFoot3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinOutsideFoot2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/SpinOutsideFoot/SpinOutsideFoot4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinOutsideFoot2a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
