<!-- ++++++++++++++++ Flat Foot Spin ++++++++++++++++ -->
<button onclick="openAccordion('FlatFootSpin')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Flat Foot Spin
</button>
<div id="FlatFootSpin" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/PLZ4d1b3tkvGPhQbu8/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('FlatFootSpinMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/ctMbAN8feKE1zESY88/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('FlatFootSpinCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('FlatFootSpinPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Lorem</button>
      <div id="FlatFootSpinPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Lorem
        </p>
      </div>
      <button onclick="openAccordion('FlatFootSpinPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Lorem</button>
      <div id="FlatFootSpinPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Lorem
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Lorem
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/FlatFootSpin/FlatFootSpin1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('FlatFootSpin1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/FlatFootSpin/FlatFootSpin2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('FlatFootSpin1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/FlatFootSpin/FlatFootSpin3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('FlatFootSpin2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/FlatFootSpin/FlatFootSpin4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('FlatFootSpin2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/FlatFootSpin/FlatFootSpin5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('FlatFootSpin3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/FlatFootSpin/FlatFootSpin6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('FlatFootSpin3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/FlatFootSpin/FlatFootSpin7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('FlatFootSpin4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/FlatFootSpin/FlatFootSpin8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('FlatFootSpin4a').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- Walkthrough -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
    <header class="w3-container w3-center w3-green">
      <h5>WALKTHROUGH</h5>
    </header>
      <div>
        <ul class="w3-ul">
          <li>
            <span class="w3-tag w3-small w3-green">1</span>
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">2</span>
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">3</span>
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">4</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Half Back Spins ++++++++++++++++ -->
<button onclick="openAccordion('HalfBackSpins')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Half Back Spins
</button>
<div id="HalfBackSpins" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/3MjFjOiq59XP5XATxJ/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('HalfBackSpinsMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/vcABsxNbQiYr83HFLc/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('HalfBackSpinsCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('HalfBackSpinsPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Head Turns</button>
      <div id="HalfBackSpinsPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Turning your head with each point over your side not only helps with the aesthetic, but aids in your balance so that you don't trip over yourself or end up verring off course.
        </p>
      </div>
      <button onclick="openAccordion('HalfBackSpinsPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Long Strides</button>
      <div id="HalfBackSpinsPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          The longer your gait, the easier you will be able to balance. If your gait is too short, you may not be able to keep up with the backwards momentum and trip backwards (very embarassing).
        </p>
      </div>
      <button onclick="openAccordion('HalfBackSpinsWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="HalfBackSpinsWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          Enter from reverse cuts or reverse running man. Turn your body clockwise and step your right foot directly behind your body. Use your hands to reach over your right and essentially point straight behind you. You should be nearly sideways. Rotate counter-clockwise and step your left foot directly behind you in the motion, same hand gestures. Repeat.
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Cuts, Reverse
        </li>
        <li>
          Spin, Inside Foot
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/HalfBackSpins/HalfBackSpins1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('HalfBackSpins1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/HalfBackSpins/HalfBackSpins2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('HalfBackSpins1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/HalfBackSpins/HalfBackSpins3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('HalfBackSpins2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/HalfBackSpins/HalfBackSpins4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('HalfBackSpins2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/HalfBackSpins/HalfBackSpins5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('HalfBackSpins3').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Kick Spin ++++++++++++++++ -->
<button onclick="openAccordion('SpinKick')" class="w3-hover-opacity w3-hover-deep-purple w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Kick Spin
</button>
<div id="SpinKick" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/t6wZ8V83IXhMLbP1md/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SpinKickMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/26DNg7Tjuqh4djcMU/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SpinKickCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('SpinKickPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Kick Up & In, Not Out</button>
      <div id="SpinKickPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          As you land from your hop, you want to stay put in position so that you can spin as long as possible. Do this by kicking up and in/around your body, not out and away. Doing the former will direct the momentum you built from the leaner up and into the spin - doing the latter will not redirect the momentum, and you will feel yourself being pulled to the right still and extremely hard to keep balance.
        </p>
      </div>
      <button onclick="openAccordion('SpinKickPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Dip Into It</button>
      <div id="SpinKickPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Using your arms and torso to dip into the move, upwards and around. This will help build more momentum and bring you closer to a 720 instead of just a 360.
        </p>
      </div>
      <button onclick="openAccordion('SpinKickWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="SpinKickWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          Enter this move from a left leaner. After you step across your body to your left with your right foot, step to your with your right foot. Do one hop to your right on your right foot (with the momentum you have from transitioning out of the leaner), bringing your left leg up and back, as if you were about to kick a soccer ball - but make sure you are pivoting your hips clockwise as you kick. As you land from your hop, you should bring your left leg down low next to your right leg and end with it slightly to the right of your right foot, hovering off the ground. The momentum should keep you rotating on your right foots toes until you land. Land facing the original direction, with your left foot slightly in front of and to the right of your right foot.
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Spin, Outside Foot
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/SpinKick/SpinKick1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinKick1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/SpinKick/SpinKick2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinKick1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/SpinKick/SpinKick3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinKick2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/SpinKick/SpinKick4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinKick2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/SpinKick/SpinKick5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinKick3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/SpinKick/SpinKick6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinKick3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/SpinKick/SpinKick7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinKick4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/SpinKick/SpinKick8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinKick4a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 9 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 5</h6>
        </header>
        <img src="../img/Count/SpinKick/SpinKick9.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinKick9').style.display='block'"/>
      </div>
    </div>
    <!-- Count 9& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/SpinKick/SpinKick10.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinKick9a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 10 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 6</h6>
        </header>
        <img src="../img/Count/SpinKick/SpinKick11.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinKick10').style.display='block'"/>
      </div>
    </div>
    <!-- Count 10& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/SpinKick/SpinKick12.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinKick10a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Kick Spin, Toes ++++++++++++++++ -->
<button onclick="openAccordion('SpinKickToes')" class="w3-hover-opacity w3-hover-deep-purple w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Kick Spin (Toes)
</button>
<div id="SpinKickToes" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/8lZkt09lJ4qsGWzwlm/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SpinKickToesMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/l1KcQL5VUx1hqmSre/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SpinKickToesCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('SpinKickToesPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Kick Up & In, Not Out</button>
      <div id="SpinKickToesPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          As you land from your hop, you want to stay put in position so that you can spin as long as possible. Do this by kicking up and in/around your body, not out and away. Doing the former will direct the momentum you built from the leaner up and into the spin - doing the latter will not redirect the momentum, and you will feel yourself being pulled to the right still and extremely hard to keep balance.
        </p>
      </div>
      <button onclick="openAccordion('SpinKickToesPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Dip Into It</button>
      <div id="SpinKickToesPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Using your arms and torso to dip into the move, upwards and around. This will help with momentum and balance.
        </p>
      </div>
      <button onclick="openAccordion('SpinKickToesWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="SpinKickToesWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          Not much different from regular spin kick, except 720 is near impossible. Enter this move from a left leaner. After you step across your body to your left with your right foot, step to your with your right foot. Do one hop to your right on your right foot (with the momentum you have from transitioning out of the leaner), bringing your left leg up and back, as if you were about to kick a soccer ball - but make sure you are pivoting your hips clockwise as you kick. As you land after your hop, come up onto your right foots toes, and pin your left foot's toes next to your right's. The momentum should keep you rotating on your toes until you land. Land facing the original direction, feet close together.
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Spin, Kick
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/SpinKickToes/SpinKickToes1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinKickToes1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/SpinKickToes/SpinKickToes2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinKickToes1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/SpinKickToes/SpinKickToes3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinKickToes2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/SpinKickToes/SpinKickToes4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinKickToes2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/SpinKickToes/SpinKickToes5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinKickToes3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/SpinKickToes/SpinKickToes6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinKickToes3a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
