<%# TODO: Spin, 180 Backwards (&lt-Cuts, Reverse) %>
<!-- ++++++++++++++++ Spin, 180 Backwards Pointers ++++++++++++++++ -->
<button onclick="openAccordion('SpinBackwards180')" class="w3-hover-opacity w3-hover-red w3-left-align w3-button w3-bar w3-xlarge w3-block w3-left-alight">
  Spin, 180 Backwards Pointers
</button>
<div id="SpinBackwards180" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/l4pSVIJPZqAejW2dO/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SpinBackwards180MoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/xThta7706cqLB6qc0w/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SpinBackwards180CountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>LEARNING TIMES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <strong>BASIC:</strong> 150 iterations
        </li>
        <li>
          <strong>FAMILIAR:</strong> 400 iterations
        </li>
        <li>
          <strong>FLUENT:</strong> 650 iterations
        </li>
      </ul>
      <h5>PREREQUISITES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-amber w3-text-white" style="text-decoration: none;" href="#">Cuts, Reverse</a>
        </li>
        <li>
          <a class="w3-tag w3-red" style="text-decoration: none;" href="#">Spin, Inside Foot</a>
        </li>
      </ul>
      <h5>CHAIN WITH</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-amber w3-text-white" style="text-decoration: none;" href="#">Cuts, Reverse</a>
        </li>
        <li>
          <a class="w3-tag w3-deep-purple" style="text-decoration: none;" href="#">Spin, Kick</a>
        </li>
        <li>
          <a class="w3-tag w3-red" style="text-decoration: none;" href="#">Spin, 360 Toes</a>
        </li>
      </ul>
    </div>
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS & MISTAKES + FIXES</h5>
      <button onclick="openAccordion('SpinBackwards180Pit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Head Turns</button>
      <div id="SpinBackwards180Pit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Turn your head and point over to the side of your body with the behind leg each time to you step back. This helps with balance.
        </p>
      </div>
      <button onclick="openAccordion('SpinBackwards180Pit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Long Strides</button>
      <div id="SpinBackwards180Pit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          The longer your gait, the easier you will be able to balance. If your gait is too short, you may not be able to keep up with the backwards momentum and trip backwards (very embarassing).
        </p>
      </div>
      <button onclick="openAccordion('SpinBackwards180Walkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="SpinBackwards180Walkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          Enter from reverse cuts or reverse running man. Turn your body clockwise and step your right foot directly behind your body. Use your hands to reach over your right and essentially point straight behind you. You should be nearly sideways. Rotate counter-clockwise and step your left foot directly behind you in the motion, same hand gestures. Repeat.
        </p>
      </div>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Nigs.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinBackwards1801').style.display='block'"/>
      </div>
    </div>
    <!-- Modal Count 1 -->
    <div id="SpinBackwards1801" class="w3-modal" onclick="this.style.display='none'">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <div class="w3-modal-content w3-animate-zoom">
        <img src="../img/Nigs.png" style="width:100%">
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Nigs.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinBackwards1801a').style.display='block'"/>
      </div>
    </div>
    <!-- Modal Count 1& -->
    <div id="SpinBackwards1801a" class="w3-modal" onclick="this.style.display='none'">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <div class="w3-modal-content w3-animate-zoom">
        <img src="../img/Nigs.png" style="width:100%">
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Nigs.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinBackwards1802').style.display='block'"/>
      </div>
    </div>
    <!-- Modal Count 2 -->
    <div id="SpinBackwards1802" class="w3-modal" onclick="this.style.display='none'">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <div class="w3-modal-content w3-animate-zoom">
        <img src="../img/Nigs.png" style="width:100%">
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Nigs.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinBackwards1802a').style.display='block'"/>
      </div>
    </div>
    <!-- Modal Count 2& -->
    <div id="SpinBackwards1802a" class="w3-modal" onclick="this.style.display='none'">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <div class="w3-modal-content w3-animate-zoom">
        <img src="../img/Nigs.png" style="width:100%">
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Nigs.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinBackwards1803').style.display='block'"/>
      </div>
    </div>
    <!-- Modal Count 3 -->
    <div id="SpinBackwards1803" class="w3-modal" onclick="this.style.display='none'">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <div class="w3-modal-content w3-animate-zoom">
        <img src="../img/Nigs.png" style="width:100%">
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Nigs.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinBackwards1803a').style.display='block'"/>
      </div>
    </div>
    <!-- Modal Count 3& -->
    <div id="SpinBackwards1803a" class="w3-modal" onclick="this.style.display='none'">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <div class="w3-modal-content w3-animate-zoom">
        <img src="../img/Nigs.png" style="width:100%">
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Nigs.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinBackwards1804').style.display='block'"/>
      </div>
    </div>
    <!-- Modal Count 4 -->
    <div id="SpinBackwards1804" class="w3-modal" onclick="this.style.display='none'">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <div class="w3-modal-content w3-animate-zoom">
        <img src="../img/Nigs.png" style="width:100%">
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Nigs.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinBackwards1804a').style.display='block'"/>
      </div>
    </div>
    <!-- Modal Count 4& -->
    <div id="SpinBackwards1804a" class="w3-modal" onclick="this.style.display='none'">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <div class="w3-modal-content w3-animate-zoom">
        <img src="../img/Nigs.png" style="width:100%">
      </div>
    </div>
  </div>
</div>
