<!-- ++++++++++++++++ Spin, 360 ++++++++++++++++ -->
<button onclick="openAccordion('Spin360')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Stationary 360
</button>
<div id="Spin360" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-hover-grayscale w3-col w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/l4pTnAHu5Td9hLwu4/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('Spin360MoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/xThtakPpqvdKhyJBII/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('Spin360CountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>PREREQUISITES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Alt Toe Points, Jump</a>
        </li>
      </ul>
      <h5>CHAIN WITH</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Alt Toe Points, Jump</a>
        </li>
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Criss Cross</a>
        </li>
      </ul>
    </div>
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS & MISTAKES + FIXES</h5>
      <button onclick="openAccordion('Spin360Pit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Snappy
        Head</button>
      <div id="Spin360Pit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Try to keep your head facing forward for as long as possible before you spin it around. Look forward even as your body rotates, and swing it around as quickly as possible when you are forced to, in order to get it facing forward again as soon as possible. This snappy head motion looks clean and also helps you maintain your balance.
        </p>
      </div>
      <button onclick="openAccordion('Spin360Pit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Arm Balance</button>
      <div id="Spin360Pit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Let your arms naturally fly outward to help stabilize your spin, like the edges of a spinning top. As you build muscle memory and internal balance, you will use your arms less and less until they naturally follow the motion of your spin.
        </p>
      </div>
      <button onclick="openAccordion('Spin360Walkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="Spin360Walkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          Bounce gently into an altered toe heel stance, on your left heel and your right toe; your left heel should be slightly to the right of your right toe, making your legs cross. As if to straighten your legs, pivot clockwise and land flat on your feet, now facing 90 degrees to your right. Continue the pivot and launch yourself in a 360 motion by twisting your hips and using your arms to pull your momentum around - push off with your left foot for the main momentum. Swing around and land facing forward.
        </p>
      </div>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/Spin360/Spin3601.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Spin3601').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Spin360/Spin3602.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Spin3601a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/Spin360/Spin3603.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Spin3602').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Spin360/Spin3604.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Spin3602a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/Spin360/Spin3605.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Spin3603').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Spin, 360 Toes ++++++++++++++++ -->
<button onclick="openAccordion('Spin360Toes')" class="w3-hover-opacity w3-hover-red w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Stationary 360, Toes
</button>
<div id="Spin360Toes" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-hover-grayscale w3-col w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/3ohs4u879sZAn5QpOM/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('Spin360ToesMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/xUOwG9FXq1bOzB0U4U/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('Spin360ToesCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>PREREQUISITES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-amber w3-text-white" style="text-decoration: none;" href="#">Spin, 360</a>
        </li>
      </ul>
      <h5>PREREQUISITES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Alt Toe Points, Jump</a>
        </li>
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Criss Cross</a>
        </li>
      </ul>
    </div>
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS & MISTAKES + FIXES</h5>
      <button onclick="openAccordion('Spin360ToesPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Snappy Head</button>
      <div id="Spin360ToesPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Try to keep your head facing forward for as long as possible before you spin it around. Look forward even as your body rotates, and swing it around as quickly as possible when you are forced to, in order to get it facing forward again as soon as possible. This snappy head motion looks clean and also helps you maintain your balance.
        </p>
      </div>
      <button onclick="openAccordion('Spin360ToesPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Arm Balance</button>
      <div id="Spin360ToesPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Let your arms naturally fly outward to help stabilize your spin, like the edges of a spinning top. As you build muscle memory and internal balance, you will use your arms less and less until they naturally follow the motion of your spin.
        </p>
      </div>
      <button onclick="openAccordion('Spin360ToesPit3')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Toe Preperation</button>
      <div id="Spin360ToesPit3" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Like with all the other moves that involve your toes, you need to stregnthen your toes and balance before you can practice a move like this. Practice toes stands leaning against a wall for support if necessary, for 30 seconds at a time.
        </p>
      </div>
      <button onclick="openAccordion('Spin360ToesWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="Spin360ToesWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          Bounce gently into an altered toe heel stance, on your left heel and your right toe; your left heel should be slightly to the right of your right toe, making your legs cross. As if to straighten your legs, pivot clockwise and land flat on your feet, now facing 90 degrees to your right. Continue the pivot and launch yourself in a 360 motion by twisting your hips and using your arms to pull your momentum around - push off with your left foot for the main momentum. Swing around and land facing forward. As you push off the temporary flat footed stance, bounce upward until you are on your toes.
        </p>
      </div>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/Spin360Toes/Spin360Toes2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Spin360Toes1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Spin360Toes/Spin360Toes3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Spin360Toes1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/Spin360Toes/Spin360Toes4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Spin360Toes2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Spin360Toes/Spin360Toes5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Spin360Toes2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/Spin360Toes/Spin360Toes6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Spin360Toes3').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Spin, Inside Foot ++++++++++++++++ -->
<button onclick="openAccordion('SpinInsideFoot')" class="w3-hover-opacity w3-hover-red w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Stationary Inside Spin
</button>
<div id="SpinInsideFoot" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/9rjZBad30zBPd3SWqM/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SpinInsideFootMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/3ohs4hwXwCE9CL9L4A/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SpinInsideFootCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>PREREQUISITES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-amber w3-text-white" style="text-decoration: none;" href="#">Spin, 360</a>
        </li>
      </ul>
      <h5>CHAIN WITH</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-amber w3-text-white" style="text-decoration: none;" href="#">Running Man, Reverse</a>
        </li>
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Running Man</a>
        </li>
        <li>
          <a class="w3-tag w3-amber w3-text-white" style="text-decoration: none;" href="#">Cuts, Reverse</a>
        </li>
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Leaners</a>
        </li>
      </ul>
    </div>
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS & MISTAKES + FIXES</h5>
      <button onclick="openAccordion('SpinInsideFootPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Snappy Head</button>
      <div id="SpinInsideFootPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Try to keep your head facing forward for as long as possible before you spin it around. Look forward even as your body rotates, and swing it around as quickly as possible when you are forced to, in order to get it facing forward again as soon as possible. This snappy head motion looks clean and also helps you maintain your balance.
        </p>
      </div>
      <button onclick="openAccordion('SpinInsideFootPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Arm Balance</button>
      <div id="SpinInsideFootPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Let your arms naturally fly outward to help stabilize your spin, like the edges of a spinning top. As you build muscle memory and internal balance, you will use your arms less and less until they naturally follow the motion of your spin.
        </p>
      </div>
      <button onclick="openAccordion('SpinInsideFootPit4')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Variants</button>
      <div id="SpinInsideFootPit4" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          You can either spin in one smooth motion around your pivot foot, or you can do a sort of segmented spin where you bring your inside foot up next to your knee and bounce/pivot with your pivot foot in a 360 manner.
        </p>
      </div>
      <button onclick="openAccordion('SpinInsideFootPit3')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Walking Into It</button>
      <div id="SpinInsideFootPit3" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          To ease into learning the spin, you can practice this gentle variant. Walk forward - as you walk forward, as your right foot steps in front of you, pivot your hips and arms counter-clockwise, continuing the forward motion you had while walking.
        </p>
      </div>
      <button onclick="openAccordion('SpinInsideFootWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="SpinInsideFootWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          Put your left leg forward and straight center in front of your body. As if riding a snowboard, face your head straight ahead but your body sideways, your left hand out in front/below you and your right hand behind/above you. Kick off backwards with your left foot and rotate your hips counter-clockwise. Use your arms for balance, and spin until you are facing forward. There's not much to this move except loads of practice and forming the muscle memory.
        </p>
      </div>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/SpinInsideFoot/SpinInsideFoot1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinInsideFoot1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/SpinInsideFoot/SpinInsideFoot2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinInsideFoot1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/SpinInsideFoot/SpinInsideFoot3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinInsideFoot2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/SpinInsideFoot/SpinInsideFoot4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinInsideFoot2a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Spin, Outside Foot ++++++++++++++++ -->
<button onclick="openAccordion('SpinOutsideFoot')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Stationary Outside Spin
</button>
<div id="SpinOutsideFoot" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/KY2ObV0tZz6IaTl5Fg/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SpinOutsideFootMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/l4pToBlu1NHvXKcxO/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SpinOutsideFootCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>PREREQUISITES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-amber w3-text-white" style="text-decoration: none;" href="#">Spin, 360</a>
        </li>
      </ul>
      <h5>PREREQUISITES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-amber w3-text-white" style="text-decoration: none;" href="#">Cuts, Toe Heel Bounce</a>
        </li>
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Leaners</a>
        </li>
        <li>
          <a class="w3-tag w3-red" style="text-decoration: none;" href="#">Spin, 360 Toes</a>
        </li>
      </ul>
    </div>
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS & MISTAKES + FIXES</h5>
      <button onclick="openAccordion('SpinOutsideFootPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Snappy Head</button>
      <div id="SpinOutsideFootPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Try to keep your head facing forward for as long as possible before you spin it around. Look forward even as your body rotates, and swing it around as quickly as possible when you are forced to, in order to get it facing forward again as soon as possible. This snappy head motion looks clean and also helps you maintain your balance.
        </p>
      </div>
      <button onclick="openAccordion('SpinOutsideFootPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Arm Balance</button>
      <div id="SpinOutsideFootPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Let your arms naturally fly outward to help stabilize your spin, like the edges of a spinning top. As you build muscle memory and internal balance, you will use your arms less and less until they naturally follow the motion of your spin.
        </p>
      </div>
      <button onclick="openAccordion('SpinOutsideFootWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="SpinOutsideFootWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          Step with your left foot across to the right front of you, or with your left foot out to your left side. As your foot comes down, you should be mostly turned 90 degrees sideways from how you were originally standing. Push off as soon as your foot lands and rotate your hips clockwise, pivoting around your right foot. Land with your feet slightly more than shoulder-width apart facing the same direction you were originally facing.
        </p>
      </div>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/SpinOutsideFoot/SpinOutsideFoot1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinOutsideFoot1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/SpinOutsideFoot/SpinOutsideFoot2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinOutsideFoot1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/SpinOutsideFoot/SpinOutsideFoot3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinOutsideFoot2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/SpinOutsideFoot/SpinOutsideFoot4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinOutsideFoot2a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Moving 360, Forwards ++++++++++++++++ -->
<button onclick="openAccordion('Moving360Forwards')" class="w3-hover-opacity w3-hover-red w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Moving 360, Forwards
</button>
<div id="Moving360Forwards" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-panel w3-yellow w3-display-container">
    <span onclick="this.parentElement.style.display='none'" class="w3-button w3-small w3-yellow w3-large w3-display-topright">&times;</span>
    <p>Count Media coming March 16th!</p>
  </div>
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/LwHk50bVnNhxMFTjOz/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('Moving360ForwardsMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="#" style="width: 100%; cursor:pointer" onclick="document.getElementById('Moving360ForwardsCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>PREREQUISITES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Cuts</a>
        </li>
        <li>
          <a class="w3-tag w3-red" style="text-decoration: none;" href="#">RM -&gt Rear LoopDeLoop</a>
        </li>
      </ul>
      <h5>CHAIN WITH</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Leaners</a>
        </li>
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">RM -&gt Rear Stutter</a>
        </li>
      </ul>
    </div>
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS & MISTAKES + FIXES</h5>
      <button onclick="openAccordion('Moving360ForwardsPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Lean Against The Motion</button>
      <div id="Moving360ForwardsPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          As you are moving forward when you spin, your momentum is pulling you forward and will throw you off balance. As you spin, lean slightly against the direction of your movement to stay upright as you spin instead of keeling over. Leaning against the motion will also allow you to come to a graceful stop instead of falling out of the spin sloppily.
        </p>
      </div>
      <button onclick="openAccordion('Moving360ForwardsPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Up & Around, Not Out</button>
      <div id="Moving360ForwardsPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          As noted above, your momentum is going to try to pull you out of the spin and throw off your balance. Think of the spin as going directly up vertically and around - instead horizontally in the direction you were moving.
        </p>
      </div>
      <button onclick="openAccordion('Moving360ForwardsPit3')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Arms Posture</button>
      <div id="Moving360ForwardsPit3" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          As your left shoulder dips, let your right arm trail behind, horizontal to the ground. As you spin, your right arm should come in a little closer to your body in a hook shape (think oh ballerina's look when they spin), with your hand leading the rest of the arm. Your left arm should be slightly up from next to your side, leading the spin, pulling your momentum forwards.
        </p>
      </div>
      <button onclick="openAccordion('Moving360ForwardsWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="Moving360ForwardsWalkthrough" class="w3-hide">
        <ul class="w3-ul">
          <li>
            <span class="w3-tag w3-green">1</span> Face forward, feet shoulder width apart.
          </li>
          <li>
            <span class="w3-tag w3-green">2</span> Step to your left with your left foot, dipping your left shoulder down slightly.
          </li>
          <li>
            <span class="w3-tag w3-green">3</span> Bounce forward from your step on your left foot, bringing your right foot around and across your body in a counter-clockwise motion.
          </li>
          <li>
            <span class="w3-tag w3-green">4</span> As your right foot comes across your body, it should dip down with your shoulders then dip back up and come around your body counterclockwise as your rotate your hips into the turn.
          </li>
          <li>
            <span class="w3-tag w3-green">5</span> As you complete the 360, you should slowly come to a stop (you shouldn't be falling into the stop), facing the direction in which you were moving.
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/Moving360Forwards/Moving360Forwards1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Moving360Forwards1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Moving360Forwards/Moving360Forwards2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Moving360Forwards1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/Moving360Forwards/Moving360Forwards3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Moving360Forwards2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Moving360Forwards/Moving360Forwards4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Moving360Forwards2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/Moving360Forwards/Moving360Forwards5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Moving360Forwards3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Moving360Forwards/Moving360Forwards6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Moving360Forwards3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/Moving360Forwards/Moving360Forwards7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Moving360Forwards4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Moving360Forwards/Moving360Forwards8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Moving360Forwards4a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Moving 360, Backwards ++++++++++++++++ -->
<button onclick="openAccordion('Moving360Backwards')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Moving 360, Backwards
</button>
<div id="Moving360Backwards" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-panel w3-yellow w3-display-container">
    <span onclick="this.parentElement.style.display='none'" class="w3-button w3-small w3-yellow w3-large w3-display-topright">&times;</span>
    <p>Count Media coming March 16th!</p>
  </div>
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/1luXPVWQhta9UpodGS/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('Moving360BackwardsMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="#" style="width: 100%; cursor:pointer" onclick="document.getElementById('Moving360BackwardsCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>PREREQUISITES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Moonspin</a>
        </li>
      </ul>
      <h5>CHAIN WITH</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Moving 360, Forwards</a>
        </li>
      </ul>
    </div>
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS & MISTAKES + FIXES</h5>
      <button onclick="openAccordion('Moving360BackwardsPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Trail Foot</button>
      <div id="Moving360BackwardsPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Your foot that is trails can either drag across the ground by the toe, or trail in the air around your spin/plant foot. Whichever allows you better balance. As you enter the spin, it's advised you drag your trail foot along the ground by the toe for minimal drag, and to lead into the spin (for aesthetic purposes).
        </p>
      </div>
      <button onclick="openAccordion('Moving360BackwardsPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Arms</button>
      <div id="Moving360BackwardsPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          No need to do anything special with your arms with this spin - just let them trail along naturally with the motion of the spin - just don't be too stiff.
        </p>
      </div>
      <button onclick="openAccordion('Moving360BackwardsWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="Moving360BackwardsWalkthrough" class="w3-hide">
        <ul class="w3-ul">
          <li>
            <span class="w3-tag w3-green">1</span> Start with feet shoulder width apart, facing forward.
          </li>
          <li>
            <span class="w3-tag w3-green">2</span> Take a step to your left sideways with your left foot. As your foot lands: leading with your head, twist your body clockwise with your right leg leaving the ground as you spin.
          </li>
          <li>
            <span class="w3-tag w3-green">3</span> Maintaining the forward momentum from the step forward, continue twisting in your clockwise motion, letting your right foot trail along in the air with the motion of the spin.
          </li>
          <li>
            <span class="w3-tag w3-green">4</span> Once your right leg is all the way to the far left of your motion, you should have brought it down and the spin to a stop.
          </li>
          <li>
            <span class="w3-tag w3-green">5</span> You can now, keeping the momentum going to the left, repeat the above steps, this time spinning counter-clockwise.
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/Moving360Backwards/Moving360Backwards1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Moving360Backwards1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Moving360Backwards/Moving360Backwards2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Moving360Backwards1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/Moving360Backwards/Moving360Backwards3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Moving360Backwards2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Moving360Backwards/Moving360Backwards4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Moving360Backwards2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/Moving360Backwards/Moving360Backwards5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Moving360Backwards3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Moving360Backwards/Moving360Backwards6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Moving360Backwards3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/Moving360Backwards/Moving360Backwards7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Moving360Backwards4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/Moving360Backwards/Moving360Backwards8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Moving360Backwards4a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Kick Spin ++++++++++++++++ -->
<button onclick="openAccordion('SpinKick')" class="w3-hover-opacity w3-hover-deep-purple w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Kick Spin
</button>
<div id="SpinKick" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/fMzwFAPPoWgAd58Tnv/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SpinKickMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/26DNg7Tjuqh4djcMU/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SpinKickCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>PREREQUISITES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-amber w3-text-white" style="text-decoration: none;" href="#">Spin, Outside Foot</a>
        </li>
      </ul>
      <h5>CHAIN WITH</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Leaners</a>
        </li>
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Criss Cross</a>
        </li>
        <li>
          <a class="w3-tag w3-red" style="text-decoration: none;" href="#">Spin, 360 Toes</a>
        </li>
      </ul>
    </div>
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS & MISTAKES + FIXES</h5>
      <button onclick="openAccordion('SpinKickPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Kick Up & In, Not Out</button>
      <div id="SpinKickPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          As you land from your hop, you want to stay put in position so that you can spin as long as possible. Do this by kicking up and in/around your body, not out and away. Doing the former will direct the momentum you built from the leaner up and into the spin - doing the latter will not redirect the momentum, and you will feel yourself being pulled to the right still and extremely hard to keep balance.
        </p>
      </div>
      <button onclick="openAccordion('SpinKickPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Dip Into It</button>
      <div id="SpinKickPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Using your arms and torso to dip into the move, upwards and around. This will help build more momentum and bring you closer to a 720 instead of just a 360.
        </p>
      </div>
      <button onclick="openAccordion('SpinKickWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="SpinKickWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          Enter this move from a left leaner. After you step across your body to your left with your right foot, step to your with your right foot. Do one hop to your right on your right foot (with the momentum you have from transitioning out of the leaner), bringing your left leg up and back, as if you were about to kick a soccer ball - but make sure you are pivoting your hips clockwise as you kick. As you land from your hop, you should bring your left leg down low next to your right leg and end with it slightly to the right of your right foot, hovering off the ground. The momentum should keep you rotating on your right foots toes until you land. Land facing the original direction, with your left foot slightly in front of and to the right of your right foot.
        </p>
      </div>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/SpinKick/SpinKick1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinKick1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/SpinKick/SpinKick2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinKick1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/SpinKick/SpinKick3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinKick2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/SpinKick/SpinKick4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinKick2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/SpinKick/SpinKick5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinKick3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/SpinKick/SpinKick6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinKick3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/SpinKick/SpinKick7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinKick4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/SpinKick/SpinKick8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinKick4a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 9 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 5</h6>
        </header>
        <img src="../img/Count/SpinKick/SpinKick9.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinKick9').style.display='block'"/>
      </div>
    </div>
    <!-- Count 9& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/SpinKick/SpinKick10.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinKick9a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 10 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 6</h6>
        </header>
        <img src="../img/Count/SpinKick/SpinKick11.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinKick10').style.display='block'"/>
      </div>
    </div>
    <!-- Count 10& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/SpinKick/SpinKick12.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinKick10a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Kick Spin, Toes ++++++++++++++++ -->
<button onclick="openAccordion('SpinKickToes')" class="w3-hover-opacity w3-hover-deep-purple w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Kick Spin, Toes
</button>
<div id="SpinKickToes" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/xUOwGos6aH78RM6UuI/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SpinKickToesMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/l1KcQL5VUx1hqmSre/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SpinKickToesCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>PREREQUISITES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-deep-purple" style="text-decoration: none;" href="#">Spin, Kick</a>
        </li>
      </ul>
      <h5>PREREQUISITES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Leaners</a>
        </li>
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Criss Cross</a>
        </li>
      </ul>
    </div>
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS & MISTAKES + FIXES</h5>
      <button onclick="openAccordion('SpinKickToesPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Kick Up & In, Not Out</button>
      <div id="SpinKickToesPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          As you land from your hop, you want to stay put in position so that you can spin as long as possible. Do this by kicking up and in/around your body, not out and away. Doing the former will direct the momentum you built from the leaner up and into the spin - doing the latter will not redirect the momentum, and you will feel yourself being pulled to the right still and extremely hard to keep balance.
        </p>
      </div>
      <button onclick="openAccordion('SpinKickToesPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Dip Into It</button>
      <div id="SpinKickToesPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Using your arms and torso to dip into the move, upwards and around. This will help with momentum and balance.
        </p>
      </div>
      <button onclick="openAccordion('SpinKickToesWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="SpinKickToesWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          Not much different from regular spin kick, except 720 is near impossible. Enter this move from a left leaner. After you step across your body to your left with your right foot, step to your with your right foot. Do one hop to your right on your right foot (with the momentum you have from transitioning out of the leaner), bringing your left leg up and back, as if you were about to kick a soccer ball - but make sure you are pivoting your hips clockwise as you kick. As you land after your hop, come up onto your right foots toes, and pin your left foot's toes next to your right's. The momentum should keep you rotating on your toes until you land. Land facing the original direction, feet close together.
        </p>
      </div>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/SpinKickToes/SpinKickToes1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinKickToes1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/SpinKickToes/SpinKickToes2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinKickToes1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/SpinKickToes/SpinKickToes3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinKickToes2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/SpinKickToes/SpinKickToes4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinKickToes2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/SpinKickToes/SpinKickToes5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinKickToes3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/SpinKickToes/SpinKickToes6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SpinKickToes3a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
