<!-- ++++++++++++++++ Forwards Launch ++++++++++++++++ -->
<button onclick="openAccordion('ForwardLaunch')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Forward Launch
</button>
<div id="ForwardLaunch" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/1wmxDMeCPilm4ApDNg/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ForwardLaunchMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/LUfiGpoxpmBbKvgevw/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ForwardLaunchCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('ForwardLaunchPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">One Foot For It All</button>
      <div id="ForwardLaunchPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Naturally, you're body is going to switch legs when you hop forward, and especially when you hop backwards. The theme of the move is that you're propelling yourself forwards and backwards on one single foot. This is kind of like an altered hopscotch move - you're using one leg for all the hops.
        </p>
      </div>
      <button onclick="openAccordion('ForwardLaunchPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Vague Grasp of Rear LoopDeLoop</button>
      <div id="ForwardLaunchPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          You only need a vague grasp of the rear loopdeloop to start learning this move. It comes into play with the kick forward, after you hop forward. Once you become familiar with this move, the loopdeloops will become a lot easier to learn in fact.
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Cuts
        </li>
        <li>
          RM -&gt Rear LoopDeLoop
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/ForwardLaunch/ForwardLaunch1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ForwardLaunch1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ForwardLaunch/ForwardLaunch2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ForwardLaunch1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/ForwardLaunch/ForwardLaunch3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ForwardLaunch2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ForwardLaunch/ForwardLaunch4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ForwardLaunch2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/ForwardLaunch/ForwardLaunch5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ForwardLaunch3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ForwardLaunch/ForwardLaunch6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ForwardLaunch3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/ForwardLaunch/ForwardLaunch7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ForwardLaunch4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/ForwardLaunch/ForwardLaunch8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('ForwardLaunch4a').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- Walkthrough -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
    <header class="w3-container w3-center w3-green">
      <h5>WALKTHROUGH</h5>
    </header>
      <div>
        <ul class="w3-ul">
          <li>
            <span class="w3-tag w3-green">1</span> With your right foot somewhere in front of you and your left foot behind you, lean back and fall onto your right foot
          </li>
          <li>
            <span class="w3-tag w3-green">2</span> As right foot plants, immediately kick it back directly forward in front of you as you bring left foot back and land on it
          </li>
          <li>
            <span class="w3-tag w3-green">3</span> Repeat again and land on your right foot
          </li>
          <li>
            <span class="w3-tag w3-green">4</span> As soon as you land on your right foot, take a generous hop forward on your right foot
          </li>
          <li>
            <span class="w3-tag w3-green">5</span> As you land from your hop, kick your left foot backwards (in the air, not on the ground) to propel yourself a little bit more forward; as you kick, the momentum should push your right foot forward a little more into a little hop
          </li>
          <li>
            <span class="w3-tag w3-green">6</span> Now, reverse the kicking motion of your left foot, which should also bring your right foot back a smidge (in another mini hop)
          </li>
          <li>
            <span class="w3-tag w3-green">7</span> Take a big hop backwards on your right foot and repeat - you are back again at step 1, of falling back into your right foot
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Giddy Up ++++++++++++++++ -->
<button onclick="openAccordion('GiddyUp')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Giddy Up
</button>
<div id="GiddyUp" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/i2PJ12HBwMstU5HSug/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('GiddyUpMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="#" style="width: 100%; cursor:pointer" onclick="document.getElementById('GiddyUpCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('GiddyUpPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Lorem</button>
      <div id="GiddyUpPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Lorem
        </p>
      </div>
      <button onclick="openAccordion('GiddyUpPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Lorem</button>
      <div id="GiddyUpPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Lorem
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Lorem
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/GiddyUp/GiddyUp1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('GiddyUp1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/GiddyUp/GiddyUp2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('GiddyUp1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/GiddyUp/GiddyUp3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('GiddyUp2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/GiddyUp/GiddyUp4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('GiddyUp2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/GiddyUp/GiddyUp5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('GiddyUp3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/GiddyUp/GiddyUp6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('GiddyUp3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/GiddyUp/GiddyUp7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('GiddyUp4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/GiddyUp/GiddyUp8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('GiddyUp4a').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- Walkthrough -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
    <header class="w3-container w3-center w3-green">
      <h5>WALKTHROUGH</h5>
    </header>
      <div>
        <ul class="w3-ul">
          <li>
            <span class="w3-tag w3-small w3-green">1</span>
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">2</span>
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">3</span>
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">4</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Launch Back ++++++++++++++++ -->
<button onclick="openAccordion('LaunchBack')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Launch Back
</button>
<div id="LaunchBack" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/MRXmySP4fEpSowInOy/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('LaunchBackMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/jVFqgvGY4ENEyAfxEU/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('LaunchBackCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('LaunchBackPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Lorem</button>
      <div id="LaunchBackPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Lorem
        </p>
      </div>
      <button onclick="openAccordion('LaunchBackPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Lorem</button>
      <div id="LaunchBackPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Lorem
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Lorem
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/LaunchBack/LaunchBack1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LaunchBack1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/LaunchBack/LaunchBack2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LaunchBack1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/LaunchBack/LaunchBack3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LaunchBack2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/LaunchBack/LaunchBack4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LaunchBack2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/LaunchBack/LaunchBack5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LaunchBack3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/LaunchBack/LaunchBack6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LaunchBack3a').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- Walkthrough -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
    <header class="w3-container w3-center w3-green">
      <h5>WALKTHROUGH</h5>
    </header>
      <div>
        <ul class="w3-ul">
          <li>
            <span class="w3-tag w3-small w3-green">1</span>
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">2</span>
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">3</span>
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">4</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
