<!-- ++++++++++++++++ About Face ++++++++++++++++ -->
<button onclick="openAccordion('AboutFace')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  About Face
</button>
<div id="AboutFace" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/3o7WIsDjgoSqsFBiCs/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('AboutFaceMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/xUOwG34W0vCkdWdJYI/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('AboutFaceCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('AboutFaceWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="AboutFaceWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          From the running man, perform a rear stutter. However, instead of stutter and returning to the original position from which you entered the stutter, kick back with enough force to pull you backwards. As you kick backwards (lets say, with your right foot), pivot on your toes clockwise 180 degrees so that you land in the original position, but facing the opposite direction.
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Stutter, Rear
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/StutterAboutFace/StutterAboutFace1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('AboutFace1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/StutterAboutFace/StutterAboutFace2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('AboutFace1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/StutterAboutFace/StutterAboutFace3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('AboutFace2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/StutterAboutFace/StutterAboutFace4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('AboutFace2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/StutterAboutFace/StutterAboutFace5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('AboutFace3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/StutterAboutFace/StutterAboutFace6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('AboutFace3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/StutterAboutFace/StutterAboutFace7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('AboutFace4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/StutterAboutFace/StutterAboutFace8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('AboutFace4a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Loop De Loop ++++++++++++++++ -->
<button onclick="openAccordion('LoopDeLoop')" class="w3-hover-opacity w3-hover-red w3-left-align w3-button w3-bar w3-xlarge w3-block">
  LoopDeLoop
</button>
<div id="LoopDeLoop" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/xUOwGaHBi1hLzmlPHO/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('LoopDeLoopMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/xUOwG1L3uTMp07IfXG/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('LoopDeLoopCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('LoopDeLoopPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Figure 8</button>
      <div id="LoopDeLoopPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Take note of how your kick leg is making a sideways figure 8 (when viewed from your side), with your plant foot intersecting the middle.
        </p>
      </div>
      <button onclick="openAccordion('LoopDeLoopPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Center of Gravity</button>
      <div id="LoopDeLoopPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          As your right leg kicks in a figure 8 motion, your left leg will want to slide back and forth to balance out your stance. Your legs will always be moving in the inverse direction of the other; i.e., as your right (kick) foot is moving outward in either direction, your left (plant) foot will move outwards in the opposite direction. As your kick leg moves inwards from either front or rear, your plant leg will slide inwards from the opposite. Getting these slides of your plant foot takes practice and lots of patience.
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Stutter, Rear
        </li>
        <li>
          Stutter, Front
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/LoopDeLoop/LoopDeLoop1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LoopDeLoop1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/LoopDeLoop/LoopDeLoop2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LoopDeLoop1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/LoopDeLoop/LoopDeLoop3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LoopDeLoop2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/LoopDeLoop/LoopDeLoop4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LoopDeLoop2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/LoopDeLoop/LoopDeLoop5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LoopDeLoop3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/LoopDeLoop/LoopDeLoop6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LoopDeLoop3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/LoopDeLoop/LoopDeLoop7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LoopDeLoop4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/LoopDeLoop/LoopDeLoop8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LoopDeLoop4a').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- Walkthrough -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
    <header class="w3-container w3-center w3-green">
      <h5>WALKTHROUGH</h5>
    </header>
      <div>
        <ul class="w3-ul">
          <li>
            <span class="w3-tag w3-small w3-green">1</span> Start with left foot in front / flat of stance and right foot behind / on toes
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">2</span> Bring left foot back to middle of stance, flat, right foot up forward tucked next to shin
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">3</span> Push left foot forwards to front of stance, and fall backwards landing right foot flat at back
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">4</span> Bring left foot back again to middle of stance and right foot up next to shin
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">5</span> Kick right foot backwards, brushing the ground slightly and continuing up right foot in a upwards circular motion, while left foot moves forward slightly (opposite direction of kick)
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">6</span> As right foot comes up from brushing ground, bring to top center of stance, while left foot comes to center of stance as well
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">7</span> Kick right foot downward/forwards, brushing ground while left foot moves backwards slightly for balance
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">8</span> As right foot comes up from brush and back to center of stance in circular motion, left foot comes back to center of stance
          </li>
          <li>
            <span class="w3-tag w3-small w3-green">8</span> Repeat kicks as you please
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Rear Stutter ++++++++++++++++ -->
<button onclick="openAccordion('StutterRear')" class="w3-hover-opacity w3-hover-green w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Rear Stutter
</button>
<div id="StutterRear" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/3o7WIoJXsQAjT3JbBS/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('StutterRearMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/l4pTalp9fvlsTXTOM/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('StutterRearCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-life-ring"></i> TIPS</h5>
      <button onclick="openAccordion('StutterRearPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Fat Joe Variation</button>
      <div id="StutterRearPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          In each stutter, lean back into your rear foot. Your rear foot should be flat and your forward foot should be on its heel.
        </p>
      </div>
      <button onclick="openAccordion('StutterRearWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="StutterRearWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          While doing a running man, simply stutter a count - i.e., go from count 1 -&gt 2 -&gt 1 -&gt 2... and then carry on
        </p>
      </div>
    </div>
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
      <ul>
        <li>
          Running Man
        </li>
      </ul>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/StutterRear/StutterRear1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterRear1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/StutterRear/StutterRear2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterRear1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/StutterRear/StutterRear3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterRear2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/StutterRear/StutterRear4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterRear2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/StutterRear/StutterRear5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterRear3').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
