<!-- ++++++++++++++++ Stutter, Rear ++++++++++++++++ -->
<button onclick="openAccordion('StutterRear')" class="w3-hover-opacity w3-hover-green w3-left-align w3-button w3-bar w3-xlarge w3-block w3-left-alight">
  Stutter, Rear
</button>
<div id="StutterRear" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/3o7WIoJXsQAjT3JbBS/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('StutterRearMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/l4pTalp9fvlsTXTOM/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('StutterRearCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>LEARNING TIMES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <strong>BASIC:</strong> 50 iterations
        </li>
        <li>
          <strong>FAMILIAR:</strong> 150 iterations
        </li>
        <li>
          <strong>FLUENT:</strong> 300 iterations
        </li>
      </ul>
      <h5>PREREQUISITES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Running Man</a>
        </li>
      </ul>
      <h5>CHAIN WITH</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Running Man</a>
        </li>
        <li>
          <a class="w3-tag w3-deep-purple" style="text-decoration: none;" href="#">Stutter, Rear LoopDeLoop</a>
        </li>
        <li>
          <a class="w3-tag w3-amber w3-text-white" style="text-decoration: none;" href="#">Running Man, Reverse</a>
        </li>
      </ul>
    </div>
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS & MISTAKES + FIXES</h5>
      <button onclick="openAccordion('StutterRearPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Fat Joe Variation</button>
      <div id="StutterRearPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          In each stutter, lean back into your rear foot. Your rear foot should be flat and your forward foot should be on its heel.
        </p>
      </div>
      <button onclick="openAccordion('StutterRearWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="StutterRearWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          While doing a running man, simply stutter a count - i.e., go from count 1 -&gt 2 -&gt 1 -&gt 2... and then carry on
        </p>
      </div>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/StutterRear/StutterRear1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterRear1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/StutterRear/StutterRear2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterRear1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/StutterRear/StutterRear3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterRear2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/StutterRear/StutterRear4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterRear2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/StutterRear/StutterRear5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterRear3').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Stutter, Front ++++++++++++++++ -->
<button onclick="openAccordion('StutterFront')" class="w3-hover-opacity w3-hover-green w3-left-align w3-button w3-bar w3-xlarge w3-block w3-left-alight">
  Stutter, Front / El Toro
</button>
<div id="StutterFront" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/3ohs4yA0zAwL6SdAyY/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('StutterFrontMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/l4pT6sOJo1kxcKQuY/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('StutterFrontCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>LEARNING TIMES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <strong>BASIC:</strong> 150 iterations
        </li>
        <li>
          <strong>FAMILIAR:</strong> 300 iterations
        </li>
        <li>
          <strong>FLUENT:</strong> 500 iterations
        </li>
      </ul>
      <h5>PREREQUISITES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Running Man</a>
        </li>
      </ul>
      <h5>CHAIN WITH</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Running Man</a>
        </li>
        <li>
          <a class="w3-tag w3-deep-purple" style="text-decoration: none;" href="#">Stutter, Front LoopDeLoop</a>
        </li>
        <li>
          <a class="w3-tag w3-amber w3-text-white" style="text-decoration: none;" href="#">Running Man, Reverse</a>
        </li>
      </ul>
    </div>
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS & MISTAKES + FIXES</h5>
      <button onclick="openAccordion('StutterFrontWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="StutterFrontWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          From a running man, once your right foot is at its front most position, bounce up for a brief moment without altering the stance you are in. As you come down from the bounce, pump your right leg down and backwards in a circular motion (when viewed from the side), like a bull would do getting ready to charge a matador. As your right foot goes down and back, your left foot should move up forward one foot length, then back one foot length.
        </p>
      </div>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/StutterFront/StutterFront1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterFront1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/StutterFront/StutterFront2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterFront1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/StutterFront/StutterFront3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterFront2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/StutterFront/StutterFront4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterFront2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/StutterFront/StutterFront5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterFront3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/StutterFront/StutterFront6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterFront3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/StutterFront/StutterFront7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterFront4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/StutterFront/StutterFront8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterFront4a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Stutter, Rear -> LoopDeLoop ++++++++++++++++ -->
<button onclick="openAccordion('StutterRearLoopDeLoop')" class="w3-hover-opacity w3-hover-red w3-left-align w3-button w3-bar w3-xlarge w3-block w3-left-alight">
  Stutter, Rear -&gt LoopDeLoop
</button>
<div id="StutterRearLoopDeLoop" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/xUOwGaHBi1hLzmlPHO/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('StutterRearLoopDeLoopMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/xUOwG1L3uTMp07IfXG/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('StutterRearLoopDeLoopCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>LEARNING TIMES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <strong>BASIC:</strong> 250 iterations
        </li>
        <li>
          <strong>FAMILIAR:</strong> 500 iterations
        </li>
        <li>
          <strong>FLUENT:</strong> 750 iterations
        </li>
      </ul>
      <h5>PREREQUISITES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Stutter, Rear</a>
        </li>
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Stutter, Front</a>
        </li>
      </ul>
      <h5>CHAIN WITH</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Running Man</a>
        </li>
        <li>
          <a class="w3-tag w3-red" style="text-decoration: none;" href="#">Spin, Inside Foot</a>
        </li>
        <li>
          <a class="w3-tag w3-amber w3-text-white" style="text-decoration: none;" href="#">Running Man, Reverse</a>
        </li>
      </ul>
    </div>
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS & MISTAKES + FIXES</h5>
      <button onclick="openAccordion('StutterRearLoopDeLoopPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Figure 8</button>
      <div id="StutterRearLoopDeLoopPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Take note of how your kick leg is making a sideways figure 8 (when viewed from your side), with your plant foot intersecting the middle.
        </p>
      </div>
      <button onclick="openAccordion('StutterRearLoopDeLoopPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Center of Gravity</button>
      <div id="StutterRearLoopDeLoopPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          As your right leg kicks in a figure 8 motion, your left leg will want to slide back and forth to balance out your stance. Your legs will always be moving in the inverse direction of the other; i.e., as your right (kick) foot is moving outward in either direction, your left (plant) foot will move outwards in the opposite direction. As your kick leg moves inwards from either front or rear, your plant leg will slide inwards from the opposite. Getting these slides of your plant foot takes practice and lots of patience.
        </p>
      </div>
      <button onclick="openAccordion('StutterRearLoopDeLoopWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="StutterRearLoopDeLoopWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          From a running man, do a rear stutter (with your right foot). As you kick backwards out of the stutter, push/kick backwards with your right foot as far as you can, in a circular counter clockwise motion (when viewed from your left). The momentum from the push/kick should slide/push your left leg forwards. As your right leg comes to the top of its rotation (imagine 12 O'Clock), kick your right leg in a clockwise motion down and forwards. The momentum of the kick should first pull/slide your left leg backwards - then once your foot reaches 9 O'Clock (as far out in front from your body as it will get), as it comes back inward your left leg should slide back inwards. After entering the loopdeloop, you can continue the figure 8 kicking motion as many times as you want.
        </p>
      </div>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/StutterRearLoopDeLoop/StutterRearLoopDeLoop1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterRearLoopDeLoop1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/StutterRearLoopDeLoop/StutterRearLoopDeLoop2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterRearLoopDeLoop1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/StutterRearLoopDeLoop/StutterRearLoopDeLoop3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterRearLoopDeLoop2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/StutterRearLoopDeLoop/StutterRearLoopDeLoop4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterRearLoopDeLoop2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/StutterRearLoopDeLoop/StutterRearLoopDeLoop5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterRearLoopDeLoop3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/StutterRearLoopDeLoop/StutterRearLoopDeLoop6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterRearLoopDeLoop3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/StutterRearLoopDeLoop/StutterRearLoopDeLoop7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterRearLoopDeLoop4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/StutterRearLoopDeLoop/StutterRearLoopDeLoop8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterRearLoopDeLoop4a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Stutter, Front -> LoopDeLoop ++++++++++++++++ -->
<button onclick="openAccordion('StutterFrontLoopDeLoop')" class="w3-hover-opacity w3-hover-red w3-left-align w3-button w3-bar w3-xlarge w3-block w3-left-alight">
  Stutter, Front -&gt LoopDeLoop
</button>
<div id="StutterFrontLoopDeLoop" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/3o7WIxWVObjOktqmty/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('StutterFrontLoopDeLoopMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/3o7WIvIVgstfmXtX7q/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('StutterFrontLoopDeLoopCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>LEARNING TIMES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <strong>BASIC:</strong> 300 iterations
        </li>
        <li>
          <strong>FAMILIAR:</strong> 475 iterations
        </li>
        <li>
          <strong>FLUENT:</strong> 750 iterations
        </li>
      </ul>
      <h5>PREREQUISITES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Stutter, Front</a>
        </li>
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Stutter, Rear</a>
        </li>
        <li>
          <a class="w3-tag w3-red" style="text-decoration: none;" href="#">Stutter, Rear -&gt LoopDeLoop</a>
        </li>
      </ul>
      <h5>CHAIN WITH</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-deep-purple" style="text-decoration: none;" href="#">Cuts, Shimmy Leg</a>
        </li>
        <li>
          <a class="w3-tag w3-red" style="text-decoration: none;" href="#">Spin, Inside Foot</a>
        </li>
        <li>
          <a class="w3-tag w3-amber w3-text-white" style="text-decoration: none;" href="#">Spin, Outside Foot</a>
        </li>
        <li>
          <a class="w3-tag w3-amber w3-text-white" style="text-decoration: none;" href="#">Running Man, Reverse</a>
        </li>
      </ul>
    </div>
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS & MISTAKES + FIXES</h5>
      <button onclick="openAccordion('StutterFrontLoopDeLoopPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Figure 8</button>
      <div id="StutterFrontLoopDeLoopPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          Take note of how your kick leg is making a sideways figure 8 (when viewed from your side), with your plant foot intersecting the middle.
        </p>
      </div>
      <button onclick="openAccordion('StutterFrontLoopDeLoopPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Center of Gravity</button>
      <div id="StutterFrontLoopDeLoopPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
        <p>
          As your right leg kicks in a figure 8 motion, your left leg will want to slide back and forth to balance out your stance. Your legs will always be moving in the inverse direction of the other; i.e., as your right (kick) foot is moving outward in either direction, your left (plant) foot will move outwards in the opposite direction. As your kick leg moves inwards from either front or rear, your plant leg will slide inwards from the opposite. Getting these slides of your plant foot takes practice and lots of patience.
        </p>
      </div>
      <button onclick="openAccordion('StutterFrontLoopDeLoopWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="StutterFrontLoopDeLoopWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          Nearly same as rear loopdeloop, but start figure-8 by kicking forward. Read walkthrough on rear loopdeloop to learn the figure 8 motion. After entering the loopdeloop, you can continue the figure 8 kicking motion as many times as you want.
        </p>
      </div>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/StutterFrontLoopDeLoop/StutterFrontLoopDeLoop1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterFrontLoopDeLoop1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/StutterFrontLoopDeLoop/StutterFrontLoopDeLoop2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterFrontLoopDeLoop1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/StutterFrontLoopDeLoop/StutterFrontLoopDeLoop3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterFrontLoopDeLoop2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/StutterFrontLoopDeLoop/StutterFrontLoopDeLoop4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterFrontLoopDeLoop2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/StutterFrontLoopDeLoop/StutterFrontLoopDeLoop5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterFrontLoopDeLoop3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/StutterFrontLoopDeLoop/StutterFrontLoopDeLoop6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterFrontLoopDeLoop3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/StutterFrontLoopDeLoop/StutterFrontLoopDeLoop7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterFrontLoopDeLoop4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/StutterFrontLoopDeLoop/StutterFrontLoopDeLoop8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterFrontLoopDeLoop4a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Stutter, About Face ++++++++++++++++ -->
<button onclick="openAccordion('StutterKickAboutFace')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block w3-left-alight">
  Stutter, About Face
</button>
<div id="StutterKickAboutFace" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/3o7WIsDjgoSqsFBiCs/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('StutterKickAboutFaceMoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-col w3-hover-grayscale w3-center m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/xUOwG34W0vCkdWdJYI/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('StutterKickAboutFaceCountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
  <!-- Text Details -->
  <div class="w3-row-padding">
    <!-- 1st Half -->
    <div class="w3-container w3-half">
      <h5>LEARNING TIMES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <strong>BASIC:</strong> 100 iterations
        </li>
        <li>
          <strong>FAMILIAR:</strong> 250 iterations
        </li>
        <li>
          <strong>FLUENT:</strong> 400 iterations
        </li>
      </ul>
      <h5>PREREQUISITES</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Stutter, Rear</a>
        </li>
      </ul>
      <h5>CHAIN WITH</h5>
      <ul class="w3-ul" style="width: 100%">
        <li>
          <a class="w3-tag w3-green" style="text-decoration: none;" href="#">Running Man</a>
        </li>
        <li>
          <a class="w3-tag w3-amber w3-text-white" style="text-decoration: none;" href="#">Spin, 360</a>
        </li>
      </ul>
    </div>
    <!-- 2nd Half -->
    <div class="w3-container w3-half">
      <h5>TIPS & MISTAKES + FIXES</h5>
      <button onclick="openAccordion('StutterKickAboutFaceWalkthrough')" class="w3-block w3-button w3-hover-green w3-hover-opacity w3-left-align ">WALKTHROUGH</button>
      <div id="StutterKickAboutFaceWalkthrough" class="w3-border w3-border-green w3-container w3-hide">
        <p>
          From the running man, perform a rear stutter. However, instead of stutter and returning to the original position from which you entered the stutter, kick back with enough force to pull you backwards. As you kick backwards (lets say, with your right foot), pivot on your toes clockwise 180 degrees so that you land in the original position, but facing the opposite direction.
        </p>
      </div>
    </div>
  </div>
  <!-- Count 1 -->
  <div class="w3-row-padding w3-panel">
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 1</h6>
        </header>
        <img src="../img/Count/StutterAboutFace/StutterAboutFace1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterKickAboutFace1').style.display='block'"/>
      </div>
    </div>
    <!-- Count 1& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/StutterAboutFace/StutterAboutFace2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterKickAboutFace1a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 2</h6>
        </header>
        <img src="../img/Count/StutterAboutFace/StutterAboutFace3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterKickAboutFace2').style.display='block'"/>
      </div>
    </div>
    <!-- Count 2& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/StutterAboutFace/StutterAboutFace4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterKickAboutFace2a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-red">
          <h6>Count 3</h6>
        </header>
        <img src="../img/Count/StutterAboutFace/StutterAboutFace5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterKickAboutFace3').style.display='block'"/>
      </div>
    </div>
    <!-- Count 3& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/StutterAboutFace/StutterAboutFace6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterKickAboutFace3a').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4 -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-blue">
          <h6>Count 4</h6>
        </header>
        <img src="../img/Count/StutterAboutFace/StutterAboutFace7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterKickAboutFace4').style.display='block'"/>
      </div>
    </div>
    <!-- Count 4& -->
    <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
      <div class="w3-card">
        <header class="w3-container w3-center w3-amber w3-text-white">
          <h6>Count &</h6>
        </header>
        <img src="../img/Count/StutterAboutFace/StutterAboutFace8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('StutterKickAboutFace4a').style.display='block'"/>
      </div>
    </div>
  </div>
</div>
