<!DOCTYPE html>
<html>
<head>
  <title>Shuffle Almanac</title>
  <% include ../partials/head %>
</head>
</html>

<header>
  <% include ../partials/header %>
</header>

<div class="w3-content">
  <div class="w3-padding-32 w3-center" id="about">
    <div class="w3-panel w3-yellow w3-display-container">
      <span onclick="this.parentElement.style.display='none'" class="w3-button w3-small w3-yellow w3-large w3-display-topright">&times;</span>
      <p>Something suuuper dope coming here soon!!</p>
    </div>
    <div class="w3-padding-16">
      <img src="../img/aboutphotoalt.jpg" class="w3-image w3-bottombar w3-border-green" width="300" height="300">
    </div>
    <form style="margin:auto;width:60%" action="/action_page.php" target="_blank">
      <p>Lorem Ipsum Dolor my guy</p>
      <p class="w3-large w3-text-pink">Let me know what I can improve!</p>
      <div class="w3-section">
        <label><b>Name</b></label>
        <input class="w3-input w3-border" type="text" required name="Name">
      </div>
      <div class="w3-section">
        <label><b>Email</b></label>
        <input class="w3-input w3-border" type="text" required name="Email">
      </div>
      <div class="w3-section">
        <label><b>Message</b></label>
        <input class="w3-input w3-border" required name="Message">
      </div>
      <button type="submit" class="w3-button w3-block w3-green">Send</button>
    </form>
  </div>
</div>

<!-- ################################################### SECTION 6: INSPIRE -->
<div class="w3-container w3-padding-32 w3-row-padding w3-light-grey">
  <div class="w3-content">
    <h1 class="w3-center">LET ME INSPIRE YOU!</h1>
    <hr />
    <h2>Shuffling Is Just any Other Skill</h2>
    <p>
      Anyone can learn to shuffle! I had doubts every step of the way, but I persevered thru the frustration and feelings of incompetence and beg you to believe that you CAN learn and CAN improve. Once you grit through the early on frustration, you will feel the momentum pulling you and your proficiency forward, and it'll feel oh so gratifying.
    </p>
    <p>
      Gritting through what feel like a lack of ability and tirelessly learning the foundations and frameworks of your craft is far more important than any measure of talent. Everyone CAN generally become exceptionally skilled in whatever domain they choose (coding, basketball, chess, dancing, speaking russian, playing the violin). What builds these skills in people to noteworthy levels is not inherent talent - it is underlying grit to break through each threshold and build increasing levels of aptitude.
    </p>
    <!-- <h2>Growth Mindset vs. Fixed Mindset</h2>
    <p>
      What sets apart the person who says "I can't do this, it's too hard, it's not for me, I don't need to learn this" and the one who says "I can learn how to do this, it's just going to take a lot of time and effort and potentially cause me a ton of frustration" is their mindset - they can have the same exact potential for talent, but only one will utilize theirs to the full potential.
    </p>
    <p>
      Those with a growth mindset acknowledge that frustration and roadblocks are necessary to building worthwhile talents because nothing good comes easy - if something is easy, it's easy for everyone and probably not special.
    </p> -->
    <h2 class="w3-margin-bottom">Aptitude Evolution</h2>
    <div class="w3-row-padding">
      <div class="w3-col w3-margin-bottom m6 l3">
        <div class="w3-card w3-center">
          <header class="w3-amber w3-text-white w3-container">
            <h4>Stumble Phase</h4>
          </header>
          <i class="w3-margin-top w3-text-amber fa fa-meh-o w3-xxxlarge"></i>
          <div class="w3-container w3-left-align">
            <p>
              Everything feels unfamiliar. Concepts & ideas feel foreign and are hard to retain - nothing is intuitive. Urge to quit, perhaps thinking you inherently can't shuffle.
            </p>
          </div>
        </div>
      </div>
      <div class="w3-col w3-margin-bottom m6 l3">
        <div class="w3-card w3-center">
          <header class="w3-green w3-container">
            <h4>Accelerate Phase</h4>
          </header>
          <i class="w3-margin-top w3-text-green fa fa-rocket w3-xxxlarge"></i>
          <div class="w3-container w3-left-align">
            <p>
              Slowly but surely tidbits of info become second-nature, and w/ each new move you learn, your flow evolves. Part of S-Curve where growth becomes exponential.
            </p>
          </div>
        </div>
      </div>
      <div class="w3-col m6 l3">
        <div class="w3-card w3-center w3-margin-bottom">
          <header class="w3-container w3-deep-orange">
            <h4>Creator Phase</h4>
          </header>
          <i class="w3-margin-top w3-text-deep-orange fa fa-grav w3-xxxlarge"></i>
          <div class="w3-container w3-left-align">
            <p>
              You learn new moves incredibly easily. You create original moves; because your flow is so concrete, you might stumble and accidentally invent a new move.
            </p>
          </div>
        </div>
      </div>
      <div class="w3-col m6 l3">
        <div class="w3-center w3-card">
          <header class="w3-deep-purple w3-container">
            <h4>Mentor Phase</h4>
          </header>
          <i class="w3-margin-top w3-text-deep-purple fa fa-superpowers w3-xxxlarge"></i>
          <div class="w3-container w3-left-align">
            <p>
            You move effortlessly; shuffling is second nature. You can easily explain in detail each move you execute and want others to be able to experience the wonder of this art too.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="w3-container">
      <div class="w3-card w3-hover-opacity">
        <a href="http://www.intropsych.com/ch07_cognition/learning_curve.html" target="_blank"><img src="../img/SCurve.jpg" style="width: 100%"/></a>
      </div>
    </div> -->
  </div>
</div>

<footer>
    <% include ../partials/footer %>
</footer>
