<!DOCTYPE html>
<html>

<head>
  <title>Advanced Elements</title>
  <% include ../partials/head %>
</head>
</html>

<header>
  <% include ../partials/header %>
</header>

<!-- TODO: Hand Techniques (Slicing, Miming) -->
<!-- TODO: Strategic Moving Around -->
<!-- TODO: Transition Points / Chaining -->

<!-- THE FORMAT & SHIT -->
<div class="w3-container w3-padding-32">
  <div class="w3-content">
    <h1 class="w3-center">THE FORMAT</h1>
    <hr />
    <div class="w3-container">
      <h4>Complexity</h4>
      <ul class="w3-ul">
        <li class="w3-bar">
          <div class="w3-bar-item">
            <i class="fa fa-hand-o-up w3-bar-item w3-large"></i>
            <span class="w3-large">MOVES: </span>
            <span>a single dance that will span 1 bar of music or less</span>
          </div>
        </li>
        <li class="w3-bar">
          <div class="w3-bar-item">
            <i class="fa fa-hand-peace-o w3-bar-item w3-xlarge"></i>
            <span class="w3-large">CHAIN: </span>
            <span>2 moves, where one typically occurs specifically following the other</span><br/>
            <span><em>Specified with "-&gt"</em></span>
          </div>
        </li>
        <!-- Add Combos -->
        <li class="w3-bar">
          <div class="w3-bar-item">
            <i class="fa fa-hand-spock-o w3-bar-item w3-xlarge"></i>
            <span class="w3-large">ROUTINES: </span>
            <span>any handful of chains that flow well together</span>
          </div>
        </li>
      </ul>
    </div>
    <div class="w3-container">
      <h4>Relations</h4>
      <ul class="w3-ul">
        <li class="w3-bar">
          <div class="w3-bar-item">
            <i class="fa fa-umbrella w3-bar-item w3-xlarge"></i>
            <span class="w3-large">FAMILY: </span>
            <span>General umbrella of a move</span>
          </div>
        </li>
        <li class="w3-bar">
          <div class="w3-bar-item">
            <i class="fa fa-arrows-alt w3-bar-item w3-xlarge"></i>
            <span class="w3-large">VARIATION: </span>
            <span>Small variations among moves of the same family</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<footer>
    <% include ../partials/footer %>
</footer>
