<!DOCTYPE html>
<html>

<head>
  <title>Shuffle Almanac</title>
  <% include ../partials/head %>
</head>
</html>

<header>
  <% include ../partials/header %>
</header>

<!-- TODO: Hand Techniques (Slicing, Miming) -->
<!-- TODO: Strategic Moving Around -->
<!-- TODO: Transition Points / Chaining -->

<footer>
    <% include ../partials/footer %>
</footer>
