<!DOCTYPE html>
<html>
<head>
  <title>Shuffle Almanac</title>
  <% include ../partials/head %>
</head>
</html>

<header>
  <% include ../partials/header %>
</header>

<!-- TODO: New Entries / Sections (+ roy purdy, sideways strut) -->
<!-- TODO: Hip Hop media -->
<!-- TODO: Link in each prereq and chain with -->
<!-- TODO: Youtube videos w music -->

<!-- COVER PHOTO -->
<!-- <div class="w3-display-container w3-wide">
  <img src="../img/LAAerial.jpg" class="w3-grayscale-min" style="width: 100%"/>
  <span class="w3-tag w3-padding w3-xxlarge w3-opacity-min w3-card-2 w3-display-middle">
    Learn it All
  </span>
</div> -->
<!-- <div class="w3-container w3-padding">
  <div class="w3-content w3-center">
    <h1>THE SHAPES ALMANAC</h1>
  </div>
</div> -->

<!-- ACCORDIONS -->
<div class="w3-container w3-padding-32">
  <div class="w3-content">
    <div class="w3-container w3-center">
      <h1>THE SHUFFLE ALMANAC</h1>
      <hr />
      <p>
        Learn step by step over 40 different shuffling moves by using AZSHAPES comprehensive and exhaustive documentation. Spend more time shuffling and less time learning by removing all the confusion that comes with learning from incomplete and piecemeal sources.
      </p>
    </div>
    <div class="w3-panel w3-yellow w3-display-container">
      <span onclick="this.parentElement.style.display='none'" class="w3-button w3-small w3-yellow w3-large w3-display-topright">&times;</span>
      <p>Click a move to expand; colors represent difficulty (purple is elite). Learning tips at bottom of page.</p>
    </div>
    <div class="w3-panel w3-red w3-display-container">
      <span onclick="this.parentElement.style.display='none'" class="w3-button w3-small w3-red w3-large w3-display-topright">&times;</span>
      <p>It'd be advantageous to skim the Rudiments section first before diving into the Almanac (takes about 7 minutes)</p>
    </div>
    <!-- ************************************** ALT TOE POINTS TOE POINTS TOE POINTS ************************************** -->
    <h2>ALT TOE POINTS</h2>
    <% include ../partials/alttoepoints.ejs %>
    <!-- ************************************** CHARLESTON CHARLESTON CHARLESTON ************************************** -->
    <h2>CHARLESTON</h2>
    <% include ../partials/charlestons.ejs %>
    <!-- ************************************** CRISS CROSS CRISS CROSS CRISS CROSS ************************************** -->
    <h2>CRISS CROSS</h2>
    <% include ../partials/crisscrosses.ejs %>
    <!-- ************************************** CUTS ************************************** -->
    <h2>CUTS</h2>
    <% include ../partials/cuts.ejs %>
    <!-- ************************************** DROPS DROPS DROPS ************************************** -->
    <h2>DROPS</h2>
    <% include ../partials/drops.ejs %>
    <!-- ************************************** HEEL POPS HEEL POPS HEEL POPS ************************************** -->
    <h2>HEEL POPS</h2>
    <% include ../partials/heelpops.ejs %>
    <!-- ************************************** HIP HOP HIP HOP HIP HOP ************************************** -->
    <!-- <h2>HIP HOP</h2> -->
    <!-- include ../partials/hiphop.ejs -->
    <!-- ************************************** LEANERS LEANERS LEANERS ************************************** -->
    <h2>LEANERS</h2>
    <% include ../partials/leaners.ejs %>
    <!-- ************************************** MOONWALK MOONWALK MOONWALK ************************************** -->
    <h2>MOONWALK</h2>
    <% include ../partials/moonwalks.ejs %>
    <!-- ************************************** RUNNING MANS RUNNING MANS RUNNING MANS ************************************** -->
    <h2>RUNNING MAN</h2>
    <% include ../partials/runningmans.ejs %>
    <!-- ************************************** SHIMMY SHIMMY SHIMMY ************************************** -->
    <h2>SHIMMY</h2>
    <% include ../partials/shimmys.ejs %>
    <!-- ************************************** SLIDES SLIDES SLIDES ************************************** -->
    <h2>SLIDES</h2>
    <% include ../partials/slides.ejs %>
    <!-- ************************************** SPINS SPINS SPINS ************************************** -->
    <h2>SPINS, 360S</h2>
    <% include ../partials/spins360.ejs %>
    <!-- ************************************** SPINS SPINS SPINS ************************************** -->
    <!-- <h2>SPINS, 180S</h2> -->
    <% include ../partials/spins180.ejs %>
    <div class="w3-panel w3-green w3-display-container">
      <span onclick="this.parentElement.style.display='none'" class="w3-button w3-small w3-green w3-large w3-display-topright">&times;</span>
      <p><strong>COMING MARCH 16:</strong> Side to Side Toe Taps, Cuts Rear Kick, Cuts Rear Stutte, Toe Divots, Leg Shake Outs, Milly Rock, Backpack Kid, Shoot, Hit Them Folks, Schmoney, Fat Joe Kick, Karaoke, Running Man Glide, Reverse Pops, Moving 360 (forwards), Moving 360 (backwards), Shoulder Peek 180s, Backwards Pointers 180s</p>
    </div>
  </div>
</div>

<!-- TIPS -->
<!-- TODO: Practice in front of strangers -->
<div class="w3-container w3-padding-32 w3-light-grey">
  <div class="w3-content">
    <h1 class="w3-center">TIPS FOR LEARNING</h1>
    <hr />
    <div class="w3-row-padding w3-margin-top">
      <div class="w3-col w3-margin-bottom m6 l6">
        <div class="w3-card">
          <header class="w3-bar w3-pink">
              <i class="w3-bar-item w3-xlarge fa fa-hand-peace-o"></i>
              <span class="w3-bar-item w3-large">Partner Up</span>
          </header>
          <div class="w3-container">
            <p>
              Everything is better with a friend! It'll make you both feel less clumsy and keep you both more motivated to continue learning. Plus, making routines with a friend is dope.
            </p>
          </div>
        </div>
      </div>
      <div class="w3-col w3-margin-bottom m6 l6">
        <div class="w3-card">
          <header class="w3-bar w3-deep-purple">
              <i class="w3-bar-item w3-xlarge fa fa-cut"></i>
              <span class="w3-bar-item w3-large">Chunk It</span>
          </header>
          <div class="w3-container">
            <p>
              Practice counts in chunks & in reverse (e.g., 2&lt-&gt3, 1&lt-&gt3, 5-&gt8, etc.) This builds muscle memory more effectively, and helps immensely with being able to freestyle later on.
            </p>
          </div>
        </div>
      </div>
      <div class="w3-col w3-margin-bottom m6 l6">
        <div class="w3-card">
          <header class="w3-bar w3-red">
              <i class="w3-bar-item w3-xlarge fa fa-spinner"></i>
              <span class="w3-bar-item w3-large">Patience</span>
          </header>
          <div class="w3-container">
            <p>
              Improvement is incremental. Even if you feel like you're not improving, just sleep on it - the next time you practice you'll be surprised at how much you had actually improved.
            </p>
          </div>
        </div>
      </div>
      <div class="w3-col w3-margin-bottom m6 l6">
        <div class="w3-card">
          <header class="w3-bar w3-blue">
              <i class="w3-bar-item w3-xlarge fa fa-eye"></i>
              <span class="w3-bar-item w3-large">Anticipate</span>
          </header>
          <div class="w3-container">
            <p>
              Proactively read through the TIPS/FIXES so you can preemptively address potential mistakes and know how to identify them if you are committing one.
            </p>
          </div>
        </div>
      </div>
      <div class="w3-col w3-margin-bottom m6 l6">
        <div class="w3-card">
          <header class="w3-bar w3-amber w3-text-white">
              <i class="w3-bar-item w3-xlarge fa fa-step-forward"></i>
              <span class="w3-bar-item w3-large">Slow Is Smooth...</span>
          </header>
          <div class="w3-container">
            <p>
              Practicing the wrong technique by learning at a pace too far beyond your ability will screw you over. Practice each move initially at a slow pace, then gradually practice at higher speeds. Slow is smooth, smooth is fast.
            </p>
          </div>
        </div>
      </div>
      <div class="w3-col w3-margin-bottom m6 l6">
        <div class="w3-card">
          <header class="w3-bar w3-green">
              <i class="w3-bar-item w3-xlarge fa fa-bug"></i>
              <span class="w3-bar-item w3-large">Jack of All Trades...</span>
          </header>
          <div class="w3-container">
            <p>
              Focus on mastering a few moves at a time. It's better to have mastered a few moves than to have learned a bunch partially - moves learned halfway you might as well not know how to do at all.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- THE FORMAT & SHIT -->
<!-- <div class="w3-container w3-padding-32">
  <div class="w3-content">
    <h1 class="w3-center">THE FORMAT</h1>
    <hr />
    <div class="w3-container">
      <h4>Complexity</h4>
      <ul class="w3-ul">
        <li class="w3-bar">
          <div class="w3-bar-item">
            <i class="fa fa-hand-o-up w3-bar-item w3-large"></i>
            <span class="w3-large">MOVES: </span>
            <span>a single dance that will span 1 bar of music or less</span>
          </div>
        </li>
        <li class="w3-bar">
          <div class="w3-bar-item">
            <i class="fa fa-hand-peace-o w3-bar-item w3-xlarge"></i>
            <span class="w3-large">CHAIN: </span>
            <span>2 moves, where one typically occurs specifically following the other</span><br/>
            <span><em>Specified with "-&gt"</em></span>
          </div>
        </li>
        <li class="w3-bar">
          <div class="w3-bar-item">
            <i class="fa fa-hand-spock-o w3-bar-item w3-xlarge"></i>
            <span class="w3-large">ROUTINES: </span>
            <span>any handful of chains that flow well together</span>
          </div>
        </li>
      </ul>
    </div>
    <div class="w3-container">
      <h4>Relations</h4>
      <ul class="w3-ul">
        <li class="w3-bar">
          <div class="w3-bar-item">
            <i class="fa fa-umbrella w3-bar-item w3-xlarge"></i>
            <span class="w3-large">FAMILY: </span>
            <span>General umbrella of a move</span>
          </div>
        </li>
        <li class="w3-bar">
          <div class="w3-bar-item">
            <i class="fa fa-arrows-alt w3-bar-item w3-xlarge"></i>
            <span class="w3-large">VARIATION: </span>
            <span>Small variations among moves of the same family</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div> -->

<!-- MOVE MODALS -->
<% include ../partials/movemodals %>

<!-- COUNT MODALS -->
<% include ../partials/countmodals %>

<!-- PIC MODALS -->
<% include ../partials/picmodals %>

<footer>
    <% include ../partials/footer %>
</footer>
