<!DOCTYPE html>
<html>
<head>
  <title>Collage</title>
  <% include ../partials/head %>
</head>
</html>

<header>
  <% include ../partials/header %>
</header>

<div class="w3-content">

</div>

<div class="w3-content" style="max-width:1500px">
  <div class="w3-display-container w3-margin-top">
    <!-- LARGE LARGE LARGE -->
    <div class="w3-row-padding">
      <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-amber" src="https://media.giphy.com/media/300ZuyC7pAD6lvJYdj/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CCMoveModal').style.display='block'"/>
      </div>
      <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-amber" src="https://media.giphy.com/media/1lCG3HPwJxGMlyeRgp/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CrssdMoveModal').style.display='block'"/>
      </div>
      <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-amber" src="https://media.giphy.com/media/EQ86L2PcYijKEHr6L6/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CutsFrontStutterMoveModal').style.display='block'"/>
      </div>
      <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-amber" src="https://media.giphy.com/media/wKKmLbuhccHkFabm8T/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('LeanerReverseMoveModal').style.display='block'"/>
      </div>
      <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-amber" src="https://media.giphy.com/media/9r8JSkmYk74n3EUAxZ/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SmoothCriminalMoveModal').style.display='block'"/>
      </div>
      <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-amber" src="https://media.giphy.com/media/X74UHjJf2HIbqYB81I/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SuzyQMoveModal').style.display='block'"/>
      </div>
      <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-amber" src="https://media.giphy.com/media/fnmmm1PZSAdPJjCMdw/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CutsMoveModal').style.display='block'"/>
      </div>
      <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-amber" src="https://media.giphy.com/media/7FgZM5MxthZuxbpD0q/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SweepMoveModal').style.display='block'"/>
      </div>
      <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-amber" src="https://media.giphy.com/media/bbSwRLYyG5UPxnzovu/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('TwisterMoveModal').style.display='block'"/>
      </div>
      <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-amber" src="https://media.giphy.com/media/MRXmySP4fEpSowInOy/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('LaunchBackMoveModal').style.display='block'"/>
      </div>
      <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/aM1wRrvOETPmAACQ4C/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('HHHitThemFolksMoveModal').style.display='block'"/>
      </div>
      <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/3dbLQPqmtnnUmtsPkE/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('HHHTFReachMoveModal').style.display='block'"/>
      </div>

      <!-- ROW Z ROW Z ROW Z -->
      <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-red" src="https://media.giphy.com/media/3MjFjOiq59XP5XATxJ/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SpinBackwards180MoveModal').style.display='block'"/>
      </div>

      <!-- ROW 1 ROW 1 ROW 1 -->
      <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-amber" src="https://media.giphy.com/media/xThtad9rqm1ztfbORG/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ATPMoveModal').style.display='block'"/>
      </div>
      <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-amber" src="https://media.giphy.com/media/xThtas1SeDXOOBk4ak/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ATPJumpMoveModal').style.display='block'"/>
      </div>
      <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-amber" src="https://media.giphy.com/media/l4pTsbSe3lZ6wwR0I/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CCToePunchOutMoveModal').style.display='block'"/>
      </div>

      <!-- ROW 2 ROW 2 ROW 2 -->
      <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-amber" src="https://media.giphy.com/media/l4pT4a6mVBWX90TwQ/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CutsReverseMoveModal').style.display='block'"/>
      </div>
      <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-amber" src="https://media.giphy.com/media/d2RLSc9GG1AKk5pehZ/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CutsRearKickMoveModal').style.display='block'"/>
      </div>
      <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-amber" src="https://media.giphy.com/media/3httMR9QRMZs7LiwZh/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CutsSideToeTapsMoveModal').style.display='block'"/>
      </div>

      <!-- ROW 3 ROW 3 ROW 3 -->
      <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-amber" src="https://media.giphy.com/media/456Y9cqdPytihb5djb/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CutOutsMoveModal').style.display='block'"/>
      </div>
      <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-red" src="https://media.giphy.com/media/3o7WIxiWBfMt3jXfr2/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('DDMoveModal').style.display='block'"/>
      </div>
      <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-red" src="https://media.giphy.com/media/xThtap9IUoGwgXzQre/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('DDToeStandsMoveModal').style.display='block'"/>
      </div>
      <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-red" src="https://media.giphy.com/media/23hPVLp6HZlzHXZSiN/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('DDCorkscrewMoveModal').style.display='block'"/>
      </div>
      <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-amber" src="https://media.giphy.com/media/fQGu0X4QigeBCHd8j5/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('HeelOutStompsMoveModal').style.display='block'"/>
      </div>

      <!-- ROW 4 ROW 4 ROW 4 -->

      <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-amber" src="https://media.giphy.com/media/26DN2JSBAp2NrfGtW/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('RoundaboutStompsMoveModal').style.display='block'"/>
      </div>
      <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/w82VydlsvVBUEK1lhK/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('HHMillyRockMoveModal').style.display='block'"/>
      </div>

      <!-- ROW 5 ROW 5 ROW 5 -->
      <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/3ICbbeOdlbP0yqLfdk/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('HHSchmoneyMoveModal').style.display='block'"/>
      </div>
      <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/Ffb4ti40JpQRUGD524/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('HHBackpackKidMoveModal').style.display='block'"/>
      </div>
      <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/kKLpBfLfuF3j6fiCHD/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('HHShootMoveModal').style.display='block'"/>
      </div>
      <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/MTuqwfjH52pL6kwmqZ/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('HHBrushEmOffMoveModal').style.display='block'"/>
      </div>

      <!-- ROW 6 ROW 6 ROW 6 -->
      <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/67uB13Mp6kSLYhBjIz/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('HHSwerveMoveModal').style.display='block'"/>
      </div>
      <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-amber" src="https://media.giphy.com/media/xThtaoLNc308XAtwmQ/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('LeanerMoveModal').style.display='block'"/>
      </div>
      <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-amber" src="https://media.giphy.com/media/xThtaa4lughIHnqXq8/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('LeanerHalfMoveModal').style.display='block'"/>
      </div>
      <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-amber" src="https://media.giphy.com/media/9zXABXgodEuq5bAnSo/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('LeanerFrontsMoveModal').style.display='block'"/>
      </div>
      <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-amber" src="https://media.giphy.com/media/vgtUp5AMtZr7BXOsfu/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('FatJoeKickMoveModal').style.display='block'"/>
      </div>
      <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-amber" src="https://media.giphy.com/media/pVR9W7XvlxgLYzqM3p/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('KaraokeMoveModal').style.display='block'"/>
      </div>

      <!-- ROW 7 ROW 7 ROW 7 -->
      <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-red" src="https://media.giphy.com/media/3o7WIswEtmybCl7ln2/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('MoonwalkMoveModal').style.display='block'"/>
      </div>
      <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-red" src="https://media.giphy.com/media/xUOwGbnlguFxzmRkLS/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('RMReverseMoveModal').style.display='block'"/>
      </div>

      <!-- ROW 8 ROW 8 ROW 8 -->
      <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-red" src="https://media.giphy.com/media/TG8dKSsJ7jQ65WwIXD/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('RMReversePopForwards').style.display='block'"/>
      </div>
      <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-red" src="https://media.giphy.com/media/w9xF5fUrUUfvCpjgCB/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('RMSidewaysGlideMoveModal').style.display='block'"/>
      </div>
      <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-red" src="https://media.giphy.com/media/3o7WIxWVObjOktqmty/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('StutterFrontLoopDeLoopMoveModal').style.display='block'"/>
      </div>
      <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-red" src="https://media.giphy.com/media/3o7WIsDjgoSqsFBiCs/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('StutterKickAboutFaceMoveModal').style.display='block'"/>
      </div>
      <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-amber" src="https://media.giphy.com/media/5n7v9VBWz1aznlhRsT/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ShimmyWalkMoveModal').style.display='block'"/>
      </div>
      <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-amber" src="https://media.giphy.com/media/3ohs4bx9j7OeEZXdug/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ShimmyToePogoMoveModal').style.display='block'"/>
      </div>
      <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-amber" src="https://media.giphy.com/media/1zJDYIv0rbNx2nfOWy/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ShimmyOneWayMoveModal').style.display='block'"/>
      </div>
      <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-amber" src="https://media.giphy.com/media/1dMKKFOazyIzShe6LB/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CharlestonMoveModal').style.display='block'"/>
      </div>
      <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-red" src="https://media.giphy.com/media/xUOwFS6heBIMFNwX8Q/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SlideOutsideFootMoveModal').style.display='block'"/>
      </div>
      <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-amber" src="https://media.giphy.com/media/3ohs4u879sZAn5QpOM/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('Spin360ToesMoveModal').style.display='block'"/>
      </div>
      <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-amber" src="https://media.giphy.com/media/9rjZBad30zBPd3SWqM/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SpinInsideFootMoveModal').style.display='block'"/>
      </div>
      <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-red" src="https://media.giphy.com/media/fMzwFAPPoWgAd58Tnv/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SpinKickMoveModal').style.display='block'"/>
      </div>
      <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-red" src="https://media.giphy.com/media/xUOwGos6aH78RM6UuI/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SpinKickToesMoveModal').style.display='block'"/>
      </div>
      <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-red" src="https://media.giphy.com/media/tJMOZXiPL9Yf3m3I8n/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('MoonshuffleMoveModal').style.display='block'"/>
      </div>
      <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-red" src="https://media.giphy.com/media/1dI01pPzF5ystuJCHl/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('RMMoveModal').style.display='block'"/>
      </div>
      <div class="w3-col s3 l2 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-amber" src="https://media.giphy.com/media/5tf23PyEFAzU43bftN/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ShimmyMoveModal').style.display='block'"/>
      </div>
      <!-- ROW 12 ROW 12 ROW 12 -->

    </div>
  </div>
</div>

<footer>
    <% include ../partials/footer %>
</footer>
