<!DOCTYPE html>
<html>
<head>
  <title>HipHop Almanac</title>
  <% include ../partials/head %>
</head>
</html>

<header>
  <% include ../partials/header %>
</header>

<!-- ACCORDIONS -->
<div class="w3-container w3-padding-32">
  <div class="w3-content">
    <div class="w3-container w3-center">
      <h1>HIPHOP ALMANAC</h1>
      <hr />
      <p>
        Learn to milly rock, hit them folks, and more!
      </p>
    </div>
    <div class="w3-panel w3-yellow w3-display-container">
      <span onclick="this.parentElement.style.display='none'" class="w3-button w3-small w3-yellow w3-large w3-display-topright">&times;</span>
      <p>Click a move to expand; colors represent difficulty (purple is elite)</p>
    </div>
    <div class="w3-panel w3-yellow w3-display-container">
      <span onclick="this.parentElement.style.display='none'" class="w3-button w3-small w3-yellow w3-large w3-display-topright">&times;</span>
      <p>Don't sleep on the Rudiments section! It's a 7 min read that'll make everything much easier</p>
    </div>
    <div class="w3-panel w3-yellow w3-hide-large w3-hide-medium w3-display-container">
      <span onclick="this.parentElement.style.display='none'" class="w3-button w3-small w3-yellow w3-large w3-display-topright">&times;</span>
      <p>Rotate phone to landscape for larger gifs!</p>
    </div>
    <!-- ************************************** HIP HOP HIP HOP HIP HOP ************************************** -->
    <!-- <h2>HIP HOP</h2> -->
    <% include ../partials/hiphop.ejs %>
  </div>
</div>

<!-- MODALS -->
<% include ../partials/modalsMoveHipHop %>
<% include ../partials/modalsCountHipHop %>
<% include ../partials/modalsPicHipHop %>

<footer>
    <% include ../partials/footer %>
</footer>
