<!DOCTYPE html>
<html>
<head>
  <title>GUHLLIARD</title>
  <% include ../partials/head %>
  <script src="../js/hiphopSlideshows.js"></script>
  <script src="../js/shuffleSlideshows.js"></script>
</head>
</html>

<header>
  <% include ../partials/header %>
</header>

<!-- COVER PHOTO -->
<div class="w3-display-container">
  <img src="https://media.giphy.com/media/4Zo9ZrQTMIlAue2HgU/giphy.gif" style="width: 100%"/>
  <!-- https://media.giphy.com/media/5vUy9OIk82o1aPb2mW/giphy.gif -->
</div>

<!-- ALMANAC PREVIEW -->
<div class="w3-container w3-padding-32">
  <div class="w3-content" style="width: 100%">
    <div class="w3-container w3-center">
      <h1 class="w3-center">THE DANCE ALMANACS</h1>
      <p>
        Learn just the dance moves you want using the collage + almanac format! Saw a move in a gram video you thought was dope? Find it in the collage and learn it from the almanacs! Do festival season the best way - DANCE CIRCLES NEED U!!
      </p>
    </div>
    <hr />
    <div class="w3-section">
      <!-- <div class="w3-panel w3-yellow w3-display-container">
        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-xlarge w3-yellow w3-large w3-display-topright">&times;</span>
        <p>Click a move to expand; click a gif/pic to enlarge</p>
      </div> -->
      <!-- ALMANAC EXAMPLE -->
      <!-- ++++++++++++++++ Running Man ++++++++++++++++ -->
      <div class="w3-container">
        <h2>ALMANACS</h2>
      </div>
      <!-- ++++++++++++++++ Running Man ++++++++++++++++ -->
      <button onclick="openAccordion('RunningMan')" class="w3-hover-opacity w3-hover-green w3-left-align w3-button w3-bar w3-xlarge w3-block">
        Running Man
      </button>
      <div id="RunningMan" class="w3-hide w3-container">
        <!-- GIFS -->
        <div class="w3-row-padding">
          <div class="w3-half w3-hover-grayscale w3-margin-top">
            <div class="w3-card w3-bottombar w3-border-green">
              <img src="https://media.giphy.com/media/1dI01pPzF5ystuJCHl/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('RunningManMoveModal').style.display='block'"/>
            </div>
          </div>
          <div class="w3-half w3-hover-grayscale w3-margin-top">
            <div class="w3-card w3-bottombar w3-border-green">
              <img src="https://media.giphy.com/media/nqCdLv4JTLfVPzjv9f/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('RunningManCountModal').style.display='block'"/>
            </div>
          </div>
        </div>
        <!-- COUNTS -->
        <div class="w3-container w3-margin-top">
          <div class="w3-card">
            <div class="w3-content w3-display-container">
              <div class="w3-display-container runningmanSlides">
                <img src="../img/Count/SHUFFLE/RUNNINGMANS/RunningMan/RunningMan1.jpg" style="width: 100%">
                <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
                  Count 1
                </div>
              </div>
              <div class="w3-display-container runningmanSlides" style="display: none;">
                <img src="../img/Count/SHUFFLE/RUNNINGMANS/RunningMan/RunningMan1n.jpg" style="width: 100%">
                <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
                  &
                </div>
              </div>
              <div class="w3-display-container runningmanSlides" style="display: none;">
                <img src="../img/Count/SHUFFLE/RUNNINGMANS/RunningMan/RunningMan2.jpg" style="width: 100%">
                <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
                  Count 2
                </div>
              </div>
              <div class="w3-display-container runningmanSlides" style="display: none;">
                <img src="../img/Count/SHUFFLE/RUNNINGMANS/RunningMan/RunningMan2n.jpg" style="width: 100%">
                <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
                  &
                </div>
              </div>
              <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 6)">&#10094;</button>
              <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 6)">&#10095;</button>
            </div>
          </div>
        </div>
        <!-- TEXT -->
        <div class="w3-container w3-padding">
          <button onclick="openAccordion('runningmanWalkthrough')" class="w3-hover-opacity w3-hover-green w3-large w3-button w3-bar w3-left-align w3-block">WALKTHROUGH</button>
          <div id="runningmanWalkthrough" class="w3-border w3-container w3-hide">
            <ul class="w3-ul">
              <li>
                Start with left foot forwards and flat, right foot behind you and on toes
              </li>
              <li>
                Slide/jostle left foot backwards and flat to center of stance, while bringing right foot up tucked next to your shin
              </li>
              <li>
                Land right foot flat in front of stance while pushing left foot backwards on toes at rear or stance
              </li>
              <li>
                Repeat, but now bring up left foot and land right foot flat, and so on
              </li>
            </ul>
          </div>
          <button onclick="openAccordion('Demo1')" class="w3-hover-opacity w3-hover-green w3-large w3-button w3-bar w3-left-align w3-block">Floating Feet</button>
          <div id="Demo1" class="w3-border w3-container w3-hide">
            <p>
              If as you try to learn the move it seems as if your front foot doesn't land at the same time as your rear foot at the half beats, exaggerate the length of your gait (and gravity will pull down both of your feet so that you can start to build the proper muscle memory.
            </p>
          </div>
          <button onclick="openAccordion('Demo2')" class="w3-hover-opacity w3-hover-green w3-button w3-large w3-bar w3-left-align w3-block">Stompy Feet / Bendy Knees</button>
          <div id="Demo2" class="w3-border w3-container w3-hide">
            <p>
              The key to a slick looking running man is to have minimal bend in your knees and length of your stride. A running man will look off if you raise your knees too high (as if you were trying to stomp the ground) or take extra long gaits. Modesty is key here as your create the very subtle mirage that you are running in place - in fact, it's more of a slide than a run (as the term "shuffling" suggests it might be). To minimize the stride, find the right bounce in your step so that your feet can travel the minimal distance to create the apparition of a running man with the least amount of airtime (off the ground). This will also stop you from lifting your legs too high and creating the stomping motion.
            </p>
          </div>
          <button onclick="openAccordion('Demo3')" class="w3-hover-opacity w3-hover-green w3-button w3-large w3-bar w3-left-align w3-block">Mirrored Stances</button>
          <div id="Demo3" class="w3-border w3-container w3-hide">
            <p>
              Your feet will alternate between four different distinct positions - consisting of two pairs of mirroring stances. In the first set of twin stances, your front foot is flat on the ground while your rear foot is on its toes. In the second set, the front foot that was flat is straight below your body while your rear foot is tucked next to the middle of your shin, off the ground.
            </p>
          </div>
        </div>
      </div>
      <!-- ++++++++++++++++ Hit Them Folks ++++++++++++++++ -->
      <button onclick="openAccordion('HitThemFolks')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
        Hit Them Folks
      </button>
      <div id="HitThemFolks" class="w3-hide w3-container">
        <div class="w3-row-padding">
          <div class="w3-half w3-hover-grayscale w3-margin-top">
            <div class="w3-card w3-bottombar w3-border-amber">
              <img src="https://media.giphy.com/media/yuGJiU48gnKiPytVZ5/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('HitThemFolksMoveModal').style.display='block'"/>
            </div>
          </div>
          <div class="w3-half w3-hover-grayscale w3-margin-top">
            <div class="w3-card w3-bottombar w3-border-amber">
              <img src="https://media.giphy.com/media/1ncTGSMZU73XCJdN83/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('HitThemFolksCountModal').style.display='block'"/>
            </div>
          </div>
        </div>
        <!-- COUNTS -->
        <div class="w3-container w3-margin-top">
          <div class="w3-card">
            <div class="w3-content w3-display-container">
              <div class="w3-display-container hitthemfolksSlides">
                <img src="../img/Count/HIPHOP/HitThemFolks/HitThemFolks1.jpg" style="width: 100%">
                <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
                  Count 1
                </div>
              </div>
              <div class="w3-display-container hitthemfolksSlides" style="display: none;">
                <img src="../img/Count/HIPHOP/HitThemFolks/HitThemFolks1e.jpg" style="width: 100%">
                <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-deep-orange" style="width: 100%">
                  e
                </div>
              </div>
              <div class="w3-display-container hitthemfolksSlides" style="display: none;">
                <img src="../img/Count/HIPHOP/HitThemFolks/HitThemFolks1n.jpg" style="width: 100%">
                <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
                  &
                </div>
              </div>
              <div class="w3-display-container hitthemfolksSlides" style="display: none;">
                <img src="../img/Count/HIPHOP/HitThemFolks/HitThemFolks2.jpg" style="width: 100%">
                <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
                  Count 2
                </div>
              </div>
              <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 1)">&#10094;</button>
              <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 1)">&#10095;</button>
            </div>
          </div>
        </div>
        <!-- TEXT -->
        <div class="w3-container w3-padding">
          <button onclick="openAccordion('HitThemFolksWalkthrough')" class="w3-hover-opacity w3-hover-green w3-large w3-button w3-bar w3-left-align w3-block">WALKTHROUGH</button>
          <div id="HitThemFolksWalkthrough" class="w3-border w3-container w3-hide">
            <ul class="w3-ul">
              <li>
                Stand with feet shoulder-width apart
              </li>
              <li>
                Put both arms out in front of you in fists, and cross your left arm over your right arm
              </li>
              <li>
                Reverse and cross your right arm over your left arm (imagine you are doing a reversed wolverine stance, as in palms facing down towards ground)
              </li>
              <li>
                From the second cross, bring both arms out to their respective sides, while very slightly rotating shoulders counterclockwise and bringing left foot up off the ground
              </li>
              <li>
                With arms out at your sides in a flexing stance (like rosie the riveter but with both arms), freeze in this flexing pose for a brief moment before leaving the stance
              </li>
            </ul>
          </div>
          <button onclick="openAccordion('HitThemFolksPit1')" class="w3-hover-opacity w3-hover-green w3-button w3-large w3-bar w3-left-align w3-block">Hand Reverse Hack</button>
          <div id="HitThemFolksPit1" class="w3-border w3-container w3-hide">
            <p>
              To get down the motion of the hand reverse/crossover, we can take page out of the stretches swimmers perform before a relay. Without moving your feet or torso, swing your arms as far back behind your body (as if to stretch your chest) then swing them in and across your body, one over the other. Then switch. Knowing that motion, you simply alter it to look like HTF by bringing the upper arm (which changes each time alternation) more downward and criss-cross over the lower arm.
            </p>
          </div>
          <button onclick="openAccordion('HitThemFolksPit2')" class="w3-border w3-container w3-hide">TIP 2</button>
          <div id="HitThemFolksPit2" class="w3-border w3-container w3-hide">
            <p>
              Lorem
            </p>
          </div>
        </div>
      </div>
      <!-- ++++++++++++++++ Moonshuffle ++++++++++++++++ -->
      <button onclick="openAccordion('Moonshuffle')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
        Moonshuffle
      </button>
      <div id="Moonshuffle" class="w3-hide w3-container">
        <!-- GIFS -->
        <div class="w3-row-padding">
          <div class="w3-half w3-hover-grayscale w3-margin-top">
            <div class="w3-card w3-bottombar w3-border-amber">
              <img src="https://media.giphy.com/media/tJMOZXiPL9Yf3m3I8n/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('MoonshuffleMoveModal').style.display='block'"/>
            </div>
          </div>
          <div class="w3-half w3-hover-grayscale w3-margin-top">
            <div class="w3-card w3-bottombar w3-border-amber">
              <img src="https://media.giphy.com/media/xThtaqnIZiPMpfuihW/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('MoonshuffleCountModal').style.display='block'"/>
            </div>
          </div>
        </div>
        <!-- COUNTS -->
        <div class="w3-container w3-margin-top">
          <div class="w3-card">
            <div class="w3-content w3-display-container">
              <div class="w3-display-container moonshuffleSlides">
                <img src="../img/Count/SHUFFLE/MOONWALKS/Moonshuffle/Moonshuffle1.jpg" style="width: 100%">
                <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
                  Count 1
                </div>
              </div>
              <div class="w3-display-container moonshuffleSlides" style="display: none;">
                <img src="../img/Count/SHUFFLE/MOONWALKS/Moonshuffle/Moonshuffle1n.jpg" style="width: 100%">
                <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
                  &
                </div>
              </div>
              <div class="w3-display-container moonshuffleSlides" style="display: none;">
                <img src="../img/Count/SHUFFLE/MOONWALKS/Moonshuffle/Moonshuffle2.jpg" style="width: 100%">
                <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
                  Count 2
                </div>
              </div>
              <div class="w3-display-container moonshuffleSlides" style="display: none;">
                <img src="../img/Count/SHUFFLE/MOONWALKS/Moonshuffle/Moonshuffle2n.jpg" style="width: 100%">
                <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
                  &
                </div>
              </div>
              <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 2)">&#10094;</button>
              <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 2)">&#10095;</button>
            </div>
          </div>
        </div>
        <!-- TEXT -->
        <div class="w3-container w3-padding">
          <button onclick="openAccordion('moonshuffleWalkthrough')" class="w3-hover-opacity w3-hover-green w3-large w3-button w3-bar w3-left-align w3-block">WALKTHROUGH</button>
          <div id="moonshuffleWalkthrough" class="w3-border w3-container w3-hide">
            <ul class="w3-ul">
              <li>
                Start with left foot flat, right foot on toes right at your left heel
              </li>
              <li>
                Slide/jostle left foot backwards until left toes are past your right toes
              </li>
              <li>
                Drop down right foot flat, while raising left foot up onto toes
              </li>
              <li>
                Stance is now mirroed to starting position, keep repeating
              </li>
            </ul>
          </div>
          <button onclick="openAccordion('MoonshufflePit1')" class="w3-hover-opacity w3-hover-green w3-button w3-large w3-bar w3-left-align w3-block">Evolve from Running Man</button>
          <div id="MoonshufflePit1" class="w3-container w3-hide">
            <p>
              You don't necessarily have to learn a completely new move here if you know the running man. Slowly transform your running man into the moonshuffle and you'll have the move down pat in literally no time. Start by slowly raising your rear foot lower and lower as it comes forward to the front of your stride. Eventually you should start dragging it on its toes to the front of the stance. Once you are at that point, put enough weight on your toe stand foot that when you try to drag it forward, you end up pulling your plant foot backwards instead. Voila!
            </p>
          </div>
          <button onclick="openAccordion('MoonshufflePit2')" class="w3-hover-opacity w3-hover-green w3-button w3-large w3-bar w3-left-align w3-block">Graceful Glides</button>
          <div id="MoonshufflePit2" class="w3-container w3-hide">
            <p>
              As you slide back your flat foot, bring it back to the point where your plant (toe standing) foot would be intersecting halfway (see count pictures) each time. Slide too far back each time, and you may be having to exert too much bounce to move that far, and will likely have too much variation in the slides and your moonshuffle may look sloppy. Less is always more - you want to create the impression that you are gliding backwards.
            </p>
          </div>
          <button onclick="openAccordion('MoonshufflePit3')" class="w3-hover-opacity w3-hover-green w3-button w3-large w3-bar w3-left-align w3-block">Max Slide, Min Bounce</button>
          <div id="MoonshufflePit3" class="w3-container w3-hide">
            <p>
              The key to looking clean is to keep your movements choppy, but not bouncy. You want to appear to be gliding backwards, not bouncing up and down.
            </p>
          </div>
          <button onclick="openAccordion('MoonshufflePit4')" class="w3-hover-opacity w3-hover-green w3-button w3-large w3-bar w3-left-align w3-block">Fluid vs. Rigid</button>
          <div id="MoonshufflePit4" class="w3-container w3-hide">
            <p>
              Find the right balance between being rigid in your movements and being fluid in your slides. Trying to slide back too far or jerking with each motion will make you appear floppy and sloppy. If you're too rigid though, it won't look like you're really doing the move unless you squint. Find the right balance, and find the right amount of distance you should traverse with each slide so that each slide back is the same distance and not variable.
            </p>
          </div>
        </div>
      </div>
      <!-- full almanac button -->
      <div class="w3-row-padding w3-margin-top">
        <div class="w3-third">
          <a href="/shufflealmanac" class="w3-margin-bottom w3-center w3-red w3-hover-opacity w3-hover-red w3-left-align w3-button w3-bar w3-xlarge w3-block"><i class="fa fa-heartbeat"></i> SHUFFLE</a>
        </div>
        <div class="w3-third">
          <a href="/shapesalmanac" class="w3-margin-bottom w3-center w3-blue w3-hover-opacity w3-hover-blue w3-left-align w3-button w3-bar w3-xlarge w3-block"><i class="fa fa-cut"></i> SHAPES</a>
        </div>
        <div class="w3-third">
          <a href="/hiphopalmanac" class="w3-center w3-green w3-hover-opacity w3-hover-green w3-left-align w3-button w3-bar w3-xlarge w3-block"><i class="fa fa-bomb"></i> HIPHOP</a>
        </div>
      </div>
    </div>
    <hr />
    <!-- COLLAGE -->
    <div class="w3-container">
      <h2>COLLAGE VIEW</h2>
    </div>
    <div class="w3-row-padding">
      <div class="w3-col s6 l3 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-blue" src="https://media.giphy.com/media/300ZuyC7pAD6lvJYdj/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CrissCrossMoveModal').style.display='block'"/>
      </div>
      <div class="w3-col s6 l3 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-blue" src="https://media.giphy.com/media/3aXfINwcEbMfe9STbU/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('FlyFeetMoveModal').style.display='block'"/>
      </div>
      <div class="w3-col s6 l3 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/yuGJiU48gnKiPytVZ5/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('HitThemFolksMoveModal').style.display='block'"/>
      </div>
      <div class="w3-col s6 l3 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-red" src="https://media.giphy.com/media/tJMOZXiPL9Yf3m3I8n/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('MoonshuffleMoveModal').style.display='block'"/>
      </div>
      <div class="w3-col s6 l3 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/37QNggk9Ww5XnBXuM8/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ShootMoveModal').style.display='block'"/>
      </div>
      <div class="w3-col s6 l3 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-red" src="https://media.giphy.com/media/406WpMJfFvMtWo88z9/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SlyceMoveModal').style.display='block'"/>
      </div>
      <div class="w3-col s6 l3 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-blue" src="https://media.giphy.com/media/tZB5uJ4m4jdf2KqQzv/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SplashHouseMoveModal').style.display='block'"/>
      </div>
      <div class="w3-col s6 l3 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-blue" src="https://media.giphy.com/media/7FgZM5MxthZuxbpD0q/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SweepMoveModal').style.display='block'"/>
      </div>
      <div class="w3-col s6 l3 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-blue" src="https://media.giphy.com/media/5qFDygSshK4HurugfX/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ToeHeelTwistMoveModal').style.display='block'"/>
      </div>
      <div class="w3-col s6 l3 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-blue" src="https://media.giphy.com/media/cYj5UJDLxhadeAByTL/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('TSteppinMoveModal').style.display='block'"/>
      </div>
      <div class="w3-col s6 l3 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-blue" src="https://media.giphy.com/media/5YbO8TvC09NpBegR15/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('TurnNBurnMoveModal').style.display='block'"/>
      </div>
      <div class="w3-col s6 l3 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-blue" src="https://media.giphy.com/media/bbSwRLYyG5UPxnzovu/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('TwisterMoveModal').style.display='block'"/>
      </div>
    </div>
    <div class="w3-panel">
      <a href="/collage" class="w3-center w3-amber w3-text-white w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block"><i class="fa fa-cubes"></i> FULL COLLAGE</a>
    </div>
  </div>
</div>

<!-- COMBO QUICK LEARNS -->
<div class="w3-container w3-padding-32 w3-light-grey">
  <div class="w3-content">
    <div class="w3-container w3-center">
      <h1 class="w3-center">VIDEO SERIES</h1>
      <p>
        Detailed yet spartan video instruction to get moving on your feet immediately. Learn a variety of moves and combos with "60 Second Lessons" posted twice weekly on instagram and "5 Minute Combos" posted weekly on YouTube!
      </p>
    </div>
    <hr  />
    <!-- MOVES -->
    <div class="w3-container">
      <h2>60 SECOND LESSONS</h2>
    </div>
    <div class="w3-row-padding">
      <div class="w3-col l4 w3-margin-bottom">
        <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/p/BjVtiusnAP3/" data-instgrm-version="8" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="https://www.instagram.com/p/BjVtiusnAP3/" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">A post shared by Tasty (@buzzfeedtasty)</a> on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2018-05-28T23:17:16+00:00">May 28, 2018 at 4:17pm PDT</time></p></div></blockquote> <script async defer src="//www.instagram.com/embed.js"></script>
      </div>
      <div class="w3-col l4 w3-margin-bottom">
        <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/p/BjP5uW-nsEX/" data-instgrm-version="8" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="https://www.instagram.com/p/BjP5uW-nsEX/" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">A post shared by Tasty (@buzzfeedtasty)</a> on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2018-05-26T17:08:26+00:00">May 26, 2018 at 10:08am PDT</time></p></div></blockquote> <script async defer src="//www.instagram.com/embed.js"></script>
      </div>
      <div class="w3-col l4 w3-margin-bottom">
        <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/p/BgjjMkPFqtz/" data-instgrm-version="8" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="https://www.instagram.com/p/BgjjMkPFqtz/" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">A post shared by TIPSY BARTENDER (@tipsybartender)</a> on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2018-03-20T18:42:42+00:00">Mar 20, 2018 at 11:42am PDT</time></p></div></blockquote> <script async defer src="//www.instagram.com/embed.js"></script>
      </div>
    </div>
    <!-- COMBOS -->
    <hr />
    <div class="w3-container">
      <h2>5 MINUTE COMBOS</h2>
    </div>
    <div class="w3-row-padding">
      <div class="w3-col l6 w3-margin-bottom">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/Oo2j6jOGl4A?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
      <div class="w3-col l6 w3-margin-bottom">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/KESEm6zI7VM?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
      <div class="w3-col l6 w3-margin-bottom">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/oss7zx4Gdsc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
      <div class="w3-col l6 w3-margin-bottom">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/-vJkiCGU9kk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<!-- PLAYLISTS -->
<div class="w3-container w3-padding-32 w3-row-padding">
  <div class="w3-content">
    <div class="w3-container w3-center">
      <h1 class="w3-center">GUHLLIARD CURATED PLAYLISTS</h1>
      <p>
        Here are some playlists curated meticulously based on vibe and genre to get you moving!
      </p>
      <hr />
    </div>
    <div class="w3-section">
      <div class="w3-row-padding w3-margin-bottom">
        <div class="w3-col m6 l3">
          <div class="w3-card w3-margin-bottom">
            <header class="w3-bar w3-green">
              <!-- <i class="w3-bar-item w3-xxlarge fa fa-spotify"></i> -->
              <span class="w3-bar-item w3-xlarge">Carefree</span>
            </header>
            <iframe src="https://open.spotify.com/embed/user/1220689062/playlist/2uOdAUsSbZ73m6tFi1hvGD" width="100%" height="300" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          </div>
        </div>
        <div class="w3-col m6 l3">
          <div class="w3-card w3-margin-bottom">
            <header class="w3-bar w3-green">
              <span class="w3-bar-item w3-xlarge">Nu Disco</span>
            </header>
            <iframe src="https://open.spotify.com/embed/user/1220689062/playlist/5Jdf7xcUQOmp6r2aiaODIP" width="100%" height="300" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          </div>
        </div>
        <div class="w3-col m6 l3">
          <div class="w3-card w3-margin-bottom">
            <header class="w3-bar w3-green">
              <span class="w3-bar-item w3-xlarge">Mysterious</span>
            </header>
            <iframe src="https://open.spotify.com/embed/user/1220689062/playlist/6mpXRp0adaU37qHcypRLsB" width="100%" height="300" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          </div>
        </div>
        <div class="w3-col m6 l3">
          <div class="w3-card w3-margin-bottom">
            <header class="w3-bar w3-green">
              <span class="w3-bar-item w3-xlarge">Vogue</span>
            </header>
            <iframe src="https://open.spotify.com/embed/user/1220689062/playlist/2w8emMTXqV3ms4vACxDMxn" width="100%" height="300" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          </div>
        </div>
        <div class="w3-col m6 l3">
          <div class="w3-card w3-margin-bottom">
            <header class="w3-bar w3-center w3-green">
              <span class="w3-bar-item w3-xlarge">Midnight</span>
            </header>
            <iframe src="https://open.spotify.com/embed/user/1220689062/playlist/4oCvNwJakn90zl49dMWB8W" width="100%" height="300" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          </div>
        </div>
        <div class="w3-col m6 l3">
          <div class="w3-card w3-margin-bottom">
            <header class="w3-bar w3-green">
              <span class="w3-bar-item w3-xlarge">After Hours</span>
            </header>
            <iframe src="https://open.spotify.com/embed/user/1220689062/playlist/0cOPoy1pEDKEArplU0Xtix" width="100%" height="300" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          </div>
        </div>
        <div class="w3-col m6 l3">
          <div class="w3-card w3-margin-bottom">
            <header class="w3-bar w3-green">
              <span class="w3-bar-item w3-xlarge">Warehouse</span>
            </header>
            <iframe src="https://open.spotify.com/embed/user/1220689062/playlist/4CLOOdiBmm9iqfxSHVNVNf" width="100%" height="300" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          </div>
        </div>
        <div class="w3-col m6 l3">
          <div class="w3-card w3-margin-bottom">
            <header class="w3-bar w3-green">
              <span class="w3-bar-item w3-xlarge">UnderGround</span>
            </header>
            <iframe src="https://open.spotify.com/embed/user/1220689062/playlist/4G1Vk4f01ZjrJdnvl2sYiN" width="100%" height="300" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          </div>
        </div>
        <div class="w3-col m6 l3">
          <div class="w3-card w3-margin-bottom">
            <header class="w3-bar w3-center w3-green">
              <span class="w3-bar-item w3-xlarge">Mischievous</span>
            </header>
            <iframe src="https://open.spotify.com/embed/user/1220689062/playlist/3iXLuecgP7DuT7PN6iLnf9" width="100%" height="300" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          </div>
        </div>
        <div class="w3-col m6 l3">
          <div class="w3-card w3-margin-bottom">
            <header class="w3-bar w3-green">
              <span class="w3-bar-item w3-xlarge">Wicked</span>
            </header>
            <iframe src="https://open.spotify.com/embed/user/1220689062/playlist/11krFS1sM9GOz0Cz1MwBCn" width="100%" height="300" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          </div>
        </div>
        <div class="w3-col m6 l3">
          <div class="w3-card w3-margin-bottom">
            <header class="w3-bar w3-green">
              <span class="w3-bar-item w3-xlarge">3 Deep</span>
            </header>
            <iframe src="https://open.spotify.com/embed/user/1220689062/playlist/4X0uyJMvU7mGNdXqjuGZV0" width="100%" height="300" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          </div>
        </div>
        <div class="w3-col m6 l3">
          <div class="w3-card w3-margin-bottom">
            <header class="w3-bar w3-green">
              <span class="w3-bar-item w3-xlarge">4 Deep</span>
            </header>
            <iframe src="https://open.spotify.com/embed/user/1220689062/playlist/741LCuqZqcawIr9o0Q8dS6" width="100%" height="300" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MOVE MODALS -->
<div id="RunningManMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/1dI01pPzF5ystuJCHl/giphy.gif" style="width:100%">
  </div>
</div>
<div id="HitThemFolksMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/yuGJiU48gnKiPytVZ5/giphy.gif" style="width:100%">
  </div>
</div>
<div id="MoonshuffleMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/tJMOZXiPL9Yf3m3I8n/giphy.gif" style="width:100%">
  </div>
</div>

<div id="CrissCrossMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/300ZuyC7pAD6lvJYdj/giphy.gif" style="width:100%">
  </div>
</div>
<div id="FlyFeetMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/3aXfINwcEbMfe9STbU/giphy.gif" style="width:100%">
  </div>
</div>
<div id="SlyceMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/406WpMJfFvMtWo88z9/giphy.gif" style="width:100%">
  </div>
</div>
<div id="ShootMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/37QNggk9Ww5XnBXuM8/giphy.gif" style="width:100%">
  </div>
</div>
<div id="SplashHouseMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/tZB5uJ4m4jdf2KqQzv/giphy.gif" style="width:100%">
  </div>
</div>
<div id="SweepMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/7FgZM5MxthZuxbpD0q/giphy.gif" style="width:100%">
  </div>
</div>
<div id="ToeHeelTwistMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/5qFDygSshK4HurugfX/giphy.gif" style="width:100%">
  </div>
</div>
<div id="TSteppinMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/cYj5UJDLxhadeAByTL/giphy.gif" style="width:100%">
  </div>
</div>
<div id="TurnNBurnMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/5YbO8TvC09NpBegR15/giphy.gif" style="width:100%">
  </div>
</div>
<div id="TwisterMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/bbSwRLYyG5UPxnzovu/giphy.gif" style="width:100%">
  </div>
</div>

<!-- COUNT MODALS -->
<div id="MoonshuffleCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/xThtaqnIZiPMpfuihW/giphy.gif" style="width:100%">
  </div>
</div>
<div id="RunningManCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/nqCdLv4JTLfVPzjv9f/giphy.gif" style="width:100%">
  </div>
</div>
<div id="HitThemFolksCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/1ncTGSMZU73XCJdN83/giphy.gif" style="width:100%">
  </div>
</div>


<footer>
    <% include ../partials/footer %>
</footer>
