<!DOCTYPE html>
<html>
<head>
  <title>GUHLLIARD</title>
  <% include ../partials/head %>
</head>
</html>

<header>
  <% include ../partials/header %>
</header>

<!-- COVER PHOTO -->
<div class="w3-display-container">
  <img src="https://media.giphy.com/media/1xp17WwqOwtdjP5mCd/giphy.gif" style="width: 100%"/>
  <!-- https://media.giphy.com/media/5vUy9OIk82o1aPb2mW/giphy.gif -->
</div>

<!-- ALMANAC PREVIEW -->
<div class="w3-container w3-padding-32">
  <div class="w3-content" style="width: 100%">
    <div class="w3-container w3-center">
      <h1 class="w3-center">THE DANCE ALMANACS</h1>
      <p>
        Learn to shuffle, cut shapes, and more to your own style using GUHLLIARD's easy to navigate collage + almanac format! Saw a move in a gram video you thought was dope? Find it in the collage and learn just that in the almanacs! Do festival season the best way and learn to groove right now - DANCE CIRCLES NEED U!!
      </p>
      <hr />
    </div>
    <div class="w3-section">
      <div class="w3-panel w3-yellow w3-display-container">
        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-xlarge w3-yellow w3-large w3-display-topright">&times;</span>
        <p>Click a move to expand; click a gif/pic to enlarge</p>
      </div>
      <!-- ALMANAC EXAMPLE -->
      <!-- ++++++++++++++++ Running Man ++++++++++++++++ -->
      <button onclick="openAccordion('RM')" class="w3-hover-opacity w3-hover-green w3-left-align w3-button w3-bar w3-xlarge w3-block">
        Running Man
      </button>
      <div id="RM" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
        <div class="w3-row-padding">
          <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
            <div class="w3-card">
              <img src="https://media.giphy.com/media/1dI01pPzF5ystuJCHl/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('RMMoveModal').style.display='block'"/>
              <footer class="w3-container w3-green w3-center">
                <h5>THE MOVE</h5>
              </footer>
            </div>
          </div>
          <div class="w3-col w3-hover-grayscale w3-center m12 l6">
            <div class="w3-card">
              <img src="https://media.giphy.com/media/LwFC5EI5aige9uT92T/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('RMCountModal').style.display='block'"/>
              <footer class="w3-container w3-green w3-center">
                <h5>THE COUNT</h5>
              </footer>
            </div>
          </div>
        </div>
        <!-- Text Details -->
        <div class="w3-row-padding">
          <!-- 2nd Half -->
          <div class="w3-container w3-half">
            <h5>TIPS</h5>
            <button onclick="openAccordion('Demo1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Floating Feet</button>
            <div id="Demo1" class="w3-border w3-border-deep-purple w3-container w3-hide">
              <p>
                If as you try to learn the move it seems as if your front foot doesn't land at the same time as your rear foot at the half beats, exaggerate the length of your gait (and gravity will pull down both of your feet so that you can start to build the proper muscle memory.
              </p>
            </div>
            <button onclick="openAccordion('Demo2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Stompy Feet / Bendy Knees</button>
            <div id="Demo2" class="w3-border w3-border-deep-purple w3-container w3-hide">
              <p>
                The key to a slick looking running man is to have minimal bend in your knees and length of your stride. A running man will look off if you raise your knees too high (as if you were trying to stomp the ground) or take extra long gaits. Modesty is key here as your create the very subtle mirage that you are running in place - in fact, it's more of a slide than a run (as the term "shuffling" suggests it might be). To minimize the stride, find the right bounce in your step so that your feet can travel the minimal distance to create the apparition of a running man with the least amount of airtime (off the ground). This will also stop you from lifting your legs too high and creating the stomping motion.
              </p>
            </div>
            <button onclick="openAccordion('Demo3')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Mirrored Stances</button>
            <div id="Demo3" class="w3-border w3-border-deep-purple w3-container w3-hide">
              <p>
                Your feet will alternate between four different distinct positions - consisting of two pairs of mirroring stances. In the first set of twin stances, your front foot is flat on the ground while your rear foot is on its toes. In the second set, the front foot that was flat is straight below your body while your rear foot is tucked next to the middle of your shin, off the ground.
              </p>
            </div>
          </div>
          <!-- 1st Half -->
          <div class="w3-container w3-half">
            <h5>PREREQUISITES</h5>
            <ul>
              <li>
                N/A
              </li>
            </ul>
          </div>
        </div>
        <!-- Count 1 -->
        <div class="w3-row-padding w3-panel">
          <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
            <div class="w3-card">
              <header class="w3-container w3-center w3-red">
                <h6>Count 1</h6>
              </header>
              <img src="../img/Count/RunningMan/RunningMan1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RM1').style.display='block'"/>
            </div>
          </div>
          <!-- Count 1& -->
          <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
            <div class="w3-card">
              <header class="w3-container w3-center w3-amber w3-text-white">
                <h6>Count &</h6>
              </header>
              <img src="../img/Count/RunningMan/RunningMan2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RM1a').style.display='block'"/>
            </div>
          </div>
          <!-- Count 2 -->
          <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
            <div class="w3-card">
              <header class="w3-container w3-center w3-blue">
                <h6>Count 2</h6>
              </header>
              <img src="../img/Count/RunningMan/RunningMan3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RM2').style.display='block'"/>
            </div>
          </div>
          <!-- Count 2& -->
          <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
            <div class="w3-card">
              <header class="w3-container w3-center w3-amber w3-text-white">
                <h6>Count &</h6>
              </header>
              <img src="../img/Count/RunningMan/RunningMan4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RM2a').style.display='block'"/>
            </div>
          </div>
          <!-- Count 3 -->
          <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
            <div class="w3-card">
              <header class="w3-container w3-center w3-red">
                <h6>Count 3</h6>
              </header>
              <img src="../img/Count/RunningMan/RunningMan5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RM3').style.display='block'"/>
            </div>
          </div>
          <!-- Count 3& -->
          <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
            <div class="w3-card">
              <header class="w3-container w3-center w3-amber w3-text-white">
                <h6>Count &</h6>
              </header>
              <img src="../img/Count/RunningMan/RunningMan6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RM3a').style.display='block'"/>
            </div>
          </div>
          <!-- Count 4 -->
          <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
            <div class="w3-card">
              <header class="w3-container w3-center w3-blue">
                <h6>Count 4</h6>
              </header>
              <img src="../img/Count/RunningMan/RunningMan7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RM4').style.display='block'"/>
            </div>
          </div>
          <!-- Count 4& -->
          <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
            <div class="w3-card">
              <header class="w3-container w3-center w3-amber w3-text-white">
                <h6>Count &</h6>
              </header>
              <img src="../img/Count/RunningMan/RunningMan8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('RM4a').style.display='block'"/>
            </div>
          </div>
        </div>
        <!-- Walkthrough -->
        <div class="w3-container w3-margin-top">
          <div class="w3-card">
          <header class="w3-container w3-center w3-green">
            <h5>WALKTHROUGH</h5>
          </header>
            <div>
              <ul class="w3-ul">
                <li>
                  <span class="w3-tag w3-small w3-green">1</span> Start with left foot forwards and flat, right foot behind you and on toes
                </li>
                <li>
                  <span class="w3-tag w3-small w3-green">2</span> Slide/jostle left foot backwards and flat to center of stance, while bringing right foot up tucked next to your shin
                </li>
                <li>
                  <span class="w3-tag w3-small w3-green">3</span> Land right foot flat in front of stance while pushing left foot backwards on toes at rear or stance
                </li>
                <li>
                  <span class="w3-tag w3-small w3-green">4</span> Repeat, but now bring up left foot and land right foot flat, and so on
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- ++++++++++++++++ Launch Back ++++++++++++++++ -->
      <button onclick="openAccordion('LaunchBack')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
        Launch Back
      </button>
      <div id="LaunchBack" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
        <div class="w3-row-padding">
          <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
            <div class="w3-card">
              <img src="https://media.giphy.com/media/MRXmySP4fEpSowInOy/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('LaunchBackMoveModal').style.display='block'"/>
              <footer class="w3-container w3-green w3-center">
                <h5>THE MOVE</h5>
              </footer>
            </div>
          </div>
          <div class="w3-col w3-hover-grayscale w3-center m12 l6">
            <div class="w3-card">
              <img src="https://media.giphy.com/media/jVFqgvGY4ENEyAfxEU/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('LaunchBackCountModal').style.display='block'"/>
              <footer class="w3-container w3-green w3-center">
                <h5>THE COUNT</h5>
              </footer>
            </div>
          </div>
        </div>
        <!-- Text Details -->
        <div class="w3-row-padding">
          <!-- 2nd Half -->
          <div class="w3-container w3-half">
            <h5><i class="fa fa-life-ring"></i> TIPS</h5>
            <button onclick="openAccordion('LaunchBackPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Lorem</button>
            <div id="LaunchBackPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
              <p>
                Lorem
              </p>
            </div>
            <button onclick="openAccordion('LaunchBackPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Lorem</button>
            <div id="LaunchBackPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
              <p>
                Lorem
              </p>
            </div>
          </div>
          <!-- 1st Half -->
          <div class="w3-container w3-half">
            <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
            <ul>
              <li>
                Lorem
              </li>
            </ul>
          </div>
        </div>
        <!-- Count 1 -->
        <div class="w3-row-padding w3-panel">
          <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
            <div class="w3-card">
              <header class="w3-container w3-center w3-red">
                <h6>Count 1</h6>
              </header>
              <img src="../img/Count/LaunchBack/LaunchBack1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LaunchBack1').style.display='block'"/>
            </div>
          </div>
          <!-- Count 1& -->
          <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
            <div class="w3-card">
              <header class="w3-container w3-center w3-amber w3-text-white">
                <h6>Count &</h6>
              </header>
              <img src="../img/Count/LaunchBack/LaunchBack2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LaunchBack1a').style.display='block'"/>
            </div>
          </div>
          <!-- Count 2 -->
          <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
            <div class="w3-card">
              <header class="w3-container w3-center w3-blue">
                <h6>Count 2</h6>
              </header>
              <img src="../img/Count/LaunchBack/LaunchBack3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LaunchBack2').style.display='block'"/>
            </div>
          </div>
          <!-- Count 2& -->
          <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
            <div class="w3-card">
              <header class="w3-container w3-center w3-amber w3-text-white">
                <h6>Count &</h6>
              </header>
              <img src="../img/Count/LaunchBack/LaunchBack4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LaunchBack2a').style.display='block'"/>
            </div>
          </div>
          <!-- Count 3 -->
          <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
            <div class="w3-card">
              <header class="w3-container w3-center w3-red">
                <h6>Count 3</h6>
              </header>
              <img src="../img/Count/LaunchBack/LaunchBack5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LaunchBack3').style.display='block'"/>
            </div>
          </div>
          <!-- Count 3& -->
          <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
            <div class="w3-card">
              <header class="w3-container w3-center w3-amber w3-text-white">
                <h6>Count &</h6>
              </header>
              <img src="../img/Count/LaunchBack/LaunchBack6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LaunchBack3a').style.display='block'"/>
            </div>
          </div>
        </div>
        <!-- Walkthrough -->
        <div class="w3-container w3-margin-top">
          <div class="w3-card">
          <header class="w3-container w3-center w3-green">
            <h5>WALKTHROUGH</h5>
          </header>
            <div>
              <ul class="w3-ul">
                <li>
                  <span class="w3-tag w3-small w3-green">1</span>
                </li>
                <li>
                  <span class="w3-tag w3-small w3-green">2</span>
                </li>
                <li>
                  <span class="w3-tag w3-small w3-green">3</span>
                </li>
                <li>
                  <span class="w3-tag w3-small w3-green">4</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- ++++++++++++++++ Hit Them Folks ++++++++++++++++ -->
      <button onclick="openAccordion('HHHitThemFolks')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
        Hit Them Folks
      </button>
      <div id="HHHitThemFolks" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
        <div class="w3-row-padding">
          <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
            <div class="w3-card">
              <img src="https://media.giphy.com/media/aM1wRrvOETPmAACQ4C/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('HHHitThemFolksMoveModal').style.display='block'"/>
              <footer class="w3-container w3-green w3-center">
                <h5>THE MOVE</h5>
              </footer>
            </div>
          </div>
          <div class="w3-col w3-hover-grayscale w3-center m12 l6">
            <div class="w3-card">
              <img src="https://media.giphy.com/media/YUkSBscyDGjD6LpBmj/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('HHHitThemFolksCountModal').style.display='block'"/>
              <footer class="w3-container w3-green w3-center">
                <h5>THE COUNT</h5>
              </footer>
            </div>
          </div>
        </div>
        <!-- Text Details -->
        <div class="w3-row-padding">
          <!-- 2nd Half -->
          <div class="w3-container w3-half">
            <h5>TIPS</h5>
            <button onclick="openAccordion('HHHitThemFolksPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Hand Reverse Hack</button>
            <div id="HHHitThemFolksPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
              <p>
                To get down the motion of the hand reverse/crossover, we can take page out of the stretches swimmers perform before a relay. Without moving your feet or torso, swing your arms as far back behind your body (as if to stretch your chest) then swing them in and across your body, one over the other. Then switch. Knowing that motion, you simply alter it to look like HTF by bringing the upper arm (which changes each time alternation) more downward and criss-cross over the lower arm.
              </p>
            </div>
            <button onclick="openAccordion('HHHitThemFolksPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Alternate Crossovers</button>
            <div id="HHHitThemFolksPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
              <p>
                The form of the crossover is very up to interpretation. Instead of bringing your arms fully across your body, you can also simply cross over your arms with them extended in front of you. Perfecting that motion is perhaps the easiest way to begin perfecting the cross-over, and you can slowly evolve it to more intricate forms.
              </p>
            </div>
          </div>
          <!-- 1st Half -->
          <div class="w3-container w3-half">
          </div>
        </div>
        <!-- Count 1 -->
        <div class="w3-row-padding w3-panel">
          <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
            <div class="w3-card">
              <header class="w3-container w3-center w3-red">
                <h6>Count 1</h6>
              </header>
              <img src="../img/Count/HHHitThemFolks/HHHitThemFolks1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('HHHitThemFolks1').style.display='block'"/>
            </div>
          </div>
          <!-- Count 1& -->
          <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
            <div class="w3-card">
              <header class="w3-container w3-center w3-amber w3-text-white">
                <h6>Count &</h6>
              </header>
              <img src="../img/Count/HHHitThemFolks/HHHitThemFolks2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('HHHitThemFolks1a').style.display='block'"/>
            </div>
          </div>
          <!-- Count 2 -->
          <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
            <div class="w3-card">
              <header class="w3-container w3-center w3-blue">
                <h6>Count 2</h6>
              </header>
              <img src="../img/Count/HHHitThemFolks/HHHitThemFolks3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('HHHitThemFolks2').style.display='block'"/>
            </div>
          </div>
          <!-- Count 2& -->
          <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
            <div class="w3-card">
              <header class="w3-container w3-center w3-amber w3-text-white">
                <h6>Count &</h6>
              </header>
              <img src="../img/Count/HHHitThemFolks/HHHitThemFolks4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('HHHitThemFolks2a').style.display='block'"/>
            </div>
          </div>
          <!-- Count 3 -->
          <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
            <div class="w3-card">
              <header class="w3-container w3-center w3-red">
                <h6>Count 3</h6>
              </header>
              <img src="../img/Count/HHHitThemFolks/HHHitThemFolks5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('HHHitThemFolks3').style.display='block'"/>
            </div>
          </div>
          <!-- Count 3& -->
          <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
            <div class="w3-card">
              <header class="w3-container w3-center w3-amber w3-text-white">
                <h6>Count &</h6>
              </header>
              <img src="../img/Count/HHHitThemFolks/HHHitThemFolks6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('HHHitThemFolks3a').style.display='block'"/>
            </div>
          </div>
        </div>
        <!-- Walkthrough -->
        <div class="w3-container w3-margin-top">
          <div class="w3-card">
          <header class="w3-container w3-center w3-green">
            <h5>WALKTHROUGH</h5>
          </header>
            <div>
              <ul class="w3-ul">
                <li>
                  <span class="w3-tag w3-small w3-green">1</span> Stand with feet shoulder-width apart
                </li>
                <li>
                  <span class="w3-tag w3-small w3-green">2</span> Put both arms out in front of you in fists, and cross your left arm over your right arm
                </li>
                <li>
                  <span class="w3-tag w3-small w3-green">3</span> Reverse and cross your right arm over your left arm (imagine you are doing a reversed wolverine stance, as in palms facing down towards ground)
                </li>
                <li>
                  <span class="w3-tag w3-small w3-green">4</span> From the second cross, bring both arms out to their respective sides, while very slightly rotating shoulders counterclockwise and bringing left foot up off the ground
                </li>
                <li>
                  <span class="w3-tag w3-small w3-green">5</span> With arms out at your sides in a flexing stance (like rosie the riveter but with both arms), freeze in this flexing pose for a brief moment before leaving the stance
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- ++++++++++++++++ Moonshuffle ++++++++++++++++ -->
      <button onclick="openAccordion('Moonshuffle')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
        Moonshuffle
      </button>
      <div id="Moonshuffle" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
        <div class="w3-row-padding">
          <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
            <div class="w3-card">
              <img src="https://media.giphy.com/media/tJMOZXiPL9Yf3m3I8n/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('MoonshuffleMoveModal').style.display='block'"/>
              <footer class="w3-container w3-green w3-center">
                <h5>THE MOVE</h5>
              </footer>
            </div>
          </div>
          <div class="w3-col w3-hover-grayscale w3-center m12 l6">
            <div class="w3-card">
              <img src="https://media.giphy.com/media/xThtaqnIZiPMpfuihW/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('MoonshuffleCountModal').style.display='block'"/>
              <footer class="w3-container w3-green w3-center">
                <h5>THE COUNT</h5>
              </footer>
            </div>
          </div>
        </div>
        <!-- Text Details -->
        <div class="w3-row-padding">
          <!-- 2nd Half -->
          <div class="w3-container w3-half">
            <h5>TIPS</h5>
            <button onclick="openAccordion('MoonshufflePit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Evolve from Running Man</button>
            <div id="MoonshufflePit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
              <p>
                You don't necessarily have to learn a completely new move here if you know the running man. Slowly transform your running man into the moonshuffle (according to the walkthrough) and you'll have the move down pat in literally no time. Start by slowly raising your rear foot lower and lower as it comes forward to the front of your stride. Eventually you should start dragging it on its toes to the front of the stance. Once you are at that point, put enough weight on your toe stand foot that when you try to drag it forward, you end up pulling your plant foot backwards instead. Voila!
              </p>
            </div>
            <button onclick="openAccordion('MoonshufflePit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Graceful Glides</button>
            <div id="MoonshufflePit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
              <p>
                As you slide back your flat foot, bring it back to the point where your plant (toe standing) foot would be intersecting halfway (see count pictures) each time. Slide too far back each time, and you may be having to exert too much bounce to move that far, and will likely have too much variation in the slides and your moonshuffle may look sloppy. Less is always more - you want to create the impression that you are gliding backwards.
              </p>
            </div>
            <button onclick="openAccordion('MoonshufflePit3')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Max Slide, Min Bounce</button>
            <div id="MoonshufflePit3" class="w3-border w3-border-deep-purple w3-container w3-hide">
              <p>
                The key to looking clean is to keep your movements choppy, but not bouncy. You want to appear to be gliding backwards, not bouncing up and down.
              </p>
            </div>
            <button onclick="openAccordion('MoonshufflePit4')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Fluid vs. Rigid</button>
            <div id="MoonshufflePit4" class="w3-border w3-border-deep-purple w3-container w3-hide">
              <p>
                Find the right balance between being rigid in your movements and being fluid in your slides. Trying to slide back too far or jerking with each motion will make you appear floppy and sloppy. If you're too rigid though, it won't look like you're really doing the move unless you squint. Find the right balance, and find the right amount of distance you should traverse with each slide so that each slide back is the same distance and not variable.
              </p>
            </div>
          </div>
          <!-- 1st Half -->
          <div class="w3-container w3-half">
            <h5>PREREQUISITES</h5>
            <ul>
              <li>
                Running Man
              </li>
            </ul>
          </div>
        </div>
        <!-- Count 1 -->
        <div class="w3-row-padding w3-panel">
          <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
            <div class="w3-card">
              <header class="w3-container w3-center w3-red">
                <h6>Count 1</h6>
              </header>
              <img src="../img/Count/Moonshuffle/Moonshuffle1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Moonshuffle1').style.display='block'"/>
            </div>
          </div>
          <!-- Count 1& -->
          <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
            <div class="w3-card">
              <header class="w3-container w3-center w3-amber w3-text-white">
                <h6>Count &</h6>
              </header>
              <img src="../img/Count/Moonshuffle/Moonshuffle2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Moonshuffle1a').style.display='block'"/>
            </div>
          </div>
          <!-- Count 2 -->
          <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
            <div class="w3-card">
              <header class="w3-container w3-center w3-blue">
                <h6>Count 2</h6>
              </header>
              <img src="../img/Count/Moonshuffle/Moonshuffle3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Moonshuffle2').style.display='block'"/>
            </div>
          </div>
          <!-- Count 2& -->
          <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
            <div class="w3-card">
              <header class="w3-container w3-center w3-amber w3-text-white">
                <h6>Count &</h6>
              </header>
              <img src="../img/Count/Moonshuffle/Moonshuffle4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Moonshuffle2a').style.display='block'"/>
            </div>
          </div>
          <!-- Count 3 -->
          <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
            <div class="w3-card">
              <header class="w3-container w3-center w3-red">
                <h6>Count 3</h6>
              </header>
              <img src="../img/Count/Moonshuffle/Moonshuffle5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Moonshuffle3').style.display='block'"/>
            </div>
          </div>
          <!-- Count 3& -->
          <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
            <div class="w3-card">
              <header class="w3-container w3-center w3-amber w3-text-white">
                <h6>Count &</h6>
              </header>
              <img src="../img/Count/Moonshuffle/Moonshuffle6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Moonshuffle3a').style.display='block'"/>
            </div>
          </div>
          <!-- Count 4 -->
          <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
            <div class="w3-card">
              <header class="w3-container w3-center w3-blue">
                <h6>Count 4</h6>
              </header>
              <img src="../img/Count/Moonshuffle/Moonshuffle7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Moonshuffle4').style.display='block'"/>
            </div>
          </div>
          <!-- Count 4& -->
          <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
            <div class="w3-card">
              <header class="w3-container w3-center w3-amber w3-text-white">
                <h6>Count &</h6>
              </header>
              <img src="../img/Count/Moonshuffle/Moonshuffle8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('Moonshuffle4a').style.display='block'"/>
            </div>
          </div>
        </div>
        <!-- Walkthrough -->
        <div class="w3-container w3-margin-top">
          <div class="w3-card">
          <header class="w3-container w3-center w3-green">
            <h5>WALKTHROUGH</h5>
          </header>
            <div>
              <ul class="w3-ul">
                <li>
                  <span class="w3-tag w3-small w3-green">1</span> Start with left foot flat, right foot on toes right at your left heel
                </li>
                <li>
                  <span class="w3-tag w3-small w3-green">2</span> Slide/jostle left foot backwards until left toes are past your right toes
                </li>
                <li>
                  <span class="w3-tag w3-small w3-green">3</span> Drop down right foot flat, while raising left foot up onto toes
                </li>
                <li>
                  <span class="w3-tag w3-small w3-green">4</span> Stance is now mirroed to starting position, keep repeating
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- ++++++++++++++++ LoopDeLoop ++++++++++++++++ -->
      <!-- ++++++++++++++++ Loop De Loop ++++++++++++++++ -->
      <button onclick="openAccordion('LoopDeLoop')" class="w3-hover-opacity w3-hover-red w3-left-align w3-button w3-bar w3-xlarge w3-block">
        LoopDeLoop
      </button>
      <div id="LoopDeLoop" class="w3-hide w3-container w3-margin-top w3-margin-bottom">
        <div class="w3-row-padding">
          <div class="w3-col w3-hover-grayscale w3-margin-bottom m12 l6">
            <div class="w3-card">
              <img src="https://media.giphy.com/media/Y08EqnDMA4k5WMRBnU/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('LoopDeLoopMoveModal').style.display='block'"/>
              <footer class="w3-container w3-green w3-center">
                <h5>THE MOVE</h5>
              </footer>
            </div>
          </div>
          <div class="w3-col w3-hover-grayscale w3-center m12 l6">
            <div class="w3-card">
              <img src="https://media.giphy.com/media/xUOwG1L3uTMp07IfXG/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('LoopDeLoopCountModal').style.display='block'"/>
              <footer class="w3-container w3-green w3-center">
                <h5>THE COUNT</h5>
              </footer>
            </div>
          </div>
        </div>
        <!-- Text Details -->
        <div class="w3-row-padding">
          <!-- 2nd Half -->
          <div class="w3-container w3-half">
            <h5><i class="fa fa-life-ring"></i> TIPS</h5>
            <button onclick="openAccordion('LoopDeLoopPit1')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Figure 8</button>
            <div id="LoopDeLoopPit1" class="w3-border w3-border-deep-purple w3-container w3-hide">
              <p>
                Take note of how your kick leg is making a sideways figure 8 (when viewed from your side), with your plant foot intersecting the middle.
              </p>
            </div>
            <button onclick="openAccordion('LoopDeLoopPit2')" class="w3-block w3-button w3-hover-deep-purple w3-hover-opacity w3-left-align ">Center of Gravity</button>
            <div id="LoopDeLoopPit2" class="w3-border w3-border-deep-purple w3-container w3-hide">
              <p>
                As your right leg kicks in a figure 8 motion, your left leg will want to slide back and forth to balance out your stance. Your legs will always be moving in the inverse direction of the other; i.e., as your right (kick) foot is moving outward in either direction, your left (plant) foot will move outwards in the opposite direction. As your kick leg moves inwards from either front or rear, your plant leg will slide inwards from the opposite. Getting these slides of your plant foot takes practice and lots of patience.
              </p>
            </div>
          </div>
          <!-- 1st Half -->
          <div class="w3-container w3-half">
            <h5><i class="fa fa-cubes"></i> PREREQUISITES</h5>
            <ul>
              <li>
                Stutter, Rear
              </li>
              <li>
                Stutter, Front
              </li>
            </ul>
          </div>
        </div>
        <!-- Count 1 -->
        <div class="w3-row-padding w3-panel">
          <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
            <div class="w3-card">
              <header class="w3-container w3-center w3-red">
                <h6>Count 1</h6>
              </header>
              <img src="../img/Count/LoopDeLoop/LoopDeLoop1.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LoopDeLoop1').style.display='block'"/>
            </div>
          </div>
          <!-- Count 1& -->
          <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
            <div class="w3-card">
              <header class="w3-container w3-center w3-amber w3-text-white">
                <h6>Count &</h6>
              </header>
              <img src="../img/Count/LoopDeLoop/LoopDeLoop2.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LoopDeLoop1a').style.display='block'"/>
            </div>
          </div>
          <!-- Count 2 -->
          <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
            <div class="w3-card">
              <header class="w3-container w3-center w3-blue">
                <h6>Count 2</h6>
              </header>
              <img src="../img/Count/LoopDeLoop/LoopDeLoop3.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LoopDeLoop2').style.display='block'"/>
            </div>
          </div>
          <!-- Count 2& -->
          <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
            <div class="w3-card">
              <header class="w3-container w3-center w3-amber w3-text-white">
                <h6>Count &</h6>
              </header>
              <img src="../img/Count/LoopDeLoop/LoopDeLoop4.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LoopDeLoop2a').style.display='block'"/>
            </div>
          </div>
          <!-- Count 3 -->
          <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
            <div class="w3-card">
              <header class="w3-container w3-center w3-red">
                <h6>Count 3</h6>
              </header>
              <img src="../img/Count/LoopDeLoop/LoopDeLoop5.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LoopDeLoop3').style.display='block'"/>
            </div>
          </div>
          <!-- Count 3& -->
          <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
            <div class="w3-card">
              <header class="w3-container w3-center w3-amber w3-text-white">
                <h6>Count &</h6>
              </header>
              <img src="../img/Count/LoopDeLoop/LoopDeLoop6.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LoopDeLoop3a').style.display='block'"/>
            </div>
          </div>
          <!-- Count 4 -->
          <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
            <div class="w3-card">
              <header class="w3-container w3-center w3-blue">
                <h6>Count 4</h6>
              </header>
              <img src="../img/Count/LoopDeLoop/LoopDeLoop7.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LoopDeLoop4').style.display='block'"/>
            </div>
          </div>
          <!-- Count 4& -->
          <div class="w3-col w3-hover-grayscale w3-margin-bottom s6 m4 l3">
            <div class="w3-card">
              <header class="w3-container w3-center w3-amber w3-text-white">
                <h6>Count &</h6>
              </header>
              <img src="../img/Count/LoopDeLoop/LoopDeLoop8.png" style="width:100%; cursor:pointer" onclick="document.getElementById('LoopDeLoop4a').style.display='block'"/>
            </div>
          </div>
        </div>
        <!-- Walkthrough -->
        <div class="w3-container w3-margin-top">
          <div class="w3-card">
          <header class="w3-container w3-center w3-green">
            <h5>WALKTHROUGH</h5>
          </header>
            <div>
              <ul class="w3-ul">
                <li>
                  <span class="w3-tag w3-small w3-green">1</span> Start with left foot in front / flat of stance and right foot behind / on toes
                </li>
                <li>
                  <span class="w3-tag w3-small w3-green">2</span> Bring left foot back to middle of stance, flat, right foot up forward tucked next to shin
                </li>
                <li>
                  <span class="w3-tag w3-small w3-green">3</span> Push left foot forwards to front of stance, and fall backwards landing right foot flat at back
                </li>
                <li>
                  <span class="w3-tag w3-small w3-green">4</span> Bring left foot back again to middle of stance and right foot up next to shin
                </li>
                <li>
                  <span class="w3-tag w3-small w3-green">5</span> Kick right foot backwards, brushing the ground slightly and continuing up right foot in a upwards circular motion, while left foot moves forward slightly (opposite direction of kick)
                </li>
                <li>
                  <span class="w3-tag w3-small w3-green">6</span> As right foot comes up from brushing ground, bring to top center of stance, while left foot comes to center of stance as well
                </li>
                <li>
                  <span class="w3-tag w3-small w3-green">7</span> Kick right foot downward/forwards, brushing ground while left foot moves backwards slightly for balance
                </li>
                <li>
                  <span class="w3-tag w3-small w3-green">8</span> As right foot comes up from brush and back to center of stance in circular motion, left foot comes back to center of stance
                </li>
                <li>
                  <span class="w3-tag w3-small w3-green">8</span> Repeat kicks as you please
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- full almanac button -->
      <div class="w3-row-padding w3-margin-top">
        <div class="w3-third">
          <a href="/shufflealmanac" class="w3-margin-bottom w3-center w3-red w3-hover-opacity w3-hover-red w3-left-align w3-button w3-bar w3-xlarge w3-block"><i class="fa fa-heartbeat"></i> SHUFFLE ALMANAC</a>
        </div>
        <div class="w3-third">
          <a href="/shapesalmanac" class="w3-margin-bottom w3-center w3-amber w3-text-white w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block"><i class="fa fa-cut"></i> SHAPES ALMANAC</a>
        </div>
        <div class="w3-third">
          <a href="/hiphopalmanac" class="w3-center w3-green w3-hover-opacity w3-hover-green w3-left-align w3-button w3-bar w3-xlarge w3-block"><i class="fa fa-bomb"></i> HIPHOP ALMANAC</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- SECTION X: COLLAGE -->
<div class="w3-container w3-padding-32 w3-row-padding w3-light-grey">
  <!-- For large/medium -->
  <div class="w3-content" style="width: 100%">
    <div class="w3-container w3-center">
      <h1 class="w3-center">COLLAGE VIEW</h1>
      <p>
        See all available moves in one single page with the collage! Find a move you want to learn and then go to the correspoding almanac (represented by color bar)
      </p>
      <hr />
    </div>
    <div class="w3-row-padding">
      <div class="w3-col s6 l3 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-amber" src="https://media.giphy.com/media/300ZuyC7pAD6lvJYdj/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CCMoveModal').style.display='block'"/>
      </div>
      <div class="w3-col s6 l3 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-amber" src="https://media.giphy.com/media/bbSwRLYyG5UPxnzovu/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('TwisterMoveModal').style.display='block'"/>
      </div>
      <div class="w3-col s6 l3 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-amber" src="https://media.giphy.com/media/7FgZM5MxthZuxbpD0q/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SweepMoveModal').style.display='block'"/>
      </div>
      <div class="w3-col s6 l3 w3-margin-bottom w3-hover-opacity">
        <img class="w3-bottombar w3-border-red" src="https://media.giphy.com/media/tJMOZXiPL9Yf3m3I8n/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('MoonshuffleMoveModal').style.display='block'"/>
      </div>
    </div>
    <div class="w3-row-padding w3-margin-top">
      <div class="w3-center">
        <a href="/collage" class="w3-margin-bottom w3-center w3-amber w3-text-white w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block"><i class="fa fa-cubes"></i> FULL COLLAGE</a>
      </div>
    </div>
  </div>
</div>

<!-- SECTION X: MOVE MINI LESSONS -->
<div class="w3-container w3-padding-32">
  <div class="w3-content">
    <div class="w3-container w3-center">
      <h1 class="w3-center">60 SECOND LESSONS</h1>
      <p>
        Only the information you need - no embellishment - to get moving on your feet immediately. Learn a variety of moves with 60 Second Lessons posted twice weekly on instagram!
      </p>
      <hr />
    </div>
    <div class="w3-panel w3-left-align w3-yellow w3-display-container">
      <span onclick="this.parentElement.style.display='none'" class="w3-button w3-xlarge w3-yellow w3-large w3-display-topright">&times;</span>
      <p>Coming Soon!!</p>
    </div>
  </div>
</div>

<!-- SECTION X: COMBO QUICK LEARNS -->
<div class="w3-container w3-padding-32 w3-light-grey">
  <div class="w3-content">
    <div class="w3-container w3-center">
      <h1 class="w3-center">5 MINUTE COMBOS</h1>
      <p>
        Detailed yet spartan 5 minute videos that'll teach you a chain of moves to fast track your way to dance mastery, posted weekly on YouTube!
      </p>
      <hr />
    </div>
    <div class="w3-panel w3-left-align w3-yellow w3-display-container">
      <span onclick="this.parentElement.style.display='none'" class="w3-button w3-xlarge w3-yellow w3-large w3-display-topright">&times;</span>
      <p>Coming Soon!!</p>
    </div>
  </div>
</div>

<!-- SECTION 2: RUDIMENTS -->
<div class="w3-container w3-padding-32 w3-row-padding">
  <!-- For large/medium -->
  <div class="w3-content" style="width: 100%">
    <h1 class="w3-center">THE RUDIMENTS</h1>
    <p class="w3-center">
      The vital tidbits of information you need to know to get moving on your feet asap.
    </p>
    <hr />
    <!-- Beats in a Bar -->
    <blockquote class="w3-container w3-leftbar w3-border-green w3-leftbar">
      <span class="w3-xlarge">
        "4 <strong>BEATS</strong> in a <strong>BAR</strong>"
      </span>
      <p>Music is a timeline divided into <strong>"bars,"</strong> which're divided evenly into 4 <strong>"beats"</strong> (in house music); this is called <span class="w3-tag w3-green">"4 on the Floor"</span></p>
    </blockquote>
    <blockquote class="w3-container w3-leftbar w3-border-yellow w3-leftbar">
      <div class="w3-bar w3-large">
        <img src="../img/Kick.png" style="width: 70px" class="w3-border w3-border-red" />
        <img src="../img/Hihat.png" style="width: 70px" class="w3-border w3-border-yellow" />
        <img src="../img/Clap.png" style="width: 70px" class="w3-border w3-border-blue" />
        <img src="../img/Hihat.png" style="width: 70px" class="w3-border w3-border-yellow" />
      </div>
      <p><span class="w3-tag w3-red">kick("thud")</span> <span class="w3-tag w3-amber w3-text-white">hihat("tssk")</span> <span class="w3-tag w3-blue">clap("thrash")</span> <span class="w3-tag w3-amber w3-text-white">hihat("tssk")</span>... listen for this drum pattern to count out four on the floor.  Kicks & Claps fall on beats, Hihats fall in b/w beats.</p>
    </blockquote>
    <blockquote class="w3-container w3-leftbar w3-border-blue w3-leftbar">
      <span class="w3-tag w3-xlarge w3-red">1 </span>
      <span class="w3-tag w3-xlarge w3-amber w3-text-white">& </span>
      <span class="w3-tag w3-xlarge w3-blue">2 </span>
      <span class="w3-tag w3-xlarge w3-amber w3-text-white">& </span>
      <span class="w3-tag w3-xlarge w3-red">3 </span>
      <span class="w3-tag w3-xlarge w3-amber w3-text-white">& </span>
      <span class="w3-tag w3-xlarge w3-blue">4 </span>
      <span class="w3-tag w3-xlarge w3-amber w3-text-white">& </span>
      <p>Count these out as above, with numbers denoting beats and ampersands denoting half-beats(the hihats). Play the sample drum loop to hear 4 on the Floor</p>
      <iframe width="100%" height="140" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/401839872%3Fsecret_token%3Ds-c4Tno&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe>
    </blockquote>
    <div class="w3-container">
      <div class="w3-pale-red">
        <div class="w3-container">
          <p>
            If you must skip the Rudiments section (which I beseech you not to, as it's a 10 min investment for a foundation to save you headache down the line), remember these 3 tidbits of information.
          </p>
        </div>
      </div>
    </div>
    <div class="w3-panel">
      <a href="/rudiments" class="w3-center w3-amber w3-text-white w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">RUDIMENTS</a>
    </div>
  </div>
</div>

<!-- SECTION 3: SELLER -->
<!-- <div class="w3-container w3-padding-32">
  <div class="w3-content" style="width: 100%">
    <h1 class="w3-center">LEARN WHAT YOU WANT, WHEN YOU WANT</h1>
    <hr />
    <p style="margin-bottom: 30px">
      Cut out the tedium involved in learning how to shuffle. With this comprehensive, exhaustive almanac/guide, you can cut to the chase in learning how to shuffle by choosing what you want to learn, when you want to learn it. Get on your feet asap!
    </p>
    <div class="w3-row-padding">
      <div class="w3-col w3-margin-bottom m6">
        <div class="w3-card">
          <header class="w3-bar w3-blue">
            <i class="w3-bar-item w3-xxlarge fa fa-trash"></i>
            <span class="w3-bar-item w3-xlarge">Mediums Matter</span>
          </header>
          <div class="w3-container">
            <p>
               Quality of medium & instructor define how well/quickly you learn. The Almanac format breaks down specifically what you need to know for each specific move and get you practicing the correct techniques the fastest.
            </p>
          </div>
        </div>
      </div>
      <div class="w3-col w3-margin-bottom m6">
        <div class="w3-card">
          <header class="w3-bar w3-green">
            <i class="w3-bar-item w3-xxlarge fa fa-hourglass"></i>
            <span class="w3-bar-item w3-xlarge">Paradox of Choice</span>
          </header>
          <div class="w3-container">
            <p>
               Don't waste time learning from subpar resources that leave you to fill in the gaps. ShuffleAlmanac's comprehensive methodology will give you the highest return on your time and provides you everything you need to know.
            </p>
          </div>
        </div>
      </div>
      <div class="w3-col w3-margin-bottom m6">
        <div class="w3-card">
          <header class="w3-bar w3-amber w3-text-white">
            <i class="w3-bar-item w3-xxlarge fa fa-book"></i>
            <span class="w3-bar-item w3-xlarge">Knowledge is Power</span>
          </header>
          <div class="w3-container">
            <p>
               There's no point in figuring out thru trial and error yourself what others have already found out for you. ShuffleAlmanac breaks down everything there is to know about shapes so that you can sooner start inventing new moves yourself.
            </p>
          </div>
        </div>
      </div>
      <div class="w3-col w3-margin-bottom m6">
        <div class="w3-card">
          <header class="w3-bar w3-red">
            <i class="w3-bar-item w3-xxlarge fa fa-star"></i>
            <span class="w3-bar-item w3-xlarge">Anyone Can Learn</span>
          </header>
          <div class="w3-container">
            <p>
               I'm here to set the record straight and say that everyone experiences that initial awkwardness when learning. I felt very awkward and unwieldy myself each step of the way. But that truly does give way to fluency sooner than you'd think.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- SECTION 4: WHY LEARN -->
<!--
<div class="w3-container w3-padding-32">
  <div class="w3-content">
    <h1 class="w3-center">WHY LEARN?</h1>
    <hr />
    <div class="w3-hide-small">
      <div class="w3-cell-row">
        <div class="w3-cell w3-container w3-black w3-border-right w3-button w3-large w3-padding-large tablink" onclick="openBen(event, 'Exercise')">Yo Heart Rate</div>
        <div class="w3-cell w3-container w3-green w3-border-right w3-button w3-large w3-padding-large tablink" onclick="openBen(event, 'Life')">Feelin Content</div>
        <div class="w3-cell w3-container w3-green w3-border-right w3-button w3-large w3-padding-large tablink" onclick="openBen(event, 'Mood')">Boost Ya Mood</div>
        <div class="w3-cell w3-container w3-green w3-button w3-large w3-padding-large tablink" onclick="openBen(event, 'Dope')">Looks Dopee</div>
      </div>
      <div id="Exercise" class="w3-container w3-margin-top ben">
        <h2>Exercise You Don't Dread</h2>
        <p>
          When you hit the treadmill or stairmaster, you just stay there waiting for the workout to pass, with nothing to concentrate on except the passing of time. When you shuffle tho, time ceases to exist and you get in some great cardio without even noticing.
        </p>
      </div>
      <div id="Life" class="w3-container w3-margin-top ben" style="display: none">
        <h2>Life Satisfaction</h2>
        <p>
          With each roadblocks you break thru and milestone you hit, you will feel a sense of accomplishment and personal satisfaction with your ability looking back. Overcoming one barrier will make you more confident in overcoming others, in shuffling or any other domain.
        </p>
      </div>
      <div id="Mood" class="w3-container w3-margin-top ben" style="display: none">
        <h2>Mood Improvement</h2>
        <p>
          Exercise, dancing, and music together release chemicals in your brain that literally make you feel happy. Not just your mood, but others' who watch you as well: because of humans affinity for rhythm and order, watching dancing is delightful.
        </p>
      </div>
      <div id="Dope" class="w3-container w3-margin-top ben" style="display: none">
        <h2>Looks Dope</h2>
        <p>
          Kill your next festival, shoot a creative choreography, blow away your next wedding - dancing is dope. Dancing and music permeate the fabric of our society and characterize us as human - they form a currency of our culture, and are an integral form of art that we use to communicate the contents of our psyche.
        </p>
      </div>
    </div>

    <div class="w3-content w3-hide-medium w3-hide-large">
      <div class="w3-row-padding">
        <div class="w3-row-padding">
          <div class="w3-card w3-margin-top">
            <header class="w3-bar w3-deep-purple">
              <i class="w3-bar-item w3-xxlarge fa fa-heart"></i>
              <span class="w3-bar-item w3-xlarge">Ya Heart Rate</span>
            </header>
            <div class="w3-container">
              <p>
                When you hit the treadmill or stairmaster, you just stay there waiting for the workout to pass, with nothing to concentrate on except the passing of time. When you shuffle tho, time ceases to exist and you get in some great cardio without even noticing.
              </p>
            </div>
          </div>
          <div class="w3-card w3-margin-top">
            <header class="w3-bar w3-deep-purple">
              <i class="w3-bar-item w3-xxlarge fa fa-trophy"></i>
              <span class="w3-bar-item w3-xlarge">Feelin Content</span>
            </header>
            <div class="w3-container">
              <p>
                With each roadblocks you break thru and milestone you hit, you will feel a sense of accomplishment and personal satisfaction with your ability looking back. Overcoming one barrier will make you more confident in overcoming others, in shuffling or any other domain.
              </p>
            </div>
          </div>
          <div class="w3-card w3-margin-top">
            <header class="w3-bar w3-deep-purple">
              <i class="w3-bar-item w3-xxlarge fa fa-smile-o"></i>
              <span class="w3-bar-item w3-xlarge">Boost Ya Mood</span>
            </header>
            <div class="w3-container">
              <p>
                Exercise, dancing, and music together release chemicals in your brain that literally make you feel happy. Not just your mood, but others' who watch you as well: because of humans affinity for rhythm and order, watching dancing is delightful.
              </p>
            </div>
          </div>
          <div class="w3-card w3-margin-top">
            <header class="w3-bar w3-deep-purple">
              <i class="w3-bar-item w3-xxlarge fa fa-bomb"></i>
                <span class="w3-bar-item w3-xlarge">Looks Dopee</span>
            </header>
            <div class="w3-container">
              <p>
                Kill your next festival, shoot a creative choreography, blow away your next wedding - shuffling is dope. Dancing and music permeate the fabric of our society and characterize us as human - they form a currency of our culture, and are an integral form of art that we use to communicate the contents of our psyche.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->

<!-- SECTION 5: TIPS -->
<!-- TODO: In front of others -->
<div class="w3-container w3-padding-32 w3-light-grey">
  <div class="w3-content">
    <h1 class="w3-center">TIPS FOR LEARNING</h1>
    <hr />
    <div class="w3-row-padding w3-margin-top">
      <div class="w3-col w3-margin-bottom m6 l6">
        <div class="w3-card">
          <header class="w3-bar w3-pink">
              <i class="w3-bar-item w3-xlarge fa fa-hand-peace-o"></i>
              <span class="w3-bar-item w3-large">Partner Up</span>
          </header>
          <div class="w3-container">
            <p>
              Everything is better with a friend! It'll make you both feel less clumsy and keep you both more motivated to continue learning. Plus, making routines with a friend is dope.
            </p>
          </div>
        </div>
      </div>
      <div class="w3-col w3-margin-bottom m6 l6">
        <div class="w3-card">
          <header class="w3-bar w3-deep-purple">
              <i class="w3-bar-item w3-xlarge fa fa-cut"></i>
              <span class="w3-bar-item w3-large">Chunk It</span>
          </header>
          <div class="w3-container">
            <p>
              Practice counts in chunks & in reverse (e.g., 2&lt-&gt3, 1&lt-&gt3, 5-&gt8, etc.) This builds muscle memory more effectively, and helps immensely with being able to freestyle later on.
            </p>
          </div>
        </div>
      </div>
      <div class="w3-col w3-margin-bottom m6 l6">
        <div class="w3-card">
          <header class="w3-bar w3-red">
              <i class="w3-bar-item w3-xlarge fa fa-spinner"></i>
              <span class="w3-bar-item w3-large">Patience</span>
          </header>
          <div class="w3-container">
            <p>
              Improvement is incremental. Even if you feel like you're not improving, just sleep on it - the next time you practice you'll be surprised at how much you had actually improved.
            </p>
          </div>
        </div>
      </div>
      <div class="w3-col w3-margin-bottom m6 l6">
        <div class="w3-card">
          <header class="w3-bar w3-blue">
              <i class="w3-bar-item w3-xlarge fa fa-eye"></i>
              <span class="w3-bar-item w3-large">Anticipate</span>
          </header>
          <div class="w3-container">
            <p>
              Proactively read through the TIPS/FIXES so you can preemptively address potential mistakes and know how to identify them if you are committing one.
            </p>
          </div>
        </div>
      </div>
      <div class="w3-col w3-margin-bottom m6 l6">
        <div class="w3-card">
          <header class="w3-bar w3-amber w3-text-white">
              <i class="w3-bar-item w3-xlarge fa fa-step-forward"></i>
              <span class="w3-bar-item w3-large">Slow Is Smooth...</span>
          </header>
          <div class="w3-container">
            <p>
              Practicing the wrong technique by learning at a pace too far beyond your ability will screw you over. Practice each move initially at a slow pace, then gradually practice at higher speeds. Slow is smooth, smooth is fast.
            </p>
          </div>
        </div>
      </div>
      <div class="w3-col w3-margin-bottom m6 l6">
        <div class="w3-card">
          <header class="w3-bar w3-green">
              <i class="w3-bar-item w3-xlarge fa fa-bug"></i>
              <span class="w3-bar-item w3-large">Jack of All Trades...</span>
          </header>
          <div class="w3-container">
            <p>
              Focus on mastering a few moves at a time. It's better to have mastered a few moves than to have learned a bunch partially - moves learned halfway you might as well not know how to do at all.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- SECTION 7: ON THE WAY -->
<!-- <div class="w3-container w3-padding-32">
  <div class="w3-content">
    <h1 class="w3-margin-bottom w3-center">FEATURES ON THE WAY</h1>
    <hr />
    <div class="w3-row-padding">
      <div class="w3-col w3-margin-bottom w3-center m3 l3">
        <div class="w3-card">
          <header class="w3-container w3-pink">
            <h3>New/Expanded Almanacs!!</h3>
          </header>
          <span class="w3-xxxlarge w3-text-pink"><i class="fa fa-book"></i></span>
          <div class=" w3-left-align w3-container">
            <ul class="w3-ul">
              <li>Gloving Almanac</li>
              <li>Salsa Almanac</li>
              <li>More Shuffle Moves!</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="w3-col w3-margin-bottom w3-center m3 l3">
        <div class="w3-card">
          <header class="w3-container w3-green">
            <h3>Influencer Accounts</h3>
          </header>
          <span class="w3-xxxlarge w3-text-green"><i class="fa fa-diamond"></i></span>
          <div class="w3-container w3-left-align">
            <p>
              Upload your own tutorials and guides and showcase your own dance videos, styles, productions, and brand
            </p>
          </div>
        </div>
      </div>
      <div class="w3-col w3-margin-bottom w3-center m3 l3">
        <div class="w3-card">
          <header class="w3-container w3-blue">
            <h3>Inspiration Videos & Art</h3>
          </header>
          <span class="w3-xxxlarge w3-text-blue"><i class="fa fa-instagram"></i></span>
          <div class="w3-container w3-left-align">
            <p>
              View only the best, most creative triple-A shuffling productions for inspiration in moves, styles, producing, etc
            </p>
          </div>
        </div>
      </div>
      <div class="w3-col w3-margin-bottom w3-center m3 l3">
        <div class="w3-card">
          <header class="w3-container w3-amber w3-text-white">
            <h3>Progression Monitoring</h3>
          </header>
          <span class="w3-xxxlarge w3-text-amber"><i class="fa fa-graduation-cap"></i></span>
          <div class="w3-container w3-left-align">
            <p>
              Keep track of which moves you're learning and monitor your progress over time, and upload your own choreographies!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- MOVE MODALS -->
<div id="RMMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/1dI01pPzF5ystuJCHl/giphy.gif" style="width:100%">
  </div>
</div>
<div id="LaunchBackMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/MRXmySP4fEpSowInOy/giphy.gif" style="width:100%">
  </div>
</div>
<div id="HHHitThemFolksMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/c6Xuxh9waQcBHbUCrI/giphy.gif" style="width:100%">
  </div>
</div>
<div id="MoonshuffleMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/tJMOZXiPL9Yf3m3I8n/giphy.gif" style="width:100%">
  </div>
</div>
<div id="LoopDeLoopMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/Y08EqnDMA4k5WMRBnU/giphy.gif" style="width:100%">
  </div>
</div>

<div id="TwisterMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/bbSwRLYyG5UPxnzovu/giphy.gif" style="width:100%">
  </div>
</div>
<div id="CCMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/300ZuyC7pAD6lvJYdj/giphy.gif" style="width:100%">
  </div>
</div>
<div id="SweepMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/7FgZM5MxthZuxbpD0q/giphy.gif" style="width:100%">
  </div>
</div>

<!-- COUNT MODALS -->
<div id="MoonshuffleCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/xThtaqnIZiPMpfuihW/giphy.gif" style="width:100%">
  </div>
</div>
<div id="RMCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/LwFC5EI5aige9uT92T/giphy.gif" style="width:100%">
  </div>
</div>
<div id="LoopDeLoopCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/xUOwG1L3uTMp07IfXG/giphy.gif" style="width:100%">
  </div>
</div>
<div id="LaunchBackCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/jVFqgvGY4ENEyAfxEU/giphy.gif" style="width:100%">
  </div>
</div>
<div id="HHHitThemFolksCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/YUkSBscyDGjD6LpBmj/giphy.gif" style="width:100%">
  </div>
</div>
<!-- PIC MODALS -->
<div class="hitThemFolks">
  <!-- Modal Count 1 -->
  <div id="HHHitThemFolks1" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
      <img src="../img/Count/HHHitThemFolks/HHHitThemFolks1.png" style="width:100%">
    </div>
  </div>
  <!-- Modal Count 1& -->
  <div id="HHHitThemFolks1a" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
      <img src="../img/Count/HHHitThemFolks/HHHitThemFolks2.png" style="width:100%">
    </div>
  </div>
  <!-- Modal Count 2 -->
  <div id="HHHitThemFolks2" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
      <img src="../img/Count/HHHitThemFolks/HHHitThemFolks3.png" style="width:100%">
    </div>
  </div>
  <!-- Modal Count 2& -->
  <div id="HHHitThemFolks2a" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
      <img src="../img/Count/HHHitThemFolks/HHHitThemFolks4.png" style="width:100%">
    </div>
  </div>
  <!-- Modal Count 3 -->
  <div id="HHHitThemFolks3" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
      <img src="../img/Count/HHHitThemFolks/HHHitThemFolks5.png" style="width:100%">
    </div>
  </div>
  <!-- Modal Count 3& -->
  <div id="HHHitThemFolks3a" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
      <img src="../img/Count/HHHitThemFolks/HHHitThemFolks6.png" style="width:100%">
    </div>
  </div>
</div>
<div class="LaunchBack">
  <!-- Modal Count 1 -->
  <div id="LaunchBack1" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
      <img src="../img/Count/LaunchBack/LaunchBack1.png" style="width:100%">
    </div>
  </div>
  <!-- Modal Count 1& -->
  <div id="LaunchBack1a" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
      <img src="../img/Count/LaunchBack/LaunchBack2.png" style="width:100%">
    </div>
  </div>
  <!-- Modal Count 2 -->
  <div id="LaunchBack2" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
      <img src="../img/Count/LaunchBack/LaunchBack3.png" style="width:100%">
    </div>
  </div>
  <!-- Modal Count 2& -->
  <div id="LaunchBack2a" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
      <img src="../img/Count/LaunchBack/LaunchBack4.png" style="width:100%">
    </div>
  </div>
  <!-- Modal Count 3 -->
  <div id="LaunchBack3" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
      <img src="../img/Count/LaunchBack/LaunchBack5.png" style="width:100%">
    </div>
  </div>
  <!-- Modal Count 3& -->
  <div id="LaunchBack3a" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
      <img src="../img/Count/LaunchBack/LaunchBack6.png" style="width:100%">
    </div>
  </div>
  <!-- Modal Count 4 -->
  <div id="LaunchBack4" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
      <img src="../img/Count/LaunchBack/LaunchBack7.png" style="width:100%">
    </div>
  </div>
  <!-- Modal Count 4& -->
  <div id="LaunchBack4a" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
      <img src="../img/Count/LaunchBack/LaunchBack8.png" style="width:100%">
    </div>
  </div>
</div>
<div class="Moonshuffle">
  <div id="Moonshuffle1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Moonshuffle/Moonshuffle1.png" style="width:100%">
    </div>
  </div>
  <div id="Moonshuffle1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Moonshuffle/Moonshuffle2.png" style="width:100%">
    </div>
  </div>
  <div id="Moonshuffle2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Moonshuffle/Moonshuffle3.png" style="width:100%">
    </div>
  </div>
  <div id="Moonshuffle2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Moonshuffle/Moonshuffle4.png" style="width:100%">
    </div>
  </div>
  <div id="Moonshuffle3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Moonshuffle/Moonshuffle5.png" style="width:100%">
    </div>
  </div>
  <div id="Moonshuffle3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Moonshuffle/Moonshuffle6.png" style="width:100%">
    </div>
  </div>
  <div id="Moonshuffle4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Moonshuffle/Moonshuffle7.png" style="width:100%">
    </div>
  </div>
  <div id="Moonshuffle4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/Moonshuffle/Moonshuffle8.png" style="width:100%">
    </div>
  </div>
</div>
<div class="RearLoopDeLoop">
  <div id="LoopDeLoop1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/LoopDeLoop/LoopDeLoop1.png" style="width:100%">
    </div>
  </div>
  <div id="LoopDeLoop1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/LoopDeLoop/LoopDeLoop2.png" style="width:100%">
    </div>
  </div>
  <div id="LoopDeLoop2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/LoopDeLoop/LoopDeLoop3.png" style="width:100%">
    </div>
  </div>
  <div id="LoopDeLoop2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/LoopDeLoop/LoopDeLoop4.png" style="width:100%">
    </div>
  </div>
  <div id="LoopDeLoop3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/LoopDeLoop/LoopDeLoop5.png" style="width:100%">
    </div>
  </div>
  <div id="LoopDeLoop3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/LoopDeLoop/LoopDeLoop6.png" style="width:100%">
    </div>
  </div>
  <div id="LoopDeLoop4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <img src="../img/Count/LoopDeLoop/LoopDeLoop7.png" style="width:100%">
    </div>
  </div>
  <div id="LoopDeLoop4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/LoopDeLoop/LoopDeLoop8.png" style="width:100%">
    </div>
  </div>
</div>
<div class="RunningMans">
  <div id="RM1" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RunningMan/RunningMan1.png" style="width:100%">
    </div>
  </div>
  <div id="RM1a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RunningMan/RunningMan2.png" style="width:100%">
    </div>
  </div>
  <div id="RM2" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RunningMan/RunningMan3.png" style="width:100%">
    </div>
  </div>
  <div id="RM2a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RunningMan/RunningMan4.png" style="width:100%">
    </div>
  </div>
  <div id="RM3" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RunningMan/RunningMan5.png" style="width:100%">
    </div>
  </div>
  <div id="RM3a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RunningMan/RunningMan6.png" style="width:100%">
    </div>
  </div>
  <div id="RM4" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RunningMan/RunningMan7.png" style="width:100%">
    </div>
  </div>
  <div id="RM4a" class="w3-modal" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <img src="../img/Count/RunningMan/RunningMan8.png" style="width:100%">
    </div>
  </div>
</div>

<footer>
    <% include ../partials/footer %>
</footer>
