<!DOCTYPE html>
<html>
<head>
  <title>Rewind</title>
  <% include ../partials/head %>
</head>
</html>

<header>
  <% include ../partials/header %>
</header>

<div class="w3-content">
  <div class="w3-container w3-padding-32">
    <div class="w3-container w3-center">
      <h1>REWIND</h1>
      <hr />
      <p>
        No one starts out an expert at anything - aptitude and fluency in any domain are gained via trial and error, and slowly refining your abilities over time. You have to apply yourself and fail miserably over and over again in order to become better at anything. "The sooner you make your first 5000 mistakes, the sooner you will be able to correct them." Here's a look back at how my flow has refined over the past few months, so you can see that it's only a mirage when you feel like you can't learn to dance yourself. And do note, these only encompass about a 3 month period - it doesn't include (luckily) my earliest attempts at any of these moves.
      </p>
    </div>
    <div class="w3-section">
      <!-- Charleston -->
      <div class="w3-row-padding">
        <div class="w3-col l4 m4 s4 w3-margin-bottom">
          <img class="w3-bottombar w3-border-red" src="https://media.giphy.com/media/xUOwGgRzCvop8Y56ta/giphy.gif" style="width: 100%"/>
        </div>
        <div class="w3-col l4 m4 s4 w3-margin-bottom">
          <img class="w3-bottombar w3-border-amber" src="https://media.giphy.com/media/1dMKKFOazyIzShe6LB/giphy.gif" style="width: 100%"/>
        </div>
        <div class="w3-col l4 m4 s4 w3-margin-bottom">
          <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/pzdG9rwgKnScAl3Fss/giphy.gif" style="width: 100%"/>
        </div>
      </div>
      <!-- Chella -->
      <div class="w3-row-padding">
        <div class="w3-col l6 m6 s6 w3-margin-bottom">
          <img class="w3-bottombar w3-border-amber" src="https://media.giphy.com/media/xThtas1SeDXOOBk4ak/giphy.gif" style="width: 100%"/>
        </div>
        <div class="w3-col l6 m6 s6 w3-margin-bottom">
          <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/1esS53ES0QjRAkK0nJ/giphy.gif" style="width: 100%"/>
        </div>
      </div>
      <!-- Corkscrew -->
      <div class="w3-row-padding">
        <div class="w3-col l4 m4 s4 w3-margin-bottom">
          <img class="w3-bottombar w3-border-red" src="https://media.giphy.com/media/3ohs4uSYqPwP0H9Bdu/giphy.gif" style="width: 100%"/>
        </div>
        <div class="w3-col l4 m4 s4 w3-margin-bottom">
          <img class="w3-bottombar w3-border-amber" src="https://media.giphy.com/media/23hPVLp6HZlzHXZSiN/giphy.gif" style="width: 100%"/>
        </div>
        <div class="w3-col l4 m4 s4 w3-margin-bottom">
          <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/1Bh3kgmlz3ew8EYvwl/giphy.gif" style="width: 100%"/>
        </div>
      </div>
      <!-- Criss Cross -->
      <div class="w3-row-padding">
        <div class="w3-col l4 m4 s4 w3-margin-bottom">
          <img class="w3-bottombar w3-border-red" src="https://media.giphy.com/media/3ohs4eVr3m577LYiGs/giphy.gif" style="width: 100%"/>
        </div>
        <div class="w3-col l4 m4 s4 w3-margin-bottom">
          <img class="w3-bottombar w3-border-amber" src="https://media.giphy.com/media/26oulzrKYIagOsaZRV/giphy.gif" style="width: 100%"/>
        </div>
        <div class="w3-col l4 m4 s4 w3-margin-bottom">
          <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/300ZuyC7pAD6lvJYdj/giphy.gif" style="width: 100%"/>
        </div>
      </div>
      <!-- Cuts -->
      <div class="w3-row-padding">
        <div class="w3-col l4 m4 s4 w3-margin-bottom">
          <img class="w3-bottombar w3-border-red" src="https://media.giphy.com/media/xUOwG83Op1zOYymbkc/giphy.gif" style="width: 100%"/>
        </div>
        <div class="w3-col l4 m4 s4 w3-margin-bottom">
          <img class="w3-bottombar w3-border-amber" src="https://media.giphy.com/media/3XH14fFJA6sosJjlUz/giphy.gif" style="width: 100%"/>
        </div>
        <div class="w3-col l4 m4 s4 w3-margin-bottom">
          <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/fnmmm1PZSAdPJjCMdw/giphy.gif" style="width: 100%"/>
        </div>
      </div>
      <!-- Drop Downs -->
      <div class="w3-row-padding">
        <div class="w3-col l6 m6 s6 w3-margin-bottom">
          <img class="w3-bottombar w3-border-red" src="https://media.giphy.com/media/3o7WIxiWBfMt3jXfr2/giphy.gif" style="width: 100%"/>
        </div>
        <div class="w3-col l6 m6 s6 w3-margin-bottom">
          <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/QNTrvQtZvCsM81hYij/giphy.gif" style="width: 100%"/>
        </div>
      </div>
      <!-- In N Out -->
      <div class="w3-row-padding">
        <div class="w3-col l4 m4 s4 w3-margin-bottom">
          <img class="w3-bottombar w3-border-red" src="https://media.giphy.com/media/9zXABXgodEuq5bAnSo/giphy.gif" style="width: 100%"/>
        </div>
        <div class="w3-col l4 m4 s4 w3-margin-bottom">
          <img class="w3-bottombar w3-border-amber" src="https://media.giphy.com/media/456Y9cqdPytihb5djb/giphy.gif" style="width: 100%"/>
        </div>
        <div class="w3-col l4 m4 s4 w3-margin-bottom">
          <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/Zwudz4TosZRn6SLKGB/giphy.gif" style="width: 100%"/>
        </div>
      </div>
      <!-- Inside Spin -->
      <div class="w3-section">
        <div class="w3-row-padding">
          <div class="w3-col l6 m6 s6 w3-margin-bottom">
            <img class="w3-bottombar w3-border-red" src="https://media.giphy.com/media/9rjZBad30zBPd3SWqM/giphy.gif" style="width: 100%"/>
          </div>
          <div class="w3-col l6 m6 s6 w3-margin-bottom">
            <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/Xpth3VGJqaI2B7P02g/giphy.gif" style="width: 100%"/>
          </div>
        </div>
      </div>
      <!-- Outside Spin -->
      <div class="w3-section">
        <div class="w3-row-padding">
          <div class="w3-col l6 m6 s6 w3-margin-bottom">
            <img class="w3-bottombar w3-border-red" src="https://media.giphy.com/media/KY2ObV0tZz6IaTl5Fg/giphy.gif" style="width: 100%"/>
          </div>
          <div class="w3-col l6 m6 s6 w3-margin-bottom">
            <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/XIFmpNuPT2N9TfTzdM/giphy.gif" style="width: 100%"/>
          </div>
        </div>
      </div>
      <!-- Splashhouse -->
      <div class="w3-row-padding">
        <div class="w3-col l4 m4 s4 w3-margin-bottom">
          <img class="w3-bottombar w3-border-red" src="https://media.giphy.com/media/l4pT3xutHjVQDmUO4/giphy.gif" style="width: 100%"/>
        </div>
        <div class="w3-col l4 m4 s4 w3-margin-bottom">
          <img class="w3-bottombar w3-border-amber" src="https://media.giphy.com/media/fQGu0X4QigeBCHd8j5/giphy.gif" style="width: 100%"/>
        </div>
        <div class="w3-col l4 m4 s4 w3-margin-bottom">
          <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/tZB5uJ4m4jdf2KqQzv/giphy.gif" style="width: 100%"/>
        </div>
      </div>
      <!-- Rodeo -->
      <div class="w3-row-padding">
        <div class="w3-col l6 m6 s6 w3-margin-bottom">
          <img class="w3-bottombar w3-border-red" src="https://media.giphy.com/media/xUOwFS6heBIMFNwX8Q/giphy.gif" style="width: 100%"/>
        </div>
        <div class="w3-col l6 m6 s6 w3-margin-bottom">
          <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/4HeSl3jGc0RjWpExQU/giphy.gif" style="width: 100%"/>
        </div>
      </div>
      <!-- Roundabout -->
      <div class="w3-row-padding">
        <div class="w3-col l6 m6 s6 w3-margin-bottom">
          <img class="w3-bottombar w3-border-red" src="https://media.giphy.com/media/26DN2JSBAp2NrfGtW/giphy.gif" style="width: 100%"/>
        </div>
        <div class="w3-col l6 m6 s6 w3-margin-bottom">
          <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/1xP5cIN9Ufn2drqDj5/giphy.gif" style="width: 100%"/>
        </div>
      </div>
      <!-- Shimmy -->
      <div class="w3-row-padding">
        <div class="w3-col l6 m6 s6 w3-margin-bottom">
          <img class="w3-bottombar w3-border-red" src="https://media.giphy.com/media/l0NgQURu0xckmxeqA/giphy.gif" style="width: 100%"/>
        </div>
        <div class="w3-col l6 m6 s6 w3-margin-bottom">
          <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/5tf23PyEFAzU43bftN/giphy.gif" style="width: 100%"/>
        </div>
      </div>
      <!-- Shoot -->
      <div class="w3-section">
        <div class="w3-row-padding">
          <div class="w3-col l6 m6 s6 w3-margin-bottom">
            <img class="w3-bottombar w3-border-red" src="https://media.giphy.com/media/kKLpBfLfuF3j6fiCHD/giphy.gif" style="width: 100%"/>
          </div>
          <div class="w3-col l6 m6 s6 w3-margin-bottom">
            <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/37QNggk9Ww5XnBXuM8/giphy.gif" style="width: 100%"/>
          </div>
        </div>
      </div>
      <!-- Smooth Criminal -->
      <div class="w3-row-padding">
        <div class="w3-col l4 m4 s4 w3-margin-bottom">
          <img class="w3-bottombar w3-border-red" src="https://media.giphy.com/media/l1KcRlowidVO479yo/giphy.gif" style="width: 100%"/>
        </div>
        <div class="w3-col l4 m4 s4 w3-margin-bottom">
          <img class="w3-bottombar w3-border-amber" src="https://media.giphy.com/media/ki1F171Uw0IScw7H1q/giphy.gif" style="width: 100%"/>
        </div>
        <div class="w3-col l4 m4 s4 w3-margin-bottom">
          <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/9r8JSkmYk74n3EUAxZ/giphy.gif" style="width: 100%"/>
        </div>
      </div>
      <!-- Spin Kick -->
      <div class="w3-row-padding">
        <div class="w3-col l6 m6 s6 w3-margin-bottom">
          <img class="w3-bottombar w3-border-red" src="https://media.giphy.com/media/l4pT4MtUnAKA3F8Fa/giphy.gif" style="width: 100%"/>
        </div>
        <div class="w3-col l6 m6 s6 w3-margin-bottom">
          <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/t6wZ8V83IXhMLbP1md/giphy.gif" style="width: 100%"/>
        </div>
      </div>
      <!-- Slyce -->
      <div class="w3-row-padding">
        <div class="w3-col l6 m6 s6 w3-margin-bottom">
          <img class="w3-bottombar w3-border-red" src="https://media.giphy.com/media/3ohs4uRmAXomXjs0aA/giphy.gif" style="width: 100%"/>
        </div>
        <div class="w3-col l6 m6 s6 w3-margin-bottom">
          <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/406WpMJfFvMtWo88z9/giphy.gif" style="width: 100%"/>
        </div>
      </div>
      <!-- Stomper -->
      <div class="w3-row-padding">
        <div class="w3-col l4 m4 s4 w3-margin-bottom">
          <img class="w3-bottombar w3-border-red" src="https://media.giphy.com/media/3o7WIzL8FimiddtisE/giphy.gif" style="width: 100%"/>
        </div>
        <div class="w3-col l4 m4 s4 w3-margin-bottom">
          <img class="w3-bottombar w3-border-amber" src="https://media.giphy.com/media/1zJDYIv0rbNx2nfOWy/giphy.gif" style="width: 100%"/>
        </div>
        <div class="w3-col l4 m4 s4 w3-margin-bottom">
          <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/35Ki1oQswXnddHUjT5/giphy.gif" style="width: 100%"/>
        </div>
      </div>
      <!-- Stutter About Face -->
      <div class="w3-row-padding">
        <div class="w3-col l6 m6 s6 w3-margin-bottom">
          <img class="w3-bottombar w3-border-red" src="https://media.giphy.com/media/3o7WIsDjgoSqsFBiCs/giphy.gif" style="width: 100%"/>
        </div>
        <div class="w3-col l6 m6 s6 w3-margin-bottom">
          <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/RkJKmdawLAEZO3IZlO/giphy.gif" style="width: 100%"/>
        </div>
      </div>
      <!-- Swang -->
      <div class="w3-row-padding">
        <div class="w3-col l6 m6 s6 w3-margin-bottom">
          <img class="w3-bottombar w3-border-red" src="https://media.giphy.com/media/xThtad9rqm1ztfbORG/giphy.gif" style="width: 100%"/>
        </div>
        <div class="w3-col l6 m6 s6 w3-margin-bottom">
          <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/ONG9SJPF6kAQfiu1r2/giphy.gif" style="width: 100%"/>
        </div>
      </div>
      <!-- Toe Heel Twist -->
      <div class="w3-row-padding">
        <div class="w3-col l6 m6 s6 w3-margin-bottom">
          <img class="w3-bottombar w3-border-red" src="https://media.giphy.com/media/3ohs4ssTjK2PMbCNB6/giphy.gif" style="width: 100%"/>
        </div>
        <div class="w3-col l6 m6 s6 w3-margin-bottom">
          <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/5qFDygSshK4HurugfX/giphy.gif" style="width: 100%"/>
        </div>
      </div>
      <!-- Whacky -->
      <div class="w3-row-padding">
        <div class="w3-col l6 m6 s6 w3-margin-bottom">
          <img class="w3-bottombar w3-border-red" src="https://media.giphy.com/media/xThtaa4lughIHnqXq8/giphy.gif" style="width: 100%"/>
        </div>
        <div class="w3-col l6 m6 s6 w3-margin-bottom">
          <img class="w3-bottombar w3-border-green" src="https://media.giphy.com/media/8mBRcYSKZ5LwNNMYyK/giphy.gif" style="width: 100%"/>
        </div>
      </div>
    </div>
  </div>
</div>

<footer>
    <% include ../partials/footer %>
</footer>
