<!DOCTYPE html>
<html>
<head>
  <title>Dance Rudiments</title>
  <% include ../partials/head %>
</head>
</html>

<header>
  <% include ../partials/header %>
</header>

<!-- TODO: Add bonus BPM/drum explanation for future bass, hip hop, trap  -->
<!-- TODO: Kuhlkat input music links -->
<!-- TODO: Movin & Steppin media -->

<!-- SECTION 1: MUSICAL TIME -->
<div class="w3-container w3-padding-32 w3-row-padding">
  <div class="w3-content" style="width: 100%">
    <div class="w3-panel w3-yellow w3-display-container">
      <span onclick="this.parentElement.style.display='none'" class="w3-button w3-small w3-yellow w3-large w3-display-topright">&times;</span>
      <p>Coming April 18th: Super snappy introductory tutorial to get movin!!  </p>
    </div>
    <h1>RHYTHM & TEMPO</h1>
    <hr />
    <p>
      Dancing and music are completely intertwined, so learning how music works at a basic level will elucidate how dancing works.
    </p>
    <p>
      Music is a timeline equally divided into <span class="w3-tag w3-green">bars</span>. Each bar is divided into <span class="w3-tag w3-red">4</span> <span class="w3-tag w3-green">beats</span>. <em>Constraining your movements to this underlying beat structure makes your dancing look “coordinated.”</em>
    </p>
    <p>
      All house has a beat that goes <span class="w3-tag w3-red">kick ("thud")</span> <span class="w3-amber w3-text-white w3-tag">hihat ("tssk")</span> <span class="w3-blue w3-tag">clap ("thrash")</span> <span class="w3-amber w3-text-white w3-tag">hihat ("tssk")</span> (this repeats twice to form one bar). Kicks hit on each <span class="w3-tag w3-green">downbeat</span> of a bar, while Hihats hit in b/w beats; Clap hit on the second and fourth downbeat w/ the kick (refer to the picture below). This pattern is called <span class="w3-tag w3-green">4 on the Floor</span>.
    </p>
    <p>
      Each drum hit will correspond to a count of a move; so, listen to below drum loop and count it aloud like so:
    </p>
    <div class="w3-panel">
      <div class="w3-center w3-panel">
        <span class="w3-tag w3-red w3-xlarge">1</span>
        <span class="w3-tag w3-amber w3-text-white w3-xlarge">&</span>
        <span class="w3-tag w3-blue w3-xlarge">2</span>
        <span class="w3-tag w3-amber w3-text-white w3-xlarge">&</span>
        <span class="w3-tag w3-red w3-xlarge">3</span>
        <span class="w3-tag w3-amber w3-text-white w3-xlarge">&</span>
        <span class="w3-tag w3-blue w3-xlarge">4</span>
        <span class="w3-tag w3-amber w3-text-white w3-xlarge">&</span>
      </div>
      <div class="w3-center w3-panel">
        <span class="w3-opacity w3-tag w3-red w3-large">kick</span>
        <span class="w3-opacity w3-tag w3-amber w3-text-white w3-large">hihat</span>
        <span class="w3-opacity w3-tag w3-blue w3-large">clap</span>
        <span class="w3-opacity w3-tag w3-amber w3-text-white w3-large">hihat</span>
        <span class="w3-opacity w3-tag w3-red w3-large">kick</span>
        <span class="w3-opacity w3-tag w3-amber w3-text-white w3-large">hihat</span>
        <span class="w3-opacity w3-tag w3-blue w3-large">clap</span>
        <span class="w3-opacity w3-tag w3-amber w3-text-white w3-large">hihat</span>
      </div>
    </div>
    <div class="w3-container">
      <div class="w3-card w3-border-red w3-center">
        <iframe width="100%" height="140" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/401839872%3Fsecret_token%3Ds-c4Tno&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe>
        <img src="../img/Ableton.png" style="width:100%"/>
        <!-- <div class="w3-container w3-black w3-text-white">
          <p>Fig 1: A bar of house usually looks like this</p>
        </div> -->
      </div>
    </div>
    <p>
      Again, there are 4 <span class="w3-tag w3-green">Beats</span> (the kick) in a <span class="w3-tag w3-green">bar</span>. There are <span class="w3-tag w3-blue">claps</span> layering over the <span class="w3-tag w3-red">kick</span> at downbeats 2 and 4. If you lose count, you can restart it on any beat. Here are some  barebones loops of 4 on the Floor you can practice with, one slow and one fast.
    </p>
    <iframe width="100%" height="285" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/453479820%3Fsecret_token%3Ds-9Sceb&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe>
  </div>
</div>

<!-- SECTION 2: GENRES -->
<div class="w3-container w3-light-grey w3-padding-32">
  <div class="w3-content" style="width:100%">
    <h1>TECHNIQUE HACK</h1>
    <hr />
    <h2>The "Right" Technique</h2>
    <p>
      You’ll see people most commonly shuffle to music around 120 bpm (BEATS per minute). <br />
      HOWEVER: you can learn to shuffle to any EDM that is <span class="w3-tag w3-green">4 on the Floor</span>
      So...
    </p>

    <blockquote class="w3-panel w3-leftbar w3-border-amber">
      <p class="w3-large">
        <strong>Start practicing at 100bpm</strong> (e.g., electro house, nu disco, future chill, etc.). Move up gradually and your muscle memory will strengthen --- "Slow is smooth smooth is fast"
      </p>
    </blockquote>
    <p>
      Perfect each move and technique and gradually increase the speed at which you do it. Slowly but surely your muscle memory will strengthen. You'll save yourself loads of time in the macro by practicing the <strong class="w3-text-green">RIGHT technique</strong> (at slower speeds first). Do not accidentally practice the <strong class="w3-text-red">WRONG technique</strong>, or else you'll build the wrong muscle memory!
    </p>
    <!-- Playlists -->
    <h2>Spotify Playlists</h2>
    <p>
      Here are some playlists broken down by BPM that I created for myself when first learning how to shuffle!
    </p>
    <!-- Spotify Row -->
    <div class="w3-row-padding w3-margin-bottom">
      <!-- Shapes -->
      <div class="w3-col m6 l3">
        <div class="w3-card w3-margin-bottom">
          <header class="w3-bar w3-green">
            <i class="w3-bar-item w3-xxlarge fa fa-spotify"></i>
            <span class="w3-bar-item w3-xlarge">Shapes</span>
          </header>
          <iframe src="https://open.spotify.com/embed/user/1220689062/playlist/37uLFeKr4D9kW3g92Y4Ca1" width="100%" height="300" frameborder="0" allowtransparency="true"></iframe>
        </div>
      </div>
      <!-- Color Shapes -->
      <div class="w3-col m6 l3">
        <div class="w3-card w3-margin-bottom">
          <header class="w3-bar w3-green">
            <i class="w3-bar-item w3-xxlarge fa fa-spotify"></i>
            <span class="w3-bar-item w3-xlarge">Vibe</span>
          </header>
          <iframe src="https://open.spotify.com/embed/user/1220689062/playlist/4vZ7ud7RWOgiHgI8GspAXS" width="100%" height="300" frameborder="0" allowtransparency="true"></iframe>
        </div>
      </div>
      <!-- Black -->
      <div class="w3-col m6 l3">
        <div class="w3-card w3-margin-bottom">
          <header class="w3-bar w3-green">
            <i class="w3-bar-item w3-xxlarge fa fa-spotify"></i>
            <span class="w3-bar-item w3-xlarge">Black</span>
          </header>
          <iframe src="https://open.spotify.com/embed/user/1220689062/playlist/0qeqXfcm8mJNK7ruEh5gBr" width="100%" height="300" frameborder="0" allowtransparency="true"></iframe>
        </div>
      </div>
      <div class="w3-col m6 l3">
        <div class="w3-card w3-margin-bottom">
          <header class="w3-bar w3-green">
            <i class="w3-bar-item w3-xxlarge fa fa-spotify"></i>
            <span class="w3-bar-item w3-xlarge">Newvice</span>
          </header>
          <iframe src="https://open.spotify.com/embed/user/1220689062/playlist/6IuBOpfYY3movOP7R5xMNv" width="100%" height="300" frameborder="0" allowtransparency="true"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- TIPS -->
<!-- TODO: Practice in front of strangers -->
<div class="w3-container w3-padding-32">
  <div class="w3-content">
    <h1 class="w3-center">TIPS FOR LEARNING</h1>
    <hr />
    <div class="w3-row-padding w3-margin-top">
      <div class="w3-col w3-margin-bottom m6 l6">
        <div class="w3-card">
          <header class="w3-bar w3-pink">
              <i class="w3-bar-item w3-xlarge fa fa-hand-peace-o"></i>
              <span class="w3-bar-item w3-large">Partner Up</span>
          </header>
          <div class="w3-container">
            <p>
              Everything is better with a friend! It'll make you both feel less clumsy and keep you both more motivated to continue learning. Plus, making routines with a friend is dope.
            </p>
          </div>
        </div>
      </div>
      <div class="w3-col w3-margin-bottom m6 l6">
        <div class="w3-card">
          <header class="w3-bar w3-deep-purple">
              <i class="w3-bar-item w3-xlarge fa fa-cut"></i>
              <span class="w3-bar-item w3-large">Chunk It</span>
          </header>
          <div class="w3-container">
            <p>
              Practice counts in chunks & in reverse (e.g., 2&lt-&gt3, 1&lt-&gt3, 5-&gt8, etc.) This builds muscle memory more effectively, and helps immensely with being able to freestyle later on.
            </p>
          </div>
        </div>
      </div>
      <div class="w3-col w3-margin-bottom m6 l6">
        <div class="w3-card">
          <header class="w3-bar w3-red">
              <i class="w3-bar-item w3-xlarge fa fa-spinner"></i>
              <span class="w3-bar-item w3-large">Patience</span>
          </header>
          <div class="w3-container">
            <p>
              Improvement is incremental. Even if you feel like you're not improving, just sleep on it - the next time you practice you'll be surprised at how much you had actually improved.
            </p>
          </div>
        </div>
      </div>
      <div class="w3-col w3-margin-bottom m6 l6">
        <div class="w3-card">
          <header class="w3-bar w3-blue">
              <i class="w3-bar-item w3-xlarge fa fa-eye"></i>
              <span class="w3-bar-item w3-large">Anticipate</span>
          </header>
          <div class="w3-container">
            <p>
              Proactively read through the TIPS/FIXES so you can preemptively address potential mistakes and know how to identify them if you are committing one.
            </p>
          </div>
        </div>
      </div>
      <div class="w3-col w3-margin-bottom m6 l6">
        <div class="w3-card">
          <header class="w3-bar w3-amber w3-text-white">
              <i class="w3-bar-item w3-xlarge fa fa-step-forward"></i>
              <span class="w3-bar-item w3-large">Slow Is Smooth...</span>
          </header>
          <div class="w3-container">
            <p>
              Practicing the wrong technique by learning at a pace too far beyond your ability will screw you over. Practice each move initially at a slow pace, then gradually practice at higher speeds. Slow is smooth, smooth is fast.
            </p>
          </div>
        </div>
      </div>
      <div class="w3-col w3-margin-bottom m6 l6">
        <div class="w3-card">
          <header class="w3-bar w3-green">
              <i class="w3-bar-item w3-xlarge fa fa-bug"></i>
              <span class="w3-bar-item w3-large">Jack of All Trades...</span>
          </header>
          <div class="w3-container">
            <p>
              Focus on mastering a few moves at a time. It's better to have mastered a few moves than to have learned a bunch partially - moves learned halfway you might as well not know how to do at all.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- SECTION 3 LESSON 0 -->
<!-- <div class="w3-container w3-padding-32">
  <div class="w3-content" style="width: 100%">
    <h1>FOUNDATION OF RHYTHM</h1>
    <hr />
    <p>
      Believe it or not, you may or may not know explicitly how to sway or walk to music in tempo (and you may not even know it). Now that you have the info on Four on the Floor fresh in mind though, let's quickly examine just how it correlates to moving to music *in tempo*.
    </p>
    <div class="w3-panel">
      <div class="w3-center">
        <h2>STEPPIN</h2>
      </div>
      <div class="w3-row-padding">
        <div class="w3-col w3-margin-bottom m12 l6">
          <div class="w3-card">
            <img src="https://media.giphy.com/media/1jYy0oGd9KiAbi4a60/giphy.gif" style="width: 100%" />
          </div>
          <footer class="w3-container w3-green w3-center">
            <h4>THE MOVE</h4>
          </footer>
        </div>
        <div class="w3-col w3-center m12 l6">
          <div class="w3-card">
            <img src="#" style="width: 100%" />
            <footer class="w3-container w3-green w3-center">
              <h4>THE COUNT</h4>
            </footer>
          </div>
        </div>
      </div>
      <div class="w3-row-padding w3-panel">
        <div class="w3-col w3-margin-bottom s6 m4 l3">
          <div class="w3-card">
            <header class="w3-container w3-center w3-red">
              <h6>Count 1</h6>
            </header>
            <img src="../img/Nigs.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SteppinCount1').style.display='block'"/>
          </div>
        </div>
        <div id="SteppinCount1" class="w3-modal" onclick="this.style.display='none'">
          <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
          <div class="w3-modal-content w3-animate-zoom">
            <img src="../img/Nigs.png" style="width:100%">
          </div>
        </div>
        <div class="w3-col w3-margin-bottom s6 m4 l3">
          <div class="w3-card">
            <header class="w3-container w3-center w3-amber w3-text-white">
              <h6>Count &</h6>
            </header>
            <img src="../img/Nigs.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SteppinCount1').style.display='block'"/>
          </div>
        </div>
        <div class="w3-col w3-margin-bottom s6 m4 l3">
          <div class="w3-card">
            <header class="w3-container w3-center w3-blue">
              <h6>Count 2</h6>
            </header>
            <img src="../img/Nigs.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SteppinCount1').style.display='block'"/>
          </div>
        </div>
        <div class="w3-col w3-margin-bottom s6 m4 l3">
          <div class="w3-card">
            <header class="w3-container w3-center w3-amber w3-text-white">
              <h6>Count &</h6>
            </header>
            <img src="../img/Nigs.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SteppinCount1').style.display='block'"/>
          </div>
        </div>
      </div>
      <div class="w3-center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/6UbrUL16D04" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </iframe>
      </div>
    </div>
    <div class="w3-panel">
      <div class="w3-center">
        <h2>MOVIN</h2>
      </div>
      <div class="w3-row-padding">
        <div class="w3-col w3-margin-bottom m12 l6">
          <div class="w3-card">
            <img src="#" style="width: 100%" />
            <footer class="w3-container w3-green w3-center">
              <h4>THE MOVE</h4>
            </footer>
          </div>
        </div>
        <div class="w3-col w3-center m12 l6">
          <div class="w3-card">
            <img src="#" style="width: 100%" />
            <footer class="w3-container w3-green w3-center">
              <h4>THE COUNT</h4>
            </footer>
          </div>
        </div>
      </div>
      <div class="w3-row-padding w3-panel">
        <div class="w3-col w3-margin-bottom s6 m4 l3">
          <div class="w3-card">
            <header class="w3-container w3-center w3-red">
              <h6>Count 1</h6>
            </header>
            <img src="../img/Nigs.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SteppinCount1').style.display='block'"/>
          </div>
        </div>
        <div class="w3-col w3-margin-bottom s6 m4 l3">
          <div class="w3-card">
            <header class="w3-container w3-center w3-amber w3-text-white">
              <h6>Count &</h6>
            </header>
            <img src="../img/Nigs.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SteppinCount1').style.display='block'"/>
          </div>
        </div>
        <div class="w3-col w3-margin-bottom s6 m4 l3">
          <div class="w3-card">
            <header class="w3-container w3-center w3-blue">
              <h6>Count 2</h6>
            </header>
            <img src="../img/Nigs.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SteppinCount1').style.display='block'"/>
          </div>
        </div>
        <div class="w3-col w3-margin-bottom s6 m4 l3">
          <div class="w3-card">
            <header class="w3-container w3-center w3-amber w3-text-white">
              <h6>Count &</h6>
            </header>
            <img src="../img/Nigs.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SteppinCount1').style.display='block'"/>
          </div>
        </div>
      </div>
      <div class="w3-center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/V4-RWRoZQgU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
    <blockquote class="w3-panel w3-pale-green">
      <p class="w3-large">
        Congrats!! You've completed the rudiments section, and are on your way to becoming a master shuffler in no time! Now, time to check out The Almanac
      </p>
    </blockquote>
    <div class="w3-panel">
      <a href="/almanac" class="w3-center w3-green w3-hover-opacity w3-hover-green w3-left-align w3-button w3-bar w3-xlarge w3-block">FULL ALMANAC</a>
    </div>
  </div>
</div> -->

<footer>
    <% include ../partials/footer %>
</footer>
