<!DOCTYPE html>
<html>
<head>
  <title>Shuffling Rudiments</title>
  <% include ../partials/head %>
</head>
</html>

<header>
  <% include ../partials/header %>
</header>

<!-- SECTION 0: RUDIMENTS AT A GLANCE -->
<!-- <div class="w3-container w3-padding-64">
  <div class="w3-content">
    <h1>AT A GLANCE</h1>
    <div class="w3-row-padding w3-center">
      <div class="w3-col s4">
        <div class="w3-card-4 w3-hover-grayscale">
          <header class="w3-container w3-red">
            <h2>Rythym</h2>
          </header>
          <img src="../img/Tempo.png" style="width: 100%" alt="nigs" />
        </div>
      </div>
      <div class="w3-col s4">
        <div class="w3-card-4 w3-hover-grayscale">
          <header class="w3-container w3-amber w3-text-white">
            <h2>Genres</h2>
          </header>
          <img src="../img/Genres.png" style="width: 100%" alt="nigs" />
        </div>
      </div>
      <div class="w3-col s4">
        <div class="w3-card-4 w3-hover-grayscale">
          <header class="w3-container w3-blue">
            <h2>Moving</h2>
          </header>
          <img src="../img/Moving.png" style="width: 100%" alt="nigs" />
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- SECTION 1: MUSICAL TIME -->
<div class="w3-container w3-padding-64 w3-row-padding">
  <div class="w3-content" style="width: 100%">
    <h1>MUSICAL TIME: RHYTHM & TEMPO</h1>
    <p>
      We must recognize dancing's fundamental relationship with music when learning how to shuffle. Dancing is literally built on top of music; s0 you must understand how music is structured first in order to learn.
    </p>
    <p>
      Music is a timeline equally divided into bars. Each bar is then divided into 4 <strong class="w3-text-red">"beats."</strong> By constraining your movements to this underlying beat structure makes your dancing look “coordinated” - which is what makes dancing looking "pleasing," scientifically speaking.
    </p>

    <div class="w3-container">
      <div class="w3-card w3-leftbar w3-rightbar w3-border-red w3-center">
        <img src="../img/Ableton.png" style="width:100%"/>
        <div class="w3-container w3-grey w3-text-white">
          <p>Fig 1: This is what 1 bar of what most house usually looks like</p>
        </div>
      </div>
    </div>
    <p>
      You will typically find yourself shuffling to music with a drum pattern goes <span class="w3-text-red">kick ("thud")</span> <span class="w3-text-green">hihat ("tssk")</span> <span class="w3-text-blue">clap/snare ("thrash")</span> <span class="w3-text-green">hihat ("tssk")</span>. Note in Fig 1, this forms one half of a bar of music. Kicks/Claps hit on each <span class="w3-yellow">"downbeat"</span> of a bar, while Hihats hit in between beats - this pattern is colloquially called <span class="w3-yellow">"Four on the Floor."</span>

      When learning to shuffle, you should count these aloud like so:
    </p>
    <div class="w3-panel">
      <div class="w3-center w3-leftbar w3-rightbar w3-border-red w3-card">
        <div class="w3-container">
          <p>
            <span class="w3-xlarge">"1"</span>
            <span class="w3-text-red w3-large">(kick) </span>
            <span class="w3-xlarge">"&"</span>
            <span class="w3-text-green w3-large">(hihat) </span>
            <span class="w3-xlarge">"2"</span>
            <span class="w3-text-blue w3-large">(clap) </span>
            <span class="w3-xlarge">"&"</span>
            <span class="w3-text-green w3-large">(hihat) </span>
            <span class="w3-xlarge">"3"</span>
            <span class="w3-text-red w3-large">(kick) </span>
            <span class="w3-xlarge">"&"</span>
            <span class="w3-text-green w3-large">(hihat) </span>
            <span class="w3-xlarge">"4"</span>
            <span class="w3-text-blue w3-large">(clap) </span>
            <span class="w3-xlarge">"&"</span>
            <span class="w3-text-green w3-large">(hihat) </span>
          </p>
        </div>
        <div class="w3-grey w3-text-white">
          <p>
            Numbers denote beats (Kick and/or Clap), Ampersands denote half-beats (Hihat) - counts aloud as "1 & 2 & 3 & 4 & 1 & 2 &... etc"
          </p>
        </div>
      </div>
    </div>

    <p>
      <strong class="w3-text-red">NOTE:</strong> again, there are 4 <strong>"beats"</strong> in a bar (bottom layer of Fig 1). There are claps (middle bars) layering over the kick at beats 2 and 4 - it's just easier to denote beats 2 & 4 as a "clap" because that's what you can hear more clearly (due to the higher timbre of the sound).
    </p>
    <p>
      If you lose count, you can restart it on any beat.
    </p>
  </div>
</div>

<!-- SECTION 2: GENRES -->
<div class="w3-container w3-light-grey w3-padding-64">
  <div class="w3-content" style="width:100%">
    <h1>TECHNIQUE TIP & GENRES GALORE</h1>
    <h2>The "Right" Technique</h2>
    <p>
      You’ll see people most commonly shuffle to music around 120 bpm (BEATS per minute). <br />
      HOWEVER: you can learn to shuffle to any EDM that is <span class="w3-yellow">"Four on the Floor"</span>
      So...
    </p>

    <blockquote class="w3-panel w3-leftbar w3-border-amber">
      <p class="w3-large">
        <strong>Start practicing at 100bpm</strong> (e.g., electro house, nu disco, future chill, etc.). Move up gradually and your muscle memory will strengthen --- "Slow is smooth smooth is fast"
      </p>
    </blockquote>
    <p>
      Perfect each move and technique and gradually increase the speed at which you do it. Slowly but surely your muscle memory will strengthen. You'll save yourself loads of time in the macro by practicing the <strong class="w3-text-green">RIGHT technique</strong> (at slower speeds first). The <strong class="w3-text-green">RIGHT technique</strong> is key here - do not allow yourself to accidentally practice the <strong class="w3-text-red">WRONG technique</strong>, or else you will be building the wrong muscle memory!
    </p>
    <!-- Playlists -->
    <h2>Spotify Playlists</h2>
    <p>
      Here are some playlists broken down by BPM that I created for myself when first learning how to shuffle!
    </p>
    <!-- Spotify Row -->
    <div class="w3-row-padding w3-margin-bottom">
      <!-- Shapes -->
      <div class="w3-col m6 l3">
        <div class="w3-card w3-margin-bottom">
          <header class="w3-bar w3-green">
            <i class="w3-bar-item w3-xxlarge fa fa-spotify"></i>
            <span class="w3-bar-item w3-xlarge">Shapes</span>
          </header>
          <iframe src="https://open.spotify.com/embed/user/1220689062/playlist/37uLFeKr4D9kW3g92Y4Ca1" width="100%" height="300" frameborder="0" allowtransparency="true"></iframe>
        </div>
      </div>
      <!-- Color Shapes -->
      <div class="w3-col m6 l3">
        <div class="w3-card w3-margin-bottom">
          <header class="w3-bar w3-green">
            <i class="w3-bar-item w3-xxlarge fa fa-spotify"></i>
            <span class="w3-bar-item w3-xlarge">Color</span>
          </header>
          <iframe src="https://open.spotify.com/embed/user/1220689062/playlist/4vZ7ud7RWOgiHgI8GspAXS" width="100%" height="300" frameborder="0" allowtransparency="true"></iframe>
        </div>
      </div>
      <!-- Black -->
      <div class="w3-col m6 l3">
        <div class="w3-card w3-margin-bottom">
          <header class="w3-bar w3-green">
            <i class="w3-bar-item w3-xxlarge fa fa-spotify"></i>
            <span class="w3-bar-item w3-xlarge">Black</span>
          </header>
          <iframe src="https://open.spotify.com/embed/user/1220689062/playlist/0qeqXfcm8mJNK7ruEh5gBr" width="100%" height="300" frameborder="0" allowtransparency="true"></iframe>
        </div>
      </div>
      <div class="w3-col m6 l3">
        <div class="w3-card w3-margin-bottom">
          <header class="w3-bar w3-green">
            <i class="w3-bar-item w3-xxlarge fa fa-spotify"></i>
            <span class="w3-bar-item w3-xlarge">Newvice</span>
          </header>
          <iframe src="https://open.spotify.com/embed/user/1220689062/playlist/6IuBOpfYY3movOP7R5xMNv" width="100%" height="300" frameborder="0" allowtransparency="true"></iframe>
        </div>
      </div>
    </div>
    <h2>KuhlKat</h2>
    <p>
      Check it out y'all - yeboi is not only passionate about cutting shapes, but making the music for it as well. If you grade-A quality shuffling and EDM, please check out at least one of these here beauties - I promise they'll speak to your soul
    </p>
    <div class="w3-panel">
      <div class="w3-card w3-hover-opacity w3-leftbar w3-rightbar w3-border-deep-orange">
        <a href="#"><img src="../img/KuhlkatBanner.png" style="width: 100%"/></a>
      </div>
    </div>
    <!-- Soundcloud Links -->
    <div class="w3-row-padding w3-margin-bottom">
      <div class="w3-col m12 l6">
        <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/147844560&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe>
      </div>
      <div class="w3-col m12 l6">
        <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/179854835&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe>
      </div>
      <div class="w3-col m12 l6">
        <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/302308516&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe>
      </div>
      <div class="w3-col m12 l6">
        <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/358840016&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe>
      </div>
    </div>
  </div>
</div>

<!-- SECTION 3 LESSON 0 -->
<div class="w3-container w3-padding-64">
  <div class="w3-content" style="width: 100%">
    <h1>FOUNDATION OF RHYTHM</h1>
    <!-- <p>
      About three years ago, berfore I explicitly knew about the beat and bar structure of music, I found myself trying to walk to the beat of my music in the gym - I had never felt more horribly uncoordinated in my life.
    </p> -->
    <p>
      Believe it or not, you may or may not know explicitly how to sway or walk to music in tempo (and you may not even know it). Now that you have the info on Four on the Floor fresh in mind though, let's take 5 minutes to examine just how it correlates to moving to music *in tempo*.
    </p>
    <!-- <p>
      Please please please don't brush off this lesson as frivolous - it'll take 5 minutes of your time to peruse it over and it'ss the most crucial building block for learning how to truly master shuffling.
    </p> -->
    <div class="w3-panel">
      <div class="w3-center">
        <h2>STEPPIN</h2>
      </div>
      <div class="w3-row-padding">
        <div class="w3-col w3-margin-bottom m12 l6">
          <div class="w3-card">
            <img src="https://media.giphy.com/media/xUOwGhLsCw0KEnjMc0/giphy.gif" style="width: 100%" />
          </div>
          <footer class="w3-container w3-green w3-center">
            <h4>THE MOVE</h4>
          </footer>
        </div>
        <div class="w3-col w3-center m12 l6">
          <div class="w3-card">
            <img src="https://media.giphy.com/media/xUOwGhLsCw0KEnjMc0/giphy.gif" style="width: 100%" />
            <footer class="w3-container w3-green w3-center">
              <h4>THE COUNT</h4>
            </footer>
          </div>
        </div>
      </div>
      <!-- Counts -->
      <div class="w3-row-padding w3-panel">
        <!-- Count 1 -->
        <div class="w3-col w3-margin-bottom s6 m4 l3">
          <div class="w3-card">
            <header class="w3-container w3-center w3-red">
              <h6>Count 1</h6>
            </header>
            <img src="../img/Nigs.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SteppinCount1').style.display='block'"/>
          </div>
        </div>
        <!-- Modal Count 1 -->
        <div id="SteppinCount1" class="w3-modal" onclick="this.style.display='none'">
          <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
          <div class="w3-modal-content w3-animate-zoom">
            <img src="../img/Nigs.png" style="width:100%">
          </div>
        </div>
        <!-- Count & -->
        <div class="w3-col w3-margin-bottom s6 m4 l3">
          <div class="w3-card">
            <header class="w3-container w3-center w3-amber w3-text-white">
              <h6>Count &</h6>
            </header>
            <img src="../img/Nigs.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SteppinCount1').style.display='block'"/>
          </div>
        </div>
        <div class="w3-col w3-margin-bottom s6 m4 l3">
          <div class="w3-card">
            <header class="w3-container w3-center w3-blue">
              <h6>Count 2</h6>
            </header>
            <img src="../img/Nigs.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SteppinCount1').style.display='block'"/>
          </div>
        </div>
        <div class="w3-col w3-margin-bottom s6 m4 l3">
          <div class="w3-card">
            <header class="w3-container w3-center w3-amber w3-text-white">
              <h6>Count &</h6>
            </header>
            <img src="../img/Nigs.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SteppinCount1').style.display='block'"/>
          </div>
        </div>
      </div>
    </div>
    <div class="w3-panel">
      <div class="w3-center">
        <h2>MOVIN</h2>
      </div>
      <div class="w3-row-padding">
        <div class="w3-col w3-margin-bottom m12 l6">
          <div class="w3-card">
            <img src="https://media.giphy.com/media/xUOwGhLsCw0KEnjMc0/giphy.gif" style="width: 100%" />
            <footer class="w3-container w3-green w3-center">
              <h4>THE MOVE</h4>
            </footer>
          </div>
        </div>
        <div class="w3-col w3-center m12 l6">
          <div class="w3-card">
            <img src="https://media.giphy.com/media/xUOwGhLsCw0KEnjMc0/giphy.gif" style="width: 100%" />
            <footer class="w3-container w3-green w3-center">
              <h4>THE COUNT</h4>
            </footer>
          </div>
        </div>
      </div>
      <!-- Counts -->
      <div class="w3-row-padding w3-panel">
        <div class="w3-col w3-margin-bottom s6 m4 l3">
          <div class="w3-card">
            <header class="w3-container w3-center w3-red">
              <h6>Count 1</h6>
            </header>
            <img src="../img/Nigs.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SteppinCount1').style.display='block'"/>
          </div>
        </div>
        <div class="w3-col w3-margin-bottom s6 m4 l3">
          <div class="w3-card">
            <header class="w3-container w3-center w3-amber w3-text-white">
              <h6>Count &</h6>
            </header>
            <img src="../img/Nigs.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SteppinCount1').style.display='block'"/>
          </div>
        </div>
        <div class="w3-col w3-margin-bottom s6 m4 l3">
          <div class="w3-card">
            <header class="w3-container w3-center w3-blue">
              <h6>Count 2</h6>
            </header>
            <img src="../img/Nigs.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SteppinCount1').style.display='block'"/>
          </div>
        </div>
        <div class="w3-col w3-margin-bottom s6 m4 l3">
          <div class="w3-card">
            <header class="w3-container w3-center w3-amber w3-text-white">
              <h6>Count &</h6>
            </header>
            <img src="../img/Nigs.png" style="width:100%; cursor:pointer" onclick="document.getElementById('SteppinCount1').style.display='block'"/>
          </div>
        </div>
      </div>
    </div>
    <a href="/almanac" style="text-decoration: none">
      <blockquote class="w3-hover-shadow w3-panel w3-pale-green w3-border-green w3-leftbar">
        <p class="w3-large">
          Congrats!! You've completed the rudiments section, and are on your way to becoming a master shuffler in no time! Now, time to check out The Almanac
        </p>
      </blockquote>
    </a>
  </div>
</div>

<footer>
    <% include ../partials/footer %>
</footer>
