<!DOCTYPE html>
<html>
<head>
  <title>Dance Tips</title>
  <% include ../partials/head %>
</head>
</html>

<header>
  <% include ../partials/header %>
</header>

<!-- 4 FLOOR -->
<div class="w3-container w3-padding-32 w3-row-padding">
  <!-- For large/medium -->
  <div class="w3-content" style="width: 100%">
    <h1 class="w3-center">ONE KEY TO RHYTHM</h1>
    <p class="w3-center">
      There is one key to staying in rhythm: THE KICK DRUM IS YOUR METRONOME
    </p>
    <hr />
    <p>
      In house, each bar is music is divided into <span class="w3-tag w3-green">4 beats</span> in what's called <span class="w3-tag w3-green">4 on the Floor</span> beat that looks like this on a drum sequencer:
    </p>
    <div class="w3-margin-bottom w3-margin-top w3-center">
      <span class="w3-opacity w3-tag w3-white w3-text-white w3-large">BEAT</span>
      <span class="w3-opacity w3-tag w3-white w3-text-white w3-large">kick</span>
      <span class="w3-opacity w3-tag w3-amber w3-text-white w3-large">hihat</span>
      <span class="w3-opacity w3-tag w3-white w3-text-white w3-large">clap</span>
      <span class="w3-opacity w3-tag w3-amber w3-text-white w3-large">hihat</span>
      <span class="w3-opacity w3-tag w3-white w3-text-white w3-large">kick</span>
      <span class="w3-opacity w3-tag w3-amber w3-text-white w3-large">hihat</span>
      <span class="w3-opacity w3-tag w3-white w3-text-white w3-large">clap</span>
      <span class="w3-opacity w3-tag w3-amber w3-text-white w3-large">hihat</span>
    </div>
    <div class="w3-margin-bottom w3-center">
      <span class="w3-opacity w3-tag w3-white w3-text-white w3-large">BEAT</span>
      <span class="w3-opacity w3-tag w3-white w3-text-white w3-large">kick</span>
      <span class="w3-opacity w3-tag w3-white w3-text-white w3-large">hihat</span>
      <span class="w3-opacity w3-tag w3-blue w3-large">clap</span>
      <span class="w3-opacity w3-tag w3-white w3-text-white w3-large">hihat</span>
      <span class="w3-opacity w3-tag w3-white w3-text-white w3-large">kick</span>
      <span class="w3-opacity w3-tag w3-white w3-text-white w3-large">hihat</span>
      <span class="w3-opacity w3-tag w3-blue w3-large">clap</span>
      <span class="w3-opacity w3-tag w3-white w3-text-white w3-large">hihat</span>
    </div>
    <div class="w3-margin-bottom w3-center">
      <span class="w3-opacity w3-tag w3-white w3-text-white w3-large">BEAT</span>
      <span class="w3-opacity w3-tag w3-red w3-large">kick</span>
      <span class="w3-opacity w3-tag w3-white w3-text-white w3-large">hihat</span>
      <span class="w3-opacity w3-tag w3-red w3-large">kick</span>
      <span class="w3-opacity w3-tag w3-white w3-text-white w3-large">hihat</span>
      <span class="w3-opacity w3-tag w3-red w3-large">kick</span>
      <span class="w3-opacity w3-tag w3-white w3-text-white w3-large">hihat</span>
      <span class="w3-opacity w3-tag w3-red w3-large">kick</span>
      <span class="w3-opacity w3-tag w3-white w3-text-white w3-large">hihat</span>
    </div>
    <p>
      Just as a metronome ticks back and forth to help you play piano in tempo, the kick is what are actually dancing to in music to stay in rhythm.
    </p>
    <p>
      Single out the kick drum every time you listen to music and eventually you will not be able to not hear it.
    </p>
    <p>
      Simply focus on getting from one count/beat/kick to the next (i.e., ignore half-counts/hihats) and you will learn far more intuitively, and your body will NATURALLY fill in the blanks!
    </p>

    <div class="w3-container">
      <div class="w3-card w3-border-red w3-center">
        <iframe width="100%" height="140" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/401839872%3Fsecret_token%3Ds-c4Tno&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe>
        <!-- <img src="../img/Ableton.png" style="width:100%"/> -->
        <!-- <div class="w3-container w3-black w3-text-white">
          <p>Fig 1: A bar of house usually looks like this</p>
        </div> -->
      </div>
    </div>
  </div>
</div>

<!-- TIPS -->
<div class="w3-container w3-padding-32 w3-light-grey">
  <div class="w3-content">
    <h1 class="w3-center">LEARN BETTER & FASTER</h1>
    <hr />
    <div class="w3-row-padding w3-margin-top">
      <div class="w3-col w3-margin-bottom m6 l6">
        <div class="w3-card">
          <header class="w3-bar w3-pink">
              <i class="w3-bar-item w3-xlarge fa fa-hand-peace-o"></i>
              <span class="w3-bar-item w3-large">Partner Up</span>
          </header>
          <div class="w3-container">
            <p>
              Everything is better with a friend! It'll make you both feel less clumsy and keep you both more motivated to continue learning. Plus, making routines with a friend is dope.
            </p>
          </div>
        </div>
      </div>
      <div class="w3-col w3-margin-bottom m6 l6">
        <div class="w3-card">
          <header class="w3-bar w3-deep-purple">
              <i class="w3-bar-item w3-xlarge fa fa-cut"></i>
              <span class="w3-bar-item w3-large">Chunk It</span>
          </header>
          <div class="w3-container">
            <p>
              Practice counts in chunks & in reverse (e.g., 2&lt-&gt3, 1&lt-&gt3, 5-&gt8, etc.) This builds muscle memory more effectively, and helps immensely with being able to freestyle later on.
            </p>
          </div>
        </div>
      </div>
      <div class="w3-col w3-margin-bottom m6 l6">
        <div class="w3-card">
          <header class="w3-bar w3-red">
              <i class="w3-bar-item w3-xlarge fa fa-spinner"></i>
              <span class="w3-bar-item w3-large">Patience</span>
          </header>
          <div class="w3-container">
            <p>
              Improvement is incremental. Even if you feel like you're not improving, just sleep on it - the next time you practice you'll be surprised at how much you had actually improved.
            </p>
          </div>
        </div>
      </div>
      <div class="w3-col w3-margin-bottom m6 l6">
        <div class="w3-card">
          <header class="w3-bar w3-blue">
              <i class="w3-bar-item w3-xlarge fa fa-eye"></i>
              <span class="w3-bar-item w3-large">Anticipate</span>
          </header>
          <div class="w3-container">
            <p>
              Proactively read through the TIPS/FIXES so you can preemptively address potential mistakes and know how to identify them if you are committing one.
            </p>
          </div>
        </div>
      </div>
      <div class="w3-col w3-margin-bottom m6 l6">
        <div class="w3-card">
          <header class="w3-bar w3-amber w3-text-white">
              <i class="w3-bar-item w3-xlarge fa fa-step-forward"></i>
              <span class="w3-bar-item w3-large">Slow Is Smooth...</span>
          </header>
          <div class="w3-container">
            <p>
              Practicing the wrong technique by learning at a pace too far beyond your ability will screw you over. Practice each move initially at a slow pace, then gradually practice at higher speeds. Slow is smooth, smooth is fast.
            </p>
          </div>
        </div>
      </div>
      <div class="w3-col w3-margin-bottom m6 l6">
        <div class="w3-card">
          <header class="w3-bar w3-green">
              <i class="w3-bar-item w3-xlarge fa fa-bug"></i>
              <span class="w3-bar-item w3-large">Jack of All Trades...</span>
          </header>
          <div class="w3-container">
            <p>
              Focus on mastering a few moves at a time. It's better to have mastered a few moves than to have learned a bunch partially - moves learned halfway you might as well not know how to do at all.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer>
    <% include ../partials/footer %>
</footer>
